<p-panel header="Usuarios - Asignar Locales">

    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="form" class="col-10">
            <div class="row-button-search">
                <button pButton type="button" icon="pi pi-undo" (click)="regresar()" label="Regresar"class="p-button-buscar"></button>
            </div>

			<div class="formgrid grid">
                <div class="field col-12 md:col-3">
					<label for="oficina">Usuario</label>
					<input formControlName="usuario" pInputText type="text" class="w-full">
				</div>
                <div class="field col-12 md:col-5">
					<label for="oficina">Nombres y Apellidos</label>
					<input formControlName="nomUsua" pInputText type="text" class="w-full">
				</div>
			</div>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-4">
                        <button pButton pTooltip="Nuevo" tooltipPosition="top" icon="pi pi-file" 
                                (click)="asignarNuevoLocal()" [disabled]="isDisabled" class="p-button-nuevo mr-3"> 
                        </button>
                        <button pButton pTooltip="Editar" tooltipPosition="top" icon="pi pi-pencil" 
                                (click)="editarLocalAsignado()" [disabled]="isDisabled" class="p-button-editar mr-3">
                        </button>
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="userLocalList"
                         (sortFunction)="customSort($event)"
                         [customSort]="true" (onPage)="paginatorClean()"
                         [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[10,20,30]">

                    <ng-template pTemplate="header">
                        <tr>
                            <th>Sel</th>
                            <th pSortableColumn="deZonaRegi">Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon></th>
                            <th pSortableColumn="deOficRegi">Oficina Registral <p-sortIcon field="deOficRegi"></p-sortIcon></th>
                            <th pSortableColumn="deLocaAten">Local Atención <p-sortIcon field="deLocaAten"></p-sortIcon></th>
                            <th pSortableColumn="inCheckDefa">Local Por Defecto <p-sortIcon field="inCheckDefa"></p-sortIcon></th>
                            <th pSortableColumn="deEsta">Estado <p-sortIcon field="deEsta"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-local>
                        <tr>
                            <td>
                                <p-checkbox [value]="local" [(ngModel)]="selectLocal" [disabled]="isDisabled"></p-checkbox>
                            </td>
                            <td>{{ local.deZonaRegi }}</td>
                            <td>{{ local.deOficRegi }}</td>
                            <td>{{ local.deLocaAten }}</td>
                            <td>{{ local.inCheckDefa }}</td>
                            <td>{{ local.deEsta }}</td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>