<div [formGroup]="datos" class="grid mt-4">
    <div class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="zona">Zona Registral</label>
                <p-dropdown readonly="true"
                            [filter]="true" 
                            filterBy="deZonaRegi" 
                            filterValue="deZonaRegi"
                            formControlName="zona"
                            styleClass="inputfield w-full"
                            [options]="$zonas | async"
                            optionLabel="deZonaRegi"
                            optionValue="coZonaRegi">
                </p-dropdown>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="oficina">Oficina Registral</label>
                <p-dropdown readonly="true"
                            [filter]="true" 
                            filterBy="deOficRegi" 
                            filterValue="deOficRegi"
                            formControlName="oficina"
                            styleClass="inputfield w-full"
                            [options]="$oficinas | async"
                            optionLabel="deOficRegi"
                            optionValue="coOficRegi">
                </p-dropdown>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="local">Local</label>
                <p-dropdown readonly="true"
                            [filter]="true" 
                            filterBy="deLocaAten" 
                            filterValue="deLocaAten"
                            formControlName="local"
                            styleClass="inputfield w-full"
                            [options]="$locales | async"
                            optionLabel="deLocaAten"
                            optionValue="coLocaAten">
                </p-dropdown>
            </div>
        </div>

        <div class="formgrid grid lg:mb-1 md:mb-4 py-2">
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="tipo">Tipo Documento</label>
                <p-dropdown readonly="true"
                            [filter]="true" 
                            filterBy="cdescri" 
                            filterValue="cdescri"
                            formControlName="tipoDocu"
                            styleClass="inputfield w-full"
                            [options]="$tipoDocumento | async"
                            optionLabel="cdescri"
                            optionValue="ccodigoHijo">
                </p-dropdown>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="numero">Número</label>
                <div class="">
                    <input readonly pInputText formControlName="nroDocu" type="text" class="w-full">
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="fecha">Fecha</label>
                <div class="">
                    <input readonly pInputText formControlName="fecha" type="text" class="w-full">
                </div>
            </div>
        </div>

        <div class="formgrid grid py-2">
            <div class="field col-12 md:col-10">
                <label for="sustento">Sustentos</label>
                <div class="">
                    <app-upload (uploaded)="addUploadedFile( $event )" (onDelete)="deleteUploaded($event)" 
                                [nroBandeja]="bandeja" [nroAdd]="add" [nroDel]="delete" [disabled]="disableUpload">
                    </app-upload>
                </div>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        [loading]="isLoading"
                        label="Grabar"
                        class="p-button-buscar"
                        (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>