<div class="container-excel-sheet">    
    <div class="container-excel-sheet__button">                        
        <!-- <label for="archivo" (click)="onClick($event)">
            <mat-icon style="font-size: 20px">attach_file</mat-icon>
            Adjuntar
        </label>
        <input type="file" id="archivo" (change)="captureFile($event)"> -->
        <p-fileUpload #fubauto mode="basic" name="file" url="{{ uploadingEndpoint }}" accept=".xls, .xlsx" 
            [maxFileSize]="maxFileSize" (onUpload)="captureFile($event)" [auto]="true" chooseLabel="Adjuntar" 
            chooseIcon="pi pi-paperclip">
        </p-fileUpload>
    </div>
</div>
