.container-excel-sheet2 {
    display: flex;
    flex-direction: row;
    gap: 3px;
    height: 40px;
    width: 100%;    
    &__button {
        width: 30%;
        input {
            display: none;
        }
        label {     
            width: 112px;  
            border: 1px solid #BFC9CA;
            border-radius: 6px;
            padding: 8px 15px 6px 10px;
            display: flex;                    
            font-style: normal;
            font-weight: 350;
            font-size: 15px;
            color: #808183;  
            cursor: pointer;                          
        }
    }
}