<div class="container-sftp-text">    
    <div class="container-sftp-text__button">                        
        <!-- <label for="archivoFtp" (click)="onClick()">
            <mat-icon style="font-size: 20px">attach_file</mat-icon>
            Adjuntar
        </label>
        <input type="file" id="archivoFtp" (change)="captureFileFtp($event)"> -->
        <p-fileUpload #fubauto mode="basic" name="file" url="{{ uploadingEndpoint }}" accept=".txt, .TXT" 
            [maxFileSize]="maxFileSize" (onUpload)="captureFileFtp($event)" [auto]="true" chooseLabel="Adjuntar" 
            chooseIcon="pi pi-paperclip">
        </p-fileUpload>
    </div>
</div>
