<p-panel header="Recibos de Ingreso -  {{ title }}">

    <div class="grid">
        <div class="col-1"></div>
        <div class="col-10" [formGroup]="nuevoRecibo">

            <div class="grid mt-4">
                <div class="col-12">
                    <div class="div-campo-obligatorio">
                        <span class="campo-obligatorio">(*)</span> <b>Campo obligatorio</b>
                    </div>
                    <p-fieldset legend="Datos Generales">
                        <div class="formgrid grid">
                            <div class="field col-12 md:col-3">
                                <label for="oficina">Zona Registral <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deZonaRegi" 
                                            filterValue="deZonaRegi"
                                            formControlName="zona"
                                            styleClass="inputfield w-full"
                                            [options]="$zonas | async"
                                            optionLabel="deZonaRegi"
                                            optionValue="coZonaRegi"
                                            (onChange)="buscarOficina()"
                                            #ddlZona>
                                </p-dropdown> 
                            </div>
            
                            <div class="field col-12 md:col-3">
                                <label for="oficina">Oficina Registral <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deOficRegi" 
                                            filterValue="deOficRegi"
                                            formControlName="oficina"
                                            styleClass="inputfield w-full"
                                            [options]="$oficinas | async"
                                            optionLabel="deOficRegi"
                                            optionValue="coOficRegi"
                                            (onChange)="buscarLocal()"
                                            #ddlOficinaRegistral>
                                </p-dropdown> 
                            </div>
            
                            <div class="field col-12 md:col-3">
                                <label for="oficina">Local <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deLocaAten" 
                                            filterValue="deLocaAten"
                                            formControlName="local"
                                            styleClass="inputfield w-full"
                                            [options]="$local | async"
                                            optionLabel="deLocaAten"
                                            optionValue="coLocaAten"
                                            #ddlLocal>
                                </p-dropdown> 
                            </div>
            
                            <div class="field col-12 md:col-3">
                                <label for="oficina">Tipo de Recibos de Ingresos <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="noTipo" 
                                            filterValue="noTipo"
                                            formControlName="tipoRecibo"
                                            styleClass="inputfield w-full"
                                            [options]="$tipoRecibo"
                                            optionLabel="noTipo"
                                            optionValue="idTipo"
                                            (onChange)="onchangeTipoRecibo( $event )"
                                            #ddlTipoRecibo>
                                </p-dropdown> 
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12 md:col-3">
                                <label for="numero">Nro. Recibo</label>
                                <input pInputText formControlName="nroRecibo" type="text" class="w-full">
                            </div>

                            <div class="field col-12 md:col-3">
                                <label for="fecha">Fecha <span class="campo-obligatorio">(*)</span></label>
                                <div class="p-fluid">
                                    <p-calendar [showIcon]="true" 
                                                appendTo="body" 
                                                formControlName="fecha"
                                                inputId="icon"
                                                dateFormat="dd/mm/yy"
                                                inputId="dateformat">
                                    </p-calendar>
                                </div>
                            </div>

                            <div class="field col-12 md:col-3">
                                <label for="oficina">Banco <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="cdeInst" 
                                            filterValue="cdeInst"
                                            formControlName="banco"
                                            styleClass="inputfield w-full"
                                            [options]="$bancos | async"
                                            optionLabel="cdeInst"
                                            optionValue="nidInstitucion"
                                            (onChange)="onChangeCuenta1( $event )"
                                            #ddlBancoCargo>
                                </p-dropdown>
                            </div>

                            <div class="field col-12 md:col-3">
                                <label for="oficina">Cuenta Bancaria <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="nuCuenBanc" 
                                            filterValue="nuCuenBanc"
                                            formControlName="nroCuenta"
                                            styleClass="inputfield w-full"
                                            [options]="$cuentasBancarias"
                                            optionLabel="nuCuenBanc"
                                            optionValue="nuCuenBanc"
                                            #ddlCuentaAbono>
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12 md:col-3">
                                <label for="oficina">Número SIAF</label>
                                <input pInputText formControlName="nroSIAF" type="text" class="w-full p-input-text-right"  (keypress)="validarNumero($event)" >
                            </div>

                            <div class="field col-12 md:col-3">
                                <label for="numero">Monto <span class="campo-obligatorio">(*)</span></label>
                                <input pInputText formControlName="monto" type="text" class="w-full p-input-text-right" 
                                        (keypress)="validarMonto($event)" (blur)="formatearNumero($event)" #imReciIngr>
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="numero">Nombre <span class="campo-obligatorio">(*)</span></label>
                                <span class="p-input-icon-right tipo-operacion">
                                    <i class="pi pi-search icon-search" (click)="abrirVentanaNombre()"></i>
                                    <input pInputText type="text" class="w-full" formControlName="nombre" #idRazoSoc>
                                </span>
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12">
                                <label for="monto">Concepto</label>
                                <textarea formControlName="concepto" [rows]="4" class="w-full" pInputTextarea></textarea>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="grid mt-4 " >
                <div class="col-12">
                    <p-fieldset legend="Detalle Presupuestal" [toggleable]="true" [collapsed]="true">
                        <div class="formgrid grid" >
                            <div class="field col col-12 md:col-3">
                                <input type="text"  class="w-full hidden" >
                            </div>
                            <div class="field col col-12 md:col-4">
                                <input  type="text" class="w-full hidden" >
                            </div>
                            <div class="field col col-12 md:col-2">
                                <input  type="text"  class="w-full hidden"  >
                            </div>
                            <div class="field col col-12 md:col-2 ">
                                <input  type="text" class="w-full  hidden p-input-text-right" >
                            </div>
                            <div class="text-center sm:text-right md:text-left mb-6 ml-2 top-1 relative">
                                <button  
                                (click)="addcuentaPresupuestal()"
                                pButton type="button"  *ngIf="!consultar"
                                icon="pi pi-plus"
                                class="p-button-success  mr-2 absolute">
                            </button>
                            </div>
                    </div>
                        <div class="formgrid grid" *ngFor="let fg of cuentasPresupuestales; let i = index" [formGroup]="fg">
                            <div class="field col col-12 md:col-2">
                                <label for="">Clasificador</label>
                                <input 
                                    pInputText 
                                    type="text" 
                                    formControlName="clasificador" 
                                    class="w-full"
                                    (blur)="buscarCuentabancariaPresupuestalBlur($event,i)"
                                    (keypress)="buscarCuentabancariaPresupuestal($event,$event,i)"
                                >
                            </div>

                            <div class="field col col-12 md:col-5">
                                <label for="">Descripción del Clasificador</label>
                                <input readonly pInputText type="text" formControlName="detClasificador" class="w-full">
                            </div>

                            <div class="field col col-12 md:col-2">
                                <label for="">Debe</label>
                                <input pInputText type="text" formControlName="debe" class="w-full p-input-text-right " name="debe{i}" (keypress)="validarMonto($event)"  (blur)="formatearNumeroHabe($event)">
                            </div>

                            <div class="field col col-12 md:col-2">
                                <label for="">Haber</label>
                                <input pInputText type="text" formControlName="haber" class="w-full p-input-text-right" (keypress)="validarMonto($event)" (blur)="formatearNumeroHabe($event)">
                            </div>
                            
                            <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                            
                                <button  (click)="deletecuentaPresupuestal(i)" pButton type="button"
                                        icon="pi pi-times" *ngIf="!consultar"
                                        class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="grid mt-4 ">
                <div class="col-12 ">
                    <p-fieldset legend="Detalle Patrimonial" [toggleable]="true" [collapsed]="true">
                        <div class="formgrid grid" >
                                <div class="field col col-12 md:col-3">
                                    <input type="text"  class="w-full hidden" >
                                </div>
                                <div class="field col col-12 md:col-4">
                                    <input  type="text" class="w-full hidden" >
                                </div>
                                <div class="field col col-12 md:col-2">
                                    <input  type="text"  class="w-full hidden"  >
                                </div>
                                <div class="field col col-12 md:col-2 ">
                                    <input  type="text" class="w-full  hidden p-input-text-right" >
                                </div>
                                <div class="text-center sm:text-right md:text-left mb-6 ml-2 top-1 relative">
                                    <button  
                                    (click)="addcuentaPatrimonial()"
                                    pButton type="button" 
                                    icon="pi pi-plus" *ngIf="!consultar"
                                    class="p-button-success  mr-2 absolute">
                                </button>
                                </div>
                        </div>
                        <div class="formgrid grid" *ngFor="let fg of cuentasPatrimoniales; let i = index" [formGroup]="fg">
                            <div class="field col col-12 md:col-2">
                                <label for="">Cuenta</label>
                                <input 
                                    pInputText type="text" 
                                    formControlName="cuenta" 
                                    class="w-full" 
                                    (blur)="buscarCuentabancariaPatrimonialesBlur($event,i)"
                                    (keypress)="buscarCuentabancariaPatrimoniales($event,$event,i)">
                            </div>

                            <div class="field col col-12 md:col-5">
                                <label for="">Descripción de la Cuenta</label>
                                <input readonly pInputText type="text" formControlName="descripcion" class="w-full" >
                            </div>

                            <div class="field col col-12 md:col-2">
                                <label for="">Debe</label>
                                <input pInputText type="text" formControlName="debe" class="w-full p-input-text-right" (keypress)="validarMonto($event)" (blur)="formatearNumeroHabe($event)" >
                            </div>

                            <div class="field col col-12 md:col-2">
                                <label for="">Haber</label>
                                <input pInputText type="text" formControlName="haber" class="w-full p-input-text-right" (keypress)="validarMonto($event)" (blur)="formatearNumeroHabe($event)">
                            </div>
                            
                            <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                              
                                <button (click)="deletecuentaPatrimonial(i)" pButton type="button" *ngIf="!consultar"
                                        icon="pi pi-times"
                                        class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="formgrid grid mt-6">
                <div class="col text-right">
                    <button pButton type="button" *ngIf="!consultar"
                            icon="pi pi-check"
                            style="width: 9em;"
                            label="Grabar"
                            class="p-button-buscar" 
                            (click)="saveOrUpdate()">
                    </button>
                    <button pButton type="button"   *ngIf="!consultar"
                            icon="pi pi-times" 
                            style="width: 9em; margin-left: 1em;"
                            label="Cancelar"
                            class="p-button-anular" 
                            (click)="cancelar()">
                    </button>
                    <button pButton type="button" *ngIf="consultar"
                            icon="pi pi-undo" 
                            style="width: 9em;"
                            label="Regresar"
                            class="p-button-secondary ml-3"
                            (click)="cancelar()">
                    </button>
                </div>
            </div>
        </div>
    </div>

</p-panel>