 
    <div class="grid flex align-content-cente" style="background: #F6F6F6 !important; padding-top: 5%;">
        <div class=" col-12 md:col-12 lg:col-2"> </div>
        <div class=" col-12 md:col-12 lg:col-4  flex align-items-center justify-content-center">
            <div class="card"  >
                <form [formGroup]="form_login">
                <div style="width: 340px;text-align: center;">

                    <div class="field">
                        <img src="assets/img/login/logo-sunarp.svg" style="width: 160px;">
                    </div>
                    <div class="field">
                        <p-message severity="info" styleClass="w-full"  text="Por favor ingrese su usuario y su clave de red"></p-message>
                    </div>
                    <div class="field">
                        <span class="p-input-icon-left inputfield w-full">
                            <i class="pi pi-user"></i>
                            <input placeholder="Usuario de red" pInputText formControlName="usuario" class="inputfield w-full">         
                        </span>
                    </div>
                    
                    <div class="field">
                        <span class="p-input-icon-left inputfield w-full">
                            <i class="pi pi-lock"></i>
                            <input placeholder="Contraseña" type="password" pInputText formControlName="pass" class="inputfield w-full">         
                        </span>
                    </div>
                    <div class="field">
                        <button (click)="login()" pButton  type="button" label="INGRESAR" class="p-button-buscar w-full"></button>
                    </div>
                </div>
            </form>
            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-5 text-center hidden lg:block" id="divLogin" >
            <div>
                <h2 class="title-general-hide" style="margin-bottom: 0%;">Sistema SARF</h2>
                <h2 class="title-general-hide">(Sistema de Administración de Recursos Financieros)</h2>
            </div>
            <div>
               <img src="assets/img/login/vectores/vector_principal.png" /> 
            </div>
        </div>
         <div class=" col-12 md:col-12 lg:col-2"> </div>
    </div>
 
