 
  
  .p-inputtext {
    border-radius: 18px  !important;
  }
 

  #divLogin{
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  
    border-left: 3px solid #7B807D !important;;
     
  }
