<div class="grid mt-4">
    <div class="col-12">

        <div [formGroup]="historial" class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-3">
                <label for="nro_constancia">Nro. Recibo</label>
                <div class="">
                    <input pInputText readonly type="text" formControlName="nroRecibo" class="w-full p-input-text-right" autofocus>
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-3">
                <label for="fecha">Fecha</label>
                <div class="">
                    <input pInputText readonly type="text" formControlName="fecha" class="w-full p-input-text-right">
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-3">
                <label for="monto">Monto</label>
                <div class="">
                    <input pInputText readonly type="text" formControlName="monto" class="w-full p-input-text-right">
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-3">
                <label for="nroSiaf">Número SIAF</label>
                <div class="">
                    <input pInputText readonly type="text" formControlName="nroSiaf"  class="w-full p-input-text-right">
                </div>
            </div>
        </div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-12">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="enviadosList"
                         [customSort]="true"
                         (sortFunction)="customSort($event)"
                         [paginator]="true" [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}">

                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="noPerf">Perfil <p-sortIcon field="noPerf"></p-sortIcon></th>
                            <th pSortableColumn="noUsua">Nombres y Apellidos <p-sortIcon field="noUsua"></p-sortIcon></th>
                            <th pSortableColumn="feCrea">Fecha / Hora <p-sortIcon field="feCrea"></p-sortIcon></th>
                            <th pSortableColumn="deEsta">Estado <p-sortIcon field="deEsta"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-recibo>
                        <tr>
                            <td>{{ recibo.noPerf }}</td>
                            <td>{{ recibo.noUsua }}</td>
                            <td>{{ formatearFecha( recibo.feCrea ) }}</td>
                            <td>{{ recibo.deEsta }}</td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        style="width: 9em;"
                        label="Regresar"
                        class="p-button-secondary" 
                        (click)="regresar()">
                </button>
            </div>
        </div>
    </div>
</div>