<p-fileUpload [disabled]="isDisabled" #fubauto mode="basic" name="file"
              url="{{ uploadingEndpoint }}" *ngIf="showButtonAct(nroAdd, nroBandeja)"
              [maxFileSize]="maxFileSize" [fileLimit]="fileLimit" [accept]="acceptFiles"
              (onUpload)="onUpload($event)" (onProgress)="onProgress($event)" (onError)="onError(fubauto)"
              [auto]="true" chooseLabel="Subir documento" [invalidFileSizeMessageSummary]="invalidFileSizeSummary"
              [invalidFileSizeMessageDetail]="invalidFileSizeDetail" [invalidFileTypeMessageSummary]="invalidFileTypeSummary"
              [invalidFileTypeMessageDetail]="invalidFileTypeDetail" [invalidFileLimitMessageSummary]="invalidFileLimitSummary"
              [invalidFileLimitMessageDetail]="invalidFileLimitDetail">
</p-fileUpload>
<div class="mt-4 cd-upload-progress">
    <div class="text-center" *ngIf="showprogress">
        Subiendo... <em style="color: rgb(154, 54, 248);"
                        class="pi pi-spin pi-spinner"></em>
        <p-progressBar [showValue]="false" [value]="prog"></p-progressBar>
    </div>
    <p-table [value]="uploadedFilesSiaf" styleClass="p-datatable-sm" responsiveLayout="scroll">
        <ng-template pTemplate="body" let-file>    
            <tr>
                <td class="font-bold text-indigo-500">
                    <a *ngIf="file.guidVisor" target="_blank" href="{{ visorEndpoint(file.guidVisor) }}">
                        <em class="pi pi-file-pdf"></em> {{ file.fileName }}
                    </a>
                    <a *ngIf="!file.guidVisor"><em class="pi pi-file-pdf"></em> {{ file.fileName }}</a>
                </td>
                <td>
                    <button pButton pRipple type="button" icon="pi pi-times" *ngIf="showButtonAct(nroDel, nroBandeja)" [disabled]="disabledDelete"
                    (click)="deleteUploaded(file.fileId)" class="p-button-rounded p-button-danger p-button-text"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>