<p-panel header="Configuración Logos por Tipo Documento">

    <div class="grid mt-4">
        <div class="col-1"></div>
        <div class="col-10" [formGroup]="formLogos">
            <div class="formgrid grid">
                <div class="field col-12 lg:col-4 md:col-6 p-dropdown-loading">
                    <label for="">Tipo de Documento</label>
                    <p-dropdown [filter]="true" 
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaTipoDocumentos"
                                styleClass="inputfield w-full"
                                formControlName="tipoDocumento"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                [class.spinner]="loadingTipoDocumento"
                                (onChange)="onChangeTipoDocumento($event)">
                    </p-dropdown>
                </div>
            </div>

            <p-fieldset legend="Encabezado" [style]="{'margin-top':'1rem'}">
                <div class="formgrid grid">
                    <div class="field col-12 mb-3">
                        <p-radioButton name="encabezado" formControlName="encabezado" value="1" label="Una sección" 
                                        (onClick)="onClickEncabezado()">
                        </p-radioButton>
                    </div>
                    <div class="field col-12 lg:col-6 md:col-4 text-logos">
                        <label for="oficina">Nombre de la imagen (.png)</label>
                        <div class="">
                            <input readonly pInputText type="text" formControlName="encabeImg" class="w-full">
                        </div>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                        <app-logos *ngIf="uploadEncabezadoUno" [posicionDeLogo]="ENCABEZADO" (uploaded)="obtenerLogoCargado($event)" 
                                    (eventDataLogo)="obtenerDataFileLogo($event)">
                        </app-logos>
                        <app-logos *ngIf="!uploadEncabezadoUno" [disableUpload]="true"></app-logos>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                        <button pButton type="button" icon="pi pi-eye" label="Ver" (click)="previsualizarImagen(ENCABEZADO)"
                                [disabled]="disableEncabezado" class="p-button-primary flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                        <button pButton type="button" icon="pi pi-times" (click)="eliminarImagenes(ENCABEZADO, formLogos?.controls.encabeImg.value)"
                                *ngIf="!disableEncabezado" class="p-button-danger flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                </div>

                <!-- SECCION IZQUIERDA -->
                <div class="formgrid grid mt-2">
                    <div class="field col-12 mb-3">
                        <p-radioButton name="encabezado" formControlName="encabezado" value="3" label="Tres secciones" 
                                        (onClick)="onClickEncabezado()">
                        </p-radioButton>
                    </div>
                    <div class="field col-12 lg:col-1 md:col-2 text-logos">
                        <label for="oficina">Sección</label>
                        <div class="">
                            <input readonly pInputText type="text" [(ngModel)]="logoIzquierda" 
                                    [ngModelOptions]="{standalone: true}" class="background-seccion">
                        </div>
                    </div>
                    <div class="field col-12 lg:col-6 md:col-6">
                        <label for="oficina">Nombre de la imagen (.png)</label>
                        <div class="">
                            <input readonly pInputText type="text" formControlName="encabeImgIz" class="w-full">
                        </div>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                        <app-logos *ngIf="uploadEncabezadoTres" [posicionDeLogo]="ENCABEZADO_IZQUIERDA" (uploaded)="obtenerLogoCargado($event)" 
                                    (eventDataLogo)="obtenerDataFileLogo($event)"></app-logos>
                        <app-logos *ngIf="!uploadEncabezadoTres" [disableUpload]="true"></app-logos>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                        <button pButton type="button" icon="pi pi-eye" label="Ver" (click)="previsualizarImagen(ENCABEZADO_IZQUIERDA)"
                                [disabled]="disableEncabezadoIz" class="p-button-primary flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                        <button pButton type="button" icon="pi pi-times" (click)="eliminarImagenes(ENCABEZADO_IZQUIERDA, formLogos?.controls.encabeImgIz.value)"
                                *ngIf="!disableEncabezadoIz" class="p-button-danger flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                </div>

                <!-- SECCION CENTRO -->
                <div class="formgrid grid">
                    <div class="field col-12 lg:col-1 md:col-2 text-logos">
                        <div class="">
                            <input readonly pInputText type="text" [(ngModel)]="logoCentro" 
                                    [ngModelOptions]="{standalone: true}" class="background-seccion">
                        </div>
                    </div>
                    <div class="field col-12 lg:col-6 md:col-6">
                        <div class="">
                            <input readonly pInputText type="text" formControlName="encabeImgCe" class="w-full">
                        </div>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2">
                        <app-logos *ngIf="uploadEncabezadoTres" [posicionDeLogo]="ENCABEZADO_CENTRO" (uploaded)="obtenerLogoCargado($event)" 
                                    (eventDataLogo)="obtenerDataFileLogo($event)"></app-logos>
                        <app-logos *ngIf="!uploadEncabezadoTres" [disableUpload]="true"></app-logos>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 ">
                        <button pButton type="button" icon="pi pi-eye" label="Ver" (click)="previsualizarImagen(ENCABEZADO_CENTRO)"
                                [disabled]="disableEncabezadoCe" class="p-button-primary flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2">
                        <button pButton type="button" icon="pi pi-times" (click)="eliminarImagenes(ENCABEZADO_CENTRO, formLogos?.controls.encabeImgCe.value)"
                                *ngIf="!disableEncabezadoCe" class="p-button-danger flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                </div>

                <!-- SECCION DERECHA -->
                <div class="formgrid grid">
                    <div class="field col-12 lg:col-1 md:col-2 text-logos">
                        <div class="">
                            <input readonly pInputText type="text" [(ngModel)]="logoDerecha" 
                                    [ngModelOptions]="{standalone: true}" class="background-seccion">
                        </div>
                    </div>
                    <div class="field col-12 lg:col-6 md:col-6">
                        <div class="">
                            <input readonly pInputText type="text" formControlName="encabeImgDe" class="w-full">
                        </div>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2">
                        <app-logos *ngIf="uploadEncabezadoTres" [posicionDeLogo]="ENCABEZADO_DERECHA" (uploaded)="obtenerLogoCargado($event)" 
                                    (eventDataLogo)="obtenerDataFileLogo($event)"></app-logos>
                        <app-logos *ngIf="!uploadEncabezadoTres" [disableUpload]="true"></app-logos>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 ">
                        <button pButton type="button" icon="pi pi-eye" label="Ver" (click)="previsualizarImagen(ENCABEZADO_DERECHA)"
                                [disabled]="disableEncabezadoDe" class="p-button-primary flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2">
                        <button pButton type="button" icon="pi pi-times" (click)="eliminarImagenes(ENCABEZADO_DERECHA, formLogos?.controls.encabeImgDe.value)"
                                *ngIf="!disableEncabezadoDe" class="p-button-danger flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                </div>
            </p-fieldset>

            <p-fieldset legend="Pie de Página" [style]="{'margin-top':'1.5rem'}" *ngIf="showPiePagina">
                <div class="formgrid grid">
                    <div class="field col-12 mb-3">
                        <p-radioButton name="piePagina" formControlName="piePagina" value="1" label="Una sección" 
                                        (onClick)="onClickPiePagina()">
                        </p-radioButton>
                    </div>
                    <div class="field col-12 lg:col-6 md:col-4 text-logos">
                        <label for="oficina">Nombre de la imagen (.png)</label>
                        <div class="">
                            <input readonly pInputText type="text" formControlName="pieImg" class="w-full">
                        </div>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                        <app-logos *ngIf="uploadPiePaginaUno" [posicionDeLogo]="PIE_PAGINA" (uploaded)="obtenerLogoCargado($event)" 
                                    (eventDataLogo)="obtenerDataFileLogo($event)"></app-logos>
                        <app-logos *ngIf="!uploadPiePaginaUno" [disableUpload]="true"></app-logos>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                        <button pButton type="button" icon="pi pi-eye" label="Ver" (click)="previsualizarImagen(PIE_PAGINA)"
                                [disabled]="disablePiePagina" class="p-button-primary flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                        <button pButton type="button" icon="pi pi-times" (click)="eliminarImagenes(PIE_PAGINA, formLogos?.controls.pieImg.value)"
                                *ngIf="!disablePiePagina" class="p-button-danger flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                </div>

                <!-- SECCION IZQUIERDA -->
                <div class="formgrid grid mt-2">
                    <div class="field col-12 mb-3">
                        <p-radioButton name="piePagina" formControlName="piePagina" value="3" label="Tres secciones" 
                                        (onClick)="onClickPiePagina()">
                        </p-radioButton>
                    </div>
                    <div class="field col-12 lg:col-1 md:col-2 text-logos">
                        <label for="oficina">Sección</label>
                        <div class="">
                            <input readonly pInputText type="text" [(ngModel)]="logoIzquierda" 
                            [ngModelOptions]="{standalone: true}" class="background-seccion">
                        </div>
                    </div>
                    <div class="field col-12 lg:col-6 md:col-6">
                        <label for="oficina">Nombre de la imagen (.png)</label>
                        <div class="">
                            <input readonly pInputText type="text" formControlName="pieImgIz" class="w-full">
                        </div>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                        <app-logos *ngIf="uploadPiePaginaTres" [posicionDeLogo]="PIE_PAGINA_IZQUIERDA" (uploaded)="obtenerLogoCargado($event)" 
                                    (eventDataLogo)="obtenerDataFileLogo($event)"></app-logos>
                        <app-logos *ngIf="!uploadPiePaginaTres" [disableUpload]="true"></app-logos>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                        <button pButton type="button" icon="pi pi-eye" label="Ver" (click)="previsualizarImagen(PIE_PAGINA_IZQUIERDA)"
                                [disabled]="disablePiePaginaIz" class="p-button-primary flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                        <button pButton type="button" icon="pi pi-times" (click)="eliminarImagenes(PIE_PAGINA_IZQUIERDA, formLogos?.controls.pieImgIz.value)"
                                *ngIf="!disablePiePaginaIz" class="p-button-danger flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                </div>

                <!-- SECCION CENTRO -->
                <div class="formgrid grid">
                    <div class="field col-12 lg:col-1 md:col-2 text-logos">
                        <div class="">
                            <input readonly pInputText type="text" [(ngModel)]="logoCentro" 
                            [ngModelOptions]="{standalone: true}" class="background-seccion">
                        </div>
                    </div>
                    <div class="field col-12 lg:col-6 md:col-6">
                        <div class="">
                            <input readonly pInputText type="text" formControlName="pieImgCe" class="w-full">
                        </div>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2">
                        <app-logos *ngIf="uploadPiePaginaTres" [posicionDeLogo]="PIE_PAGINA_CENTRO" (uploaded)="obtenerLogoCargado($event)" 
                                    (eventDataLogo)="obtenerDataFileLogo($event)"></app-logos>
                        <app-logos *ngIf="!uploadPiePaginaTres" [disableUpload]="true"></app-logos>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 ">
                        <button pButton type="button" icon="pi pi-eye" label="Ver" (click)="previsualizarImagen(PIE_PAGINA_CENTRO)"
                                [disabled]="disablePiePaginaCe" class="p-button-primary flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2">
                        <button pButton type="button" icon="pi pi-times" (click)="eliminarImagenes(PIE_PAGINA_CENTRO, formLogos?.controls.pieImgCe.value)"
                                *ngIf="!disablePiePaginaCe" class="p-button-danger flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                </div>

                <!-- SECCION DERECHA -->
                <div class="formgrid grid">
                    <div class="field col-12 lg:col-1 md:col-2 text-logos">
                        <div class="">
                            <input readonly pInputText type="text" [(ngModel)]="logoDerecha" 
                            [ngModelOptions]="{standalone: true}" class="background-seccion">
                        </div>
                    </div>
                    <div class="field col-12 lg:col-6 md:col-6">
                        <div class="">
                            <input readonly pInputText type="text" formControlName="pieImgDe" class="w-full">
                        </div>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2">
                        <app-logos *ngIf="uploadPiePaginaTres" [posicionDeLogo]="PIE_PAGINA_DERECHA" (uploaded)="obtenerLogoCargado($event)" 
                                    (eventDataLogo)="obtenerDataFileLogo($event)"></app-logos>
                        <app-logos *ngIf="!uploadPiePaginaTres" [disableUpload]="true"></app-logos>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 ">
                        <button pButton type="button" icon="pi pi-eye" label="Ver" (click)="previsualizarImagen(PIE_PAGINA_DERECHA)"
                                [disabled]="disablePiePaginaDe" class="p-button-primary flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2">
                        <button pButton type="button" icon="pi pi-times" (click)="eliminarImagenes(PIE_PAGINA_DERECHA, formLogos?.controls.pieImgDe.value)"
                                *ngIf="!disablePiePaginaDe" class="p-button-danger flex-initial flex align-items-center justify-content-center">
                        </button>
                    </div>
                </div>
            </p-fieldset>

            <div class="formgrid grid mt-4">
                <div class="col text-right">
                    <button pButton type="button" 
                            icon="pi pi-check"
                            style="width: 9em;"
                            label="Grabar"
                            class="p-button-buscar"
                            (click)="grabar()"
                            >
                    </button>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</p-panel>