.text-logos {
    margin-left: 2rem;
}

.background-seccion {
    background-color: #eef2f5;
    display: flex;
    width: 6rem;
}

.background-seccion:enabled:hover {
    border: 1px solid #ced4da;
}

.background-seccion:enabled:focus {
    box-shadow: none;
    border-color:#ced4da;
}