<p-panel header="Consolidación de la Recaudación Medios Electrónicos">

    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="documentos" class="col-10">
            <div class="formgrid grid">
                <div class="field col-12 sm:col-12 lg:col-11">
                </div>
                <div class="field col-12 sm:col-12 lg:col-1">
                    <div class="p-fluid">
                        <button pButton type="button" (click)="buscaBandeja()" label="Buscar"class="p-button-buscar mr-3"></button>
                    </div>
                </div> 
			</div>
			<div class="formgrid grid">
                <div class="field col-12 md:col-4">
					<label for="oficina">Zona Registral</label>
                    <p-dropdown [filter]="true" 
                                filterBy="deZonaRgst" 
                                filterValue="deZonaRgst"
                                formControlName="zona"
                                styleClass="inputfield w-full"
                                [options]="$zonas | async"
                                optionLabel="deZonaRgst"
                                optionValue="coZonaRgst">
                    </p-dropdown>
				</div>
                <div class="field col-12 md:col-3">
					<label for="oficina">Oficina Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deOficRgst" 
                                filterValue="deOficRgst"
                                formControlName="oficina"
                                styleClass="inputfield w-full"
                                [options]="$oficinas | async"
                                optionLabel="deOficRgst"
                                optionValue="coOficRgst">
                    </p-dropdown>
				</div>

                <div class="field col-12 md:col-3">
					<label for="local">Local</label>
					<p-dropdown [filter]="true" 
                                filterBy="deLocal" 
                                filterValue="deLocal"
                                formControlName="local"
                                styleClass="inputfield w-full"
                                [options]="$locales | async"
                                optionLabel="deLocal"
                                optionValue="coLocal">
                    </p-dropdown>
				</div>

                <div class="field col-12 md:col-4">
					<label for="oficina">Descripción</label>
					<input pInputText formControlName="descripcion" type="text" class="w-full">
				</div>

                <div class="field col-12 md:col-4">
					<label for="oficina">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="deEstado"
                                filterValue="deEstado"
                                [options]="$estado"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="deEstado"
                                optionValue="coEstado">
                    </p-dropdown>
				</div>
			</div>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col">
                        <button pButton pTooltip="Nuevo" tooltipPosition="top" icon="pi pi-file" 
                                (click)="nuevaConfiguracion()" class="p-button-nuevo mr-3"> 
                        </button>
                        <button pButton pTooltip="Editar" tooltipPosition="top" icon="pi pi-pencil" 
                                (click)="editOrView('edit')" class="p-button-editar mr-3">
                        </button>
                        <button pButton pTooltip="Anular" tooltipPosition="top" icon="pi pi-times" 
                                (click)="anular()" [loading]="isLoading" class="p-button-anular mr-3">
                        </button>
                        <button pButton pTooltip="Activar" tooltipPosition="top" icon="pi pi-power-off" 
                                (click)="activar()" [loading]="isLoading" class="p-button-activar mr-3">
                        </button>
                        <button pButton pTooltip="Consultar registro" tooltipPosition="top" icon="pi pi-info-circle" 
                                (click)="editOrView('view')" class="p-button-consultar">
                        </button>
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack"
                         [value]="enviadosList"
                         (sortFunction)="customSort($event)"
                         [customSort]="true"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]">

                    <ng-template pTemplate="header">
                        <tr>
                            <th>Sel</th>
                            <th pSortableColumn="noTipo">Descripción <p-sortIcon field="noTipo"></p-sortIcon></th>
                            <th pSortableColumn="nuCuenBanc">Cuenta Bancaria <p-sortIcon field="nuCuenBanc"></p-sortIcon></th>
                            <th pSortableColumn="obConce">Concepto <p-sortIcon field="obConce"></p-sortIcon></th>
                            <th pSortableColumn="inRegi">Estado <p-sortIcon field="inRegi"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-configurar>
                        <tr>
                            <td>
                                <p-checkbox [value]="configurar" [(ngModel)]="selectedValues"></p-checkbox>
                            </td>
                            <td>{{ configurar.noTipo }}</td>
                            <td>{{ configurar.nuCuenBanc }}</td>
                            <td>
                                <p-button label="Ver" (click)="verConcepto( configurar )" styleClass="p-button-link"></p-button>
                            </td>
                            <td>{{ configurar.inRegi }}</td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>