<div class="grid mt-2">
    <div [formGroup]="reservaForm" class="col-12">

        <div class="formgrid grid ">
            <div class="field col-12 md:col-4">
                <label for="zona">Zona Registral</label>
                <p-dropdown [filter]="true" 
                            filterBy="deZonaRegi" 
                            filterValue="deZonaRegi"
                            formControlName="zona"
                            styleClass="inputfield w-full"
                            [options]="$zonas | async"
                            optionLabel="deZonaRegi"
                            optionValue="coZonaRegi"
                            (onChange)="buscarOficina()">
                </p-dropdown> 
            </div>

            <div class="field col-12 md:col-4">
                <label for="oficina">Oficina Registral</label>
                <p-dropdown [filter]="true" 
                            filterBy="deOficRegi" 
                            filterValue="deOficRegi"
                            formControlName="oficina"
                            styleClass="inputfield w-full"
                            [options]="$oficinas | async"
                            optionLabel="deOficRegi"
                            optionValue="coOficRegi"
                            (onChange)="buscarLocal()">
                </p-dropdown>
            </div>

            <div class="field col-12 md:col-4">
                <label for="local">Local</label>
                <p-dropdown [filter]="true" 
                            filterBy="deLocaAten" 
                            filterValue="deLocaAten"
                            formControlName="coLocaAten"
                            styleClass="inputfield w-full"
                            [options]="$local | async"
                            optionLabel="deLocaAten"
                            optionValue="coLocaAten">
                </p-dropdown> 
            </div>
        </div>

        <div class="formgrid grid lg:mb-1 md:mb-4 py-2">
            <div class="field col-12 sm:col-12 lg:col-12" id="borde">
                <label for="zona" style="font-weight: bold; font-size: medium;">Aviso!</label>
                <div class="">
                    <p style="font-size: medium;">
                        Esta funcionalidad permite crear Recibos de Ingresos con estado RESERVADO
                        y con la fecha actual del sistema. Estos recibos de ingreso solo pueden 
                        ser utilizados por el usuario que los ha reservado.
                    </p>
                </div>
            </div>
        </div>

        <div class="field col-12 flex">
            <div class="field col col-12 md:col-8 mt-3">
                <div class="text-center sm:text-right md:text-left">
                    <div class="p-fluid flex-initial flex align-items-center justify-content-center w-full mr-3">
                        <label style="font-size: medium;">Ingrese la cantidad de Recibos de Ingreso que desea RESERVAR:</label>
                    </div>
                </div>
            </div>
            <div   class="field col col-12 md:col-4 mt-1">
                <div class="text-center sm:text-right md:text-left">
                    <div class="p-fluid flex-initial flex align-items-center justify-content-center w-full">
                        <input formControlName="caReciIngr" placeholder="" class=" w-full p-input-text-right" (keypress)="validarNumero($event)"
                            type="text" pInputText  autofocus/>
                    </div>
                </div>
            </div>
        </div>
    

        <div class="formgrid grid mt-1">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Aceptar"
                        class="p-button-buscar"
                        (click)="grabar()"
                        > 
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>

    </div>
</div>

