<div class="grid mt-4">
    <div [formGroup]="editarTasa" class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-8">
                <label for="zona">Zona Registral</label>
                <p-dropdown appendTo="body"
                            [filter]="true"
                            filterBy="deZonaRegi"
                            filterValue="deZonaRegi"
                            [options]="$zonas | async"
                            styleClass="inputfield w-full"
                            formControlName="zona"
                            optionLabel="deZonaRegi"
                            optionValue="coZonaRegi">
                </p-dropdown>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="oficina">% Distribución</label>
                <div class="">
                    <input formControlName="distribucion" pInputText type="number" class="w-full" style="text-align:right">
                    <small id="username2-help" class="p-error block"
                            *ngIf="campoEsValido('distribucion')">
                            La Distribución es un campo obligatorio.
                    </small>
                </div>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" *ngIf="!consultar"
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Grabar"
                        class="p-button-buscar" 
                        (click)="update()">
                </button>
                <button pButton type="button" *ngIf="!consultar"
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
                <button pButton type="button" *ngIf="consultar"
                        icon="pi pi-undo"
                        style="width: 9em; margin-left: 1em;"
                        label="Regresar"
                        class="p-button-secondary" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>