<p-panel header="Enviar Documentos">

    <div class="grid mt-4">
        <div class="col-1"></div>
        <div [formGroup]="documentosEnviar" class="col-10">
            <div class="row-button-search">
                <button pButton type="button" (click)="buscarDocumentosEnviar(false)" label="Buscar"
                        *ngIf="showButtonAct(BtnBuscar, codBandeja)" class="p-button-buscar"></button>
            </div>
            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                    <label for="zona">Zona Registral</label>
                    <p-dropdown [filter]="true" filterBy="deZonaRegi" filterValue="deZonaRegi" formControlName="zona"
                        styleClass="inputfield w-full" [options]="listaZonaRegistral" optionLabel="deZonaRegi"
                        optionValue="coZonaRegi" (onChange)="buscarOficinaRegistral()"
                        [class.spinner]="loadingZonaRegistral" [disabled]="loadingZonaRegistral">
                    </p-dropdown> <!--  | [options]="$salas | async" -->
                </div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                    <label for="oficina">Oficina Registral</label>
                    <p-dropdown [filter]="true" filterBy="deOficRegi" filterValue="deOficRegi" formControlName="oficina"
                        styleClass="inputfield w-full" [options]="listaOficinaRegistral" optionLabel="deOficRegi"
                        optionValue="coOficRegi" (onChange)="buscarLocal()" [class.spinner]="loadingOficinaRegistral"
                        [disabled]="loadingOficinaRegistral">
                    </p-dropdown> <!--  | [options]="$salas | async" -->
                </div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                    <label for="local">Local</label>
                    <p-dropdown [filter]="true" filterBy="deLocaAten" filterValue="deLocaAten" formControlName="local"
                        styleClass="inputfield w-full" [options]="listaLocal" optionLabel="deLocaAten"
                        optionValue="coLocaAten" [class.spinner]="loadingLocal" [disabled]="loadingLocal">
                    </p-dropdown> <!--  | [options]="$salas | async" -->
                </div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                    <label for="tipoComp">Tipo de Proceso</label>
                    <p-dropdown [filter]="true" filterBy="cdescri" filterValue="cdescri" formControlName="tipoDocu"
                        styleClass="inputfield w-full" [options]="listaTipoDocumento" optionLabel="cdescri"
                        optionValue="ccodigoHijo" [class.spinner]="loadingTipoDocumento"
                        [disabled]="loadingTipoDocumento">
                    </p-dropdown> <!--  | [options]="$salas | async" -->
                </div>
            </div>

            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="fecDes">Desde</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" 
                                    appendTo="body" 
                                    formControlName="fecDes" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy" 
                                    inputId="dateformat" 
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaDesde"
                                    (onSelect)="cambioFechaInicio()">
                        </p-calendar>
                    </div>
                </div>

                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="fecHas">Hasta</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" 
                                    appendTo="body" 
                                    formControlName="fecHas" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy" 
                                    inputId="dateformat" 
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaHasta"
                                    (onSelect)="cambioFechaFin()">
                        </p-calendar>
                    </div>
                </div>

                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="nroComp">Número</label>
                    <input pInputText formControlName="numero" type="text" class="w-full text-right"
                        (keypress)="validarNumero($event)">
                </div>

                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="nroSiaf">Usuario</label>
                    <input pInputText formControlName="usuario" type="text" class="w-full">
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                    <label for="estado">Estado</label>
                    <p-dropdown [filter]="true" filterBy="cdescri" filterValue="cdescri" formControlName="estado"
                        styleClass="inputfield w-full" [options]="listaEstadoRecibo" optionLabel="cdescri"
                        optionValue="ccodigoHijo" [class.spinner]="loadingEstado" [disabled]="loadingEstado">
                    </p-dropdown> <!--  | [options]="$salas | async" -->
                </div>
            </div>
            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-12 lg:col-8 xl:col-6">
                        <button pButton pTooltip="Nuevo" tooltipPosition="top" icon="pi pi-file" class="p-button-nuevo mr-3"
                                *ngIf="showButtonAct(BtnNuevo, codBandeja)" (click)="nuevoDocumentosEnviar()">
                        </button>
                        <button pButton pTooltip="Editar" tooltipPosition="top" icon="pi pi-pencil" class="p-button-editar mr-3"
                                *ngIf="showButtonAct(BtnEditar, codBandeja)" (click)="editarDocumentosEnviar()">
                        </button>
                        <button pButton pTooltip="Anular" tooltipPosition="top" icon="pi pi-times" (click)="anular()"
                                *ngIf="showButtonAct(BtnAnular, codBandeja)" class="p-button-anular mr-3">
                        </button>
                        <button pButton pTooltip="Activar" tooltipPosition="top" icon="pi pi-power-off"
                                *ngIf="showButtonAct(BtnActivar, codBandeja)" (click)="activar()" class="p-button-activar mr-3">
                        </button>
                        <button pButton pTooltip="Consultar registro" tooltipPosition="top" icon="pi pi-info-circle"
                                *ngIf="showButtonAct(BtnConsultar, codBandeja)" (click)="consultar()" class="p-button-consultar">
                        </button>
                    </div>

                    <div class="col-12 lg:col-8 xl:col-6 row-buttons-maintenance">
                        <button pButton pTooltip="Ver Documento" tooltipPosition="top" icon="pi pi-eye" (click)="verDocumento()"
                                *ngIf="showButtonAct(BtnVer_Documento, codBandeja)" class="p-button-documento mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnSustentos, codBandeja)" pButton pTooltip="Sustentos" tooltipPosition="top" 
                                icon="pi pi-folder-open" (click)="sustentos()" class="p-button-sustento mr-3">
                        </button>
                        <button pButton pTooltip="Enviar Documento" tooltipPosition="top" (click)="enviarDocumento()"
                                *ngIf="showButtonAct(BtnEnviar_Documento, codBandeja)" icon="pi pi-send" class="p-button-firma mr-3">
                        </button>
                        <button pButton pTooltip="Reenviar Documento" tooltipPosition="top" (click)="reenviarDocumentos()"
                                *ngIf="showButtonAct(BtnReenviar_Documento, codBandeja)" icon="pi pi-replay" class="p-button-copiar">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-1"></div>
        <div class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack" [value]="documentosEnviarList?.lstEnviarDocumentos" (sortFunction)="customSort($event)"
                    [customSort]="true" [selectionPageOnly]="true" [(selection)]="selectedValues" [paginator]="true" [rows]="20" 
                    [showCurrentPageReport]="true" responsiveLayout="scroll" currentPageReportTemplate="{{ currentPage }}"
                    [rowsPerPageOptions]="[20,40,60]" >

                    <ng-template pTemplate="caption">
                        <div class="col text-right">
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"
                                    *ngIf="showButtonAct(BtnExportar, codBandeja)" pTooltip="XLS" tooltipPosition="bottom">
                            </button>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="deZonaRegi">
                                <div>Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="deOficRegi">
                                <div>Oficina Registral <p-sortIcon field="deOficRegi"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="deLocaAten">
                                <div>Local <p-sortIcon field="deLocaAten"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="deTipoProc">
                                <div>Tipo Proceso <p-sortIcon field="deTipoProc"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="nuDocu">
                                <div>Número Documento <p-sortIcon field="nuDocu"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="feDocu">
                                <div>Fecha Documento<p-sortIcon field="feDocu"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="obDocu">
                                <div>Observaciones<p-sortIcon field="obDocu"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="noUsuaCrea">
                                <div>Usuario Creación <p-sortIcon field="noUsuaCrea"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="feCrea">
                                <div>Fecha Creación<p-sortIcon field="feCrea"></p-sortIcon>
                                </div>
                            </th>
                            <th pSortableColumn="deEsta">
                                <div>Estado <p-sortIcon field="deEsta"></p-sortIcon>
                                </div>
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-comprobante>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="comprobante"></p-tableCheckbox>
                            </td>
                            <td>{{ comprobante.deZonaRegi }}</td>
                            <td>{{ comprobante.deOficRegi }}</td>
                            <td>{{ comprobante.deLocaAten }}</td>
                            <td>{{ comprobante.deTipoProc }}</td>
                            <td>{{ comprobante.idDocuEnvi }}</td>
                            <td>{{ comprobante.feDocu | date:"dd/MM/yy" }}</td>
                            <td class="estilos-concepto">{{ comprobante.obDocu }}</td>
                            <td>{{ comprobante.noUsuaCrea }}</td>
                            <td>{{ comprobante.feCrea | date:"dd/MM/yy HH:mm:ss" }}</td>
                            <td>{{ comprobante.deEsta }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>