.row-button-search {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.row-buttons-maintenance {
    display: flex;
    justify-content: right;
}

.estilos-concepto {
    display: -webkit-box;
    height: 100px;
    line-height: 26px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.right-text {
    text-align: right !important;
}

@media (max-width: 991.98px) {
    .row-buttons-maintenance {       
        justify-content: left;
    }
}

@media (max-width: 575px) {
    .p-button-activar2 {       
        margin-top: 15px;
    }
}

@media (max-width: 417px) {
    .p-button-anular{       
        margin-top: 15px;
    }
}