<p-panel header="Comprobante de Pago - Editar">

    <div [formGroup]="editarComprobante" class="grid">
        <div class="col-1"></div>
        <div class="col-10">

            <div class="grid mt-4">
                <div class="col-12">
                    <div class="div-campo-obligatorio">
                        <span class="campo-obligatorio">(*)</span> <b>Campo obligatorio</b>
                    </div>
                    <p-fieldset legend="Datos Generales">
                        <div class="formgrid grid">
                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Zona Registral <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deZonaRegi" 
                                            filterValue="deZonaRegi"
                                            formControlName="zona"
                                            styleClass="inputfield w-full"
                                            [options]="listaZonaRegistral"
                                            optionLabel="deZonaRegi"
                                            optionValue="coZonaRegi"
                                            #ddlZona>
                                </p-dropdown>
                            </div>
            
                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Oficina Registral <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deOficRegi" 
                                            filterValue="deOficRegi"
                                            formControlName="oficina"
                                            styleClass="inputfield w-full"
                                            [options]="listaOficinaRegistral"
                                            optionLabel="deOficRegi"
                                            optionValue="coOficRegi"
                                            #ddlOficinaRegistral>
                                </p-dropdown>
                            </div>
            
                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Local <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deLocaAten" 
                                            filterValue="deLocaAten"
                                            formControlName="local"
                                            styleClass="inputfield w-full"
                                            [options]="listaLocal"
                                            optionLabel="deLocaAten"
                                            optionValue="coLocaAten"
                                            #ddlLocal>
                                </p-dropdown>
                            </div>
            
                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Tipo Comprobante de Pago <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [disabled]="readTipoRecibo"
                                            [filter]="true" 
                                            filterBy="noTipo" 
                                            filterValue="noTipo"
                                            formControlName="tipoComp"
                                            styleClass="inputfield w-full"
                                            [options]="listaTipoRecibo"
                                            optionLabel="noTipo"
                                            optionValue="idTipo"
                                            (onChange)="onChangeTipoComprobante( $event )"
                                            [class.spinner]="loadingTipoComprobante"
                                            #ddlTipoComprobante>
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="numero">Nro. Comprobante</label>
                                <input pInputText type="text" class="w-full" formControlName="nroComp">
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="fecha">Fecha <span class="campo-obligatorio">(*)</span></label>
                                <div class="p-fluid">
                                    <p-calendar [showIcon]="true" 
                                                appendTo="body" 
                                                inputId="icon"
                                                formControlName="fecha"
                                                [maxDate]="fechaActual"
                                                inputId="idFecha"
                                                inputId="dateformat">
                                    </p-calendar>
                                </div>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Banco <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="cdeInst" 
                                            filterValue=""
                                            formControlName="banco"
                                            styleClass="inputfield w-full"
                                            [options]="listaBancoCargo"
                                            optionLabel="cdeInst"
                                            optionValue="nidInstitucion"
                                            (onChange)="onChangeBanco( $event, false )"
                                            [class.spinner]="loadingBancoCargo" 
                                            [disabled]="loadingBancoCargo"
                                            #ddlBancoCargo>
                                </p-dropdown>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Cuenta Bancaria <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="nuCuenBanc" 
                                            filterValue="nuCuenBanc"
                                            formControlName="nroCuenta"
                                            styleClass="inputfield w-full"
                                            [options]="listaBancoAbono"
                                            optionLabel="nuCuenBanc"
                                            optionValue="nuCuenBanc"
                                            [class.spinner]="loadingCuentaAbono" 
                                            [disabled]="loadingCuentaAbono"
                                            #ddlCuentaAbono>
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="oficina">Número SIAF</label>
                                <input pInputText type="text" class="w-full text-right" formControlName="nroSIAF" (keypress)="validarNumero($event)">
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="monto">Monto <span class="campo-obligatorio">(*)</span></label>
                                <input  pInputText 
                                        type="text" 
                                        formControlName="monto" 
                                        class="w-full text-right"
                                        (blur)="formatearNumero($event)"
                                        (keypress)="validarMonto($event)">
                            </div>

                            <div class="field col-12 xl:col-6 md:col-6">
                                <label for="">Tipo de Operación</label>
                                <span class="p-input-icon-right tipo-operacion">
                                    <i class="pi pi-search icon-search" (click)="abrirVentanaTipoOper()"></i>
                                    <input pInputText type="text" class="w-full" formControlName="tipoOper">
                                </span>
                            </div>
                        </div>

                        <p-fieldset legend="Beneficiario" [style]="{'width':'75%'}">
                            <div class="formgrid grid">
                                <div class="field col-12 xl:col-4 md:col-6">
                                    <label for="">Nro. Documento</label>
                                    <span class="p-input-icon-right tipo-operacion">
                                        <i class="pi pi-search icon-search" (click)="abrirVentanaBeneficiario()"></i>
                                        <input pInputText type="text" class="w-full" formControlName="nuDocu"
                                                (blur)="obtenerBeneficiarioPorDocumento($event)">
                                    </span>
                                </div>

                                <div class="field col-12 xl:col-8 md:col-6">
                                    <label for="">Razón Social/Nombres y Apellidos <span class="campo-obligatorio">(*)</span></label>
                                    <span class="p-input-icon-right tipo-operacion">
                                        <i class="pi pi-search icon-search" (click)="abrirVentanaBeneficiario()"></i>
                                        <input pInputText type="text" class="w-full" formControlName="noRazoSoc" #idRazoSoc
                                                (blur)="obtenerBeneficiarioPorNombre($event)">
                                    </span>
                                </div>
                            </div>
                        </p-fieldset>
                        <br>
                        <p-fieldset legend="Recibo por Honorarios" [style]="{'width':'75%'}">
                            <div class="formgrid grid">
                                <div class="field col-12 xl:col-4 md:col-6">
                                    <label for="monto">Número</label>
                                    <input 
                                        pInputText 
                                        type="text"
                                        class="w-full" 
                                        formControlName="nuRxH"
                                        #numRxH>
                                </div>
    
                                <div class="field col-12 xl:col-4 md:col-6">
                                    <label for="fecha">Fecha</label>
                                    <div class="p-fluid">
                                        <p-calendar [showIcon]="true" 
                                                    appendTo="body" 
                                                    inputId="icon"
                                                    dateFormat="dd/mm/yy"
                                                    formControlName="fechaRxH"
                                                    [maxDate]="fechaActual"
                                                    inputId="dateformat">
                                        </p-calendar>
                                    </div>
                                </div>
    
                                <div class="field col-12 xl:col-4 md:col-6">
                                    <label for="">&nbsp;</label>
                                    <div style="height: 40px; margin-left: 2rem;" class="field-checkbox flex">
                                        <p-checkbox ngClass="flex-initial flex align-items-center justify-content-center"
                                                    [binary]="true"
                                                    inputId="binary"
                                                    formControlName="checked">
                                        </p-checkbox>
                                        <label class="font-bold cursor-pointer" for="binary">Retención</label>
                                    </div>
                                </div>
                            </div>
                        </p-fieldset>
                        <br>
                        <p-fieldset legend="Medios de Pago">
                            <div class="text-center sm:text-right md:text-left mb-3 ml-2 flex-end">
                                <button [disabled]="mediosDePagoArray?.disabled" (click)="addMediosDePago()"
                                        pButton type="button" icon="pi pi-plus"
                                        class="p-button-success flex-initial flex align-items-center justify-content-center"></button>
                            </div>
                            <div class="formgrid grid" *ngFor="let fg of mediosDePago; let i = index" [formGroup]="fg">
                                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                    <label for="">Medios de Pago</label>
                                    <p-dropdown [filter]="true" 
                                                filterBy="cdescri" 
                                                filterValue="cdescri"
                                                formControlName="tipoDocu"
                                                styleClass="inputfield w-full"
                                                [options]="$mediosDePago | async"
                                                optionLabel="cdescri"
                                                optionValue="ccodigoHijo"
                                                (onChange)="onChangeMediosPago( $event, editarComprobante, i )"
                                                [class.spinner]="loadingMediosPago" 
                                                [disabled]="bloquearMedio">
                                    </p-dropdown>
                                </div>

                                <div class="field col-12 xl:col-2 md:col-6">
                                    <label for="monto">Cantidad</label>
                                    <input pInputText type="text" class="w-full text-right" formControlName="cantidad" (keypress)="validarNumero($event)">
                                </div>
    
                                <div class="field col-12 xl:col-3 md:col-6">
                                    <label for="fecha">Número</label>
                                    <input pInputText type="text" class="w-full" formControlName="numero" (keypress)="validarMedioPagoPattern($event)">
                                </div>

                                <div class="field col-12 xl:col-3 md:col-6">
                                    <label for="fecha">Importe</label>
                                    <input pInputText type="text" class="w-full text-right" formControlName="importe" (blur)="formatearNumeroHabe($event)"
                                            (keypress)="validarMonto($event)">
                                </div>

                                <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5" *ngIf="!consultar">
                                    <button [disabled]="mediosDePagoArray?.disabled" *ngIf="i==0" (click)="deleteMediosPago()"
                                            pButton type="button" icon="pi pi-times"
                                            class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                                    <button *ngIf="i!=0" (click)="deleteMediosPago(i)" pButton type="button"
                                            icon="pi pi-times"
                                            class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                                </div>
                            </div>
                        </p-fieldset>

                        <div class="formgrid grid mt-4">
                            <div class="field col-12">
                                <label for="monto">Concepto</label>
                                <textarea [rows]="4" class="w-full" formControlName="concepto" pInputTextarea></textarea>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="grid mt-4">
                <div class="col-12">
                    <p-fieldset legend="Detalle Presupuestal" [toggleable]="true" [collapsed]="true">
                        <div class="text-center sm:text-right md:text-left mb-3 ml-2 flex-end">
                            <button [disabled]="detallePresupuestalArray?.disabled" (click)="addcuentaPresupuestal()"
                                    pButton type="button" icon="pi pi-plus"
                                    class="p-button-success flex-initial flex align-items-center justify-content-center"></button>
                        </div>
                        <div class="formgrid grid" *ngFor="let fg of cuentasPresupuestales; let i = index" [formGroup]="fg">
                            <div class="field col-12 xl:col-2 md:col-6">
                                <label for="">Clasificador</label>
                                <input  pInputText 
                                        type="text" 
                                        formControlName="clasificador" 
                                        class="w-full"
                                        (blur)="buscarCuentabancariaPresupuestalBlur($event,i)"
                                        (keypress)="buscarCuentabancariaPresupuestal($event,$event,i)">
                            </div>

                            <div class="field col-12 xl:col-5 md:col-6">
                                <label for="">Descripción del Clasificador</label>
                                <input pInputText type="text" formControlName="detClasificador" disabled="true" class="w-full">
                            </div>

                            <div class="field col-12 xl:col-2 md:col-6">
                                <label for="">Debe</label>
                                <input 
                                    pInputText 
                                    type="text" 
                                    formControlName="debe" 
                                    class="w-full text-right" 
                                    (keypress)="validarMonto($event)" 
                                    (blur)="formatearNumeroHabe($event)">
                            </div>

                            <div class="field col-12 xl:col-2 md:col-6">
                                <label for="">Haber</label>
                                <input 
                                    pInputText 
                                    type="text" 
                                    formControlName="haber" 
                                    class="w-full text-right" 
                                    (keypress)="validarMonto($event)" 
                                    (blur)="formatearNumeroHabe($event)">
                            </div>
                            
                            <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                                <button [disabled]="detallePresupuestalArray?.disabled" *ngIf="i==0" (click)="deletecuentaPresupuestal()"
                                        pButton type="button" icon="pi pi-times"
                                        class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                                <button *ngIf="i!=0" (click)="deletecuentaPresupuestal(i)" pButton type="button"
                                        icon="pi pi-times"
                                        class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="grid mt-4">
                <div class="col-12">
                    <p-fieldset legend="Detalle Patrimonial" [toggleable]="true" [collapsed]="true">
                        <div class="text-center sm:text-right md:text-left mb-3 ml-2 flex-end">
                            <button [disabled]="detallePatrimonialArray?.disabled" (click)="addcuentaPatrimonial()"
                                    pButton type="button" icon="pi pi-plus"
                                    class="p-button-success flex-initial flex align-items-center justify-content-center"></button>
                        </div>
                        <div class="formgrid grid" *ngFor="let fg of cuentasPatrimoniales; let i = index" [formGroup]="fg">
                            <div class="field col-12 xl:col-2 md:col-6">
                                <label for="">Cuenta</label>
                                <input 
                                    pInputText 
                                    type="text" 
                                    formControlName="cuenta" 
                                    class="w-full"
                                    (blur)="buscarCuentabancariaPatrimonialesBlur($event,i)"
                                    (keypress)="buscarCuentabancariaPatrimoniales($event,$event,i)">
                            </div>

                            <div class="field col-12 xl:col-5 md:col-6">
                                <label for="">Descripción de la Cuenta</label>
                                <input pInputText type="text" formControlName="descripcion" disabled="true" class="w-full">
                            </div>

                            <div class="field col-12 xl:col-2 md:col-6">
                                <label for="">Debe</label>
                                <input 
                                    pInputText 
                                    type="text" 
                                    formControlName="debe" 
                                    class="w-full text-right" 
                                    (keypress)="validarMonto($event)" 
                                    (blur)="formatearNumeroHabe($event)">
                            </div>

                            <div class="field col-12 xl:col-2 md:col-6">
                                <label for="">Haber</label>
                                <input 
                                    pInputText 
                                    type="text" 
                                    formControlName="haber" 
                                    class="w-full text-right" 
                                    (keypress)="validarMonto($event)" 
                                    (blur)="formatearNumeroHabe($event)">
                            </div>
                            
                            <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                                <button [disabled]="detallePatrimonialArray?.disabled" *ngIf="i==0" (click)="deletecuentaPatrimonial()"
                                        pButton type="button" icon="pi pi-times"
                                        class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                                <button *ngIf="i!=0" (click)="deletecuentaPatrimonial(i)" pButton type="button"
                                        icon="pi pi-times"
                                        class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="formgrid grid mt-6">
                <div class="col text-right">
                    <button pButton type="button" 
                            icon="pi pi-check"
                            style="width: 9em;"
                            label="Grabar"
                            class="p-button-buscar"
                            (click)="editarCarta()"
                            >
                    </button>
                    <button pButton type="button" 
                            icon="pi pi-times" 
                            style="width: 9em; margin-left: 1em;"
                            label="Cancelar"
                            class="p-button-anular" 
                            (click)="cancelar()">
                    </button>
                </div>
            </div>
        </div>
    </div>

</p-panel>