.div-campo-obligatorio {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.flex-end {
    display: flex;
    justify-content: end;
    margin-right: 18px;
}

.tipo-operacion {
    width: 100%;
}

.icon-search {
    color: #3B82F6 !important;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}