<div [formGroup]="datos" class="grid mt-4">
    <div class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="zona">Zona Registral</label>
                <input pInputText formControlName="zona" type="text" class="w-full" disabled="true">
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="oficina">Oficina Registral</label>
                <input pInputText formControlName="oficina" type="text" class="w-full" disabled="true">
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="local">Local</label>
                <input pInputText formControlName="local" type="text" class="w-full" disabled="true">
            </div>
        </div>

        <div class="formgrid grid lg:mb-1 md:mb-4 py-2">
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="tipo">Tipo Documento</label>
                <input pInputText formControlName="tipoDocu" type="text" class="w-full" disabled="true">
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="numero">Número</label>
                <div class="">
                    <input pInputText formControlName="nroDocu" type="text" class="w-full" disabled="true">
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="fecha">Fecha</label>
                <div class="">
                    <input 
                        pInputText 
                        formControlName="fecha" 
                        type="text" 
                        disabled="true"
                        class="w-full">
                </div>
            </div>
        </div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-12">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="listaHistorialFirmas"
                         [loading]="loadingHistorialFirmas"
                         [customSort]="true"
                         [paginator]="true" [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}">

                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="deOficRgst">Perfil <p-sortIcon field="deOficRgst"></p-sortIcon></th>
                            <th pSortableColumn="deOficRgst">Nombres y Apellidos <p-sortIcon field="deOficRgst"></p-sortIcon></th>
                            <th pSortableColumn="deSala">Fecha / Hora <p-sortIcon field="deSala"></p-sortIcon></th>
                            <th pSortableColumn="coVocal">Estado <p-sortIcon field="coVocal"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-perfil>
                        <tr>
                            <td>{{ perfil.noPerf }}</td>
                            <td>{{ perfil.noUsua }}</td>
                            <td>{{ perfil.feCrea | date:"dd/MM/yy, h:mm:ss a" }}</td>
                            <td>{{ perfil.deEsta }}</td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        style="width: 9em;"
                        label="Regresar"
                        class="p-button-secondary" 
                        (click)="regresar()">
                </button>
            </div>
        </div>
    </div>
</div>