<div class="grid mt-4">
    <div class="col-12">

        <div>
            <p-fieldset legend="Destinatarios">
                <div class="formgrid grid">
                    <div class="field col-12 xl:col-12 lg:col-4 md:col-6">
                        <p-multiSelect appendTo="body"
                                        [options]="userList" 
                                        [(ngModel)]="selectedUser"
                                        optionLabel="noUsua"
                                        defaultLabel="(SELECCIONAR)"
                                        styleClass="inputfield w-full">
                        </p-multiSelect>
                    </div>
                </div>
                <div class="formgrid grid" *ngIf="title === 'reenviar'">
                    <div class="field col-12 xl:col-12 lg:col-4 md:col-6">
                        <label for="">Observación</label>
                        <div class="p-fluid">
                            <textarea pInputTextarea [(ngModel)]="motivoObservacion" #motivo [rows]="6" class="w-full" maxlength="1000"></textarea>
                            <div class="contadorTexto">{{motivo.value.length}} / {{cantidadMaximaTexto}}</div>
                        </div>
                    </div>
                </div>
            </p-fieldset>
        </div>
        
        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em; margin-left: 1em;"
                        label="Enviar"
                        [loading]="loadingEnviar"
                        class="p-button-buscar"
                        (click)="solicitarEnviarDocumento()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular"
                        (click)="cancelar()">
                </button>
            </div>
        </div>

    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>