.align-items {
    align-items: center;
}

.font-weight {
    font-weight: 700;
}

.separar-inputs {
    margin-bottom: 3rem;
}

.separar-button {
    margin: 10rem 0 7rem;
}

:host ::ng-deep .p-multiselect .p-multiselect-label {
    min-width: 15rem;
    width: 34rem;
}

.contadorTexto {
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    margin-top: 5px;
}
