<div class="grid mt-4" [formGroup]="form">
    <div class="col-12">
        <div class="formgrid grid">
            <div class="field col-12 xl:col-6 md:col-6">
                <label for="">Nombre Tipo de Operación</label>
                <input pInputText type="text" class="w-full" formControlName="noTipoOper">
            </div>

            <div class="text-center sm:text-left md:text-left ml-8 mt-5">
                <button pButton type="button" (click)="buscarTipoOperacion()" label="Buscar"
                            class="p-button-buscar flex-initial flex align-items-center justify-content-center">
                </button>
            </div>
        </div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="card">
            <p-table responsiveLayout="stack" 
                         [value]="listTipoOperacionBandeja"
                         [customSort]="true"
                         [loading]="loadingTipoOper"
                         [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                         responsiveLayout="scroll" currentPageReportTemplate="{{ currentPage }}">
    
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="max-width: 5rem;">#</th>
                            <th pSortableColumn="noTipoOper">Nombre Tipo de Operación<p-sortIcon field="noTipoOper"></p-sortIcon></th>
                        </tr>
                    </ng-template>
    
                    <ng-template pTemplate="body" let-tipoOper>
                        <tr>
                            <td style="max-width: 5rem;">
                                <p-checkbox [value]="tipoOper" [(ngModel)]="selectTipoOper" 
                                                [ngModelOptions]="{standalone: true}">
                                </p-checkbox>
                            </td>
                            <td>{{ tipoOper.noTipoOper }}</td>
                        </tr>
                    </ng-template>
                </p-table>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Aceptar"
                        class="p-button-buscar"
                        (click)="aceptar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>