<div class="grid mt-2">
    <div [formGroup]="formRecaudacionSprl" class="col-12">
        <p-fieldset legend="Datos Generales">
            <div class="formgrid grid">
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Fecha</label>
                    <label class="label-data">{{ this.conciliacionManual.feCncl | date:'dd/MM/yyyy' }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Usuario</label>
                    <label class="label-data">{{ this.conciliacionManual.idUsua }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                    <label>Razón Social</label>
                    <label class="label-data">{{ this.razSocNombre }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Importe</label>
                    <label class="label-data text-right">{{ (this.conciliacionManual.monto !== null) ? this.conciliacionManual.monto.toFixed(2) : '' }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Nro. Orden</label>
                    <label class="label-data">{{ this.conciliacionManual.idPagoLinea }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Nro. Pedido</label>
                    <label class="label-data">{{ this.conciliacionManual.eTicket }}</label>                
                </div>
				<div class="field col-12 md:col-6 xl:col-4">
					<label for="estado">Estado</label>
					<p-dropdown [filter]="true"
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaEstado"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                (onChange)="seleccionarEstado($event)">
                    </p-dropdown>
				</div>
				<div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label></label>
                    <label ></label>                
                </div>
				<div class="field col-12 md:col-6 xl:col-12">
                    <label>Observaciones</label>
                    <div class="p-fluid">
                        <textarea [readonly]="readonly" pInputTextarea formControlName="obCnclSprl" [cols]="10" [rows]="5"></textarea>
                    </div>
                </div>
			</div>
        </p-fieldset>
		<div class="formgrid grid mt-4">
            <div class="col buttons-conciliacion">
                <button pButton type="button" 
                    icon="pi pi-check"
                    style="width: 9em;"
                    label="Grabar"
                    class="p-button-buscar"
                    (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
