<p-panel header="Información para la Distribución">

    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="distribucion" class="col-10">
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnBuscar, codBandeja)" pButton type="button" 
                        (click)="buscarDistribucion()" label="Buscar"class="p-button-buscar">
                </button>
            </div>
			<div class="formgrid grid">
                <div class="field col-12 lg:col-3 md:col-6">
					<label for="zona">Zona Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deZonaRegi" 
                                filterValue="deZonaRegi"
                                formControlName="zona"
                                styleClass="inputfield w-full"
                                [options]="$zonas | async"
                                optionLabel="deZonaRegi"
                                optionValue="coZonaRegi">
                    </p-dropdown>
				</div>

                <div class="field col-12 lg:col-3 md:col-6">
					<label for="fecDes">Fecha Desde</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecDesde" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat">
                        </p-calendar>
                    </div>
				</div>

                <div class="field col-12 lg:col-3 md:col-6">
                    <label for="fecHas">Fecha Hasta</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecHasta" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat">
                        </p-calendar>
                    </div>
				</div>

                <div class="field col-12 lg:col-3 md:col-6">
					<label for="oficina">Tipo de Recaudación</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdescri" 
                                filterValue="cdescri"
                                formControlName="tipoReca"
                                styleClass="inputfield w-full"
                                [options]="$recaudaciones | async"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo">
                    </p-dropdown>
				</div>
			</div>

			<div class="formgrid grid">
                <div class="field col-12 lg:col-3 md:col-6">
					<label for="estado">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="deEstado" 
                                filterValue="deEstado"
                                [options]="$estados"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="deEstado"
                                optionValue="coEstado">
                    </p-dropdown>
				</div>
			</div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="enviadosList"
                         [customSort]="true"
                         [(selection)]="selectedValues"
                         (sortFunction)="customSort($event)"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]">

                    <ng-template pTemplate="caption">
                        <div class="col text-right">
                            <button *ngIf="showButtonAct(BtnExportar, codBandeja)" type="button" pButton pRipple icon="pi pi-file-excel" 
                                    (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="Exportar" tooltipPosition="bottom">
                            </button>
                            <button *ngIf="showButtonAct(BtnImportar, codBandeja)" type="button" pButton pRipple icon="pi pi-file-excel" 
                                    (click)="importExcel()" class="p-button-primary mr-2"  pTooltip="Importar" tooltipPosition="bottom">
                            </button>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="deZonaRegi">Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon></th>
                            <th pSortableColumn="etipoReca">Tipo de Recaudación <p-sortIcon field="etipoReca"></p-sortIcon></th>
                            <th pSortableColumn="feDistMont">Fecha <p-sortIcon field="feDistMont"></p-sortIcon></th>
                            <th pSortableColumn="imRegu">Regularizaciones <p-sortIcon field="imRegu"></p-sortIcon></th>
                            <th pSortableColumn="imDevo">Devoluciones <p-sortIcon field="imDevo"></p-sortIcon></th>    
                            <th pSortableColumn="imAnul">Dev. Anulac. Electrónicas <p-sortIcon field="imAnul"></p-sortIcon></th>    
                            <th *ngIf="tipoRecaud === '001' || tipoRecaud === ''" pSortableColumn="imContCarg">MACMYPE <p-sortIcon field="imContCarg"></p-sortIcon></th>    
                            <th *ngIf="tipoRecaud === '002'" pSortableColumn="imContCarg">Contra Cargos <p-sortIcon field="imContCarg"></p-sortIcon></th>    
                            <th pSortableColumn="inRegi">Estado <p-sortIcon field="inRegi"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-info>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="info"></p-tableCheckbox>
                            </td>
                            <td>{{ info.deZonaRegi }}</td>
                            <td>{{ info.etipoReca }}</td>
                            <td>{{ info.feDistMont | date: 'dd/MM/yyyy' }}</td>
                            <td style="text-align: center;">{{ formatearMontoImporte(info.imRegu)  }}</td>
                            <td style="text-align: center;">{{ formatearMontoImporte(info.imDevo) }}</td>
                            <td style="text-align: center;">{{ formatearMontoImporte(info.imAnul) }}</td>
                            <td style="text-align: center;">{{ formatearMontoImporte(info.imContCarg) }}</td>
                            <td>{{ info.inRegi }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>