<div class="grid mt-4">
    <div class="col-12">
        <div class="card">
            <p-table responsiveLayout="stack" 
                     [value]="documentos"
                     [customSort]="true" [showCurrentPageReport]="true" responsiveLayout="scroll">

                <ng-template pTemplate="header">
                    <tr>
                        <th>Zona Registral</th>
                        <th>Oficina Registral</th>
                        <th>Local</th>
                        <th>Tipo Documento</th>    
                        <th>Nro. Documento</th>    
                        <th>Fecha</th>
                        <th></th>    
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-documento>
                    <tr>
                        <td>{{ documento.deZonaRegi }}</td>
                        <td>{{ documento.deOficRegi }}</td>
                        <td>{{ documento.deLocaAten }}</td>
                        <td>{{ documento.deTipoDocu }}</td>
                        <td>{{ documento.nuDocuOrig }}</td>
                        <td>{{ documento.feDocu | date:"dd/MM/yy" }}</td>
                        <td>
                            <button pButton type="button" 
                                    icon="pi pi-eye"
                                    label="Ver"
                                    class="p-button-buscar" (click)="verDocumento( documento.idGuidDocu )" >
                            </button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Firmar"
                        [loading]="isLoading"
                        class="p-button-buscar" (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" (click)="cancelar()"  >
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>