<p-panel header="Consolidación Bancaria Recaudación por Transferencia vía CCI - SPRL - {{ titulo }}">
    <div class="grid mt-0">
        <div class="col-1"></div>
        <div class="col-10">
            <p-fieldset legend="{{ titulo }}">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Zona Registral</label>
                        <label class="label-data">{{ (recaudacionCciSprl) ? recaudacionCciSprl.deZonaRegi : '' }}</label>                
                    </div>
                     <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Oficina Registral</label>    
                        <label class="label-data">{{ (recaudacionCciSprl) ? recaudacionCciSprl.deOficRegi : '' }}</label>            
                    </div>            
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="local">Local</label>
                        <label class="label-data">{{ (recaudacionCciSprl) ? recaudacionCciSprl.deLocaAten : '' }}</label> 
                    </div> 
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="fecha">Fecha</label>
                        <label class="label-data">{{ fecha }}</label>
                    </div>
                </div>
                <ng-container *ngIf="mostrarBloque">
                    <div class="formgrid grid">
                        <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                            <label for="oficina">Nombre del archivo Estado Bancario (.xlsx)</label>
                            <label class="label-data" *ngIf="idGuidExcel == ' '">{{ nombreArchivoExcel }}</label>                
                            <label class="label-data" *ngIf="idGuidExcel != ' '">
                                <a target="_blank" href="{{ visorEndpoint(idGuidExcel) }}">
                                    {{ nombreArchivoExcel }}
                                </a>
                            </label>                
                        </div>
                    </div>
                </ng-container> 
            </p-fieldset>            
            <div class="formgrid grid mt-20">
                <div class="field col-12">
						<p-tabView (onChange)="handleChange($event)">
                        <p-tabPanel header="Totales">
							<p-fieldset legend="Recaudación SPRL">
								<div class="formgrid grid">
									<div class="field col-12 md:col-6 xl:col-3 div-readonly">
										<label for="oficina">Total Registros</label>
										<label class="label-data text-right">{{ sprlTotalRegis }}</label>                
									</div>
									 <div class="field col-12 md:col-6 xl:col-3 div-readonly">
										<label for="oficina">Total Recaudación</label>    
										<label class="label-data text-right">{{ sprlTotalRecaudacion }}</label>            
									</div>            
								</div>
							</p-fieldset>  
                            &nbsp;
							<p-fieldset legend="Estado Bancario">
								<div class="formgrid grid">
									<div class="field col-12 md:col-6 xl:col-3 div-readonly">
										<label for="oficina">Total Registros</label>
										<label class="label-data text-right">{{ bancarioTotalRegis }}</label>                
									</div>
									 <div class="field col-12 md:col-6 xl:col-3 div-readonly">
										<label for="oficina">Total Cargos</label>    
										<label class="label-data text-right">{{ bancarioTotalCargos }}</label>            
									</div>  
									<div class="field col-12 md:col-6 xl:col-3 div-readonly">
										<label for="oficina">Total Abonos</label>    
										<label class="label-data text-right">{{ bancarioTotalAbonos }}</label>            
									</div>            
								</div>
							</p-fieldset>  
                            &nbsp;
								<div class="formgrid grid">
									<div class="field col-12 md:col-6 xl:col-3 div-readonly">
										<label for="oficina">Diferencia</label>
										<label class="label-data text-right">{{ diferencia}}</label>                
									</div>
								</div>
                         </p-tabPanel>
                        <p-tabPanel header="Estado Bancario MEF">
                            <div class="list-files-recaudacion-me">
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFile(1)"
                                        *ngIf="showButtonAct(BtnDescargar_Conciliados, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar conciliados</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFile(0)"
                                        *ngIf="showButtonAct(BtnDescargar_No_Conciliados, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar no conciliados</span>                              
                                 </div>
                                 <div>
                                    <ng-container *ngIf="esConsultarRegistro === false">
                                        <app-div-conciliar-por-monto-cci-mef 
                                            [servicioDePago]="servicioOperador" 
                                            (eventDataConciliarMonto)="obtenerDataConciliarMonto($event)"
                                            [showButton]="showButtonAct(BtnDescargar_No_Conciliados, codBandeja)">
                                        </app-div-conciliar-por-monto-cci-mef> 
                                    </ng-container>                                                          
                                </div>
                            </div>
                         </p-tabPanel>                         
                        <p-tabPanel header="Transacciones SPRL">
                            <div class="list-files-recaudacion-me">
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(1)"
                                        *ngIf="showButtonAct(BtnDescargar_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar conciliados</span>                              
                                </div>
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(0)"
                                        *ngIf="showButtonAct(BtnDescargar_No_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar no conciliados</span>                              
                                </div>
                                <div>
                                    <ng-container *ngIf="esConsultarRegistro === false">
                                        <app-div-conciliar-por-monto-cci-mef 
                                            [servicioDePago]="servicioOperador" 
                                            (eventDataConciliarMonto)="obtenerDataConciliarMonto2($event)"
                                            [showButton]="showButtonAct(BtnDescargar_No_Conciliados, codBandeja)">
                                        </app-div-conciliar-por-monto-cci-mef> 
                                    </ng-container>                                                          
                                </div>
							</div>      						
                        </p-tabPanel>
                        
                    </p-tabView>
                    <div class="formgrid grid mt-5">
                        <div class="col buttons-recaudacion-me">                            
                            <button pButton type="button" 
                                    icon="pi pi-times" 
                                    style="width: 9em; margin-left: 1em;"
                                    label="Cancelar"
                                    class="p-button-anular" 
                                    (click)="cancelar()">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>