<div class="head">
    <div class="header-content">
        <div class="head-content-left">
            <img src="assets/img/sistema/logo-sunarp.png" width="140" height="78">
        </div>
    </div>
</div>
