<form class="div-conciliar-por-monto-mef" [formGroup]="form" autocomplete="off">    
    <div class="div-conciliar-por-monto-mef__item">
        <label>Item</label>                                
        <input 
            pInputText
            id="inputItemMef"
            type="text"
            class="text-right"
            inputmode="numeric"
            maxlength="10"
            formControlName="nuSecuMef"                                                    
            (keypress)="funciones.IsNumberKey($event)"
        />
    </div>                         
    <button 
        *ngIf="showButton"
        pButton 
        pRipple 
        icon="pi pi-check" 
        type="button" 
        label="Editar" 
        class="p-button-outlined p-button-secondary"
        (click)="conciliarPorMontoMef()">
    </button>
</form>
