.p-dialog-header {
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.p-dialog-content {
  overflow-y: hidden; 
  padding-left: 40px !important;
  padding-right: 40px !important;
}

.buttons-recaudacion-me {
  display: flex;
  justify-content: end;
}

.row-operador {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 8px;
}

.row-file-excel {
  display: flex;
  align-items: center;
  width: 800px;
  gap: 10px;
  &__right-header {
    width: 150px;       
    margin-bottom: 5px;
  }
  &__right-file {
    width: 150px;
    display: flex;
    align-items: center;
    border: 1px solid #85929E;
    height: 40px; 
    border-radius: 6px;
    padding-left: 5px;
    background-color: #D6DBDF;       
  }
  &__left{
    width: 650px;
    display: flex;
    align-items: center;
    gap: 5px;
    &-name-file{
      display: flex;
      align-items: center;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      border: 1px solid #BFC9CA;
      border-radius: 6px;
      height: 40px;
    }    
  }
}

.div-readOnly {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1430px) {
  .row-file-excel {
    width: 700px;
  }
}

@media screen and (max-width: 1300px) {
  .row-file-excel {
    width: 600px;
  }
}

@media screen and (max-width: 1190px) {
  .row-file-excel {
    width: 500px;
  }
}

@media screen and (max-width: 1070px) {
  .row-file-excel {
    width: 400px;
  }
}

@media screen and (max-width: 750px) {
  .row-file-excel {
    width: 300px;
  }
}

@media (max-width: 1199.98px) {
  .p-dialog {
    width: 85% !important;
  }
}

@media (max-width: 767.98px) {
  .buttons-recaudacion-me {      
      justify-content: center;
  }
}