<div class="grid mt-4">
    <div class="col-12">

        <div [formGroup]="form" class="formgrid grid">
            <div class="field col col-12 md:col-4">
                <label for="">Usuario</label>
                <input formControlName="coUsua" pInputText type="text" class="w-full">
            </div>

            <div class="field col col-12 md:col-6">
                <label for="">Nombres y Apellidos</label>
                <input formControlName="nomUsua" pInputText type="text" class="w-full">
            </div>
        </div>

        <div class="mt-4">
            <p-fieldset legend="Perfiles">
                <div *ngFor="let perfil of perfilList" class="field-checkbox">
                    <p-checkbox [value]="perfil" [(ngModel)]="selectedPerfil" [inputId]="perfil.coPerf" [disabled]="isDisabled"></p-checkbox>
                    <label [for]="perfil.coPerf">{{perfil.noPerf}}</label>
                </div>
            </p-fieldset>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Grabar"
                        [loading]="isLoading"
                        [disabled]="isDisabled"
                        class="p-button-buscar" 
                        (click)="grabarPerfiles()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>