<div class="grid mt-4">
    <div [formGroup]="form" class="col-12">
        <div class="formgrid grid">
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="oficina">Tipo de Documento</label>
                <div class="">
                    <input readonly formControlName="deDocu" pInputText type="text" class="w-full">
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="oficina">Perfil</label>
                <div class="">
                    <input readonly formControlName="perfil" pInputText type="text" class="w-full">
                </div>
            </div>
        </div>

        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="col-12">
                <p-fieldset legend="Periodos">
                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 flex-end">
                        <button [disabled]="periodosArray?.disabled" (click)="addPeriodos()"
                                pButton type="button" icon="pi pi-plus"
                                class="p-button-success flex-initial flex align-items-center justify-content-center"></button>
                    </div>
                    <div class="formgrid grid" *ngFor="let fg of periodos; let i = index" [formGroup]="fg">
                        <div class="field col col-12 md:col-3">
                            <label for="">Usuario</label>
                            <p-dropdown appendTo="body"
                                        [filter]="true"
                                        filterBy="noUsua" 
                                        filterValue="noUsua"
                                        [options]="$usuarios | async"
                                        styleClass="inputfield w-full"
                                        formControlName="usuario"
                                        optionLabel="noUsua"
                                        optionValue="coUsua">
                            </p-dropdown>
                        </div>

                        <div class="field col col-12 md:col-2">
                            <label for="">Fecha Desde</label>
                            <div class="p-fluid">
                                <p-calendar [showIcon]="true" 
                                            appendTo="body"
                                            inputId="icon"
                                            formControlName="fecDesde" 
                                            dateFormat="dd/mm/yy"
                                            inputId="dateformat">
                                </p-calendar>
                            </div>
                        </div>

                        <div class="field col col-12 md:col-2">
                            <label for="">Fecha Hasta</label>
                            <div class="p-fluid">
                                <p-calendar [showIcon]="true" 
                                            appendTo="body"
                                            inputId="icon"
                                            formControlName="fecHasta" 
                                            dateFormat="dd/mm/yy"
                                            inputId="dateformat">
                                </p-calendar>
                            </div>
                        </div>

                        <div class="field-checkbox flex margin-check">
                            <p-checkbox formControlName="check" [binary]="true" (onChange)="onChangeClickCheck($event, form, i)"
                                        ngClass="flex-initial flex align-items-center justify-content-center">
                            </p-checkbox>
                        </div>

                        <div class="field col col-12 md:col-3">
                            <label for="">Motivo de Licencia</label>
                            <p-dropdown appendTo="body"
                                        [filter]="true"
                                        filterBy="cdescri" 
                                        filterValue="cdescri"
                                        [options]="$motivos | async"
                                        styleClass="inputfield w-full"
                                        formControlName="motivo"
                                        optionLabel="cdescri"
                                        optionValue="ccodigoHijo">
                            </p-dropdown>
                        </div>
                        
                        <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5" *ngIf="!consultar">
                            <button [disabled]="periodosArray?.disabled" *ngIf="i==0" (click)="deletePeriodos()"
                                    pButton type="button" icon="pi pi-times"
                                    class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                            <button *ngIf="i!=0" (click)="deletePeriodos(i)" pButton type="button"
                                    icon="pi pi-times"
                                    class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>

        <div class="formgrid grid mt-4">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Grabar"
                        [loading]="isLoading"
                        class="p-button-buscar" 
                        (click)="grabar()">
                </button>
                <button pButton type="button"
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>