<div class="grid mt-2">
    <div [formGroup]="formRecaudacionNiubiz" class="col-12">
        <p-fieldset legend="Datos Generales">
            <div class="formgrid grid">
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>R.U.C</label>
                    <label class="label-data">{{ this.conciliacionManual.nuRuc }}</label>                
                </div>
                <div class="field col-12 md:col-4 xl:col-4 div-readonly">
                    <label>Razón Social</label>
                    <label class="label-data">{{ this.conciliacionManual.noRazoSoci }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>Cod. Comercio</label>
                    <label class="label-data">{{ this.conciliacionManual.coCome }}</label>                
                </div>
                <div class="field col-12 md:col-3 xl:col-3 div-readonly">
                    <label>Nombre Comercial</label>
                    <label class="label-data">{{ this.conciliacionManual.noCome }}</label>                
                </div>
                <div class="field col-12 md:col-3 xl:col-3 div-readonly">
                    <label>Fecha y Hora Operación</label>
                    <label class="label-data">{{ this.conciliacionManual.feOper }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>Fecha Déposito</label>
                    <label class="label-data">{{ this.conciliacionManual.feDepo }}</label>                
                </div>
                <div class="field col-12 md:col-5 xl:col-5 div-readonly">
                    <label>Tipo de Operación</label>
                    <label class="label-data">{{ this.conciliacionManual.noTipoOper }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                    <label>Tarjeta</label>
                    <label class="label-data">{{ this.conciliacionManual.nuTarj }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>Origen Tarjeta</label>
                    <label class="label-data">{{ this.conciliacionManual.inOrigTarj }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>Tipo de Tarjeta</label>
                    <label class="label-data">{{ this.conciliacionManual.deTipoTarj }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>Marca Tarjeta</label>
                    <label class="label-data">{{ this.conciliacionManual.noMarcTarj }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>Moneda</label>
                    <label class="label-data">{{ this.conciliacionManual.noMone }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>Importe Operación</label>
                    <label class="label-data text-right">{{ this.imOper }}</label>                
                </div>
                <div class="field col-12 md:col-3 xl:col-3 div-readonly">
                    <label>Es DCC</label>
                    <label class="label-data">{{ this.conciliacionManual.deEsDcc }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>Monto DCC</label>
                    <label class="label-data text-right">{{ this.imDcc }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>Comisión Total</label>
                    <label class="label-data text-right">{{ this.imComiTota }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>Comisión NIUBIZ</label>
                    <label class="label-data text-right">{{ this.imComiNiub }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>I.G.V.</label>
                    <label class="label-data text-right">{{ this.im_igv }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>Suma Depositada</label>
                    <label class="label-data text-right">{{ this.imSumaDepo }}</label>                
                </div>
                <div class="field col-12 md:col-1 xl:col-1 div-readonly">
                    <label>Estado</label>
                    <label class="label-data">{{ this.conciliacionManual.deEsta }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                    <label>ID Operación</label>
                    <label class="label-data">{{ this.conciliacionManual.idOper }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                    <label>Cuenta Banco Pagador</label>
                    <label class="label-data">{{ this.conciliacionManual.coCuenBancPaga }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                    <label>Banco Pagador</label>
                    <label class="label-data">{{ this.conciliacionManual.noBancPaga }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>Voucher/Pedido</label>
                    <label class="label-data">{{ this.conciliacionManual.nuVouc }}</label>                
                </div>
                <div class="field col-12 md:col-2 xl:col-2 div-readonly">
                    <label>AUTH</label>
                    <label class="label-data">{{ this.conciliacionManual.nuAuth }}</label>                
                </div>
				<div class="field col-12 md:col-6 xl:col-4">
					<label for="estado">Estado</label>
					<p-dropdown [filter]="true"
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaEstado"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo">
                    </p-dropdown>
				</div>
				<div class="field col-12 md:col-6 xl:col-12">
                    <label>Observaciones</label>
                    <div class="p-fluid">
                        <textarea pInputTextarea formControlName="obCnclNiub" [cols]="10" [rows]="5"></textarea>
                    </div>
                </div>
			</div>
        </p-fieldset>
		<div class="formgrid grid mt-4">
            <div class="col buttons-conciliacion text-right">
                <button pButton type="button" 
                    icon="pi pi-check"
                    style="width: 9em;"
                    label="Grabar"
                    class="p-button-buscar"
                    (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
