<p-panel header="Comprobante de Pago - consultar">

    <div [formGroup]="consultarRecibo" class="grid">
        <div class="col-1"></div>
        <div class="col-10">

            <div class="grid mt-4">
                <div class="col-12">
                    <p-fieldset legend="Datos Generales">
                        <div class="formgrid grid">
                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Zona Registral</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deZonaRegi" 
                                            filterValue="deZonaRegi"
                                            formControlName="zona"
                                            styleClass="inputfield w-full"
                                            [options]="listaZonaRegistral"
                                            optionLabel="deZonaRegi"
                                            optionValue="coZonaRegi">
                                </p-dropdown>
                            </div>
            
                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Oficina Registral</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deOficRegi" 
                                            filterValue="deOficRegi"
                                            formControlName="oficina"
                                            styleClass="inputfield w-full"
                                            [options]="listaOficinaRegistral"
                                            optionLabel="deOficRegi"
                                            optionValue="coOficRegi">
                                </p-dropdown>
                            </div>
            
                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Local</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deLocaAten" 
                                            filterValue="deLocaAten"
                                            formControlName="local"
                                            styleClass="inputfield w-full"
                                            [options]="listaLocal"
                                            optionLabel="deLocaAten"
                                            optionValue="coLocaAten">
                                </p-dropdown>
                            </div>
            
                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Tipo Comprobante de Pago</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="noTipo" 
                                            filterValue="noTipo"
                                            formControlName="tipoComp"
                                            styleClass="inputfield w-full"
                                            [options]="listaTipoRecibo"
                                            optionLabel="noTipo"
                                            optionValue="idTipo">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="numero">Nro. Comprobante</label>
                                <input pInputText type="text" class="w-full" formControlName="nroComp">
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="fecha">Fecha</label>
                                <div class="p-fluid">
                                    <p-calendar [showIcon]="true" 
                                                appendTo="body" 
                                                inputId="icon"
                                                formControlName="fecha"
                                                [maxDate]="fechaActual"
                                                inputId="idFecha"
                                                inputId="dateformat">
                                    </p-calendar>
                                </div>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Banco</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="cdeInst" 
                                            filterValue=""
                                            formControlName="banco"
                                            styleClass="inputfield w-full"
                                            [options]="listaBancoCargo"
                                            optionLabel="cdeInst"
                                            optionValue="nidInstitucion">
                                </p-dropdown>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Cuenta Bancaria</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="nuCuenBanc" 
                                            filterValue="nuCuenBanc"
                                            formControlName="nroCuenta"
                                            styleClass="inputfield w-full"
                                            [options]="listaBancoAbono"
                                            optionLabel="nuCuenBanc"
                                            optionValue="nuCuenBanc">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="oficina">Número SIAF</label>
                                <input pInputText type="text" class="w-full text-right" formControlName="nroSIAF">
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="monto">Monto</label>
                                <input  pInputText 
                                        type="text" 
                                        formControlName="monto" 
                                        class="w-full text-right">
                            </div>

                            <div class="field col-12 xl:col-6 md:col-6">
                                <label for="">Tipo de Operación</label>
                                <span class="p-input-icon-right tipo-operacion">
                                    <i class="pi pi-search icon-search"></i>
                                    <input pInputText type="text" class="w-full" formControlName="tipoOper">
                                </span>
                            </div>
                        </div>

                        <p-fieldset legend="Beneficiario" [style]="{'width':'75%'}">
                            <div class="formgrid grid">
                                <div class="field col-12 xl:col-4 md:col-6">
                                    <label for="">Nro. Documento</label>
                                    <span class="p-input-icon-right tipo-operacion">
                                        <i class="pi pi-search icon-search"></i>
                                        <input pInputText type="text" class="w-full" formControlName="nuDocu">
                                    </span>
                                </div>

                                <div class="field col-12 xl:col-8 md:col-6">
                                    <label for="">Razón Social/Nombres y Apellidos <span class="campo-obligatorio">(*)</span></label>
                                    <span class="p-input-icon-right tipo-operacion">
                                        <i class="pi pi-search icon-search"></i>
                                        <input pInputText type="text" class="w-full" formControlName="noRazoSoc" #idRazoSoc>
                                    </span>
                                </div>
                            </div>
                        </p-fieldset>
                        <br>
                        <p-fieldset legend="Recibo por Honorarios" [style]="{'width':'75%'}">
                            <div class="formgrid grid">
                                <div class="field col-12 xl:col-4 md:col-6">
                                    <label for="monto">Número</label>
                                    <input 
                                        pInputText 
                                        type="text"
                                        class="w-full" 
                                        formControlName="nuRxH"
                                        #numRxH>
                                </div>
    
                                <div class="field col-12 xl:col-4 md:col-6">
                                    <label for="fecha">Fecha</label>
                                    <div class="p-fluid">
                                        <p-calendar [showIcon]="true" 
                                                    appendTo="body" 
                                                    inputId="icon"
                                                    dateFormat="dd/mm/yy"
                                                    formControlName="fechaRxH"
                                                    inputId="dateformat">
                                        </p-calendar>
                                    </div>
                                </div>
    
                                <div class="field col-12 xl:col-4 md:col-6">
                                    <label for="">&nbsp;</label>
                                    <div style="height: 40px; margin-left: 2rem;" class="field-checkbox flex">
                                        <p-checkbox ngClass="flex-initial flex align-items-center justify-content-center"
                                                    [binary]="true"
                                                    inputId="binary"
                                                    formControlName="checked">
                                        </p-checkbox>
                                        <label class="font-bold cursor-pointer" for="binary">Retención</label>
                                    </div>
                                </div>
                            </div>
                        </p-fieldset>
                        <br>
                        <p-fieldset legend="Medios de Pago">
                            <div class="formgrid grid" *ngFor="let fg of mediosDePago; let i = index" [formGroup]="fg">
                                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                    <label for="">Medios de Pago</label>
                                    <input pInputText type="text" class="w-full" formControlName="tipoDocu">
                                </div>

                                <div class="field col-12 xl:col-3 md:col-6">
                                    <label for="monto">Cantidad</label>
                                    <input pInputText type="text" class="w-full text-right" formControlName="cantidad" (keypress)="validarNumero($event)">
                                </div>
    
                                <div class="field col-12 xl:col-3 md:col-6">
                                    <label for="fecha">Número</label>
                                    <input pInputText type="text" class="w-full" formControlName="numero">
                                </div>

                                <div class="field col-12 xl:col-3 md:col-6">
                                    <label for="fecha">Importe</label>
                                    <input pInputText type="text" class="w-full text-right" formControlName="importe" (blur)="formatearNumeroHabe($event)"
                                            (keypress)="validarMonto($event)">
                                </div>
                            </div>
                        </p-fieldset>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12">
                                <label for="monto">Concepto</label>
                                <textarea [rows]="4" class="w-full" formControlName="concepto" pInputTextarea></textarea>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="grid mt-4">
                <div class="col-12">
                    <p-fieldset legend="Detalle Presupuestal" [toggleable]="true" [collapsed]="true">
                        <div class="formgrid grid" *ngFor="let fg of cuentasPresupuestales; let i = index" [formGroup]="fg">
                            <div class="field col-12 xl:col-2 md:col-6">
                                <label for="">Clasificador</label>
                                <input  pInputText 
                                        type="text" 
                                        formControlName="clasificador" 
                                        class="w-full">
                            </div>

                            <div class="field col-12 xl:col-5 md:col-6">
                                <label for="">Descripción del Clasificador</label>
                                <input pInputText type="text" formControlName="detClasificador" class="w-full">
                            </div>

                            <div class="field col-12 xl:col-2 md:col-6">
                                <label for="">Debe</label>
                                <input pInputText type="text" formControlName="debe" class="w-full text-right">
                            </div>

                            <div class="field col-12 xl:col-2 md:col-6">
                                <label for="">Haber</label>
                                <input pInputText type="text" formControlName="haber" class="w-full text-right">
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="grid mt-4">
                <div class="col-12">
                    <p-fieldset legend="Detalle Patrimonial" [toggleable]="true" [collapsed]="true">
                        <div class="formgrid grid" *ngFor="let fg of cuentasPatrimoniales; let i = index" [formGroup]="fg">
                            <div class="field col-12 xl:col-2 md:col-6">
                                <label for="">Cuenta</label>
                                <input 
                                    pInputText 
                                    type="text" 
                                    formControlName="cuenta" 
                                    class="w-full">
                            </div>

                            <div class="field col-12 xl:col-5 md:col-6">
                                <label for="">Descripción de la Cuenta</label>
                                <input pInputText type="text" formControlName="descripcion" class="w-full">
                            </div>

                            <div class="field col-12 xl:col-2 md:col-6">
                                <label for="">Debe</label>
                                <input pInputText type="text" formControlName="debe" class="w-full text-right" (keypress)="validarMonto($event)" (blur)="formatearNumeroHabe($event)">
                            </div>

                            <div class="field col-12 xl:col-2 md:col-6">
                                <label for="">Haber</label>
                                <input pInputText type="text" formControlName="haber" class="w-full text-right" (keypress)="validarMonto($event)" (blur)="formatearNumeroHabe($event)">
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="formgrid grid mt-6">
                <div class="col text-right">
                    <button pButton type="button"
                            icon="pi pi-undo" 
                            style="width: 9em;"
                            label="Regresar"
                            class="p-button-secondary ml-3"
                            (click)="cancelar()">
                    </button>
                </div>
            </div>
        </div>
    </div>

</p-panel>