<div [formGroup]="sustento" class="grid mt-4">
    <div class="col-12">
        <div class="formgrid grid">
            <div class="field col-12 sm:col-12 lg:col-6 lg:mr-4">
                <label for="zona">Tipo de Registro</label>
                <input readonly pInputText formControlName="tipoDocumento" type="text" class="w-full">
            </div>
            <div class="field col-12 sm:col-12 lg:col-3">
                <label for="fecha">Fecha</label>
                <input readonly pInputText formControlName="fecha" type="text" class="w-full">
            </div>
        </div>

        <div class="formgrid grid mt-4">
            <div class="field col-12 md:col-10">
                <label for="documentos">Sustentos</label>
                <app-upload (uploaded)="addUploadedFile( $event )" (onDelete)="deleteUploaded($event)"
                            [nroBandeja]="bandeja" [nroAdd]="add" [nroDel]="delete" [disabled]="isDisabled"
                            [disabledDelete]="isDisabled" [multiple]="true">
                </app-upload>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        [disabled]="isDisabled"
                        [loading]="isLoading"
                        label="Grabar"
                        class="p-button-buscar"
                        (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>