<p-panel header="Perfiles">

    <div class="grid mt-4">
        <div class="col-1"></div>
		<div [formGroup]="form" class="col-10">
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnBuscar, codBandeja)" pButton type="button" label="Buscar" 
                        (click)="buscaBandeja()" class="p-button-buscar mr-3">
                </button>
            </div>
			<div class="formgrid grid">
                <div class="field col-12 xl:col-3 lg:col-5 md:col-6">
					<label for="oficina">Nombre del Perfil</label>
					<input pInputText formControlName="noPerf" type="text" class="w-full">
				</div>

                <div class="field col-12 xl:col-3 lg:col-5 md:col-6">
					<label for="oficina">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="deEstado"
                                filterValue="deEstado"
                                [options]="$estado"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="deEstado"
                                optionValue="coEstado">
                    </p-dropdown>
				</div>
			</div>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-4">
                        <button pButton pTooltip="Nuevo" tooltipPosition="top" icon="pi pi-file" 
                                *ngIf="showButtonAct(BtnNuevo, codBandeja)" (click)="nuevoPerfil()" class="p-button-nuevo mr-3"> 
                        </button>
                        <button pButton pTooltip="Editar" tooltipPosition="top" icon="pi pi-pencil" 
                                *ngIf="showButtonAct(BtnEditar, codBandeja)" (click)="editOrView('edit')" [disabled]="disableEdit" class="p-button-editar mr-3">
                        </button>
                        <button pButton pTooltip="Anular" tooltipPosition="top" icon="pi pi-times" 
                                *ngIf="showButtonAct(BtnAnular, codBandeja)" (click)="anularPerfiles()" [loading]="loadingAnu" class="p-button-anular mr-3">
                        </button>
                        <button pButton pTooltip="Activar" tooltipPosition="top" icon="pi pi-power-off" 
                                *ngIf="showButtonAct(BtnActivar, codBandeja)" (click)="activarPerfiles()" [loading]="loadingAct" class="p-button-activar mr-3">
                        </button>
                        <button pButton pTooltip="Consultar registro" tooltipPosition="top" icon="pi pi-info-circle"
                                *ngIf="showButtonAct(BtnConsultar, codBandeja)" (click)="editOrView('view')" class="p-button-consultar">
                        </button>
                    </div>
                    <div class="col-8 text-right">
                        <button pButton pTooltip="Estados del documento" tooltipPosition="top" icon="pi pi-list"
                                *ngIf="showButtonAct(BtnAsignar_Opciones, codBandeja)" (click)="asignarEstadosDocumento()" class="p-button-autorizar mr-3">
                        </button>
                        <button pButton pTooltip="Asignar opciones" tooltipPosition="top" icon="pi pi-th-large" 
                                *ngIf="showButtonAct(BtnAsignar_Opciones, codBandeja)" (click)="asignarOpciones('edit')" class="p-button-activar">
                        </button>
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="enviadosList"
                         (sortFunction)="customSort($event)"
                         [customSort]="true"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedValues"
                         [loading]="loadingPerfiles"
                         [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[10,20,30]">

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="noPerf">Nombre del Perfil <p-sortIcon field="noPerf"></p-sortIcon></th>
                            <th class="text-center" pSortableColumn="caUsua">Total de Usuarios <p-sortIcon field="caUsua"></p-sortIcon></th>
                            <th pSortableColumn="deEstd">Estado <p-sortIcon field="deEstd"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-perfil>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="perfil"></p-tableCheckbox>
                            </td>
                            <td>{{ perfil.noPerf }}</td>
                            <td class="text-center">{{ perfil.caUsua }}</td>
                            <td>{{ perfil.deEstd }}</td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>