<div class="grid">
    <div class="col-12">

        <div class="" id="borde">
            <div class="formgrid grid mt-2">
                <div class="field col-12 sm:col-12 lg:col-12">
                    <div class="">
                        <p style="font-size: medium;">
                            a) Un Comprobante de Pago en estado <b>No Utilizado</b> puede ser actualizado por todos los usuarios.
                        </p>
                        <p style="font-size: medium;">
                            b) Si Ud. desea que solo un usuario pueda actualizarlo, debe seleccionar un usuario en la lista.
                        </p>
                    </div>
                </div>
            </div>
    
            <div class="formgrid grid">
                <div class="field col-12 sm:col-6 lg:col-6 p-dropdown-loading">
                    <label for="zona">Usuarios</label>
                    <p-dropdown appendTo="body"
                                [filter]="true" 
                                filterBy="noUsua" 
                                filterValue="noUsua"
                                [(ngModel)]="codigoUsuario"
                                styleClass="inputfield w-full"
                                [options]="listaUsuarios"
                                optionLabel="noUsua"
                                optionValue="coUsua"
                                [class.spinner]="loadingUsuario">
                    </p-dropdown>
                </div>
            </div>
        </div>


        <div class="formgrid grid mt-4">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Aceptar"
                        class="p-button-buscar"
                        (click)="grabar()"
                        >
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>

    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>