<p-divider></p-divider>
<div class="grid mt-0">    
    <div [formGroup]="formVariosEfectivoAnulaciones" class="col-12">               
        <div class="row-varios mt-10">
            <div class="row-varios-left">
                <label class="label-titulo">Tipo</label>
            </div>
            <div class="row-varios-right">
                <div class="row-varios-right-cbo">                  
                    <p-dropdown                     
                        formControlName="tipo"
                        styleClass="inputfield w-full"
                        [options]="listaTipos"
                        optionLabel="cdescri"
                        optionValue="ccodigoHijo"                   
                        #ddlTipoMovimiento>
                    </p-dropdown>                    
                </div>               
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Descripción</label>
            </div>
            <div class="row-varios-right">
                <input pInputText id="idDescripcion" type="text" formControlName="descripcion" class="w-full" maxlength="200">
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Zona Registral</label>
            </div>
            <div class="row-varios-right">
                <div class="row-varios-right-cbo-2">
                    <p-dropdown 
                        [filter]="true" 
                        filterBy="deZonaRegi" 
                        filterValue="deZonaRegi"
                        formControlName="zonaRegistral"
                        styleClass="inputfield w-full"
                        [options]="listaZonaRegistral"
                        optionLabel="deZonaRegi"
                        optionValue="coZonaRegi"
                        (onChange)="buscarOficinaRegistral()"
                        #ddlZonaRegistral>
                    </p-dropdown> 
                </div>                            
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Oficina Registral</label>
            </div>
            <div class="row-varios-right">
                <div class="row-varios-right-cbo-2 p-dropdown-loading">
                    <p-dropdown 
                        [filter]="true" 
                        filterBy="deOficRegi" 
                        filterValue="deOficRegi"
                        formControlName="oficinaRegistral"
                        styleClass="inputfield w-full"
                        [options]="listaOficinaRegistral"
                        optionLabel="deOficRegi"
                        optionValue="coOficRegi"
                        (onChange)="buscarLocal()"
                        [class.spinner]="loadingOficinaRegistral" 
                        [disabled]="loadingOficinaRegistral"
                        #ddlOficinaRegistral>
                    </p-dropdown> 
                </div>                          
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Local de Atención</label>
            </div>
            <div class="row-varios-right">
                <div class="row-varios-right-cbo-2 p-dropdown-loading">
                    <p-dropdown 
                        [filter]="true" 
                        filterBy="deLocaAten" 
                        filterValue="deLocaAten"
                        formControlName="localAtencion"
                        styleClass="inputfield w-full"
                        [options]="listaLocal"
                        optionLabel="deLocaAten"
                        optionValue="coLocaAten"
                        [class.spinner]="loadingLocal" 
                        [disabled]="loadingLocal"
                        #ddlLocalAtencion>
                    </p-dropdown>
                </div>                
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Recaudación</label>
            </div>
            <div class="row-varios-right">
                <input 
                    pInputText 
                    id="idRecaudacion"
                    type="text"                      
                    class="row-varios-right-input text-right" 
                    formControlName="recaudacion"                 
                    maxlength="20"                                                                                      
                    placeholder="0.00"  
                    pattern="^\d+(\.\d{1,2})?$"               
                    digitOnly
                    decimal="true"                          
                    (blur)="formatearRecaudacion($event)"                    
                >            
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Comisión</label>
            </div>
            <div class="row-varios-right">
                <input 
                    pInputText 
                    id="idComision"
                    type="text"                      
                    class="row-varios-right-input text-right" 
                    formControlName="comision"                 
                    maxlength="20"                                                                                      
                    placeholder="0.00"            
                    pattern="^\d+(\.\d{1,2})?$"               
                    digitOnly
                    decimal="true"                              
                    (blur)="formatearComision($event)"               
                >                   
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">I.G.V</label>
            </div>
            <div class="row-varios-right">
                <input 
                    pInputText 
                    id="idIgv"
                    type="text"                      
                    class="row-varios-right-input text-right" 
                    formControlName="igv"                 
                    maxlength="20"                                                                                      
                    placeholder="0.00"                                                
                    pattern="^\d+(\.\d{1,2})?$"               
                    digitOnly
                    decimal="true"                 
                    (blur)="formatearIgv($event)"                   
                >                         
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Alq. Mant. Equipos</label>
            </div>
            <div class="row-varios-right">
                <input 
                    pInputText 
                    id="idAlqMantEquipos"
                    type="text"                      
                    class="row-varios-right-input text-right" 
                    formControlName="alqMantEquipos"                 
                    maxlength="20"                                                                                      
                    placeholder="0.00"                   
                    pattern="^\d+(\.\d{1,2})?$"               
                    digitOnly
                    decimal="true" 
                    (blur)="formatearAlqMantEquipos($event)"              
                >                 
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Deuda día anterior</label>
            </div>
            <div class="row-varios-right">
                <input 
                    pInputText 
                    id="idDeudaDiaAnterior"
                    type="text"                      
                    class="row-varios-right-input text-right" 
                    formControlName="deudaDiaAnterior"                 
                    maxlength="20"                                                                                      
                    placeholder="0.00"                   
                    pattern="^\d+(\.\d{1,2})?$"               
                    digitOnly
                    decimal="true"                
                    (blur)="formatearDeudaDiaAnterior($event)"               
                >                
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Deuda sgte. día</label>
            </div>
            <div class="row-varios-right">
                <input 
                    pInputText 
                    id="idDeudaSgteDia"
                    type="text"                      
                    class="row-varios-right-input text-right" 
                    formControlName="deudaSgteDia"                 
                    maxlength="20"                                                                                      
                    placeholder="0.00"                   
                    pattern="^\d+(\.\d{1,2})?$"               
                    digitOnly
                    decimal="true"           
                    (blur)="formatearDeudaSgteDia($event)"             
                >                         
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Total</label>
            </div>
            <div class="row-varios-right">
                <input 
                    pInputText 
                    id="idTotal"
                    type="text"                      
                    class="row-varios-right-input text-right" 
                    formControlName="total"                 
                    maxlength="20"                                                                                      
                    placeholder="0.00"                   
                    pattern="^\d+(\.\d{1,2})?$"               
                    digitOnly
                    decimal="true"                                  
                    readonly
                    disabled="true"
                >                           
            </div>
        </div>
        <ng-container *ngIf="registroEditar">
            <div class="row-varios mb-40">
                <div class="row-varios-left">
                    <label class="label-titulo">Estado</label>
                </div>
                <div class="row-varios-right">
                    <div class="row-varios-right-cbo">
                        <p-dropdown                        
                            formControlName="estado"
                            styleClass="inputfield w-full"
                            [options]="listaEstados"
                            optionLabel="deEstado"
                            optionValue="coEstado"                       
                            #ddlEstado>
                        </p-dropdown>
                    </div>                             
                </div>
            </div>
        </ng-container>
        <p-divider></p-divider>
        <div class="formgrid grid mt-5">
            <div class="col buttons-varios">
                <button 
                    pButton type="button" 
                    icon="pi pi-check"
                    style="width: 9em;"
                    label="Grabar"
                    class="p-button-buscar"
                    (click)="grabar()"
                >
                </button>
                <button 
                    pButton type="button" 
                    icon="pi pi-times" 
                    style="width: 9em; margin-left: 1em;"
                    label="Cancelar"
                    class="p-button-anular" 
                    (click)="cancelar()"
                >
                </button>
            </div>
        </div> 
    </div>
</div>
