<p-panel header="Consolidación de la Recaudación APP, QR, SID - {{ titulo }}">
    <div class="grid mt-0">
        <div class="col-1"></div>
        <div class="col-10">
            <p-fieldset legend="{{ titulo }}">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Zona Registral</label>
                        <label class="label-data">{{ (recaudacionAppQrSid) ? recaudacionAppQrSid.deZonaRegi : '' }}</label>                
                    </div>
                     <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Oficina Registral</label>    
                        <label class="label-data">{{ (recaudacionAppQrSid) ? recaudacionAppQrSid.deOficRegi : '' }}</label>            
                    </div>            
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="local">Local</label>
                        <label class="label-data">{{ (recaudacionAppQrSid) ? recaudacionAppQrSid.deLocaAten : '' }}</label> 
                    </div> 
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="fecha">Tipo de Conciliación</label>
                        <label class="label-data">{{ tipoConciliacion }}</label>
                    </div>
                </div>
                <ng-container *ngIf="mostrarBloque">
                    <div class="formgrid grid">
						<div class="field col-12 md:col-6 xl:col-3 div-readonly">
							<label for="fecha">Fecha</label>
							<label class="label-data">{{ fecha }}</label>
						</div>
                        <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                            <label for="oficina">Operador</label>
                            <label class="label-data">{{ servicioOperador }}</label>                
                        </div>
                        <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                            <label for="oficina">Nombre de archivo excel</label>
                            <label class="label-data" *ngIf="idGuidExcel == ' '">{{ nombreArchivoExcel }}</label>                
                            <label class="label-data" *ngIf="idGuidExcel != ' '">
                                <a target="_blank" href="{{ visorEndpoint(idGuidExcel) }}">
                                    {{ nombreArchivoExcel }}
                                </a>
                            </label>                 
                        </div>
                    </div>
                </ng-container> 
            </p-fieldset>            
            <div class="formgrid grid mt-20">
                <div class="field col-12">
					<p-tabView>
						<p-tabPanel header="Totales {{ tipoConciliacion }}">
                            <p-table responsiveLayout="stack"
                                [value]="listaTotalesNiubizAppQrSid"
                                (sortFunction)="customSort($event)"
                                [customSort]="true"
                                [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]" 
                                [loading]="loadingTotalesNiubizAppQrSid"               
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn=""><div>Tipo Operación<p-sortIcon field=""></p-sortIcon></div></th>
                                        <th pSortableColumn="imOper"><div>Importe Operación <p-sortIcon field="imOper"></p-sortIcon></div></th>
                                        <th pSortableColumn="imComiTota"><div>Importe Comisión <p-sortIcon field="imComiTota"></p-sortIcon></div></th>    
                                        <th pSortableColumn="imIgv"><div>Importe I.G.V <p-sortIcon field="imIgv"></p-sortIcon></div></th>    
                                        <th pSortableColumn="imSumaDepo"><div>Total Depositado<p-sortIcon field="imSumaDepo"></p-sortIcon></div></th> 
                                        <th pSortableColumn="caTota"><div>Total Registros <p-sortIcon field="caTota"></p-sortIcon></div></th> 
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-registro>
                                    <tr>
                                        <td>{{ registro.noTipoOper }}</td>
                                        <td class="text-right">{{ numberTransform( registro.imOper ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.imComiTota ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.imIgv ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.imSumaDepo ) }}</td>
                                        <td class="text-right">{{ registro.caTota.toLocaleString() }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>                           
                        </p-tabPanel>
                        <p-tabPanel header="{{ tipoConciliacion }}">
                            <div class="list-files-recaudacion-me">
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFilePOS(0)"
                                        *ngIf="showButtonAct(BtnNUBIZ_Descargar_Ventas_No_Conciliadas, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar no conciliados</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFilePOS(1)"
                                        *ngIf="showButtonAct(BtnNUBIZ_Descargar_Ventas_Conciliadas, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar conciliados</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFilePOS(2)"
                                        *ngIf="showButtonAct(BtnNUBIZ_Descargar_Anulaciones, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar anulaciones</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFilePOS(3)"
                                        *ngIf="showButtonAct(BtnNUBIZ_Descargar_Contracargos, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar contracargos</span>                              
                                 </div>
                            </div>
                         </p-tabPanel>
                         
                        <p-tabPanel header="Transacciones SPRL">
                            <div class="list-files-recaudacion-me">
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(0)"
                                        *ngIf="showButtonAct(BtnTransac_SPRL_Descargar_No_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar no conciliados</span>                              
                                </div>
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(1)"
                                        *ngIf="showButtonAct(BtnTransac_SPRL_Descargar_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar conciliados</span>                              
                                </div>
                       
							</div>      						
                        </p-tabPanel>
                    </p-tabView>
                    <div class="formgrid grid mt-5">
                        <div class="col buttons-recaudacion-me">                            
                            <button pButton type="button" 
                                    icon="pi pi-times" 
                                    style="width: 9em; margin-left: 1em;"
                                    label="Cancelar"
                                    class="p-button-anular" 
                                    (click)="cancelar()">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
			
			
        </div>
        <div class="col-1"></div>
    </div>
</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>