<p-panel header="Abrir/Cerrar Mes">

    <div class="grid mt-4">
        <div class="col-1"></div>
		<div [formGroup]="form" class="col-10">
            <div class="row-button-search">
                <button pButton type="button" (click)="buscaBandeja()" label="Buscar"class="p-button-buscar mr-3"></button>
            </div>
			<div class="formgrid grid">
                <div class="field col-12 md:col-3">
					<label for="oficina">Mes</label>
                    <p-dropdown [filter]="true" 
                                filterBy="deMes" 
                                filterValue="deMes"
                                formControlName="mes"
                                styleClass="inputfield w-full"
                                [options]="$mesAnio"
                                optionLabel="deMes"
                                optionValue="coMes">
                    </p-dropdown>
				</div>
                <div class="field col-12 md:col-3">
					<label for="oficina">Año</label>
					<p-dropdown [filter]="true" 
                                filterBy="deAnio" 
                                filterValue="deAnio"
                                formControlName="anio"
                                styleClass="inputfield w-full"
                                [options]="$anio"
                                optionLabel="deAnio"
                                optionValue="deAnio">
                    </p-dropdown>
				</div>
			</div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack"
                         [value]="enviadosList"
                         (sortFunction)="customSort($event)"
                         [customSort]="true"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedValues"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]">

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="noCierProc">Proceso <p-sortIcon field="noCierProc"></p-sortIcon></th>
                            <th pSortableColumn="feEstaAper">Fecha Apertura <p-sortIcon field="feEstaAper"></p-sortIcon></th>
                            <th pSortableColumn="noUsuaAper">Usuario Apertura <p-sortIcon field="noUsuaAper"></p-sortIcon></th>
                            <th pSortableColumn="feEstaCier">Fecha Cierre <p-sortIcon field="feEstaCier"></p-sortIcon></th>    
                            <th pSortableColumn="noUsuaCier">Usuario Cierre <p-sortIcon field="noUsuaCier"></p-sortIcon></th>    
                            <th pSortableColumn="deEsta">Estado <p-sortIcon field="deEsta"></p-sortIcon></th>   
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-registro>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="registro"></p-tableCheckbox>
                            </td>
                            <td>{{ registro.noCierProc }}</td>
                            <td>{{ formatearFechas( registro.feEstaAper ) }}</td>
                            <td>{{ registro.noUsuaAper }}</td>
                            <td>{{ formatearFechas( registro.feEstaCier ) }}</td>
                            <td>{{ registro.noUsuaCier }}</td>
                            <td>{{ registro.deEsta }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col">
                        <button *ngIf="showButtonAct(BtnAbrir, codBandeja)" (click)="openOrCloseMes('open')" pButton label="Abrir" class="p-button-editar p-button-sm mr-3"></button>
                        <button *ngIf="showButtonAct(BtnCerrar, codBandeja)" (click)="openOrCloseMes('close')" pButton label="Cerrar" class="p-button-anular p-button-sm"></button>
                    </div>
                </div>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>