<p-panel header="Carta Orden - Consultar">

    <div [formGroup]="consultarCarta" class="grid">
        <div class="col-1"></div>
        <div class="col-10">

            <div class="grid mt-4">
                <div class="col-12">
                    <p-fieldset legend="Datos Generales">
                        <div class="formgrid grid">
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="oficina">Zona Registral</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deZonaRegi" 
                                            filterValue="deZonaRegi"
                                            formControlName="zona"
                                            styleClass="inputfield w-full"
                                            [options]="listaZonaRegistral"
                                            optionLabel="deZonaRegi"
                                            optionValue="coZonaRegi">
                                </p-dropdown>
                            </div>
            
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="oficina">Oficina Registral</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deOficRegi" 
                                            filterValue="deOficRegi"
                                            formControlName="oficina"
                                            styleClass="inputfield w-full"
                                            [options]="listaOficinaRegistral"
                                            optionLabel="deOficRegi"
                                            optionValue="coOficRegi">
                                </p-dropdown>
                            </div>
            
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="oficina">Local</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deLocaAten" 
                                            filterValue="deLocaAten"
                                            formControlName="local"
                                            styleClass="inputfield w-full"
                                            [options]="listaLocal"
                                            optionLabel="deLocaAten"
                                            optionValue="coLocaAten">
                                </p-dropdown>
                            </div>
            
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="oficina">Tipo de Carta Orden</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="noTipoCartOrde" 
                                            filterValue="noTipoCartOrde"
                                            formControlName="tipoCarta"
                                            styleClass="inputfield w-full"
                                            [options]="listaTipoDocumento"
                                            optionLabel="noTipoCartOrde"
                                            optionValue="idTipoCartOrde">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="numero">Nro. Carta Orden</label>
                                <input pInputText formControlName="nroCarta" type="text" class="w-full">
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="fecha">Fecha</label>
                                <div class="p-fluid">
                                    <p-calendar [showIcon]="true" 
                                                appendTo="body" 
                                                inputId="icon"
                                                formControlName="fecha"
                                                inputId="dateformat">
                                    </p-calendar>
                                </div>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="oficina">Monto</label>
                                <input 
                                    id="idDocumentNumber"
                                    pInputText 
                                    type="text"
                                    formControlName="monto" 
                                    class="w-full text-right">
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="oficina">Número SIAF</label>
                                <input pInputText formControlName="nroSIAF" type="text" class="w-full text-right">
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="oficina">Nro. Comprobante</label>
                                <input pInputText formControlName="nroComp" type="text" class="w-full">
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Tipo Doc. Referencia</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="cdescri" 
                                            filterValue="cdescri"
                                            formControlName="tipoDocuRef"
                                            styleClass="inputfield w-full"
                                            [options]="listaTipoReferencia"
                                            optionLabel="cdescri"
                                            optionValue="ccodigoHijo"
                                            [class.spinner]="loadingTipoReferencia" 
                                            [disabled]="true">
                                </p-dropdown>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="monto">Nro. Doc. Referencia</label>
                                <input pInputText formControlName="nroDocuRef" type="text" class="w-full">
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="zona">Grupo <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="cdescri"
                                            filterValue="cdescri"
                                            [options]="listaGrupos"
                                            formControlName="grupo"
                                            styleClass="inputfield w-full"
                                            optionLabel="cdescri"
                                            optionValue="ccodigoHijo"
                                            [class.spinner]="loadingGrupos"
                                            #ddlGrupo>
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12 md:col-6">
                                <label for="monto">Destinatario</label>
                                <input pInputText formControlName="destina" type="text" class="w-full">
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="oficina">Cargo</label>
                                <input pInputText formControlName="cargo" type="text" class="w-full">
                            </div>
                        </div>

                        <div class="grid mt-4">
                            <div class="col-12">
                                <p-fieldset legend="Cuentas Bancarias">
                                    <div class="formgrid grid">
                                        <div class="field mt-6">
                                            <div class="field-checkbox flex">
                                                <label class="font-bold cursor-pointer" for="">Cargo &nbsp;&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                                            <label for="zona">Banco</label>
                                            <p-dropdown [filter]="true" 
                                                        filterBy="cdeInst" 
                                                        filterValue="cdeInst"
                                                        formControlName="bancoCargo"
                                                        styleClass="inputfield w-full"
                                                        [options]="listaBancoCargo"
                                                        optionLabel="cdeInst"
                                                        optionValue="nidInstitucion">
                                            </p-dropdown>
                                            <!-- [options]="$bancos" | (onChange)="onChangeCuenta1( $event )" -->
                                        </div>
                                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                                            <label for="oficina">Cuenta Bancaria</label>
                                            <p-dropdown [filter]="true"
                                                        filterBy="nuCuenBanc" 
                                                        filterValue="nuCuenBanc"
                                                        formControlName="cuentaCargo"
                                                        styleClass="inputfield w-full"
                                                        [options]="listaCuentaCargo"
                                                        optionLabel="nuCuenBanc"
                                                        optionValue="nuCuenBanc">
                                            </p-dropdown>
                                            <!-- [options]="$cuentas1" -->
                                        </div>
                                        <div class="field col-12 sm:col-12 lg:col-5">
                                            <label for="oficina">Nombre de la cuenta</label>
                                            <div class="">
                                                <input readonly formControlName="nombreCuentaCargo" pInputText type="text" class="w-full">
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="formgrid grid">
                                        <div class="field mt-6">
                                            <div class="field-checkbox flex">
                                                <label class="font-bold cursor-pointer" for="">Abono &nbsp;&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                                            <label for="zona">Banco</label>
                                            <p-dropdown [filter]="true" 
                                                        filterBy="cdeInst" 
                                                        filterValue="cdeInst"
                                                        formControlName="bancoAbono"
                                                        styleClass="inputfield w-full"
                                                        [options]="listaBancoAbono"
                                                        optionLabel="cdeInst"
                                                        optionValue="nidInstitucion">
                                            </p-dropdown>
                                            <!-- [options]="$bancos" | (onChange)="onChangeCuenta2( $event )" -->
                                        </div>
                                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                                            <label for="oficina">Cuenta Bancaria</label>
                                            <p-dropdown [filter]="true" 
                                                        filterBy="nuCuenBanc" 
                                                        filterValue="nuCuenBanc"
                                                        formControlName="cuentaAbono"
                                                        styleClass="inputfield w-full"
                                                        [options]="listaCuentaAbono"
                                                        optionLabel="nuCuenBanc"
                                                        optionValue="nuCuenBanc">
                                            </p-dropdown>
                                            <!-- [options]="$cuentas2" -->
                                        </div>
                                        <div class="field col-12 sm:col-12 lg:col-5">
                                            <label for="oficina">Nombre de la cuenta</label>
                                            <div class="">
                                                <input readonly formControlName="nombreCuentaAbono" pInputText type="text" class="w-full">
                                            </div>
                                        </div>
                                    </div>
                                </p-fieldset>
                            </div>
                        </div>

                        <div class="formgrid grid lg:mb-1 md:mb-4 py-4">
                            <div class="col-8">
                                <div class="field col-12 sm:col-12 lg:col-12" pDroppable="variables" (onDrop)="dropInicio()" pDroppableDisabled="readOnlyEditor">
                                    <label for="oficina">Inicio</label>
                                    <div class="">
                                        <div class="">
                                            <p-editor formControlName="inicio" [style]="{'height':'120px'}" [readonly]="readOnlyEditor">
                                                <ng-template pTemplate="header">
                                                    <span class="ql-formats">
                                                        <select class="ql-font"></select>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                                                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                                                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <select class="ql-color"></select>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <select class="ql-align"></select>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <button type="button" class="ql-list" value="ordered" aria-label="Ordered"></button>
                                                        <button type="button" class="ql-list" value="bullet" aria-label="Bullet"></button>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <button type="button" class="ql-indent" value="-1" aria-label="Ordered"></button>
                                                        <button type="button" class="ql-indent" value="+1" aria-label="Bullet"></button>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <button type="button" class="ql-blockquote" aria-label="Blockquote"></button>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <button type="button" class="ql-strike" aria-label="Strike"></button>
                                                    </span>
                                                    <span class="ql-formats">
                                                        <button type="button" class="ql-clean" aria-label="Clean"></button>
                                                    </span>
                                                </ng-template>
                                            </p-editor>
                                            <!-- <textarea [rows]="4" formControlName="concepto" class="w-full" pInputTextarea></textarea> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="field col-12 sm:col-12 lg:col-12" pDroppable="variables" (onDrop)="dropConcepto()" pDroppableDisabled="readOnlyEditor">
                                    <label for="oficina">Concepto</label>
                                    <div class="">
                                        <p-editor formControlName="concepto" [style]="{'height':'120px'}" [readonly]="readOnlyEditor">
                                            <ng-template pTemplate="header">
                                                <span class="ql-formats">
                                                    <select class="ql-font"></select>
                                                </span>
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <select class="ql-color"></select>
                                                </span>
                                                <span class="ql-formats">
                                                    <select class="ql-align"></select>
                                                </span>
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-list" value="ordered" aria-label="Ordered"></button>
                                                    <button type="button" class="ql-list" value="bullet" aria-label="Bullet"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-indent" value="-1" aria-label="Ordered"></button>
                                                    <button type="button" class="ql-indent" value="+1" aria-label="Bullet"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-blockquote" aria-label="Blockquote"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-strike" aria-label="Strike"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-clean" aria-label="Clean"></button>
                                                </span>
                                            </ng-template>
                                        </p-editor>
                                        <!-- <textarea [rows]="4" formControlName="concepto" class="w-full" pInputTextarea></textarea> -->
                                    </div>
                                </div>
                                <div class="field col-12 sm:col-12 lg:col-12" pDroppable="variables" (onDrop)="dropFinal()" pDroppableDisabled="readOnlyEditor">
                                    <label for="oficina">Final</label>
                                    <div class="">
                                        <p-editor formControlName="final" [style]="{'height':'120px'}" [readonly]="readOnlyEditor">
                                            <ng-template pTemplate="header">
                                                <span class="ql-formats">
                                                    <select class="ql-font"></select>
                                                </span>
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <select class="ql-color"></select>
                                                </span>
                                                <span class="ql-formats">
                                                    <select class="ql-align"></select>
                                                </span>
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-list" value="ordered" aria-label="Ordered"></button>
                                                    <button type="button" class="ql-list" value="bullet" aria-label="Bullet"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-indent" value="-1" aria-label="Ordered"></button>
                                                    <button type="button" class="ql-indent" value="+1" aria-label="Bullet"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-blockquote" aria-label="Blockquote"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-strike" aria-label="Strike"></button>
                                                </span>
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-clean" aria-label="Clean"></button>
                                                </span>
                                            </ng-template>
                                        </p-editor>
                                        <!-- <textarea [rows]="4" formControlName="concepto" class="w-full" pInputTextarea></textarea> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <label for="">Variables</label>
                                <div class="p-list-variables">
                                    <div class="field col-12 sm:col-12 lg:col-12 mt-3 ml-1 p-list-variables__div1" *ngFor="let variable of listaVariables">
                                        <div class="p-list-variables__div1__div2" pDraggable="variables" (onDragStart)="dragStart(variable)" (onDragEnd)="dragEnd()">
                                            <h4 class="p-list-variables__div1__div2__text">{{ variable.deCamp }}</h4>
                                        </div>
                                        <!-- <p-listbox [options]="listaVariables" optionLabel="label"></p-listbox> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="formgrid grid mt-6">
                <div class="col text-right">
                    <ng-container *ngIf="isEditar; else isConsultar">
                        <button pButton type="button" 
                                icon="pi pi-check"
                                style="width: 9em;"
                                label="Grabar"
                                class="p-button-buscar" 
                                (click)="editarCarta()">
                        </button>
                        <button pButton type="button" 
                                icon="pi pi-times" 
                                style="width: 9em; margin-left: 1em;"
                                label="Cancelar"
                                class="p-button-anular" 
                                (click)="cancelar()">
                        </button>
                    </ng-container>
                    <ng-template #isConsultar>
                        <button pButton type="button"
                                icon="pi pi-undo" 
                                style="width: 9em;"
                                label="Regresar"
                                class="p-button-secondary ml-3"
                                (click)="cancelar()">
                        </button>
                    </ng-template>
                    
                </div>
            </div>
        </div>
    </div>

</p-panel>