<p-panel header="Consolidación Bancaria Recaudación APP, QR y SID - {{ titulo }}">
    <div class="grid mt-0">
        <div class="col-1"></div>
        <div class="col-10">
            <p-fieldset legend="{{ titulo }}">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Zona Registral</label>
                        <label class="label-data">{{ (bancariaAppQrSid) ? bancariaAppQrSid.deZonaRegi : '' }}</label>                
                    </div>
                     <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Oficina Registral</label>    
                        <label class="label-data">{{ (bancariaAppQrSid) ? bancariaAppQrSid.deOficRegi : '' }}</label>            
                    </div>            
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="local">Local</label>
                        <label class="label-data">{{ (bancariaAppQrSid) ? bancariaAppQrSid.deLocaAten : '' }}</label> 
                    </div> 
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="fecha">Tipo de Conciliación</label>
                        <label class="label-data">{{ tipoConciliacion }}</label>
                    </div>
                </div>
                <ng-container>
                    <div class="formgrid grid">
						<div class="field col-12 md:col-6 xl:col-3 div-readonly">
							<label for="fecha">Fecha</label>
							<label class="label-data">{{ fecha }}</label>
						</div>
                        <div *ngIf="mostrarBloque" class="field col-12 md:col-6 xl:col-3 div-readonly">
                            <label for="oficina">Operador</label>
                            <label class="label-data">{{ servicioOperador }}</label>                
                        </div>
                        <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                            <label for="oficina">{{ nombreDocumento }}</label>
                            <label class="label-data" *ngIf="idGuidExcel == ' '">{{ nombreArchivoExcel }}</label>                
                            <label class="label-data" *ngIf="idGuidExcel != ' '">
                                <a target="_blank" href="{{ visorEndpoint(idGuidExcel) }}">
                                    {{ nombreArchivoExcel }}
                                </a>
                            </label>                 
                        </div>
                    </div>
                </ng-container> 
            </p-fieldset>            
            <div class="formgrid grid mt-20">
                <div class="field col-12">
					<p-tabView (onChange)="handleChange($event)">
						<p-tabPanel header="Estado Bancario MEF">
                            <div class="list-files-recaudacion-me">
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFile(1)"
                                        >
                                        <!-- *ngIf="showButtonAct(BtnEstado_Banc_Descargar_Conciliados, codBandeja)" -->
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar conciliados</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFile(0)"
                                        >
                                        <!-- *ngIf="showButtonAct(BtnEstado_Banc_Descargar_No_Conciliados, codBandeja)" -->
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar no conciliados</span>                              
                                 </div>
                            </div>
                        </p-tabPanel>

                        <p-tabPanel header="NIUBIZ">
                            <div class="list-files-recaudacion-me">
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFileNiubiz(0)"
                                        >
                                        <!-- *ngIf="showButtonAct(BtnDescargar_Conciliados, codBandeja)" -->
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar no conciliados</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFileNiubiz(1)"
                                        >
                                        <!-- *ngIf="showButtonAct(BtnDescargar_No_Conciliados, codBandeja)" -->
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar conciliados</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFileNiubiz(2)"
                                        >
                                        <!-- *ngIf="showButtonAct(BtnDescargar_Anulaciones, codBandeja)" -->
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar anulaciones</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFileNiubiz(3)"
                                        >
                                        <!-- *ngIf="showButtonAct(BtnDescargar_Contracargos, codBandeja)" -->
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar contracargos</span>                              
                                 </div>
                            </div>
                         </p-tabPanel>
                    </p-tabView>
                    <div class="formgrid grid mt-5">
                        <div class="col buttons-recaudacion-me">                            
                            <button pButton type="button" 
                                    icon="pi pi-times" 
                                    style="width: 9em; margin-left: 1em;"
                                    label="Cancelar"
                                    class="p-button-anular" 
                                    (click)="cancelar()">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
			
			
        </div>
        <div class="col-1"></div>
    </div>
</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>