<div [formGroup]="sustento" class="grid mt-4">
    <div class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="zona">Nro. Carta Orden</label>
                <div class="">
                    <input readonly formControlName="nroCarta" pInputText type="text" class="w-full">
                </div>
            </div>
        
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="oficina">Fecha</label>
                <div class="">
                    <input readonly formControlName="fecha" pInputText type="text" class="w-full">
                </div>
            </div>
        </div>
        
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="oficina">Número SIAF</label>
                <div class="">
                    <input readonly formControlName="nroSIAF" pInputText type="text" class="w-full">
                </div>
            </div>
        
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="oficina">Número Comprobante</label>
                <div class="">
                    <input readonly formControlName="nroComp" pInputText type="text" class="w-full">
                </div>
            </div>
        </div>

        <div class="formgrid grid mt-4">
            <div class="field col-12 md:col-10">
                <label for="documentos">Sustentos</label>
                <app-upload (uploaded)="addUploadedFile( $event )" (onDelete)="deleteUploaded($event)"
                            [nroBandeja]="bandeja" [nroAdd]="add" [nroDel]="delete" [disabled]="isDisabled"
                            [disabledDelete]="isDisabled" [multiple]="true">
                </app-upload>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        [loading]="isLoading"
                        [disabled]="isDisabled"
                        label="Grabar"
                        class="p-button-buscar"
                        (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>