<p-panel header="Comprobante de Pago">

    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="comprobante" class="col-10">
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnBuscar, codBandeja)" pButton type="button" 
                        (click)="validarBotonComprobante(BUSCAR)" label="Buscar"class="p-button-buscar">
                </button>
            </div>

            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="zona">Zona Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deZonaRegi" 
                                filterValue="deZonaRegi"
                                formControlName="zona"
                                styleClass="inputfield w-full"
                                [options]="listaZonaRegistral"
                                optionLabel="deZonaRegi"
                                optionValue="coZonaRegi"
                                (onChange)="buscarOficinaRegistral()"
                                [class.spinner]="loadingZonaRegistral" 
                                [disabled]="loadingZonaRegistral">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="oficina">Oficina Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deOficRegi" 
                                filterValue="deOficRegi"
                                formControlName="oficina"
                                styleClass="inputfield w-full"
                                [options]="listaOficinaRegistral"
                                optionLabel="deOficRegi"
                                optionValue="coOficRegi"
                                (onChange)="buscarLocal()"
                                [class.spinner]="loadingOficinaRegistral" 
                                [disabled]="loadingOficinaRegistral">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="local">Local</label>
					<p-dropdown [filter]="true" 
                                filterBy="deLocaAten" 
                                filterValue="deLocaAten"
                                formControlName="local"
                                styleClass="inputfield w-full"
                                [options]="listaLocal"
                                optionLabel="deLocaAten"
                                optionValue="coLocaAten"
                                [class.spinner]="loadingLocal" 
                                [disabled]="loadingLocal">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="tipoComp">Tipo Comprobante de Pago</label>
					<p-dropdown [filter]="true" 
                                filterBy="noTipo" 
                                filterValue=""
                                formControlName="tipoComp"
                                styleClass="inputfield w-full"
                                [options]="listaTipoRecibo"
                                optionLabel="noTipo"
                                optionValue="idTipo"
                                [class.spinner]="loadingTipoRecibo" 
                                [disabled]="loadingTipoRecibo">
                    </p-dropdown>
				</div>
            </div>

			<div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroComp">Nro. Comprobante</label>
					<input pInputText formControlName="nroComp" type="text" class="w-full text-right" (keypress)="validarNumero($event)">
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="">N° SIAF</label>
					<input pInputText formControlName="nroSiaf" type="text" class="w-full text-right" (keypress)="validarNumero($event)">
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="fecDes">F. Desde</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecDes" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaDesde"
                                    (onSelect)="cambioFechaInicio()">
                        </p-calendar>
                    </div>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="fecHas">F. Hasta</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecHas" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaHasta"
                                    (onSelect)="cambioFechaFin()">
                        </p-calendar>
                    </div>
				</div>
			</div>

            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroComp">Nombre Beneficiario</label>
					<input pInputText formControlName="noBene" type="text" class="w-full">
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroComp">Monto</label>
					<input pInputText formControlName="monto" type="text" class="w-full text-right" 
                            (blur)="formatearNumero($event)" (keypress)="validarMonto($event)">
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="">Medios de Pago</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdescri" 
                                filterValue="cdescri"
                                formControlName="medioPago"
                                styleClass="inputfield w-full"
                                [options]="listaMediosPago"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                [class.spinner]="loadingMediosPago" 
                                [disabled]="loadingMediosPago">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroComp">N° de Medio de Pago</label>
					<input pInputText formControlName="nroMedioPago" type="text" class="w-full">
				</div>
            </div>

            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="">N° Cta. Cte.</label>
					<input pInputText formControlName="ctaCte" type="text" class="w-full text-right" 
                            (keypress)="validarNumeroCuenta($event)">
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="estado">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdescri" 
                                filterValue="cdescri"
                                formControlName="estado"
                                styleClass="inputfield w-full"
                                [options]="listaEstadoRecibo"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                [class.spinner]="loadingEstado" 
                                [disabled]="loadingEstado">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="">F. Creación</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecCrea" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaDesde">
                        </p-calendar>
                    </div>
                </div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroSiaf">Usuario de Creación</label>
					<input pInputText formControlName="usuaCrea" type="text" class="w-full">
				</div>
			</div>

            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="">F. Modificación</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecModi" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaDesde">
                        </p-calendar>
                    </div>
                </div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroSiaf">Usuario de Modificación</label>
					<input pInputText formControlName="usuaModi" type="text" class="w-full">
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="">F. Autorización</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecAuto" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaDesde">
                        </p-calendar>
                    </div>
                </div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroSiaf">Usuario Autoriza Modificación</label>
					<input pInputText formControlName="usuaAuto" type="text" class="w-full">
				</div>
            </div>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-12 lg:col-8 xl:col-6">
                        <button *ngIf="showButtonAct(BtnNuevo, codBandeja)" pButton pTooltip="Nuevo" tooltipPosition="top" 
                                icon="pi pi-file" (click)="validarBotonComprobante(NUEVO)" class="p-button-nuevo mr-3"> 
                        </button>
                        <button *ngIf="showButtonAct(BtnEditar, codBandeja)" pButton pTooltip="Editar" tooltipPosition="top" 
                                icon="pi pi-pencil" (click)="validarBotonComprobante(EDITAR)" class="p-button-editar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnAnular, codBandeja)" pButton pTooltip="Anular" tooltipPosition="top" 
                                icon="pi pi-times" (click)="validarBotonComprobante(ANULAR)" class="p-button-anular mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnActivar, codBandeja)" pButton pTooltip="Activar" tooltipPosition="top" 
                                icon="pi pi-power-off"(click)="validarBotonComprobante(ACTIVAR)" class="p-button-activar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnConsultar, codBandeja)" pButton pTooltip="Consultar registro" tooltipPosition="top" 
                                icon="pi pi-info-circle" (click)="validarBotonComprobante(CONSULTAR)" class="p-button-consultar">
                        </button>
                    </div>

                    <div class="col-12 lg:col-8 xl:col-6 row-buttons-maintenance">
                        <button *ngIf="showButtonAct(BtnAutorizar_Modificacion, codBandeja)" pButton pTooltip="Autorizar Modificación" tooltipPosition="top" 
                                icon="pi pi-pencil" (click)="validarBotonComprobante(AUTORIZAR_MODIFICACION)" class="p-button-autorizar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnVer_Documento, codBandeja)" pButton pTooltip="Ver Documento" tooltipPosition="top"
                                icon="pi pi-eye" (click)="validarBotonComprobante(VER_DOCUMENTO)" class="p-button-documento mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnSustentos, codBandeja)" pButton pTooltip="Sustentos" tooltipPosition="top"
                                (click)="validarBotonComprobante(VER_SUSTENTO)" icon="pi pi-folder-open" class="p-button-sustento mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnSolicitar_Firma, codBandeja)" pButton pTooltip="Solicitar Firma" tooltipPosition="top"
                                (click)="validarBotonComprobante(SOLICITAR_FIRMA)" icon="pi pi-user-edit" class="p-button-firma mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnVer_Historial, codBandeja)" pButton pTooltip="Ver historial firmas" tooltipPosition="top"
                                (click)="validarBotonComprobante(VER_HISTORIAL)" icon="pi pi-book" class="p-button-historial mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnCopiar, codBandeja)" pButton pTooltip="Copiar" tooltipPosition="top"
                                (click)="validarBotonComprobante(COPIAR)" icon="pi pi-copy" class="p-button-copiar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnReservar, codBandeja)" pButton pTooltip="Reservar" tooltipPosition="top" 
                                (click)="validarBotonComprobante(RESERVAR)" icon="pi pi-calendar" class="p-button-reservar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnNo_Utilizado, codBandeja)" pButton pTooltip="No Utilizado" tooltipPosition="top"
                                (click)="validarBotonComprobante(NO_UTILIZADO)" icon="pi pi-ban" class="p-button-utilizado mr-3">
                        </button>
                        <!-- <button *ngIf="showButtonAct(BtnGenerar_Cheques, codBandeja)" pButton pTooltip="Generar Cheques" tooltipPosition="top"
                                (click)="validarBotonComprobante(GENERAR_CHEQUES)" icon="pi pi-money-bill" class="p-button-cheques mr-3">
                        </button> -->
                        <button *ngIf="showButtonAct(BtnVer_Cheques, codBandeja)" pButton pTooltip="Ver Cheques" tooltipPosition="top"
                                (click)="validarBotonComprobante(VER_CHEQUES)" icon="pi pi-wallet" class="p-button-ver-cheques">
                        </button>
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="comprobantesList?.lstComprobantePago"
                         [customSort]="true"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedValues"
                         (sortFunction)="customSort($event)"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]">

                    <ng-template pTemplate="caption">
                        <div class="col text-right">
                            <button *ngIf="showButtonAct(BtnExcel, codBandeja)" type="button" pButton pRipple icon="pi pi-file-excel" 
                                    (click)="validarBotonComprobante(EXPORTAR_EXCEL)" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom">
                            </button>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th style="max-width: 5rem;" pSortableColumn="nuCompPago">Nro. Comp Pago <p-sortIcon field="nuCompPago"></p-sortIcon></th>
                            <th pSortableColumn="feCompPago">Fecha <p-sortIcon field="feCompPago"></p-sortIcon></th>
                            <th pSortableColumn="noBene">Nombre <p-sortIcon field="noBene"></p-sortIcon></th>
                            <th pSortableColumn="imCompPago">Monto <p-sortIcon field="imCompPago"></p-sortIcon></th>    
                            <th style="min-width: 9rem;" pSortableColumn="noMediPago">Medio de Pago <p-sortIcon field="noMediPago"></p-sortIcon></th>    
                            <th pSortableColumn="nuMediPago">N° M. de Pago <p-sortIcon field="nuMediPago"></p-sortIcon></th>    
                            <th pSortableColumn="nuSiaf">N° SIAF <p-sortIcon field="nuSiaf"></p-sortIcon></th>    
                            <th style="min-width: 9rem;" pSortableColumn="nuCuenBanc">N° Cta. Cte. <p-sortIcon field="nuCuenBanc"></p-sortIcon></th>    
                            <th pSortableColumn="deEsta">Estado <p-sortIcon field="deEsta"></p-sortIcon></th>    
                            <th pSortableColumn="noTipoCompPago">Tipo Comprobante de Pago <p-sortIcon field="noTipoCompPago"></p-sortIcon></th>
                            <th pSortableColumn="noUsuaCrea">Usuario de Creación <p-sortIcon field="noUsuaCrea"></p-sortIcon></th>    
                            <th pSortableColumn="feCrea">Fecha de Creación <p-sortIcon field="feCrea"></p-sortIcon></th>    
                            <th pSortableColumn="noUsuaModi">Usuario de Modificación <p-sortIcon field="noUsuaModi"></p-sortIcon></th>    
                            <th pSortableColumn="feModi">Fecha de Modificación <p-sortIcon field="feModi"></p-sortIcon></th>    
                            <th pSortableColumn="noUsuaAuto">Usuario Autoriza Modificación <p-sortIcon field="noUsuaAuto"></p-sortIcon></th>    
                            <th pSortableColumn="feDocuAuto">Fecha Autorización <p-sortIcon field="feDocuAuto"></p-sortIcon></th>    
                            <th pSortableColumn="deZonaRegi">Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon></th>
                            <th pSortableColumn="deOficRegi">Oficina Registral <p-sortIcon field="deOficRegi"></p-sortIcon></th>
                            <th pSortableColumn="deLocaAten">Local <p-sortIcon field="deLocaAten"></p-sortIcon></th>
                            <th pSortableColumn="inSustRegi">Sustentos <p-sortIcon field="inSustRegi"></p-sortIcon></th>    
                            <th pSortableColumn="inConsPago">CP <p-sortIcon field="inConsPago"></p-sortIcon></th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-comprobante>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="comprobante"></p-tableCheckbox>
                            </td>
                            <td style="max-width: 4rem;">{{ comprobante.nuCompPago }}</td>
                            <td>{{ comprobante.feCompPago | date:"dd/MM/yy" }}</td>
                            <td>{{ comprobante.noBene }}</td>
                            <td class="right-text">{{ formatearMontoImporte(comprobante.imCompPago) }}</td>
                            <td style="min-width: 9rem;">{{ comprobante.noMediPago }}</td>
                            <td>{{ comprobante.nuMediPago }}</td>
                            <td>{{ comprobante.nuSiaf }}</td>
                            <td style="min-width: 9rem;">{{ comprobante.nuCuenBanc }}</td>
                            <td>{{ comprobante.deEsta }}</td>
                            <td>{{ comprobante.noTipoCompPago }}</td>
                            <td>{{ comprobante.noUsuaCrea }}</td>
                            <td>{{ comprobante.feCrea | date:"dd/MM/yy HH:mm:ss" }}</td>
                            <td>{{ comprobante.noUsuaModi }}</td>
                            <td>{{ comprobante.feModi | date:"dd/MM/yy HH:mm:ss" }}</td>
                            <td>{{ comprobante.noUsuaAuto }}</td>
                            <td>{{ comprobante.feDocuAuto | date:"dd/MM/yy HH:mm:ss" }}</td>
                            <td>{{ comprobante.deZonaRegi }}</td>
                            <td>{{ comprobante.deOficRegi }}</td>
                            <td>{{ comprobante.deLocaAten }}</td>
                            <td class="text-center">
                                <p-checkbox [value]="comprobante" [(ngModel)]="selectSust" [inputId]="comprobante.inSustRegi" [disabled]="true"></p-checkbox>
                            </td>
                            <td class="text-center">
                                <p-checkbox [value]="comprobante" [(ngModel)]="selectConst" [inputId]="comprobante.inConsPago" [disabled]="true"></p-checkbox>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>