<div class="grid mt-0">
    <div class="col-12 container-conciliar">
        <p-fieldset legend="Operador POS">
            <div class="formgrid grid">
                <div class="field col-12 md:col-6 xl:col-1 div-readonly">
                    <label>Fila</label>
                    <label class="label-data">{{ this.conciliacionPorMontoDetalle.nuFila }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Operador</label>
                    <label class="label-data">{{ this.conciliacionPorMontoDetalle.servicioDePago }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Id Operación</label>
                    <label class="label-data">{{ this.conciliacionPorMontoDetalle.idOper }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Fecha/Hora Operación</label>
                    <label class="label-data">{{ this.conciliacionPorMontoDetalle.feOper | date:'dd/MM/yyyy HH:mm:ss' }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Importe Operación</label>
                    <label class="label-data text-right">{{ this.conciliacionPorMontoDetalle.imOper.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2}) }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                    <label>Estado</label>
                    <label class="label-data">{{ this.conciliacionPorMontoDetalle.deEstaCncl }}</label>                
                </div>
            </div>
        </p-fieldset>
        <p-fieldset legend="Transacciones SCUNAC">
            <p-table responsiveLayout="stack"
                [value]="conciliacionPorMontoBandeja"
                (sortFunction)="customSort($event)"
                [customSort]="true"
                [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]"                
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th>Sel</th>
                        <th pSortableColumn="nuSecu"><div>Item <p-sortIcon field="nuSecu"></p-sortIcon></div></th>
                        <th pSortableColumn="deLocaAten"><div>Local <p-sortIcon field="deLocaAten"></p-sortIcon></div></th>
                        <th pSortableColumn="deOperPos"><div>Operador <p-sortIcon field="deOperPos"></p-sortIcon></div></th>
                        <th pSortableColumn="idTranPos"><div>ID Operación <p-sortIcon field="idTranPos"></p-sortIcon></div></th>    
                        <th pSortableColumn="tsOper"><div>Fecha/Hora Operación <p-sortIcon field="tsOper"></p-sortIcon></div></th>    
                        <th pSortableColumn="moPago"><div>Monto Total <p-sortIcon field="moPago"></p-sortIcon></div></th>
                        <th pSortableColumn=""><div>Estado <p-sortIcon field=""></p-sortIcon></div></th>                         
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-conciliacion>
                    <tr>
                        <td><p-checkbox [value]="conciliacion" [(ngModel)]="selectedValuesConciliacion"></p-checkbox></td>
                        <td>{{ conciliacion.nuSecu }}</td>
                        <td>{{ conciliacion.deLocaAten }}</td>
                        <td>{{ conciliacion.deOperPos }}</td>
                        <td>{{ conciliacion.idTranPos }}</td>
                        <td>{{ conciliacion.tsOper }}</td>
                        <td class="text-center">{{ formatearMontoImporte(conciliacion.moPago) }}</td>
                        <td></td>                      
                    </tr>
                </ng-template>
            </p-table>            
            <ng-container *ngIf="conciliacionPorMontoBandeja !== undefined && conciliacionPorMontoBandeja.length === 0">
                <div class="mt-15">
                    <p-message severity="info" text="No se encontraron datos." styleClass="p-mr-2"></p-message>
                </div> 
            </ng-container>
        </p-fieldset>
        <div class="formgrid grid mt-0">
            <div class="col buttons-conciliacion">
                <button pButton type="button" 
                    icon="pi pi-check"
                    style="width: 9em;"
                    label="Grabar"
                    class="p-button-buscar"
                    (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
