<p-table [value]="listaTotal" styleClass="p-datatable-striped" [tableStyle]="{'width': '100%'}">        
    <ng-template pTemplate="header">
        <tr>
            <th class="text-center">LOCAL DE ATENCIÓN</th>
            <th class="text-center">TOTAL</th>               
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-total>
        <tr>
            <td>{{total.deLocaAten}}</td>
            <td class="text-right">{{ total.imSumaDepo | number:'1.2-2' }}</td>              
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
            <p>Total General:</p>
            <p>{{ total | number:'1.2-2' }}</p>
        </div>
    </ng-template>
</p-table>
<ng-container *ngIf="listaTotal !== undefined && listaTotal.length === 0">
    <div class="mt-15">
        <p-message severity="info" text="No se encontraron datos." styleClass="p-mr-2"></p-message>
    </div> 
</ng-container>