<div [formGroup]="datos" class="grid mt-4">
    <div class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="zona">Zona Registral</label>
                <p-dropdown readonly="true"
                            [filter]="true" 
                            filterBy="deZonaRegi" 
                            filterValue="deZonaRegi"
                            formControlName="zona"
                            styleClass="inputfield w-full"
                            [options]="$zonas | async"
                            optionLabel="deZonaRegi"
                            optionValue="coZonaRegi">
                </p-dropdown>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="oficina">Oficina Registral</label>
                <p-dropdown readonly="true"
                            [filter]="true" 
                            filterBy="deOficRegi" 
                            filterValue="deOficRegi"
                            formControlName="oficina"
                            styleClass="inputfield w-full"
                            [options]="$oficinas | async"
                            optionLabel="deOficRegi"
                            optionValue="coOficRegi">
                </p-dropdown>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="local">Local</label>
                <p-dropdown readonly="true"
                            [filter]="true" 
                            filterBy="deLocaAten" 
                            filterValue="deLocaAten"
                            formControlName="local"
                            styleClass="inputfield w-full"
                            [options]="$locales | async"
                            optionLabel="deLocaAten"
                            optionValue="coLocaAten">
                </p-dropdown>
            </div>
        </div>

        <div class="formgrid grid lg:mb-1 md:mb-4 py-2">
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="tipo">Tipo Documento</label>
                <p-dropdown readonly="true"
                            [filter]="true" 
                            filterBy="cdescri" 
                            filterValue="cdescri"
                            formControlName="tipoDocu"
                            styleClass="inputfield w-full"
                            [options]="$tipoDocumento | async"
                            optionLabel="cdescri"
                            optionValue="ccodigoHijo">
                </p-dropdown>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="numero">Número</label>
                <div class="">
                    <input readonly pInputText formControlName="nroDocu" type="text" class="w-full">
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="fecha">Fecha</label>
                <div class="">
                    <input readonly pInputText formControlName="fecha" type="text" class="w-full">
                </div>
            </div>
        </div>

        <div class="formgrid grid py-2">
            <div class="field col-12 md:col-10">
                <label for="sustento">Sustentos</label>
                <div class="">
                    <app-upload [nroBandeja]="bandeja" [nroAdd]="add" [nroDel]="delete" 
                                [disabled]="true" [disabledDelete]="true">
                    </app-upload>
                </div>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        style="width: 9em;"
                        label="Regresar"
                        class="p-button-secondary" 
                        (click)="regresar()">
                </button>
            </div>
        </div>
    </div>
</div>