<p-panel header="Constancia de Abono de Cuenta de Terceros">

    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="searchConstancia" class="col-10">
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnBuscar, codBandeja)" pButton type="button" 
                        (click)="buscarConstancia()" label="Buscar"class="p-button-buscar">
                </button>
            </div>
			<div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="oficina">Zona Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deZonaRegi" 
                                filterValue="deZonaRegi"
                                formControlName="zona"
                                styleClass="inputfield w-full"
                                [options]="$zonas | async"
                                optionLabel="deZonaRegi"
                                optionValue="coZonaRegi"
                                (onChange)="buscarOficina()">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="oficina">Oficina Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deOficRegi" 
                                filterValue="deOficRegi"
                                formControlName="oficina"
                                styleClass="inputfield w-full"
                                [options]="$oficinas | async"
                                optionLabel="deOficRegi"
                                optionValue="coOficRegi">
                    </p-dropdown>
				</div>

				<div class="field col-12 xl:col-3 md:col-6">
					<label for="">Desde</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecDesde" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat">
                        </p-calendar>
                    </div>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="">Hasta</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecHasta"
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat">
                        </p-calendar>
                    </div>
				</div>
			</div>

			<div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="oficina">Nro. Constancia</label>
					<input pInputText formControlName="nroConst" type="text" class="w-full">
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="oficina">Usuario de Creación</label>
					<input pInputText formControlName="usuario" type="text" class="w-full">
				</div>

				<div class="field col-12 xl:col-3 md:col-6">
					<label for="oficina">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdescri" 
                                filterValue="cdescri"
                                formControlName="estado"
                                styleClass="inputfield w-full"
                                [options]="$estadoConstancia | async"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo">
                    </p-dropdown>
				</div>
			</div>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-12 lg:col-8 xl:col-6"></div>
                    <div class="col-12 lg:col-8 xl:col-6 text-right">
                        <button *ngIf="showButtonAct(BtnVer_Documento, codBandeja)" pButton pTooltip="Ver Documento" tooltipPosition="top" 
                                icon="pi pi-eye" (click)="verDocumento()" class="p-button-documento mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnSustentos, codBandeja)" pButton pTooltip="Sustentos" tooltipPosition="top" 
                                icon="pi pi-folder-open" (click)="sustentos()" class="p-button-sustento mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnSolicitar_Firma, codBandeja)" pButton pTooltip="Solicitar Firma" tooltipPosition="top" 
                                icon="pi pi-user-edit" (click)="firma()" class="p-button-firma mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnHistorial_Firmas, codBandeja)" pButton pTooltip="Ver historial firmas" tooltipPosition="top" 
                                icon="pi pi-book" (click)="historialFirmas()" class="p-button-historial mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnEnviar_Correo, codBandeja)" pButton pTooltip="Enviar correo a usuario" tooltipPosition="top" 
                                icon="pi pi-envelope" (click)="enviarCorreo()" class="p-button-correo-usuario mr-3">
                        </button>
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="enviadosList"
                         [customSort]="true"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedValues"
                         (sortFunction)="customSort($event)"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]">
                    
                    <ng-template pTemplate="caption">
                        <div class="col text-right">
                            <button *ngIf="showButtonAct(BtnExportar, codBandeja)" type="button" pButton pRipple icon="pi pi-file-excel" 
                                    (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom">
                            </button>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="deZonaRegi">Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon></th>
                            <th pSortableColumn="deOficRegi">Oficina Registral <p-sortIcon field="deOficRegi"></p-sortIcon></th>
                            <th pSortableColumn="nuConsAbon">Número Constancia <p-sortIcon field="nuConsAbon"></p-sortIcon></th>
                            <th pSortableColumn="cdeInst">Institución <p-sortIcon field="cdeInst"></p-sortIcon></th>
                            <th pSortableColumn="noProyCtaTerc">Proyecto <p-sortIcon field="noProyCtaTerc"></p-sortIcon></th>
                            <th pSortableColumn="cdeInstBnco">Banco <p-sortIcon field="cdeInstBnco"></p-sortIcon></th>    
                            <th pSortableColumn="nuOperaDepo">Número Operación <p-sortIcon field="nuOperaDepo"></p-sortIcon></th>    
                            <th pSortableColumn="feDepo">Fecha <p-sortIcon field="feDepo"></p-sortIcon></th>    
                            <th pSortableColumn="moDepo">Monto <p-sortIcon field="moDepo"></p-sortIcon></th> 
                            <th pSortableColumn="noUsuaCrea">Usuario Creación <p-sortIcon field="noUsuaCrea"></p-sortIcon></th> 
                            <th pSortableColumn="deEsta">Estado <p-sortIcon field="deEsta"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-constancia>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="constancia"></p-tableCheckbox>
                            </td>
                            <td>{{ constancia.deZonaRegi }}</td>
                            <td>{{ constancia.deOficRegi }}</td>
                            <td>{{ constancia.nuConsAbon }}</td>
                            <td>{{ constancia.cdeInst }}</td>
                            <td>{{ constancia.noProyCtaTerc }}</td>
                            <td>{{ constancia.cdeInstBnco }}</td>
                            <td>{{ constancia.nuOperaDepo }}</td>
                            <td>{{ constancia.feDepo.substring(0,10).split('-').reverse().join('/') }}</td>
                            <td class="text-right">{{ formatearMontoImporte(constancia.moDepo) }}</td>
                            <td>{{ constancia.noUsuaCrea }}</td>
                            <td>{{ constancia.deEsta }}</td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>