<div class="grid mt-2">
    <div [formGroup]="formRecaudacionSiafMef" class="col-12">
        <p-fieldset legend="Datos Generales">
            <div class="formgrid grid">
                <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                    <label>Expediente</label>
                    <label class="label-data">{{ this.conciliacionManual.nuExpe }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Fecha</label>
                    <label class="label-data">{{ this.conciliacionManual.feDocu | date:'dd/MM/yyyy' }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Cod. Doc.</label>
                    <label class="label-data">{{ this.conciliacionManual.coDocu }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                    <label>Nro. Doc.</label>
                    <label class="label-data">{{ this.conciliacionManual.nuDocu }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Debe</label>
                    <label class="label-data text-right">{{ (this.conciliacionManual.imDebe !== null) ? formatearMontoImporte(this.conciliacionManual.imDebe) : '' }}</label>                
                </div>
				<div class="field col-12 md:col-6 xl:col-4">
					<label for="estado">Estado</label>
					<p-dropdown [filter]="false"
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaEstado"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                (onChange)="seleccionarEstado($event)">
                    </p-dropdown>					
					
				</div>
				<div class="field col-12 md:col-6 xl:col-12">
                    <label for="">Observaciones</label>
                    <div class="p-fluid">
                        <textarea formControlName="observacion" [rows]="6" class="w-full" pInputTextarea></textarea>
                    </div>
                </div>

			</div>
        </p-fieldset>
		<div class="formgrid grid mt-4">
            <div class="col buttons-conciliacion">
                <button pButton type="button" 
                    icon="pi pi-check"
                    style="width: 9em;"
                    label="Grabar"
                    class="p-button-buscar"
                    (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
