<div class="grid mt-2">
    <div [formGroup]="formRecaudacionMef" class="col-12">
       <p-fieldset legend="Datos Generales">
            <div class="formgrid grid" *ngIf="isEditar">
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Fecha</label>
                    <label class="label-data">{{ this.conciliacionManual.feBanc | date:'dd/MM/yyyy' }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                    <label>Transacción</label>
                    <label class="label-data">{{ this.conciliacionManual.deTran }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-4 div-readonly">
                    <label>Codificación/Cheque</label>
                    <label class="label-data">{{ this.conciliacionManual.coTran }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Cargo</label>
                    <label class="label-data text-right">{{ (this.conciliacionManual.imCarg !== null) ? formatearMontoImporte(this.conciliacionManual.imCarg) : '' }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Abono</label>
                    <label class="label-data text-right">{{ (this.conciliacionManual.imAbon !== null) ? formatearMontoImporte(this.conciliacionManual.imAbon) : '' }}</label>                
                </div>
				<div class="field col-12 md:col-6 xl:col-4">
					<label for="estado">Estado</label>
					<p-dropdown appendTo="body"
                                [filter]="false"
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaEstado"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                (onChange)="seleccionarEstado($event)">
                    </p-dropdown>	
				</div>
				<div class="field col-12 md:col-6 xl:col-12">
                    <label for="">Observaciones</label>
                    <div class="p-fluid">
                        <textarea formControlName="observacion" [rows]="6" class="w-full" pInputTextarea></textarea>
                    </div>
                </div>

			</div>
			<div class="formgrid grid" *ngIf="!isEditar">
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Fecha</label>
					<div class="p-fluid">
						<p-calendar 
							appendTo="body"
							formControlName="feBanc"                           
							dateFormat="dd/mm/yy"
							[maxDate]="fechaMaxima"
							inputId="dateformat"                             
							inputId="idFeBanc"
							readonlyInput="true"
						>
						</p-calendar>
					</div>               
                </div>
                <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                    <label>Transacción</label>
					<div class="">
						<input pInputText id="deTran" formControlName="deTran" type="text" class="w-full p-input" >
					</div>                
                </div>
                <div class="field col-12 md:col-6 xl:col-4 div-readonly">
                    <label>Codificación/Cheque</label>
					<div class="">
						<input pInputText id="coTran" formControlName="coTran" type="text" class="w-full p-input" >
					</div>					
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Cargo</label>
					<div class="">
						<input (change)="ingresaCargo()" pInputText id="imCarg" formControlName="imCarg" type="text" class="w-full p-input-text-right" >
					</div>	
                 </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Abono</label>
					<div class="">
						<input (change)="ingresaAbono()" pInputText id="imAbon" formControlName="imAbon" type="text" class="w-full p-input-text-right" >
					</div>	
                </div>
				<div class="field col-12 md:col-6 xl:col-4">
					<label for="estado">Estado</label>
					<p-dropdown appendTo="body"
                                [filter]="false"
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaEstado"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                (onChange)="seleccionarEstado($event)"
                                #ddlEstado>
                    </p-dropdown>	
				</div>
				<div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label></label>
                    <label ></label>                
                </div>

			</div>
        </p-fieldset>
		<div class="formgrid grid mt-4">
            <div class="col buttons-conciliacion">
                <button pButton type="button" *ngIf="isEditar" 
                    icon="pi pi-check"
                    style="width: 9em;"
                    label="Grabar"
                    class="p-button-buscar"
                    (click)="grabar()">
                </button>
                <button pButton *ngIf="!isEditar" 
                    type="button" 
                    icon="pi pi-check"
                    style="width: 9em;"
                    label="Grabar"
                    class="p-button-buscar"
                    (click)="grabarNuevo()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
