<div class="grid mt-2">
    <div [formGroup]="formRecaudacionCCI" class="col-12">
       <p-fieldset legend="Datos Generales">
            <div class="formgrid grid" *ngIf="isEditar">
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Cuenta ID</label>
                    <label class="label-data">{{ this.conciliacionManual.usrId }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Fecha</label>
                    <label class="label-data">{{ this.conciliacionManual.fecOperacionBan | date:'dd/MM/yyyy' }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Hora</label>
                    <label class="label-data">{{ this.conciliacionManual.tsCrea | date:'dd/MM/yyyy' }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                    <label>Concepto</label>
                    <label class="label-data">{{ this.conciliacionManual.usrCaja }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                    <label>Tipo Operación</label>
                    <label class="label-data">{{ this.conciliacionManual.personaId }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Tipo Persona</label>
                    <label class="label-data">{{ this.conciliacionManual.tpoPers }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                    <label>Razón Social/Apellidos y Nombres</label>
                    <label class="label-data">{{ this.conciliacionManual.noRazoSoci }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-2 div-readonly">
                    <label>Monto</label>
                    <label class="label-data text-right">{{ (this.conciliacionManual.monto !== null) ? formatearMontoImporte(this.conciliacionManual.monto) : '' }}</label>                
                </div>
                <div class="field col-12 md:col-6 xl:col-1 div-readonly">
                    <label>Tipo</label>
                    <label class="label-data text-right">{{ this.conciliacionManual.numOperacionBan }}</label>                
                </div>
				<div class="field col-12 md:col-6 xl:col-4">
					<label for="estado">Estado</label>
					<p-dropdown appendTo="body"
                                [filter]="false"
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaEstado"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                (onChange)="seleccionarEstado($event)">
                    </p-dropdown>	
				</div>
				<div class="field col-12 md:col-6 xl:col-12">
                    <label for="">Observaciones</label>
                    <div class="p-fluid">
                        <textarea formControlName="observacion" [rows]="6" class="w-full" pInputTextarea></textarea>
                    </div>
                </div>
			</div>
        </p-fieldset>
        
		<div class="formgrid grid mt-4">
            <div class="col buttons-conciliacion">
                <button pButton type="button" *ngIf="isEditar" 
                    icon="pi pi-check"
                    style="width: 9em;"
                    label="Grabar"
                    class="p-button-buscar"
                    (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
