<p-panel header="Carta Orden">

    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="searchCarta" class="col-10">
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnBuscar, codBandeja)" pButton type="button" 
                        (click)="buscarCarta(false)" label="Buscar"class="p-button-buscar">
                </button>
            </div>
			<div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="zona">Zona Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deZonaRegi" 
                                filterValue="deZonaRegi"
                                formControlName="zona"
                                styleClass="inputfield w-full"
                                [options]="listaZonaRegistral"
                                optionLabel="deZonaRegi"
                                optionValue="coZonaRegi"
                                (onChange)="buscarOficinaRegistral()"
                                [class.spinner]="loadingZonaRegistral" 
                                [disabled]="loadingZonaRegistral"
                                #ddlZona>
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="oficina">Oficina Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deOficRegi" 
                                filterValue="deOficRegi"
                                formControlName="oficina"
                                styleClass="inputfield w-full"
                                [options]="listaOficinaRegistral"
                                optionLabel="deOficRegi"
                                optionValue="coOficRegi"
                                (onChange)="buscarLocal()"
                                [class.spinner]="loadingOficinaRegistral" 
                                [disabled]="loadingOficinaRegistral"
                                #ddlOficinaRegistral>
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="local">Local</label>
					<p-dropdown [filter]="true" 
                                filterBy="deLocaAten" 
                                filterValue="deLocaAten"
                                formControlName="local"
                                styleClass="inputfield w-full"
                                [options]="listaLocal"
                                optionLabel="deLocaAten"
                                optionValue="coLocaAten"
                                [class.spinner]="loadingLocal" 
                                [disabled]="loadingLocal"
                                #ddlLocal>
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="tipoComp">Tipo de Carta Orden</label>
					<p-dropdown [filter]="true" 
                                filterBy="noTipoCartOrde" 
                                filterValue="noTipoCartOrde"
                                formControlName="tipoCart"
                                styleClass="inputfield w-full"
                                [options]="listaTipoCartaOrden"
                                optionLabel="noTipoCartOrde"
                                optionValue="idTipoCartOrde"
                                [class.spinner]="loadingTipoCarta" 
                                [disabled]="loadingTipoCarta"
                                #ddlTipoCarta>
                    </p-dropdown>
				</div>
			</div>

			<div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="fecDes">Desde</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecDes" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaDesde"
                                    (onSelect)="cambioFechaInicio()">
                        </p-calendar>
                    </div>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="fecHas">Hasta</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecHas" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaHasta"
                                    (onSelect)="cambioFechaFin()">
                        </p-calendar>
                    </div>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroComp">Nro. Carta Orden</label>
					<input pInputText formControlName="nroCart" type="text" class="w-full text-right" (keypress)="validarNumero($event)">
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroSiaf">Número SIAF</label>
					<input pInputText formControlName="nroSiaf" type="text" class="w-full text-right" (keypress)="validarNumero($event)">
				</div>
			</div>

            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroSiaf">Usuario</label>
					<input pInputText formControlName="usuario" type="text" class="w-full">
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                    <label for="zona">Grupo</label>
                    <p-dropdown [filter]="true" 
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaGrupos"
                                formControlName="grupo"
                                styleClass="inputfield w-full"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                [class.spinner]="loadingGrupos">
                    </p-dropdown>
                </div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="estado">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdescri" 
                                filterValue="cdescri"
                                formControlName="estado"
                                styleClass="inputfield w-full"
                                [options]="listaEstadoCartaOrden"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                [class.spinner]="loadingEstado" 
                                [disabled]="loadingEstado"
                                #ddlEstado>
                    </p-dropdown>
				</div>
            </div>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-12 lg:col-8 xl:col-6">
                        <button *ngIf="showButtonAct(BtnNuevo, codBandeja)" pButton pTooltip="Nuevo" tooltipPosition="top"
                                icon="pi pi-file" (click)="nuevaCarta()" class="p-button-nuevo mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnEditar, codBandeja)" pButton pTooltip="Editar" tooltipPosition="top" 
                                icon="pi pi-pencil" (click)="editarCarta()" class="p-button-editar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnAnular, codBandeja)" pButton pTooltip="Anular" tooltipPosition="top" 
                                icon="pi pi-times" (click)="anular()" class="p-button-anular mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnActivar, codBandeja)" pButton pTooltip="Activar" tooltipPosition="top" 
                                icon="pi pi-power-off" (click)="activar()" class="p-button-activar mr-3">
                        </button>
                        <button  *ngIf="showButtonAct(BtnConsultar, codBandeja)" pButton pTooltip="Consultar registro" tooltipPosition="top" 
                                icon="pi pi-info-circle" (click)="consultar()" class="p-button-consultar">
                        </button>
                    </div>

                    <div class="col-12 lg:col-8 xl:col-6 row-buttons-maintenance">
                        <button *ngIf="showButtonAct(BtnVer_Documento, codBandeja)" pButton pTooltip="Ver Documento" tooltipPosition="top" 
                                icon="pi pi-eye" (click)="verDocumento()" class="p-button-documento mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnSustentos, codBandeja)" pButton pTooltip="Sustentos" tooltipPosition="top" 
                                icon="pi pi-folder-open" (click)="sustentos()" class="p-button-sustento mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnAnexos, codBandeja)" pButton pTooltip="Anexos" tooltipPosition="top" 
                                icon="pi pi-paperclip" (click)="anexos()" class="p-button-anexos mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnSolicitar_Firma, codBandeja)" pButton pTooltip="Solicitar Firma" tooltipPosition="top" 
                                icon="pi pi-user-edit" (click)="solicitarFirma()" class="p-button-firma mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnVer_Historial, codBandeja)" pButton pTooltip="Ver historial firmas" tooltipPosition="top" 
                                icon="pi pi-book" (click)="historialFirmas()" class="p-button-historial mr-3">
                        </button>
                        <button  pButton pTooltip="Enviar correo a usuario" tooltipPosition="top" 
                                icon="pi pi-envelope" (click)="enviarCorreo()" class="p-button-correo-usuario">
                        </button>
                        <!-- *ngIf="showButtonAct(BtnEnviar_Correo, codBandeja)" -->
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="listaCartaOrden"
                         [customSort]="true"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedValues"
                         (sortFunction)="customSort($event)"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]"
                         [loading]="loadingCartaOrden">

                    <ng-template pTemplate="caption">
                        <div class="col text-right">
                            <button *ngIf="showButtonAct(BtnExcel, codBandeja)" type="button" pButton pRipple icon="pi pi-file-excel" 
                                    (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom">
                            </button>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="deZonaRegi">Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon></th>
                            <th pSortableColumn="deOficRegi">Oficina Registral <p-sortIcon field="deOficRegi"></p-sortIcon></th>
                            <th pSortableColumn="deLocaAten">Local <p-sortIcon field="deLocaAten"></p-sortIcon></th>
                            <th pSortableColumn="noTipoCartOrde">Tipo Carta Orden <p-sortIcon field="noTipoCartOrde"></p-sortIcon></th>
                            <th pSortableColumn="nuCartOrde">Nro Carta Orden <p-sortIcon field="nuCartOrde"></p-sortIcon></th>
                            <th pSortableColumn="feCartOrde">Fecha <p-sortIcon field="feCartOrde"></p-sortIcon></th>
                            <th pSortableColumn="imCartOrde">Monto <p-sortIcon field="imCartOrde"></p-sortIcon></th>    
                            <th pSortableColumn="nuSiaf">Nro. SIAF <p-sortIcon field="nuSiaf"></p-sortIcon></th>    
                            <th pSortableColumn="nuCompPago">Nro. Comprobante <p-sortIcon field="nuCompPago"></p-sortIcon></th>    
                            <th pSortableColumn="noGrup">Grupo <p-sortIcon field="noGrup"></p-sortIcon></th>    
                            <th pSortableColumn="noUsuaCrea">Usuario <p-sortIcon field="noUsuaCrea"></p-sortIcon></th>    
                            <th pSortableColumn="deEsta">Estado <p-sortIcon field="deEsta"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-carta>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="carta"></p-tableCheckbox>
                            </td>
                            <td>{{ carta.deZonaRegi }}</td>
                            <td>{{ carta.deOficRegi }}</td>
                            <td>{{ carta.deLocaAten }}</td>
                            <td>{{ carta.noTipoCartOrde }}</td>
                            <td>{{ carta.nuCartOrde }}</td>
                            <td>{{ carta.feCartOrde | date:"dd/MM/yy" }}</td>
                            <td class="right-text">{{ formatearMonto( carta.imCartOrde ) }}</td>
                            <td>{{ carta.nuSiaf }}</td>
                            <td>{{ carta.nuCompPago }}</td>
                            <td>{{ carta.noGrup }}</td>
                            <td>{{ carta.noUsuaCrea }}</td>
                            <td>{{ carta.deEsta }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>