<div [formGroup]="solicitarFirmas">
    <div>
        <div class="formgrid grid align-items">
            <div class="col-12 xl:col-3 md:col-3 mb-2">
                <label for="zona" class="font-weight">Orden</label>
            </div>
        
            <div class="col-12 xl:col-3 md:col-3 mb-2">
                <label for="zona" class="font-weight">Perfil</label>
            </div>
        </div>
    </div>
    <div class="separar-inputs">
        <div class="formgrid grid align-items">
            <div class="col-12 xl:col-3 md:col-3 mb-2">
                <label for="zona">1ra. Firma</label>
            </div>
        
            <div class="ffield col-12 xl:col-8 md:col-8 p-dropdown-loading">
                <p-dropdown [filter]="true" 
                            filterBy="cdescri" 
                            filterValue="cdescri"
                            formControlName="firma01"
                            styleClass="inputfield w-full"
                            [options]="listaFirma01"
                            optionLabel="cdescri"
                            optionValue="ccodigoHijo"
                            [class.spinner]="loadingFirma" 
                            [disabled]="loadingFirma"
                            (onChange)="cambioFirma01($event)">
                </p-dropdown>
            </div>
        </div>
    </div>
    
    <div class="separar-inputs">
        <div class="formgrid grid align-items">
            <div class="col-12 xl:col-3 md:col-3 mb-2">
                <label for="zona">2da. Firma</label>
            </div>
        
            <div class="ffield col-12 xl:col-8 md:col-8 p-dropdown-loading">
                <p-dropdown [filter]="true" 
                            filterBy="cdescri" 
                            filterValue="cdescri"
                            formControlName="firma02"
                            styleClass="inputfield w-full"
                            [options]="listaFirma02"
                            optionLabel="cdescri"
                            optionValue="ccodigoHijo"
                            [class.spinner]="loadingFirma" 
                            (onChange)="cambioFirma02($event)">
                </p-dropdown>
            </div>
        </div>
    </div>
    
    <div class="separar-inputs">
        <div class="formgrid grid align-items">
            <div class="col-12 xl:col-3 md:col-3 mb-2">
                <label for="zona">3ra. Firma</label>
            </div>
        
            <div class="ffield col-12 xl:col-8 md:col-8 p-dropdown-loading">
                <p-dropdown [filter]="true" 
                            filterBy="cdescri" 
                            filterValue="cdescri"
                            formControlName="firma03"
                            styleClass="inputfield w-full"
                            [options]="listaFirma03"
                            optionLabel="cdescri"
                            optionValue="ccodigoHijo"
                            [class.spinner]="loadingFirma">
                </p-dropdown>
            </div>
        </div>
    </div>
    <div class="formgrid grid separar-button" style="width: 92%">
        <div class="col text-right">
            <button pButton type="button" 
                    icon="pi pi-check"
                    style="width: 9em; margin-left: 1em;"
                    label="Grabar"
                    class="p-button-buscar"
                    (click)="solicitarFirma()">
            </button>
            <button pButton type="button" 
                    icon="pi pi-times" 
                    style="width: 9em; margin-left: 1em;"
                    label="Cancelar"
                    class="p-button-anular"
                    (click)="cancelar()">
            </button>
        </div>
    </div>

</div>