.div-campo-obligatorio {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.p-list-variables {
    border: 1px solid #ced4da;
    border-radius: 6px;
    margin-top: 0.5rem;
    max-width: 100%;

    &__div1 {
      max-width: 100%;

      &__div2 {
        max-width: 100%;

        &__text {
          max-width: 100%;
          cursor: pointer;
        }
      }
    }
}

@media (max-width: 1300px) {
  .p-list-variables__div1__div2__text {
    overflow: auto;
  }
}

.p-text-variable {
  // overflow: auto;
  max-width: 100%;
  cursor: pointer;
}