<p-panel header="Carta Orden - Nuevo">

    <div [formGroup]="carta" class="grid">
        <div class="col-1"></div>
        <div class="col-10">

            <div class="grid mt-4">
                <div class="col-12">
                    <div class="div-campo-obligatorio">
                        <span class="campo-obligatorio">(*)</span> <b>Campo obligatorio</b>
                    </div>
                    <p-fieldset legend="Datos Generales">
                        <div class="formgrid grid">
                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Zona Registral <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true"
                                            filterBy="deZonaRegi"
                                            filterValue="deZonaRegi"
                                            formControlName="zona"
                                            styleClass="inputfield w-full"
                                            [options]="listaZonaRegistral"
                                            optionLabel="deZonaRegi"
                                            optionValue="coZonaRegi"
                                            (onChange)="buscarOficinaRegistral()"
                                            [class.spinner]="loadingZonaRegistral"
                                            [disabled]="loadingZonaRegistral"
                                            #ddlZona>
                                </p-dropdown>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Oficina Registral <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true"
                                            filterBy="deOficRegi"
                                            filterValue="deOficRegi"
                                            formControlName="oficina"
                                            styleClass="inputfield w-full"
                                            [options]="listaOficinaRegistral"
                                            optionLabel="deOficRegi"
                                            optionValue="coOficRegi"
                                            (onChange)="buscarLocal()"
                                            [class.spinner]="loadingOficinaRegistral"
                                            [disabled]="loadingOficinaRegistral"
                                            #ddlOficinaRegistral>
                                </p-dropdown>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Local <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true"
                                            filterBy="deLocaAten"
                                            filterValue="deLocaAten"
                                            formControlName="local"
                                            styleClass="inputfield w-full"
                                            [options]="listaLocal"
                                            optionLabel="deLocaAten"
                                            optionValue="coLocaAten"
                                            [class.spinner]="loadingLocal"
                                            [disabled]="loadingLocal"
                                            #ddlLocal>
                                </p-dropdown>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Tipo de Carta Orden <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true"
                                            filterBy="noTipoCartOrde"
                                            filterValue="noTipoCartOrde"
                                            formControlName="tipoCarta"
                                            styleClass="inputfield w-full"
                                            [options]="listaTipoCartaOrden"
                                            optionLabel="noTipoCartOrde"
                                            optionValue="idTipoCartOrde"
                                            (onChange)="onChangeTipoCartaOrden( $event )"
                                            [class.spinner]="loadingTipoCarta"
                                            [disabled]="loadingTipoCarta"
                                            #ddlTipoCarta>
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="numero">Nro. Carta Orden</label>
                                <input pInputText formControlName="nroCarta" type="text" class="w-full">
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="fecha">Fecha <span class="campo-obligatorio">(*)</span></label>
                                <div class="p-fluid">
                                    <p-calendar [showIcon]="true"
                                                appendTo="body"
                                                inputId="icon"
                                                formControlName="fecha"
                                                [maxDate]="fechaActual"
                                                inputId="idFecha"
                                                inputId="dateformat">
                                    </p-calendar>
                                </div>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="oficina">Monto <span class="campo-obligatorio">(*)</span></label>
                                <input
                                    id="idMonto"
                                    pInputText
                                    type="text"
                                    formControlName="monto"
                                    class="w-full text-right"
                                    (blur)="formatearNumero($event)"
                                    (keypress)="validarMonto($event)">
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="oficina">Número SIAF</label>
                                <input pInputText formControlName="nroSIAF" type="text" class="w-full text-right" (keypress)="validarNumero($event)">
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="oficina">Nro. Comprobante</label>
                                <input pInputText formControlName="nroComp" type="text" class="w-full">
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Tipo Doc. Referencia</label>
                                <p-dropdown [filter]="true"
                                            filterBy="deSala"
                                            filterValue="deSala"
                                            formControlName="tipoDocuRef"
                                            styleClass="inputfield w-full"
                                            [options]="$tipoDocReferencia | async"
                                            optionLabel="cdescri"
                                            optionValue="ccodigoHijo"
                                            (onChange)="onChangeTipoDocReferencia( $event )"
                                            [class.spinner]="loadingTipoReferencia"
                                            [disabled]="loadingTipoReferencia"
                                            #ddlTipoReferencia>
                                </p-dropdown> <!--  | [options]="$salas | async" -->
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="monto">Nro. Doc. Referencia</label>
                                <input pInputText formControlName="nroDocuRef" type="text" class="w-full">
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="zona">Grupo <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true"
                                            filterBy="cdescri"
                                            filterValue="cdescri"
                                            [options]="listaGrupos"
                                            formControlName="grupo"
                                            styleClass="inputfield w-full"
                                            optionLabel="cdescri"
                                            optionValue="ccodigoHijo"
                                            [class.spinner]="loadingGrupos"
                                            #ddlGrupo>
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12 md:col-6">
                                <label for="monto">Destinatario</label>
                                <input pInputText formControlName="destina" type="text" class="w-full">
                            </div>

                            <div class="field col-12 md:col-6">
                                <label for="oficina">Cargo</label>
                                <input pInputText formControlName="cargo" type="text" class="w-full">
                            </div>
                        </div>

                        <div class="grid mt-2">
                            <div class="col-12">
                                <p-fieldset legend="Cuentas Bancarias">
                                    <div class="formgrid grid">
                                        <div class="field mt-6">
                                            <div class="field-checkbox flex">
                                                <label class="font-bold cursor-pointer" for="">Cargo &nbsp;&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                                            <label for="zona">Banco</label>
                                            <p-dropdown [filter]="true"
                                                        filterBy="cdeInst"
                                                        filterValue="cdeInst"
                                                        formControlName="bancoCargo"
                                                        styleClass="inputfield w-full"
                                                        [options]="listaBancoCargo"
                                                        optionLabel="cdeInst"
                                                        optionValue="nidInstitucion"
                                                        (onChange)="onChangeBancoCargo( $event )"
                                                        [class.spinner]="loadingBancoCargo"
                                                        [disabled]="loadingBancoCargo"
                                                        #ddlBancoCargo>
                                            </p-dropdown>
                                        </div>
                                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                                            <label for="oficina">Cuenta Bancaria</label>
                                            <p-dropdown [filter]="true"
                                                        filterBy="nuCuenBanc"
                                                        filterValue="nuCuenBanc"
                                                        formControlName="cuentaCargo"
                                                        styleClass="inputfield w-full"
                                                        [options]="listaCuentaCargo"
                                                        optionLabel="nuCuenBanc"
                                                        optionValue="nuCuenBanc"
                                                        (onChange)="onChangeCuentaCargo( $event )"
                                                        [class.spinner]="loadingCuentaCargo"
                                                        [disabled]="loadingCuentaCargo"
                                                        #ddlCuentaCargo>
                                            </p-dropdown>
                                        </div>
                                        <div class="field col-12 sm:col-12 lg:col-5">
                                            <label for="oficina">Nombre de la cuenta</label>
                                            <div class="">
                                                <input readonly formControlName="nombreCuentaCargo" pInputText type="text" class="w-full">
                                            </div>
                                        </div>
                                    </div>
            
                                    <div class="formgrid grid">
                                        <div class="field mt-6">
                                            <div class="field-checkbox flex">
                                                <label class="font-bold cursor-pointer" for="">Abono &nbsp;&nbsp;</label>
                                            </div>
                                        </div>
                                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                                            <label for="zona">Banco</label>
                                            <p-dropdown [filter]="true"
                                                        filterBy="cdeInst"
                                                        filterValue="cdeInst"
                                                        formControlName="bancoAbono"
                                                        styleClass="inputfield w-full"
                                                        [options]="listaBancoAbono"
                                                        optionLabel="cdeInst"
                                                        optionValue="nidInstitucion"
                                                        (onChange)="onChangeBancoAbono( $event, false )"
                                                        [class.spinner]="loadingBancoAbono"
                                                        [disabled]="loadingBancoAbono"
                                                        #ddlBancoAbono>
                                            </p-dropdown>
                                        </div>
                                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                                            <label for="oficina">Cuenta Bancaria</label>
                                            <p-dropdown [filter]="true"
                                                        filterBy="nuCuenBanc"
                                                        filterValue="nuCuenBanc"
                                                        formControlName="cuentaAbono"
                                                        styleClass="inputfield w-full"
                                                        [options]="listaCuentaAbono"
                                                        optionLabel="nuCuenBanc"
                                                        optionValue="nuCuenBanc"
                                                        (onChange)="onChangeCuentaAbono( $event )"
                                                        [class.spinner]="loadingCuentaAbono"
                                                        [disabled]="loadingCuentaAbono"
                                                        [editable]="true"
                                                        #ddlCuentaAbono>
                                            </p-dropdown>
                                        </div>
                                        <div class="field col-12 sm:col-12 lg:col-5">
                                            <label for="oficina">Nombre de la cuenta</label>
                                            <div class="">
                                                <input [readonly]="readonlyNombre" formControlName="nombreCuentaAbono" pInputText type="text" class="w-full">
                                            </div>
                                        </div>
                                    </div>
                                </p-fieldset>
                            </div>
                        </div>

                        <div class="formgrid grid lg:mb-1 md:mb-4 py-4">
                            <div class="col-8">
                                <div class="field col-12 sm:col-12 lg:col-12">
                                    <label for="oficina">Inicio</label>
                                    <div class="">
                                        <p-editor formControlName="inicio" [style]="{'height':'120px'}" (onSelectionChange)="selectionChangeInicio($event)" 
                                                    (onInit)="initEditorInicio($event)">
                                            <ng-template pTemplate="header">
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                                </span>
                                            </ng-template>
                                        </p-editor>
                                    </div>
                                </div>
                                <div class="field col-12 sm:col-12 lg:col-12">
                                    <label for="oficina">Concepto</label>
                                    <div class="">
                                        <p-editor formControlName="concepto" [style]="{'height':'120px'}" (onSelectionChange)="selectionChangeConcepto($event)"
                                                    (onInit)="initEditorConcepto($event)">
                                            <ng-template pTemplate="header">
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                                </span>
                                            </ng-template>
                                        </p-editor>
                                    </div>
                                </div>
                                <div class="field col-12 sm:col-12 lg:col-12">
                                    <label for="oficina">Final</label>
                                    <div class="">
                                        <p-editor formControlName="final" [style]="{'height':'120px'}" (onSelectionChange)="selectionChangeFinal($event)"
                                                    (onInit)="initEditorFinal($event)">
                                            <ng-template pTemplate="header">
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                                </span>
                                            </ng-template>
                                        </p-editor>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="field col-12 sm:col-12 lg:col-12">
                                    <label for="">Variables</label>
                                    <p-listbox [options]="listaVariables" optionLabel="deCamp" [(ngModel)]="insertarVariable" 
                                                [ngModelOptions]="{standalone: true}">
                                    </p-listbox>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="formgrid grid mt-6">
                <div class="col text-right">
                    <button pButton type="button"
                            icon="pi pi-check"
                            style="width: 9em;"
                            label="Grabar"
                            class="p-button-buscar"
                            (click)="grabar()">
                    </button>
                    <button pButton type="button"
                            icon="pi pi-times"
                            style="width: 9em; margin-left: 1em;"
                            label="Cancelar"
                            class="p-button-anular"
                            (click)="cancelar()">
                    </button>
                </div>
            </div>
        </div>
    </div>

</p-panel>