<p-blockUI [blocked]="blocked">
    <p>Por favor espere...</p>
</p-blockUI>

<div class="grid mt-2">
    <div [formGroup]="empleado" class="col-12">

        <div class="formgrid grid">
            <div class="field col col-12 md:col-4">
                <label for="">Documento Identidad</label>
                <p-dropdown appendTo="body"
                            id="input1"
                            [filter]="true" 
                            filterBy="cdescri" 
                            filterValue="cdescri"
                            formControlName="tipoDocu"
                            [options]="$tipoDocumentos | async"
                            styleClass="inputfield w-full"
                            optionLabel="cdescri"
                            optionValue="ccodigoHijo"
                            (onChange)="selectDocumento($event)">
                </p-dropdown>
                <small id="username2-help" class="p-error block"
                            *ngIf="msgTipDocu">
                        El tipo de documento es un campo obligatorio.
                </small>
            </div>

            <div class="field col col-12 md:col-4">
                <label for="">Nro. Doc. Identidad</label>
                <input pInputText id="input2" type="text" formControlName="nroDocu" [maxlength]="maxLength" class="w-full">
                <small id="username2-help" class="p-error block"
                            *ngIf="campoEsValido('nroDocu')">
                        El número de documento es un campo obligatorio.
                </small>
            </div>

            <div class="field col col-12 md:col-4">
                <label for="">Nombres</label>
                <input pInputText id="input3" type="text" formControlName="nomEmpl" class="w-full">
                <small id="username2-help" class="p-error block"
                            *ngIf="campoEsValido('nomEmpl')">
                        El nombre es un campo obligatorio.
                </small>
            </div>
        </div>

        <div class="formgrid grid mt-4">
            <div class="field col col-12 md:col-4">
                <label for="">Apellido Paterno</label>
                <input pInputText id="input4" type="text" formControlName="apePate" class="w-full">
                <small id="username2-help" class="p-error block"
                            *ngIf="campoEsValido('apePate')">
                        El apellido es un campo obligatorio.
                </small>
            </div>

            <div class="field col col-12 md:col-4">
                <label for="">Apellido Materno</label>
                <input pInputText id="input5" type="text" formControlName="apeMate" class="w-full">
            </div>

            <div class="field col col-12 md:col-4">
                <label for="">Cargo</label>
                <p-dropdown appendTo="body"
                            id="input6"
                            [filter]="true" 
                            filterBy="cdescri" 
                            filterValue="cdescri"
                            [options]="$cargos | async"
                            formControlName="cargo"
                            styleClass="inputfield w-full"
                            optionLabel="cdescri"
                            optionValue="ccodigoHijo">
                </p-dropdown>
                <small id="username2-help" class="p-error block"
                            *ngIf="campoEsValido('cargo')">
                        El cargo es un campo obligatorio.
                </small>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        [loading]="isLoading"
                        label="Grabar"
                        class="p-button-buscar" 
                        (click)="grabarEmpleado()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>