<div [formGroup]="datos" class="grid mt-4">
    <div class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-6 lg:mr-4">
                <label for="zona">Tipo de documento</label>
                <input pInputText formControlName="tipoDocumento" type="text" class="w-full" disabled="true">
            </div>
            <div class="field col-12 sm:col-12 lg:col-3">
                <label for="fecha">Fecha</label>
                <div class="p-fluid">
                    <p-calendar [showIcon]="true" appendTo="body"
                                formControlName="fecha" 
                                inputId="icon"
                                dateFormat="dd/mm/yy"
                                inputId="dateformat"
                                inputId="idFechaHasta"
                                [disabled]="true">
                    </p-calendar>
                </div>
            </div>
        </div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-12">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="listaHistorialFirmas"
                         [loading]="loadingHistorialFirmas"
                         [customSort]="true"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         [rowsPerPageOptions]="[20,40,60]">

                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="deOficRgst">Perfil <p-sortIcon field="deOficRgst"></p-sortIcon></th>
                            <th pSortableColumn="deOficRgst">Nombres y Apellidos <p-sortIcon field="deOficRgst"></p-sortIcon></th>
                            <th pSortableColumn="deSala">Fecha / Hora <p-sortIcon field="deSala"></p-sortIcon></th>
                            <th pSortableColumn="coVocal">Estado <p-sortIcon field="coVocal"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-perfil>
                        <tr>
                            <td>{{ perfil.noPerf }}</td>
                            <td>{{ perfil.noUsua }}</td>
                            <td>{{ perfil.feCrea | date:"dd/MM/yy, h:mm:ss a" }}</td>
                            <td>{{ perfil.deEsta }}</td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        style="width: 9em;"
                        label="Regresar"
                        class="p-button-secondary" 
                        (click)="regresar()">
                </button>
            </div>
        </div>
    </div>
</div>