<p-panel header="Reporte Recaudación por Transferencia vía CCI">

    <div class="grid mt-4">
        <div class="col-1"></div>
        <div class="col-10">
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnGenerar, codBandeja)" (click)="generarReporte()" 
                        pButton type="button" label="Generar" class="p-button-buscar">
                </button>
            </div>

            <app-reportes-filtros [form]="filtros" [zonas]="false" [oficinas]="false" [fechas]="true" [value]="bandeja"></app-reportes-filtros>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col text-right">
                        <button *ngIf="showButtonAct(BtnPDF, codBandeja)" (click)="exportPdf()" type="button" [disabled]="disableButton" 
                                pButton pRipple icon="pi pi-file-pdf" class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom">
                        </button>
                        <button *ngIf="showButtonAct(BtnExcel, codBandeja)" (click)="exportExcel()" type="button" [disabled]="disableButton" 
                                pButton pRipple icon="pi pi-file-excel" class="p-button-success"  pTooltip="EXCEL" tooltipPosition="bottom">
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>
