<div [formGroup]="sustento" class="grid mt-4">
    <div class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="nro_constancia">Nro Constancia</label>
                <div class="">
                    <input readonly pInputText formControlName="nroConst" type="text" class="w-full">
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="fecha">Fecha</label>
                <div class="">
                    <input readonly pInputText formControlName="fecha" type="text" class="w-full">
                </div>
            </div>
        </div>

        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="nro_operacion">Número de Operación</label>
                <div class="">
                    <input readonly pInputText formControlName="nroOpera" type="text" class="w-full" >
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="monto">Monto</label>
                <div class="">
                    <input readonly pInputText formControlName="monto" type="text"  class="w-full text-right">
                </div>
            </div>
        </div>

        <div class="formgrid grid py-2">
            <div class="field col-12 md:col-10">
                <label for="constancia">Sustentos</label>
                <div>
                    <app-upload (uploaded)="addUploadedFile( $event )" (onDelete)="deleteUploaded($event)" [multiple]="true"
                                [nroBandeja]="bandeja" [nroAdd]="add" [nroDel]="delete" [disabled]="isDisabled"
                                [disabledDelete]="isDisabled">
                    </app-upload>
                </div>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Grabar"
                        [loading]="isLoading"
                        [disabled]="isDisabled"
                        class="p-button-buscar"
                        (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>