
.row-buttons-maintenance {
    display: flex;
    justify-content: right;
}

@media (max-width: 991.98px) {
    .row-buttons-maintenance {       
        justify-content: left;
    }
}

.estilos-concepto {
    display: -webkit-box;
    height: 100px;
    line-height: 26px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}