<p-panel header="Comprobante de Pago - Cheques">
    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div class="col-10">	
            <div class="col-12">
                <p-fieldset legend="Cheques">
                    <div class="formgrid grid">
                        <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                            <label for="oficina">Nro. Comprobante</label>
                            <label class="label-data">{{ (comprobanteDePago) ? comprobanteDePago.nuCompPago : '' }}</label>                
                        </div>
                         <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                            <label for="oficina">Fecha</label>    
                            <label class="label-data">{{ (comprobanteDePago) ? (comprobanteDePago.feCompPago | date:'dd/MM/yyyy') : '' }}</label>            
                        </div>            
                        <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                            <label for="local">Monto</label>
                            <label class="label-data">{{ (comprobanteDePago) ? (comprobanteDePago.imCompPago | number:'1.2-2') : '' }}</label> 
                        </div> 
                        <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                            <label for="fecha">Número SIAF</label>
                            <label class="label-data">{{ (comprobanteDePago) ? comprobanteDePago.nuSiaf : '' }}</label>
                        </div>
                    </div>
                </p-fieldset>
            </div>		
            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-12 lg:col-8">
                        <button pButton pTooltip="Nuevo" tooltipPosition="top" (click)="nuevoCheque()" class="p-button-nuevo mr-3"
                                *ngIf="showButtonAct(BtnNuevo, codBandeja)" icon="pi pi-file">
                        </button>
                        <button pButton pTooltip="Editar" tooltipPosition="top" (click)="editarCheque()" class="p-button-editar mr-3"
                                *ngIf="showButtonAct(BtnEditar, codBandeja)" icon="pi pi-pencil">
                        </button>
                        <button pButton pTooltip="Anular" tooltipPosition="top" (click)="anularCheques()" class="p-button-anular mr-3"
                                *ngIf="showButtonAct(BtnAnular, codBandeja)" icon="pi pi-times">
                        </button>
                        <button pButton pTooltip="Activar" tooltipPosition="top" (click)="activarCheques()" class="p-button-activar"
                                *ngIf="showButtonAct(BtnActivar, codBandeja)" icon="pi pi-power-off">
                        </button>
                    </div>
                    <div class="col-12 lg:col-4 row-buttons-maintenance">
                        <button pButton pTooltip="No Utilizado" tooltipPosition="top" (click)="noUtilizado()" class="p-button-utilizado mr-3"
                                *ngIf="showButtonAct(BtnNo_Utilizado, codBandeja)" icon="pi pi-ban">
                        </button>
                        <button pButton pTooltip="Solicitar Impresión" tooltipPosition="top" (click)="solicitarImpresion()" class="p-button-imprimir"
                                *ngIf="showButtonAct(BtnSolicitar_Impresion, codBandeja)" icon="pi pi-print">
                        </button>
                    </div>
                </div>
            </div>
		</div>
        <div  class="col-1"></div>
        <div  class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         (sortFunction)="customSort($event)"
                         [customSort]="true"
                         [loading]="loadingCheques"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]"
                         [value]="listaCheques">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Sel</th>
                            <th pSortableColumn="noBanc">Banco <p-sortIcon field="noBanc"></p-sortIcon></th>
                            <th pSortableColumn="nuCheq">Número Cheque <p-sortIcon field="nuCheq"></p-sortIcon></th>
                            <th pSortableColumn="feCheq">Fecha Emisión <p-sortIcon field="feCheq"></p-sortIcon></th>
                            <th pSortableColumn="imCheq">Monto <p-sortIcon field="imCheq"></p-sortIcon></th>    
                            <th style="min-width: 5rem;" pSortableColumn="noBene">Nombre de la Persona <p-sortIcon field="coVocal"></p-sortIcon></th>    
                            <th pSortableColumn="deEsta">Estado <p-sortIcon field="deEsta"></p-sortIcon></th>    
                            <th pSortableColumn="feAnul">Fecha Anulación <p-sortIcon field="feAnul"></p-sortIcon></th>    
                            <th pSortableColumn="obMotiAnul">Motivo Anulación <p-sortIcon field="obMotiAnul"></p-sortIcon></th>    
                            <th pSortableColumn="noUsuaAnul">Usuario de Anulación <p-sortIcon field="noUsuaAnul"></p-sortIcon></th>    
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-cheque>
                        <tr>
                            <td><p-checkbox [value]="cheque" [(ngModel)]="selectedValuesCheques"></p-checkbox></td>
                            <td>{{ cheque.noBanc }}</td>
                            <td>{{ cheque.nuCheq }}</td>
                            <td>{{ cheque.feCheq | date:'dd/MM/yyyy' }}</td>
                            <td class="text-right">{{ formatearMontoImporte( cheque.imCheq ) }}</td>
                            <td style="min-width: 5rem;">{{ cheque.noBene }}</td>                            
                            <td>{{ cheque.deEsta }}</td>                            
                            <td>{{ cheque.feAnul | date:'dd/MM/yyyy HH:mm:ss' }}</td>                            
                            <td class="estilos-concepto">{{ cheque.obMotiAnul }}</td>                            
                            <td>{{ cheque.noUsuaAnul }}</td>                            
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="4" class="text-right">TOTAL: S/</td>
                            <td class="text-right">{{totalCheques}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="text-right mt-15">
                <button 
                    pButton type="button"
                    icon="pi pi-undo" 
                    style="width: 9em;"
                    label="Regresar"
                    class="p-button-secondary ml-3"
                    (click)="regresar()">
                </button>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>
</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>