<p-panel header="Consolidación de la Recaudación SPRL Virtual - {{ titulo }}">
    <div class="grid mt-0">
        <div class="col-1"></div>
        <div class="col-10">
            <p-fieldset legend="{{ titulo }}">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Zona Registral</label>
                        <label class="label-data">{{ (recaudacionSprl) ? recaudacionSprl.deZonaRegi : '' }}</label>                
                    </div>
                     <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Oficina Registral</label>    
                        <label class="label-data">{{ (recaudacionSprl) ? recaudacionSprl.deOficRegi : '' }}</label>            
                    </div>            
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="local">Local</label>
                        <label class="label-data">{{ (recaudacionSprl) ? recaudacionSprl.deLocaAten : '' }}</label> 
                    </div> 
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="fecha">Fecha</label>
                        <label class="label-data">{{ fecha }}</label>
                    </div>
                </div>
                <ng-container *ngIf="mostrarBloque">
                    <div class="formgrid grid">
                        <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                            <label for="oficina">Operador</label>
                            <label class="label-data">{{ servicioOperador }}</label>                
                        </div>
                        <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                            <label for="oficina">Nombre de archivo excel</label>
                            <label class="label-data" *ngIf="idGuidExcel == ' '">{{ nombreArchivoExcel }}</label>                
                            <label class="label-data" *ngIf="idGuidExcel != ' '">
                                <a target="_blank" href="{{ visorEndpoint(idGuidExcel) }}">
                                    {{ nombreArchivoExcel }}
                                </a>
                            </label>                
                        </div>
                    </div>
                </ng-container> 
            </p-fieldset>            
            <div class="formgrid grid mt-20">
                <div class="field col-12">
					<p-tabView>
						<p-tabPanel header="Totales NIUBIZ">
                            <p-table responsiveLayout="stack"
                                [value]="listaTotalesNiubizSprl"
                                (sortFunction)="customSort($event)"
                                [customSort]="true"
                                [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]" 
                                [loading]="loadingTotalesNiubizSprl"               
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn=""><div>Tipo Operación<p-sortIcon field=""></p-sortIcon></div></th>
                                        <th pSortableColumn="imOper"><div>Importe Operación <p-sortIcon field="imOper"></p-sortIcon></div></th>
                                        <th pSortableColumn="imComiTota"><div>Importe Comisión <p-sortIcon field="imComiTota"></p-sortIcon></div></th>    
                                        <th pSortableColumn="imIgv"><div>Importe I.G.V <p-sortIcon field="imIgv"></p-sortIcon></div></th>    
                                        <th pSortableColumn="imSumaDepo"><div>Total Depositado<p-sortIcon field="imSumaDepo"></p-sortIcon></div></th> 
                                        <th pSortableColumn="caTota"><div>Total Registros <p-sortIcon field="caTota"></p-sortIcon></div></th> 
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-registro>
                                    <tr>
                                        <td>{{ registro.noTipoOper }}</td>
                                        <td class="text-right">{{ numberTransform( registro.imOper ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.imComiTota ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.imIgv ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.imSumaDepo ) }}</td>
                                        <td class="text-right">{{ registro.caTota.toLocaleString() }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>                           
                        </p-tabPanel>
                        <p-tabPanel header="NIUBIZ">
                            <div class="list-files-recaudacion-me">
                                 <div class="list-files-recaudacion-me__file"
                                        *ngIf="showButtonAct(BtnDescargar_No_Conciliados, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt="" (click)="downloadFile()"/>
                                     <div class="field col-12 sm:col-12 lg:col-3 mt-2 p-dropdown-loading">
                                        <p-dropdown appendTo="body"
                                                    [filter]="true" 
                                                    filterBy="cdescri" 
                                                    filterValue="cdescri"
                                                    [options]="listarConceptos"
                                                    styleClass="inputfield w-full"
                                                    [(ngModel)]="concepto"
                                                    optionLabel="cdescri"
                                                    optionValue="ccodigoHijo"
                                                    [class.spinner]="loadingConceptos"
                                                    (onChange)="onChangeConcepto()">
                                        </p-dropdown>
                                        <small id="username2-help" class="p-error block"
                                                    *ngIf="validarConcepto">
                                                Seleccione un concepto.
                                        </small>
                                    </div>
                                 </div>
                                 <!-- <div class="list-files-recaudacion-me__file" (click)="downloadFile(1)"
                                        *ngIf="showButtonAct(BtnDescargar_Conciliados, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar conciliados</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFile(2)"
                                        *ngIf="showButtonAct(BtnDescargar_Anulaciones, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar anulaciones</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFile(3)"
                                        *ngIf="showButtonAct(BtnDescargar_Contracargos, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar contracargos</span>                              
                                 </div> -->
                                 <div>
                                    <ng-container *ngIf="esConsultarRegistro === false">
                                        <app-div-conciliar-por-monto-niubiz
                                            [bandeja]="codBandeja"
                                            [btnNIUBIZ]="BtnTransac_NIUBIZ_Editar"
                                            [servicioDePago]="servicioOperador"
                                            (eventDataConciliarMonto)="obtenerDataConciliarNiubiz($event)">
                                        </app-div-conciliar-por-monto-niubiz>
                                    </ng-container>
                                    
                                 </div>
                            </div>
                         </p-tabPanel>
                         
                        <p-tabPanel header="Transacciones SPRL">
                            <div class="list-files-recaudacion-me">
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(0)"
                                        *ngIf="showButtonAct(BtnDescargar_No_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar no conciliados</span>                              
                                </div>
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(1)"
                                        *ngIf="showButtonAct(BtnDescargar_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar conciliados</span>                              
                                </div>
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(2)"
                                        *ngIf="showButtonAct(BtnDescargar_Conciliados_Manual, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar conciliados manualmente</span>                              
                                </div>
                                <div >
                                 <ng-container *ngIf="esConsultarRegistro === false">
                                     <app-div-conciliar-por-monto-sprl
                                         [bandeja]="codBandeja"
                                         [btnSPRL]="BtnTransac_SPRL_Editar" 
                                         [servicioDePago]="servicioOperador" 
                                         (eventDataConciliarMonto)="obtenerDataConciliarMonto($event)"
                                         [onReset]="onResetDivConciliar"                           
                                     ></app-div-conciliar-por-monto-sprl>
                                 </ng-container>
                                </div>                            
							</div>      						
                        </p-tabPanel>
                        
                    </p-tabView>
                    <div class="formgrid grid mt-5">
                        <div class="col buttons-recaudacion-me">                            
                            <button pButton type="button" 
                                    icon="pi pi-times" 
                                    style="width: 9em; margin-left: 1em;"
                                    label="Cancelar"
                                    class="p-button-anular" 
                                    (click)="cancelar()">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>