<div [formGroup]="datos" class="formgrid grid lg:mb-1 md:mb-4 py-1">
    <div class="field col-12 sm:col-12 lg:col-6">
        <label for="zona">Nro. Comprobante</label>
        <div class="">
            <input formControlName="nroComp" readonly pInputText type="text" class="w-full">
        </div>
    </div>

    <div class="field col-12 sm:col-12 lg:col-6">
        <label for="oficina">Fecha</label>
        <div class="">
            <input formControlName="fecha" readonly pInputText type="text" class="w-full">
        </div>
    </div>
</div>

<div [formGroup]="datos" class="formgrid grid lg:mb-1 md:mb-4 py-1">
    <div class="field col-12 sm:col-12 lg:col-6">
        <label for="oficina">Monto</label>
        <div class="">
            <input formControlName="monto" readonly pInputText type="text" class="w-full p-monto">
        </div>
    </div>

    <div class="field col-12 sm:col-12 lg:col-6">
        <label for="oficina">Número SIAF</label>
        <div class="">
            <input formControlName="nroSiaf" readonly pInputText type="text" class="w-full">
        </div>
    </div>
</div>