<div class="grid mt-4" [formGroup]="form">
    <div class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-12">
                <label for="" style="font-size: 15px;">Concepto:</label>
                <div class="p-fluid">
                    <textarea readonly formControlName="concepto" [rows]="6" class="w-full" pInputTextarea></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
