<p-panel header="Configuración Firma Digital">

    <div class="grid mt-4">
        <div  class="col-1"></div>
        <div [formGroup]="form" class="col-10">
            <div class="row-button-search">
                <button pButton type="button" (click)="buscaBandeja()" label="Buscar"class="p-button-buscar"></button>
            </div>
			<div class="formgrid grid mt-4">
                <div class="field col-12 md:col-4">
					<label for="oficina">Tipo de Documento</label>
                    <p-dropdown [filter]="true" 
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="$tipoDocumento | async"
                                styleClass="inputfield w-full"
                                formControlName="tipoDocu"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo">
                    </p-dropdown>
				</div>
			</div>

            <div class="col-12">
                <div class="grid mt-2">
                    <div class="col-12">
                        <button pButton pTooltip="Asignar Personas" tooltipPosition="top" icon="pi pi-users" 
                                (click)="asignarPersonas()" class="p-button-historial" id="btnNuevo"> 
                        </button>
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="enviadosList"
                         [customSort]="true"
                         (sortFunction)="customSort($event)"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]">

                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="deDocu">Tipo de Documento <p-sortIcon field="deDocu"></p-sortIcon></th>
                            <th pSortableColumn="firmaNro1">Firma Digital Nro. 1 <p-sortIcon field="firmaNro1"></p-sortIcon></th>
                            <th pSortableColumn="firmaNro2">Firma Digital Nro. 2 <p-sortIcon field="firmaNro2"></p-sortIcon></th>
                            <th pSortableColumn="firmaNro3">Firma Digital Nro. 3 <p-sortIcon field="firmaNro3"></p-sortIcon></th>    
                            <th pSortableColumn="firmaNro4">Firma Digital Nro. 4 <p-sortIcon field="firmaNro4"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-firma>
                        <tr>
                            <td>{{ firma.deDocu }}</td>
                            <td>
                                <p-checkbox [value]="firma" [(ngModel)]="selectedFirma1" *ngIf="firma.firmaNro1 != ' '"></p-checkbox>
                                {{ firma.firmaNro1 }}
                            </td>
                            <td>
                                <p-checkbox [value]="firma" [(ngModel)]="selectedFirma2" *ngIf="firma.firmaNro2 != ' '"></p-checkbox>
                                {{ firma.firmaNro2 }}
                            </td>
                            <td>
                                <p-checkbox [value]="firma" [(ngModel)]="selectedFirma3" *ngIf="firma.firmaNro3 != ' '"></p-checkbox>
                                {{ firma.firmaNro3 }}
                            </td>
                            <td>
                                <p-checkbox [value]="firma" [(ngModel)]="selectedFirma4" *ngIf="firma.firmaNro4 != ' '"></p-checkbox>
                                {{ firma.firmaNro4 }}
                            </td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>