<div class="grid mt-4">
    <div [formGroup]="importar" class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="zona">Zona Registral</label>
                <p-dropdown appendTo="body"
                            [filter]="true" 
                            filterBy="deZonaRegi" 
                            filterValue="deZonaRegi"
                            formControlName="zona"
                            styleClass="inputfield w-full"
                            [options]="$zonas | async"
                            optionLabel="deZonaRegi"
                            optionValue="coZonaRegi"
                            placeholder="(SELECCIONE)">
                </p-dropdown>
            </div>
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="fecDes">Fecha Desde</label>
                <div class="p-fluid">
                    <p-calendar [showIcon]="true" appendTo="body"
                                formControlName="fecDesde" 
                                inputId="icon"
                                dateFormat="dd/mm/yy"
                                inputId="dateformat">
                    </p-calendar>
                </div>
            </div>
        </div>

        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="fecHas">Fecha Hasta</label>
                <div class="p-fluid">
                    <p-calendar [showIcon]="true" appendTo="body"
                                formControlName="fecHasta" 
                                inputId="icon"
                                dateFormat="dd/mm/yy"
                                inputId="dateformat">
                    </p-calendar>
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="oficina">Tipo de Recaudación</label>
                <p-dropdown appendTo="body"
                            [filter]="true" 
                            filterBy="cdescri" 
                            filterValue="cdescri"
                            formControlName="tipoReca"
                            styleClass="inputfield w-full"
                            [options]="$recaudaciones | async"
                            optionLabel="cdescri"
                            optionValue="ccodigoHijo"
                            placeholder="(SELECCIONE)">
                </p-dropdown>
            </div>
            <div>
                <label for="oficina">Archivo a importar</label>
                <input id="fileToUpload" type="file" name="fileUp" (event)="selectFile($event)" (change)="selectFile($event)" class="w-full">
            </div>
        </div>

        <!-- <div class="formgrid grid mt-2">
            <div class="field col-12 md:col-10">
                <label for="documentos">Archivo a Importar</label>
                <app-upload (uploaded)="addUploadedFile( $event )" (onDelete)="deleteUploaded($event)"
                            [nroBandeja]="bandeja" [nroAdd]="add" [nroDel]="delete" [disabled]="isDisabled" 
                            [disabledDelete]="isDisabled">
                </app-upload>
            </div>
        </div> -->

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Aceptar"
                        class="p-button-buscar" 
                        (click)="aceptar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
