<p-panel header="Documentos para Firmar">

    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="searchDocumento" class="col-10">
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnBuscar, codBandeja)" pButton type="button" 
                        (click)="buscarDocumento(false)" label="Buscar"class="p-button-buscar">
                </button>
            </div>
			<div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="oficina">Zona Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deZonaRegi" 
                                filterValue="deZonaRegi"
                                formControlName="zona"
                                styleClass="inputfield w-full"
                                [options]="listaZonaRegistral"
                                optionLabel="deZonaRegi"
                                optionValue="coZonaRegi"
                                (onChange)="buscarOficinaRegistral()"
                                [class.spinner]="loadingZonaRegistral" 
                                [disabled]="loadingZonaRegistral">
                    </p-dropdown>
				</div>

                <div class="ffield col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="oficina">Oficina Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deOficRegi" 
                                filterValue="deOficRegi"
                                formControlName="oficina"
                                styleClass="inputfield w-full"
                                [options]="listaOficinaRegistral"
                                optionLabel="deOficRegi"
                                optionValue="coOficRegi"
                                (onChange)="buscarLocal()"
                                [class.spinner]="loadingOficinaRegistral" 
                                [disabled]="loadingOficinaRegistral">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="oficina">Local</label>
					<p-dropdown [filter]="true" 
                                filterBy="deLocaAten" 
                                filterValue="deLocaAten"
                                formControlName="local"
                                styleClass="inputfield w-full"
                                [options]="listaLocal"
                                optionLabel="deLocaAten"
                                optionValue="coLocaAten"
                                [class.spinner]="loadingLocal" 
                                [disabled]="loadingLocal">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="oficina">Tipo de Documento</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdescri" 
                                filterValue="cdescri"
                                formControlName="tipoDocu"
                                styleClass="inputfield w-full"
                                [options]="listaTipoDocumento"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                [class.spinner]="loadingEstado" 
                                [disabled]="loadingEstado">
                    </p-dropdown>
				</div>
			</div>

            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="">Nro. Documento</label>
                    <div class="">
                        <input pInputText formControlName="nroDocu" type="text" class="w-full">
                    </div>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="">Desde</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecDes" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaDesde"
                                    (onSelect)="cambioFechaInicio()">
                        </p-calendar>
                    </div>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="">Hasta</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecHas" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaHasta"
                                    (onSelect)="cambioFechaFin()">
                        </p-calendar>
                    </div>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="oficina">Perfil</label>
					<p-dropdown [filter]="true" 
                                filterBy="noPerf" 
                                filterValue="noPerf"
                                formControlName="perfil"
                                styleClass="inputfield w-full"
                                [options]="listaPerfil"
                                optionLabel="noPerf"
                                optionValue="coPerf"
                                [class.spinner]="loadingPerfil" 
                                [disabled]="loadingPerfil">
                    </p-dropdown>
				</div>
            </div>

            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="">Usuario</label>
                    <div class="">
                        <input pInputText formControlName="usuario" type="text" class="w-full">
                    </div>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="oficina">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdescri" 
                                filterValue="cdescri"
                                formControlName="estado"
                                styleClass="inputfield w-full"
                                [options]="listaEstado"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                [class.spinner]="loadingEstado" 
                                [disabled]="loadingEstado">
                    </p-dropdown>
				</div>
            </div>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col text-right">
                        <button pButton pTooltip="Ver Documento" tooltipPosition="top" class="p-button-documento mr-3"
                                *ngIf="showButtonAct(BtnVer_Documento, codBandeja)" icon="pi pi-eye" (click)="verDocumento()" >
                        </button>
                        <button *ngIf="showButtonAct(BtnSubir_Documento, codBandeja)" pButton pTooltip="Subir Documento Firmado" tooltipPosition="top" tooltipStyleClass="text-center"
                                icon="pi pi-upload" (click)="subirDocumentoFirmado()" class="p-button-correo-usuario mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnSustentos, codBandeja)" pButton pTooltip="Sustentos" tooltipPosition="top" 
                                icon="pi pi-folder-open" (click)="sustentos()" class="p-button-sustento mr-3">
                        </button>
                        <button pButton pTooltip="Firmar" tooltipPosition="top" class="p-button-firma mr-3"
						        *ngIf="showButtonAct(BtnFirmar, codBandeja)" icon="pi pi-user-edit" (click)="firmar()" >
                        </button>
                        <button *ngIf="showButtonAct(BtnRechazar, codBandeja)" pButton pTooltip="Rechazar" tooltipPosition="top" 
                                icon="pi pi-times-circle" (click)="rechazarFirma()" class="p-button-utilizado mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnVer_Historial, codBandeja)" pButton pTooltip="Ver historial firmas" tooltipPosition="top" 
                                icon="pi pi-book" (click)="historialFirma()" class="p-button-historial">
                        </button>
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="documentosList"
                         [customSort]="true"
                         (sortFunction)="customSort($event)"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedValues"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]"
                         [loading]="loadingFirmarDocumentos">

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="deZonaRegi">Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon></th>
                            <th pSortableColumn="deOficRegi">Oficina Registral <p-sortIcon field="deOficRegi"></p-sortIcon></th>
                            <th pSortableColumn="deLocaAten">Local <p-sortIcon field="deLocaAten"></p-sortIcon></th>
                            <th pSortableColumn="noPerf">Perfil <p-sortIcon field="noPerf"></p-sortIcon></th>
                            <th pSortableColumn="deTipoDocu">Tipo Documento <p-sortIcon field="deTipoDocu"></p-sortIcon></th>
                            <th pSortableColumn="nuDocuOrig">Nro Documento <p-sortIcon field="nuDocuOrig"></p-sortIcon></th>
                            <th pSortableColumn="feDocu">Fecha <p-sortIcon field="feDocu"></p-sortIcon></th>
                            <th pSortableColumn="noUsuaCrea">Usuario <p-sortIcon field="noUsuaCrea"></p-sortIcon></th>    
                            <th pSortableColumn="deEsta">Estado <p-sortIcon field="deEsta"></p-sortIcon></th>    
                            <th style="min-width: 6rem;" pSortableColumn="usuaFirm1">Firma 1 <p-sortIcon field="usuaFirm1"></p-sortIcon></th>    
                            <th style="min-width: 6rem;" pSortableColumn="usuaFirm2">Firma 2 <p-sortIcon field="usuaFirm2"></p-sortIcon></th>    
                            <th style="min-width: 6rem;" pSortableColumn="usuaFirm3">Firma 3 <p-sortIcon field="usuaFirm3"></p-sortIcon></th>    
                            <th style="min-width: 6rem;" pSortableColumn="usuaFirm4">Firma 4 <p-sortIcon field="usuaFirm4"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-documento>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="documento"></p-tableCheckbox>
                            </td>
                            <td>{{ documento.deZonaRegi }}</td>
                            <td>{{ documento.deOficRegi }}</td>
                            <td>{{ documento.deLocaAten }}</td>
                            <td>{{ documento.noPerf }}</td>
                            <td>{{ documento.deTipoDocu }}</td>
                            <td>{{ documento.nuDocuOrig }}</td>
                            <td>{{ documento.feDocu | date:"dd/MM/yy" }}</td>
                            <td>{{ documento.noUsuaCrea }}</td>
                            <td>{{ documento.deEsta }}</td>
                            <td>{{ documento.usuaFirm1 }}</td>
                            <td>{{ documento.usuaFirm2 }}</td>
                            <td>{{ documento.usuaFirm3 }}</td>
                            <td>{{ documento.usuaFirm4 }}</td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>