.p-dialog-header {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.p-dialog-content {
    overflow-y: hidden;
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.motivo-anulacion {
    display: flex;
    flex-direction: column;
}

.contadorTexto {
    font-size: 12px;
    font-weight: 500;
    text-align: right;
    margin-top: 5px;
}

.buttons-anular {
    display: flex;
    justify-content: end;
}

@media (max-width: 650px) {
    .p-dialog {
        width: 85% !important;
    }
    .p-dialog-header {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    
    .p-dialog-content {   
        padding-left: 30px !important;
        padding-right: 30px !important;
    } 
    .buttons-anular {      
        justify-content: center;
    }
}