<div class="grid">
    <div class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-12">
                <label for="oficina"><b>Motivo de Anulación</b></label> (campo obligatorio)
                <div class="motivo-anulacion">
                    <textarea [(ngModel)]="motivoAnulacion" [rows]="8" #motivo class="w-full" pInputTextarea maxlength="300"></textarea>
                    <div class="contadorTexto">{{motivo.value.length}} / {{cantidadMaximaTexto}}</div>
                </div>
            </div>
        </div>
        <div class="formgrid grid mt-2">
            <div class="col buttons-anular">
                <button 
                    pButton type="button" 
                    icon="pi pi-check"
                    style="width: 9em;"
                    label="Aceptar"
                    class="p-button-buscar" 
                    (click)="anular()"
                >
                </button>
                <button 
                    pButton type="button" 
                    icon="pi pi-times" 
                    style="width: 9em; margin-left: 1em;"
                    label="Cancelar"
                    class="p-button-anular" 
                    (click)="cancelar()"
                >
                </button>
            </div>
        </div>
    </div>
</div>