<div [formGroup]="form" class="formgrid grid">
    <div *ngIf="zonas" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="zona">Zona Registral</label>
        <p-dropdown appendTo="body"
                    [filter]="true"
                    filterBy="deZonaRegi"
                    filterValue="deZonaRegi"
                    [options]="$zonas | async"
                    styleClass="inputfield w-full"
                    formControlName="zonas"
                    optionLabel="deZonaRegi"
                    optionValue="coZonaRegi"
                    (onChange)="buscarOficinaPorZona($event)">
        </p-dropdown>
        <small id="username2-help" class="p-error block"
                *ngIf="alertZona">
                Debe seleccionar una Zona Registral.
        </small>
    </div>
    <div *ngIf="oficinas" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="oficina">Oficina Registral</label>
        <p-dropdown appendTo="body"
                    [filter]="true"
                    filterBy="deOficRegi"
                    filterValue="deOficRegi"
                    [options]="$oficinas | async"
                    styleClass="inputfield w-full"
                    formControlName="oficinas"
                    optionLabel="deOficRegi"
                    optionValue="coOficRegi"
                    (onChange)="buscarLocalAtencion($event)">
        </p-dropdown>
    </div>
    <div *ngIf="locales" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="local">Local</label>
        <p-dropdown appendTo="body"
                    [filter]="true"
                    filterBy="deLocaAten"
                    filterValue="deLocaAten"
                    [options]="$locales | async"
                    styleClass="inputfield w-full"
                    formControlName="local"
                    optionLabel="deLocaAten"
                    optionValue="coLocaAten">
        </p-dropdown>
    </div>
    <div *ngIf="conciliacion" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="oficina">Tipo de Conciliación</label>
        <p-dropdown appendTo="body"
                    [filter]="true"
                    filterBy="cdescri"
                    filterValue="cdescri"
                    [options]="$conciliacion | async"
                    styleClass="inputfield w-full"
                    formControlName="tipoConci"
                    optionLabel="cdescri"
                    optionValue="ccodigoHijo">
        </p-dropdown>
    </div>
    <div *ngIf="operador" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="oficina">Operador</label>
        <p-dropdown appendTo="body"
                    [filter]="true"
                    filterBy="cdescri"
                    filterValue="cdescri"
                    [options]="listaOperadores"
                    styleClass="inputfield w-full"
                    formControlName="operador"
                    optionLabel="cdescri"
                    optionValue="ccodigoHijo"
                    (onChange)="selectOperador()">
        </p-dropdown>
        <small id="username2-help" class="p-error block"
                *ngIf="alertOper">
                Debe seleccionar un Operador.
        </small>
    </div>
    <div *ngIf="fechas" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="">Fecha Desde</label>
        <div class="p-fluid">
            <p-calendar [showIcon]="true" 
                        appendTo="body" 
                        inputId="icon"
                        inputId="dateformat"
                        dateFormat="dd/mm/yy"
                        formControlName="fecDesde"
                        (onSelect)="cambioFechaInicio()"
                        (onInput)="cambioFechaDesde()">
            </p-calendar>
            <small id="username2-help" class="p-error block"
                    *ngIf="alertFecDesde">
                    Fecha Desde debe ser menor o igual a la Fecha Hasta.
            </small>
        </div>
    </div>
    <div *ngIf="fechas" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="">Fecha Hasta</label>
        <div class="p-fluid">
            <p-calendar [showIcon]="true" 
                        appendTo="body" 
                        inputId="icon"
                        inputId="dateformat"
                        dateFormat="dd/mm/yy"
                        formControlName="fecHasta"
                        (onSelect)="cambioFechaFin()"
                        (onInput)="cambioFechaHasta()">
            </p-calendar>
            <small id="username2-help" class="p-error block"
                    *ngIf="alertFecHasta">
                    Fecha Hasta debe ser mayor o igual a la Fecha Desde.
            </small>
        </div>
    </div>
    <div *ngIf="mesAnio" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="oficina">Mes</label>
        <p-dropdown appendTo="body"
                    [filter]="true"
                    filterBy="deMes"
                    filterValue="deMes"
                    [options]="$mes"
                    styleClass="inputfield w-full"
                    formControlName="mes"
                    optionLabel="deMes"
                    optionValue="coMes"
                    (onChange)="selectMes()">
        </p-dropdown>
        <small id="username2-help" class="p-error block"
                *ngIf="alertMes">
                Debe seleccionar un Mes.
        </small>
    </div>
    <div *ngIf="mesAnio" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="oficina">Año</label>
        <input formControlName="anio" pInputText maxlength="4" pKeyFilter="num" class="w-full" (keypress)="validarNumero($event)">
        <small id="username2-help" class="p-error block"
                *ngIf="disabled">
                Debe ingresar el Año.
        </small>
    </div>
    <div *ngIf="check" class="field col-12 xl:col-4 lg:col-4 md:col-6 mt-4">
        <div class="field-checkbox flex">
            <p-checkbox formControlName="check" [binary]="true"
                        ngClass="flex-initial flex align-items-center justify-content-center">
            </p-checkbox>
            <label class="font-bold cursor-pointer" for="">Solo para asignación financiera</label>
        </div>
    </div>
    <div *ngIf="cuenta" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="oficina">Cuenta Id</label>
        <input formControlName="idCuenta" pInputText type="text" class="w-full" maxlength="15">
    </div>
    <div *ngIf="contable" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="">Cuenta</label>
        <p-dropdown appendTo="body"
                    [filter]="true"
                    filterBy="coCuenCont" 
                    filterValue="coCuenCont"
                    [options]="$contables | async"
                    styleClass="inputfield w-full"
                    formControlName="cuenta"
                    optionLabel="coCuenCont"
                    optionValue="coCuenCont"
                    (onChange)="cuentaContableDescripcion($event)">
        </p-dropdown>
    </div>

    <div *ngIf="contable" class="field col-12 xl:col-5 lg:col-4 md:col-6">
        <label for="">Descripción de la Cuenta</label>
        <input readonly pInputText type="text" formControlName="descripcion" value="" class="w-full">
    </div>
    <div *ngIf="estado" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="oficina">Estado</label>
        <p-dropdown appendTo="body"
                    [filter]="true"
                    filterBy="cdescri"
                    filterValue="cdescri"
                    [options]="$estado | async"
                    styleClass="inputfield w-full"
                    formControlName="estado"
                    optionLabel="cdescri"
                    optionValue="ccodigoHijo">
        </p-dropdown>
    </div>
    <div *ngIf="listConci" class="field col-12 xl:col-2 lg:col-2 md:col-6 ml-4 checkbox">
        <div class="field-checkbox flex">
            <p-checkbox formControlName="listConci" [binary]="true"
                        ngClass="flex-initial flex align-items-center justify-content-center">
            </p-checkbox>
            <label class="font-bold cursor-pointer" for="">Listar Conciliados</label>
        </div>
    </div><div *ngIf="listConci" class="field col-12 xl:col-3 lg:col-3 md:col-6 ml-4 checkbox">
        <div class="field-checkbox flex">
            <p-checkbox formControlName="listNoConci" [binary]="true"
                        ngClass="flex-initial flex align-items-center justify-content-center">
            </p-checkbox>
            <label class="font-bold cursor-pointer" for="">Listar No Conciliados</label>
        </div>
    </div>
    <div *ngIf="clsf" class="field col-12 xl:col-3 lg:col-4 md:col-6">
        <label for="">Clasificador</label>
        <p-dropdown appendTo="body"
                    [filter]="true"
                    filterBy="coClsf"
                    filterValue="coClsf"
                    [options]="$clasificador | async"
                    styleClass="inputfield w-full"
                    formControlName="clasificador"
                    optionLabel="coClsf"
                    optionValue="coClsf"
                    (onChange)="clasificadorDescripcion($event)">
        </p-dropdown>
    </div>

    <div *ngIf="clsf" class="field col-12 xl:col-5 lg:col-4 md:col-6">
        <label for="">Descripción del Clasificador</label>
        <input readonly pInputText type="text" formControlName="desClsf" value="" class="w-full">
    </div>
    <div *ngIf="clsf" class="field col-12 xl:col-2 lg:col-2 md:col-6 ml-4 checkbox">
        <div class="field-checkbox flex">
            <p-checkbox formControlName="conClsf" [binary]="true" (onChange)="onChangeChecked1($event)"
                        ngClass="flex-initial flex align-items-center justify-content-center">
            </p-checkbox>
            <label class="font-bold cursor-pointer" for="">Con Clasificador</label>
        </div>
    </div><div *ngIf="clsf" class="field col-12 xl:col-3 lg:col-3 md:col-6 ml-4 checkbox">
        <div class="field-checkbox flex">
            <p-checkbox formControlName="sinClsf" [binary]="true" (onChange)="onChangeChecked2($event)"
                        ngClass="flex-initial flex align-items-center justify-content-center">
            </p-checkbox>
            <label class="font-bold cursor-pointer" for="">Sin Clasificador</label>
        </div>
    </div>
</div>