<p-panel header="Usuarios">

    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="searchBox" class="col-10">
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnBuscar, codBandeja)" (click)="buscaBandeja()" pButton 
                        type="button" label="Buscar"class="p-button-buscar">
                </button>
            </div>

			<div class="formgrid grid">
                <div class="field col-12 xl:col-3 lg:col-4 md:col-6">
					<label for="oficina">Zona Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deZonaRegi"
                                filterValue="deZonaRegi"
                                [options]="$zonas | async"
                                styleClass="inputfield w-full"
                                formControlName="zonas"
                                optionLabel="deZonaRegi"
                                optionValue="coZonaRegi"
                                (onChange)="buscarOficinaPorZona($event)">
                    </p-dropdown>
				</div>
                <div class="field col-12 xl:col-3 lg:col-4 md:col-6">
					<label for="oficina">Oficina Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deOficRegi"
                                filterValue="deOficRegi"
                                [options]="$oficinas | async"
                                styleClass="inputfield w-full"
                                formControlName="oficinas"
                                optionLabel="deOficRegi"
                                optionValue="coOficRegi"
                                (onChange)="buscarLocalPorOficina($event)">
                    </p-dropdown>
				</div>
                <div class="field col-12 xl:col-3 lg:col-4 md:col-6">
					<label for="oficina">Local</label>
					<p-dropdown [filter]="true" 
                                filterBy="deLocaAten"
                                filterValue="deLocaAten"
                                [options]="$local | async"
                                styleClass="inputfield w-full"
                                formControlName="locales"
                                optionLabel="deLocaAten"
                                optionValue="coLocaAten">
                    </p-dropdown>
				</div>
                <div class="field col-12 xl:col-3 lg:col-4 md:col-6">
					<label for="oficina">Perfil</label>
					<p-dropdown [filter]="true" 
                                filterBy="noPerf"
                                filterValue="noPerf"
                                [options]="$perfiles | async"
                                styleClass="inputfield w-full"
                                formControlName="perfiles"
                                optionLabel="noPerf"
                                optionValue="coPerf">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 lg:col-4 md:col-6">
					<label for="oficina">Usuario</label>
					<input formControlName="usuario" pInputText type="text" class="w-full">
				</div>
                <div class="field col-12 xl:col-3 lg:col-4 md:col-6">
					<label for="oficina">DNI</label>
					<input formControlName="dni" pInputText type="text" class="w-full">
				</div>
                <div class="field col-12 xl:col-3 lg:col-4 md:col-6">
					<label for="oficina">Nombres</label>
					<input formControlName="nomUsua" pInputText type="text" class="w-full">
				</div>
                <div class="field col-12 xl:col-3 lg:col-4 md:col-6">
					<label for="oficina">Apellido Paterno</label>
					<input formControlName="apeUsua" pInputText type="text" class="w-full">
				</div>

                <div class="field col-12 xl:col-3 lg:col-4 md:col-6">
					<label for="oficina">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="deEstado"
                                filterValue="deEstado"
                                [options]="$estado"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="deEstado"
                                optionValue="coEstado">
                    </p-dropdown>
				</div>
			</div>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-8">
                        <button pButton pTooltip="Nuevo" tooltipPosition="top" icon="pi pi-file" 
                                *ngIf="showButtonAct(BtnNuevo, codBandeja)" (click)="nuevoUsuario()" class="p-button-nuevo mr-3"> 
                        </button>
                        <button pButton pTooltip="Editar" tooltipPosition="top" icon="pi pi-pencil" 
                                *ngIf="showButtonAct(BtnEditar, codBandeja)" (click)="editOrView('edit')" [disabled]="disableEdit" class="p-button-editar mr-3">
                        </button>
                        <button pButton pTooltip="Anular" tooltipPosition="top" icon="pi pi-times" 
                                *ngIf="showButtonAct(BtnAnular, codBandeja)" (click)="anularUsuario()" [loading]="loadingAnu" class="p-button-anular mr-3">
                        </button>
                        <button pButton pTooltip="Activar" tooltipPosition="top" icon="pi pi-power-off" 
                                *ngIf="showButtonAct(BtnActivar, codBandeja)" (click)="activarUsuario()" [loading]="loadingAct" class="p-button-activar mr-3">
                        </button>
                        <button pButton pTooltip="Consultar registro" tooltipPosition="top" icon="pi pi-power-off" 
                                *ngIf="showButtonAct(BtnConsultar, codBandeja)" (click)="editOrView('view')" class="p-button-consultar">
                        </button>
                    </div>
                    <div class="col-4 text-right">
                        <button pButton pTooltip="Asignar perfiles" tooltipPosition="top" icon="pi pi-users" 
                                *ngIf="showButtonAct(BtnAsignar_Perfiles, codBandeja)" (click)="asignarPerfil('edit')" class="p-button-firma mr-3">
                        </button>
                        <button pButton pTooltip="Asignar locales" tooltipPosition="top" icon="pi pi-building" 
                                *ngIf="showButtonAct(BtnAsignar_Locales, codBandeja)" (click)="asignarLocal('edit')" class="p-button-historial">
                        </button>
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack"
                         [value]="enviadosList"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedValues"
                         (sortFunction)="customSort($event)"
                         [customSort]="true" [scrollDirection]="'horizontal'"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]">

                    <ng-template pTemplate="header">
                        <tr>
                            <th style="max-width: 4rem;">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="idUsua">Código <br>Usuario <p-sortIcon field="idUsua"></p-sortIcon></th>
                            <th pSortableColumn="noEmpl">Nombre del Usuario <p-sortIcon field="noEmpl"></p-sortIcon></th>
                            <th pSortableColumn="nuDocuIden">D.N.I. <p-sortIcon field="nuDocuIden"></p-sortIcon></th>
                            <th pSortableColumn="deZonaRegi">Zona Registral <br>(Por defecto) <p-sortIcon field="deZonaRegi"></p-sortIcon></th>
                            <th pSortableColumn="deOficRegi">Oficina Registral <br>(Por defecto) <p-sortIcon field="deOficRegi"></p-sortIcon></th>
                            <th pSortableColumn="deLocaAten">Local Registral <br>(Por defecto) <p-sortIcon field="deLocaAten"></p-sortIcon></th>
                            <th pSortableColumn="perfiles">Perfil <p-sortIcon field="perfiles"></p-sortIcon></th>
                            <th pSortableColumn="inEstd">Estado <p-sortIcon field="inEstd"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-usuario>
                        <tr>
                            <td style="max-width: 4rem;">
                                <p-tableCheckbox [value]="usuario"></p-tableCheckbox>
                            </td>
                            <td>{{ usuario.idUsua }}</td>
                            <td>{{ usuario.noEmpl }} {{ usuario.apPateEmpl }} {{ usuario.apMateEmpl }}</td>
                            <td>{{ usuario.nuDocuIden }}</td>
                            <td>{{ usuario.deZonaRegi }}</td>
                            <td>{{ usuario.deOficRegi }}</td>
                            <td>{{ usuario.deLocaAten }}</td>
                            <td>{{ usuario.perfiles }}</td>
                            <td>{{ usuario.inEstd }}</td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>