<p-panel header="Memorándum">
    <div class="grid mt-4">
        <div class="col-1"></div>
        <div [formGroup]="formMemorandum" class="col-10">
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnBuscar, codBandeja)" pButton type="button" 
                        (click)="buscarMemorandum(false)" label="Buscar"class="p-button-buscar mr-3">
                </button>
            </div>
            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="zona">Zona Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deZonaRegi" 
                                filterValue="deZonaRegi"
                                formControlName="zona"
                                styleClass="inputfield w-full"
                                [options]="listaZonaRegistral"                                
                                optionLabel="deZonaRegi"
                                optionValue="coZonaRegi"                                                
                                (onChange)="buscarOficinaRegistral()">
                    </p-dropdown>
				</div>
                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="oficina">Oficina Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deOficRegi" 
                                filterValue="deOficRegi"
                                formControlName="oficina"
                                styleClass="inputfield w-full"
                                [options]="listaOficinaRegistral"
                                optionLabel="deOficRegi"
                                optionValue="coOficRegi"                            
                                (onChange)="buscarLocal()"
                                [class.spinner]="loadingOficinaRegistral" 
                                [disabled]="loadingOficinaRegistral">
                    </p-dropdown>
				</div>
                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="local">Local</label>
					<p-dropdown [filter]="true" 
                                filterBy="deLocaAten" 
                                filterValue="deLocaAten"
                                formControlName="local"
                                styleClass="inputfield w-full"
                                [options]="listaLocal"
                                optionLabel="deLocaAten"                             
                                optionValue="coLocaAten"
                                [class.spinner]="loadingLocal" 
                                [disabled]="loadingLocal">
                    </p-dropdown>
				</div>
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="tipoComp">Tipo de Memorándum</label>
					<p-dropdown [filter]="true" 
                                filterBy="noTipoMemo" 
                                filterValue="noTipoMemo"
                                formControlName="tipoMemorandum"
                                styleClass="inputfield w-full" 
                                [options]="listaTipoMemorandum"                               
                                optionLabel="noTipoMemo"
                                optionValue="idTipoMemo">
                    </p-dropdown>
				</div>
			</div>
            <div class="formgrid grid"> 
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="fecDes">Desde</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fechaDesde" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaDesde"
                                    readonlyInput="true"
                                    (onSelect)="cambioFechaInicio()">
                        </p-calendar>
                    </div>
				</div>
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="fecHas">Hasta</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fechaHasta" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaHasta"
                                    readonlyInput="true"
                                    (onSelect)="cambioFechaFin()">
                        </p-calendar>
                    </div>
				</div>
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroSistran">Nro. SISTRAN</label>
					<input pInputText formControlName="nroSistran" type="text" class="w-full">
				</div>
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="usuario">Usuario</label>
					<input pInputText formControlName="usuario" type="text" class="w-full">
				</div>                
			</div>
            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="estado">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdescri" 
                                filterValue="cdescri"
                                formControlName="estado"
                                styleClass="inputfield w-full"
                                [options]="listaEstadoMemorandum" 
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo">
                    </p-dropdown>
				</div>
            </div>
            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-12 lg:col-8 xl:col-6">
                        <button *ngIf="showButtonAct(BtnNuevo, codBandeja)" pButton pTooltip="Nuevo" tooltipPosition="top" 
                                icon="pi pi-file" (click)="nuevoMemorandum()" class="p-button-nuevo mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnEditar, codBandeja)" pButton pTooltip="Editar" tooltipPosition="top" 
                                icon="pi pi-pencil" (click)="editarMemorandum()" class="p-button-editar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnAnular, codBandeja)" pButton pTooltip="Anular" tooltipPosition="top" 
                                icon="pi pi-times" (click)="anularMemorandums()" class="p-button-anular mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnActivar, codBandeja)" pButton pTooltip="Activar" tooltipPosition="top" 
                                icon="pi pi-power-off" (click)="activarMemorandums()" class="p-button-activar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnConsultar, codBandeja)" pButton pTooltip="Consultar registro" tooltipPosition="top" 
                                icon="pi pi-info-circle" (click)="consultarRegistro()" class="p-button-consultar">
                        </button>
                    </div>
                    <div class="col-12 lg:col-4 xl:col-6 row-buttons-maintenance">
                        <button *ngIf="showButtonAct(BtnVer_Documento, codBandeja)" pButton pTooltip="Ver Documento" tooltipPosition="top" 
                                icon="pi pi-eye" (click)="verDocumento()" class="p-button-documento mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnSustentos, codBandeja)" pButton pTooltip="Sustentos" tooltipPosition="top" 
                                icon="pi pi-folder-open" (click)="sustentos()" class="p-button-sustento mr-3">
                        </button>                        
                    </div>
                </div>                
            </div>
        </div>
        <div class="col-1"></div>        
        <div class="col-1"></div> 
        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack"                 
                         [customSort]="true"
                         (sortFunction)="customSort($event)"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedValuesMemorandums"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]"
                         [value]="listaMemorandums"
                         [loading]="loadingMemorandums">

                    <ng-template pTemplate="caption">
                        <div class="col text-right">
                            <button *ngIf="showButtonAct(BtnExportar, codBandeja)" type="button" pButton pRipple icon="pi pi-file-excel" 
                                    (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom">
                            </button>
                        </div>
                    </ng-template>
                        
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="deZonaRegi"><div>Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon></div></th>
                            <th pSortableColumn="deOficRegi"><div>Oficina Registral <p-sortIcon field="deOficRegi"></p-sortIcon></div></th>
                            <th pSortableColumn="deLocaAten"><div>Local <p-sortIcon field="deLocaAten"></p-sortIcon></div></th>
                            <th pSortableColumn="noTipoMemo"><div>Tipo Memorándum <p-sortIcon field="noTipoMemo"></p-sortIcon></div></th>
                            <th pSortableColumn="nuMemo"><div>Nro Memorándum <p-sortIcon field="nuMemo"></p-sortIcon></div></th>
                            <th pSortableColumn="nuSistran"><div>Nro SISTRAN <p-sortIcon field="nuSistran"></p-sortIcon></div></th>
                            <th pSortableColumn="feMemo"><div>Fecha <p-sortIcon field="feMemo"></p-sortIcon></div></th>    
                            <th pSortableColumn="imTotal"><div>Monto <p-sortIcon field="imTotal"></p-sortIcon></div></th>    
                            <th pSortableColumn="noUsuaCrea"><div>Usuario <p-sortIcon field="noUsuaCrea"></p-sortIcon></div></th>    
                            <th pSortableColumn="deEsta"><div>Estado <p-sortIcon field="deEsta"></p-sortIcon></div></th>    
                        </tr>
                    </ng-template>                    
                    <ng-template pTemplate="body" let-memorandum>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="memorandum"></p-tableCheckbox>
                            </td>
                            <td>{{ memorandum.deZonaRegi }}</td>
                            <td>{{ memorandum.deOficRegi }}</td>
                            <td>{{ memorandum.deLocaAten }}</td>
                            <td>{{ memorandum.noTipoMemo }}</td>
                            <td>{{ memorandum.nuMemo }}</td>
                            <td>{{ memorandum.nuSistran }}</td>
                            <td>{{ memorandum.feMemo | date:'dd/MM/yyyy' }}</td>
                            <td class="text-right">{{ transformMonto( memorandum.imTotal ) }}</td>
                            <td>{{ memorandum.noUsuaCrea }}</td>
                            <td>{{ memorandum.deEsta }}</td>
                        </tr>                                                   
                    </ng-template>                    
                </p-table>   
            </div>
        </div> 
        <div class="col-1"></div> 
    </div>
</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>