<p-panel header="Consolidación Libro Banco SIAF vs Estado Bancario MEF - {{ titulo }}">
    <div class="grid mt-0">
        <div class="col-1"></div>
        <div class="col-10">
            <p-fieldset legend="{{ titulo }}">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Zona Registral</label>
                        <label class="label-data">{{ (recaudacionSiafMef) ? recaudacionSiafMef.deZonaRegi : '' }}</label>                
                    </div>
                     <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Oficina Registral</label>    
                        <label class="label-data">{{ (recaudacionSiafMef) ? recaudacionSiafMef.deOficRegi : '' }}</label>            
                    </div>            
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="local">Local</label>
                        <label class="label-data">{{ (recaudacionSiafMef) ? recaudacionSiafMef.deLocaAten : '' }}</label> 
                    </div> 
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="feCnclDesd">Fecha Desde</label>
                        <label class="label-data">{{ feCnclDesd }}</label>
                    </div>
                     <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="feCnclHast">Fecha Hasta</label>
                        <label class="label-data">{{ feCnclHast }}</label>
                    </div>
               </div>
                <ng-container *ngIf="mostrarBloque">
                    <div class="formgrid grid">
                        <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                            <label for="oficina">Nombre de archivo Libro Banco SIAF</label>
                            <label class="label-data" *ngIf="idGuidExcel1 == ' '">{{ nombreArchivoExcel }}</label>                
                            <label class="label-data" *ngIf="idGuidExcel1 != ' '">
                                <a target="_blank" href="{{ visorEndpoint(idGuidExcel1) }}">
                                    {{ nombreArchivoExcel }}
                                </a>
                            </label>
                        </div>
                        <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                            <label for="oficina">Nombre de Estado Bancario MEF</label>
                            <label class="label-data" *ngIf="idGuidExcel2 == ' '">{{ nombreArchivoExcelMef }}</label>                
                            <label class="label-data" *ngIf="idGuidExcel2 != ' '">
                                <a target="_blank" href="{{ visorEndpoint(idGuidExcel2) }}">
                                    {{ nombreArchivoExcelMef }}
                                </a>
                            </label>                
                        </div>
                    </div>
                </ng-container> 
            </p-fieldset>            
            <div class="formgrid grid mt-20">
                <div class="field col-12">
					<p-tabView [(activeIndex)]="index">
						<p-tabPanel header="Totales">
                            <p-table responsiveLayout="stack"
                                [value]="listaTotalesNiubizSiafMef"
                                (sortFunction)="customSort($event)"
                                [customSort]="true"
                                [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]" 
                                [loading]="loadingTotalesNiubizSiafMef"               
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th pSortableColumn=""><div>Día<p-sortIcon field=""></p-sortIcon></div></th>
                                        <th class="text-right" pSortableColumn="libroBanco"><div>Libro Bancos <p-sortIcon field="libroBanco"></p-sortIcon></div></th>
                                        <th class="text-right" pSortableColumn="estadoBancario"><div>Estado Bancario <p-sortIcon field="estadoBancario"></p-sortIcon></div></th>    
                                        <th class="text-right" pSortableColumn="libroBancoNoConc"><div>No Conciliado Libro Bancos<p-sortIcon field="libroBancoNoConc"></p-sortIcon></div></th>    
                                        <th class="text-right" pSortableColumn="estadoBancarioNoConc"><div>No Conciliados EEBB<p-sortIcon field="estadoBancarioNoConc"></p-sortIcon></div></th>    
                                        <th class="text-right" pSortableColumn="libroBancoAnulado"><div>Anulados<p-sortIcon field="libroBancoAnulado"></p-sortIcon></div></th>    
                                        <th class="text-right" pSortableColumn="estadoBancarioExtorno"><div>Extornos<p-sortIcon field="estadoBancarioExtorno"></p-sortIcon></div></th>    
                                        <th class="text-right" pSortableColumn="estadoBancarioNoIden"><div>Depósitos No Identificados<p-sortIcon field="estadoBancarioNoIden"></p-sortIcon></div></th>    
                                        <th class="text-right" pSortableColumn="estadoBancarioMesAnt"><div>Ingresos Meses Anteriores<p-sortIcon field="estadoBancarioMesAnt"></p-sortIcon></div></th>    
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-registro>
                                    <tr>
                                        <td>{{ registro.fecha }}</td>
                                        <td class="text-right">{{ numberTransform( registro.libroBanco ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.estadoBancario ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.libroBancoNoConc ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.estadoBancarioNoConc ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.libroBancoAnulado ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.estadoBancarioExtorno ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.estadoBancarioNoIden ) }}</td>
                                        <td class="text-right">{{ numberTransform( registro.estadoBancarioMesAnt ) }}</td>
										</tr>
                                </ng-template>
                            </p-table>                           
                        </p-tabPanel>
                        <p-tabPanel header="Libro Bancos">
                            <div class="list-files-recaudacion-me">
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFile(1)"
                                        *ngIf="showButtonAct(BtnLibro_Bancos_Descargar_Conciliados, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar conciliados</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFile(0)"
                                        *ngIf="showButtonAct(BtnLibro_Bancos_Descargar_No_Conciliados, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar no conciliados</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFile(3)"
                                        *ngIf="showButtonAct(BtnAnulados_Descargar_Archivo, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar anulados</span>                              
                                 </div>
                                <div >
                                 <ng-container *ngIf="esConsultarRegistro === false">
                                    <app-div-conciliar-por-monto-siaf 
                                        [servicioDePago]="servicioOperador" 
                                        (eventDataConciliarMonto)="obtenerDataConciliarMonto($event)"
                                        [showButton]="showButtonAct(BtnEditar_EEBB, codBandeja)">
                                    </app-div-conciliar-por-monto-siaf> 
                                 </ng-container>                                                          
                                </div> 
							</div>
                         </p-tabPanel>
                         
                        <p-tabPanel header="Estado Bancario MEF">
                            <div class="list-files-recaudacion-me">
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(1)"
                                        *ngIf="showButtonAct(BtnEstado_Banc_Descargar_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar conciliados</span>                              
                                </div>
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(0)"
                                        *ngIf="showButtonAct(BtnEstado_Banc_Descargar_No_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar no conciliados</span>                              
                                </div>
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(4)"
                                        *ngIf="showButtonAct(BtnExtornos_Descargar_Archivo, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar Extornos</span>                              
                                </div>
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(5)"
                                        *ngIf="showButtonAct(BtnDepos_No_Identif_Descargar_Archivo, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar Depósitos no identificados</span>                              
                                </div>                                
								<div class="list-files-recaudacion-me__file" (click)="downloadFileTx(6)"
                                        *ngIf="showButtonAct(BtnIngr_Meses_Anteriores_Descargar_Archivo, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar Ingresos meses anteriores</span>                              
                                </div>
                                <div >
                                 <ng-container *ngIf="esConsultarRegistro === false">
                                    <app-div-conciliar-por-monto-mef 
                                        [servicioDePago]="servicioOperador" 
                                        (eventDataConciliarMonto)="obtenerDataConciliarMonto2($event)"
                                        [showButton]="showButtonAct(BtnEditar_EEBB, codBandeja)">
                                    </app-div-conciliar-por-monto-mef> 
                                 </ng-container>                                                          
                                </div>                            
							</div>      						
                        </p-tabPanel>
                        
                    </p-tabView>
                    <div class="formgrid grid mt-5">
                        <div class="col buttons-recaudacion-me">                            
                            <button pButton type="button" 
                                    icon="pi pi-times" 
                                    style="width: 9em; margin-left: 1em;"
                                    label="Cancelar"
                                    class="p-button-anular" 
                                    (click)="cancelar()">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>