<div class="grid mt-4">
    <div [formGroup]="nuevaCuenta" class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="zona">Cuenta Contable</label>
                <div class="">
                    <input formControlName="cuenta" pInputText type="text" class="w-full">
                    <small id="username2-help" class="p-error block"
                            *ngIf="campoEsValido('cuenta')">
                        El código de la cuenta es obligatorio.
                    </small>
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-8">
                <label for="oficina">Nombre de la Cuenta Contable</label>
                <div class="">
                    <input formControlName="nombre" pInputText type="text" class="w-full">
                    <small id="username2-help" class="p-error block"
                            *ngIf="campoEsValido('nombre')">
                        El nombre de la cuenta contable es obligatorio.
                    </small>
                </div>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Grabar"
                        [loading]="isLoading"
                        class="p-button-buscar" 
                        (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>