<p-panel header="Tipo de Carta Orden">

    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="tipoCarta" class="col-10">
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnBuscar, codBandeja)" pButton type="button" 
                        (click)="buscarTipo()" label="Buscar"class="p-button-buscar">
                </button>
            </div>
			<div class="formgrid grid">
                <div class="field col-12 lg:col-4 md:col-6">
					<label for="oficina">Nombre del Documento</label>
					<input pInputText formControlName="nomDocu" type="text" class="w-full">
				</div>

                <div class="field col-12 lg:col-4 md:col-6">
					<label for="oficina">Descripción</label>
					<input pInputText formControlName="descripcion" type="text" class="w-full">
				</div>

                <div class="field col-12 lg:col-4 md:col-6 p-dropdown-loading">
                    <label for="zona">Grupo</label>
                    <p-dropdown [filter]="true" 
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaGrupos"
                                formControlName="grupo"
                                styleClass="inputfield w-full"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                [class.spinner]="loadingGrupos">
                    </p-dropdown>
                </div>

                <div class="field col-12 lg:col-4 md:col-6">
					<label for="oficina">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="deEstado" 
                                filterValue="deEstado"
                                [options]="$estado"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="deEstado"
                                optionValue="coEstado">
                    </p-dropdown>
				</div>
			</div>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-12">
                        <button *ngIf="showButtonAct(BtnNuevo, codBandeja)" pButton pTooltip="Nuevo" tooltipPosition="top" icon="pi pi-file" 
                                (click)="nuevoTipo()" class="p-button-nuevo mr-3" id="btnNuevo"> 
                        </button>
                        <button *ngIf="showButtonAct(BtnEditar, codBandeja)" pButton pTooltip="Editar" tooltipPosition="top" icon="pi pi-pencil" 
                                (click)="editOrView('edit')" [disabled]="disabledEdit" class="p-button-editar mr-3" id="btnEditar">
                        </button>
                        <button *ngIf="showButtonAct(BtnAnular, codBandeja)" pButton pTooltip="Anular" tooltipPosition="top" icon="pi pi-times" 
                                (click)="anular()" [loading]="loadingAnu" class="p-button-anular mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnActivar, codBandeja)" pButton pTooltip="Activar" tooltipPosition="top" icon="pi pi-power-off" 
                                (click)="activar()" [loading]="loadingAct" class="p-button-activar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnConsultar, codBandeja)" pButton pTooltip="Consultar registro" tooltipPosition="top" icon="pi pi-info-circle" 
                                (click)="editOrView('view')" class="p-button-consultar">
                        </button>
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack"
                         [value]="enviadosList"
                         [customSort]="true"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedValues"
                         (sortFunction)="customSort($event)"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]">

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="noDocu">Nombre Documento <p-sortIcon field="noDocu"></p-sortIcon></th>
                            <th pSortableColumn="noTipoCartOrde">Descripción <p-sortIcon field="noTipoCartOrde"></p-sortIcon></th>
                            <th pSortableColumn="nuCuenBancCarg">Cargo <p-sortIcon field="nuCuenBancCarg"></p-sortIcon></th>
                            <th pSortableColumn="nuCuenBancAbon">Abono <p-sortIcon field="nuCuenBancAbon"></p-sortIcon></th>
                            <th pSortableColumn="noGrup">Grupo <p-sortIcon field="noGrup"></p-sortIcon></th>
                            <th pSortableColumn="inRegi">Estado <p-sortIcon field="inRegi"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-tco>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="tco"></p-tableCheckbox>
                            </td>
                            <td>{{ tco.noDocu }}</td>
                            <td>{{ tco.noTipoCartOrde }}</td>
                            <td>{{ tco.nuCuenBancCarg }}</td>
                            <td>{{ tco.nuCuenBancAbon }}</td>
                            <td>{{ tco.noGrup }}</td>
                            <td>{{ tco.inRegi }}</td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>