<p-panel header="Consolidación de la Recaudación SCUNAC - {{ titulo }}">
    <div class="grid mt-0">
        <div class="col-1"></div>
        <div class="col-10">
            <p-fieldset legend="{{ titulo }}">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Zona Registral</label>
                        <label class="label-data">{{ (recaudacionScunacRemesas) ? recaudacionScunacRemesas.deZonaRegi : '' }}</label>                
                    </div>
                     <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Oficina Registral</label>    
                        <label class="label-data">{{ (recaudacionScunacRemesas) ? recaudacionScunacRemesas.deOficRegi : '' }}</label>            
                    </div>            
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="local">Local</label>
                        <label class="label-data">{{ (recaudacionScunacRemesas) ? recaudacionScunacRemesas.deLocaAten : '' }}</label> 
                    </div> 
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="fecha">Fecha</label>
                        <label class="label-data">{{ fecha }}</label>
                    </div>
                </div>
                <ng-container *ngIf="mostrarBloque">
                    <div class="formgrid grid">
                        <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                            <label for="archivo">Nombre del archivo Hermes (.xlsx)</label>
                            <label class="label-data" *ngIf="idGuidExcel1 == ' '">{{ nombreArchivoExcel1 }}</label>                
                            <label class="label-data" *ngIf="idGuidExcel1 != ' '">
                                <a target="_blank" href="{{ visorEndpoint(idGuidExcel1) }}">
                                    {{ nombreArchivoExcel1 }}
                                </a>
                            </label>
                            <label class="label-data" *ngIf="idGuidExcel2 == ' '">{{ nombreArchivoExcel2 }}</label>                
                            <label class="label-data" *ngIf="idGuidExcel2 != ' '">
                                <a target="_blank" href="{{ visorEndpoint(idGuidExcel2) }}">
                                    {{ nombreArchivoExcel2 }}
                                </a>
                            </label>
                            <label class="label-data" *ngIf="idGuidExcel3 == ' '">{{ nombreArchivoExcel3 }}</label>                
                            <label class="label-data" *ngIf="idGuidExcel3 != ' '">
                                <a target="_blank" href="{{ visorEndpoint(idGuidExcel3) }}">
                                    {{ nombreArchivoExcel3 }}
                                </a>
                            </label>
                        </div>
                    </div>
                </ng-container> 
            </p-fieldset>            
            <div class="formgrid grid mt-20">
                <div class="field col-12">
					<p-tabView (onChange)="handleChange($event)">
                        <p-tabPanel header="Recaudación SCUNAC">
                            <div class="list-files-recaudacion-me">
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFile(1)"
                                        *ngIf="showButtonAct(BtnEstado_Banc_Descargar_Conciliados, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar conciliados</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFile(0)"
                                        *ngIf="showButtonAct(BtnEstado_Banc_Descargar_No_Conciliados, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar no conciliados</span>                              
                                 </div>
                            </div>
                         </p-tabPanel>
                         
                        <p-tabPanel header="HERMES">
                            <div class="list-files-recaudacion-me">
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(1)"
                                        *ngIf="showButtonAct(BtnDepos_Hermes_Descargar_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar conciliados</span>                              
                                </div>
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileTx(0)"
                                        *ngIf="showButtonAct(BtnDepos_Hermes_Descargar_No_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar no conciliados</span>                              
                                </div>                          
							</div>      						
                        </p-tabPanel>
                        <p-tabPanel header="Otras Operaciones HERMES">
                            <ng-container *ngIf="!esConsultarRegistro">
                                <div class="grid mt-0 mb-15">
                                    <div class="col-12">
                                        <!-- *ngIf="showButtonAct(BtnIngresos_Nuevo, codBandeja)" -->
                                        <button  pButton pTooltip="Nuevo" tooltipPosition="top" 
                                                icon="pi pi-file" (click)="nuevoOtrasHermes()" class="p-button-nuevo mr-3">
                                        </button>
                                        <!-- *ngIf="showButtonAct(BtnIngresos_Editar, codBandeja)" -->
                                        <button  pButton pTooltip="Editar" tooltipPosition="top" 
                                                icon="pi pi-pencil" (click)="editarOtrasHermes()" class="p-button-editar mr-3">
                                        </button>
                                        <button  pButton pTooltip="Anular" tooltipPosition="top" 
                                                icon="pi pi-times" (click)="anularOtrasHermes()" class="p-button-anular mr-3">
                                        </button>
                                        <button  pButton pTooltip="Activar" tooltipPosition="top" 
                                                icon="pi pi-power-off" (click)="activarOtrasHermes()" class="p-button-activar mr-3">
                                        </button>
                                        <button  pButton pTooltip="Re-Procesar" tooltipPosition="top" 
                                                icon="pi pi-sync" (click)="reprocesarOtrosHermes()" class="p-button-reprocesar mr-3">
                                        </button>
                                    </div>
                                </div>
                            </ng-container>
                            <div class="card">
                                <p-table responsiveLayout="stack"
                                        [value]="listarOtrosHermes"
                                        (sortFunction)="customSort($event)"
                                        [customSort]="true"
                                        [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                        currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[10,20,30]" 
                                        [loading]="loadingOtrosHermes">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th *ngIf="esConsultarRegistro === false">Sel</th>
                                            <th pSortableColumn="feOper">Fecha <p-sortIcon field="feOper"></p-sortIcon></th>
                                            <th pSortableColumn="deZonaRegi">Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon></th>
                                            <th pSortableColumn="deOficRegi">Oficina Registral <p-sortIcon field="deOficRegi"></p-sortIcon></th>
                                            <th pSortableColumn="deLocaAten">Local Atención <p-sortIcon field="deLocaAten"></p-sortIcon></th>    
                                            <th pSortableColumn="imOper">Monto <p-sortIcon field="imOper"></p-sortIcon></th>    
                                            <th pSortableColumn="deEsta">Estado <p-sortIcon field="deEsta"></p-sortIcon></th>
                                            <th pSortableColumn="obHerm">Observaciones <p-sortIcon field="obHerm"></p-sortIcon></th>                         
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-registro>
                                        <tr>
                                            <td *ngIf="esConsultarRegistro === false">
                                                <p-checkbox [value]="registro" [(ngModel)]="selectOtrosHermes"></p-checkbox>
                                            </td>
                                            <td>{{ registro.feOper | date:"dd/MM/yy" }}</td>
                                            <td>{{ registro.deZonaRegi }}</td>
                                            <td>{{ registro.deOficRegi }}</td>
                                            <td>{{ registro.deLocaAten }}</td>
                                            <td class="text-right">{{ formatearMontoImporte( registro.imOper ) }}</td>
                                            <td>{{ registro.deEsta }}</td>
                                            <td class="estilos-concepto">{{ registro.obHerm }}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div> 
                        </p-tabPanel>
                    </p-tabView>
                    <div class="formgrid grid mt-5">
                        <div class="col buttons-recaudacion-me">                            
                            <button pButton type="button" 
                                    icon="pi pi-times" 
                                    style="width: 9em; margin-left: 1em;"
                                    label="Cancelar"
                                    class="p-button-anular" 
                                    (click)="cancelar()">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>