.p-tabview .p-tabview-nav li {
    border: 1px solid #ced4da;
    border-radius: 6px;
}

.p-tabview .p-tabview-panels {
    border: 1px solid #ced4da;
    border-radius: 6px;
}

.p-tabview .p-tabview-nav {
    border: 0;
}

.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    color: #6c757d;
    background: #EAEDED;
}

.p-tabview .p-tabview-nav li .p-tabview-nav-link {
    padding: 13px;
}

.list-files-recaudacion-me {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__file {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
}

.buttons-recaudacion-me, .buttons-movimientos {
    display: flex;
    justify-content: end;
}

.estilos-concepto {
    display: -webkit-box;
    height: 100px;
    line-height: 26px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
