<div class="grid mt-0">    
    <div [formGroup]="formOtrosHermes" class="col-12">
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Fecha</label>
            </div>
            <div class="row-varios-right">
                <div class="row-varios-right-cbo-2">
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" 
                                    appendTo="body"
                                    formControlName="fecha" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fecha"
                                    inputId="idFechaDesde"
                                    readonlyInput="true"
                                    #fechaHermes>
                        </p-calendar>
                    </div>
                </div>                            
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Zona Registral</label>
            </div>
            <div class="row-varios-right">
                <div class="row-varios-right-cbo-2">
                    <p-dropdown 
                        [filter]="true" 
                        filterBy="deZonaRegi" 
                        filterValue="deZonaRegi"
                        formControlName="zonaRegistral"
                        styleClass="inputfield w-full"
                        [options]="listaZonaRegistral"
                        optionLabel="deZonaRegi"
                        optionValue="coZonaRegi"
                        (onChange)="buscarOficinaRegistral()"
                        [class.spinner]="loadingZonaRegistral" 
                        [disabled]="loadingZonaRegistral"
                        #ddlZonaRegistral>
                    </p-dropdown> 
                </div>                            
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Oficina Registral</label>
            </div>
            <div class="row-varios-right">
                <div class="row-varios-right-cbo-2 p-dropdown-loading">
                    <p-dropdown 
                        [filter]="true" 
                        filterBy="deOficRegi" 
                        filterValue="deOficRegi"
                        formControlName="oficinaRegistral"
                        styleClass="inputfield w-full"
                        [options]="listaOficinaRegistral"
                        optionLabel="deOficRegi"
                        optionValue="coOficRegi"
                        (onChange)="buscarLocal()"
                        [class.spinner]="loadingOficinaRegistral" 
                        [disabled]="loadingOficinaRegistral"
                        #ddlOficinaRegistral>
                    </p-dropdown> 
                </div>                          
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Local de Atención</label>
            </div>
            <div class="row-varios-right">
                <div class="row-varios-right-cbo-2 p-dropdown-loading">
                    <p-dropdown 
                        [filter]="true" 
                        filterBy="deLocaAten" 
                        filterValue="deLocaAten"
                        formControlName="localAtencion"
                        styleClass="inputfield w-full"
                        [options]="listaLocalAtencion"
                        optionLabel="deLocaAten"
                        optionValue="coLocaAten"
                        [class.spinner]="loadingLocalAtencion" 
                        [disabled]="loadingLocalAtencion"
                        #ddlLocalAtencion>
                    </p-dropdown>
                </div>                
            </div>
        </div>
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Monto</label>
            </div>
            <div class="row-varios-right">
                <input 
                    pInputText 
                    id="idRecaudacion"
                    type="text"                      
                    class="row-varios-right-cbo-2 text-right" 
                    formControlName="monto"                 
                    maxlength="20"               
                    digitOnly
                    decimal="true"
                    (blur)="formatearRecaudacion($event)"
                    (keypress)="validarMonto($event)"                    
                    #imMontoHermes>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col-12 sm:col-12 lg:col-12">
                <label for="oficina">Observaciones</label>
                <div class="">
                    <textarea [rows]="6" formControlName="observaciones" class="w-full" pInputTextarea></textarea>
                </div>
            </div>
        </div>
        
        <div class="formgrid grid mt-5">
            <div class="col buttons-varios">
                <button 
                    pButton type="button" 
                    icon="pi pi-check"
                    style="width: 9em;"
                    label="Grabar"
                    [loading]="isLoading"
                    class="p-button-buscar"
                    (click)="grabar()"
                >
                </button>
                <button 
                    pButton type="button" 
                    icon="pi pi-times" 
                    style="width: 9em; margin-left: 1em;"
                    label="Cancelar"
                    class="p-button-anular" 
                    (click)="cancelar()"
                >
                </button>
            </div>
        </div> 
    </div>
</div>
<p-toast></p-toast>