.row-varios {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    &-left {
        width: 25%;
    }
    &-right {
        width: 75%;
        &-cbo {            
            width: 40%;
        }
        &-cbo-2 {            
            width: 60%;
        }
        &-input {
            width: 30%; 
        }
    }
}

.buttons-varios {
    display: flex;
    justify-content: end;
}