<p-panel header="Enviar Documentos - Nuevo">

    <div [formGroup]="nuevoDocumentosEnviar" class="grid">
        <div class="col-1"></div>
        <div class="col-10">

            <div class="grid mt-4">
                <div class="col-12">
                    <div class="div-campo-obligatorio">
                        <span class="campo-obligatorio">(*)</span> <b>Campo obligatorio</b>
                    </div>
                    <p-fieldset legend="Datos Generales">
                        <div class="formgrid grid">
                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Zona Registral <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" filterBy="deZonaRegi" filterValue="deZonaRegi"
                                    formControlName="zona" styleClass="inputfield w-full" [options]="listaZonaRegistral"
                                    optionLabel="deZonaRegi" optionValue="coZonaRegi"
                                    (onChange)="buscarOficinaRegistral()" [class.spinner]="loadingZonaRegistral"
                                    [disabled]="loadingZonaRegistral" #ddlZona>
                                </p-dropdown>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Oficina Registral <span
                                        class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" filterBy="deOficRegi" filterValue="deOficRegi"
                                    formControlName="oficina" styleClass="inputfield w-full"
                                    [options]="listaOficinaRegistral" optionLabel="deOficRegi" optionValue="coOficRegi"
                                    (onChange)="buscarLocal()" [class.spinner]="loadingOficinaRegistral"
                                    [disabled]="loadingOficinaRegistral" #ddlOficinaRegistral>
                                </p-dropdown>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Local <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" filterBy="deLocaAten" filterValue="deLocaAten"
                                    formControlName="local" styleClass="inputfield w-full" [options]="listaLocal"
                                    optionLabel="deLocaAten" optionValue="coLocaAten" [class.spinner]="loadingLocal"
                                    [disabled]="loadingLocal" #ddlLocal>
                                </p-dropdown>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Tipo de Proceso <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" filterBy="cdescri" filterValue="cdescri"
                                    formControlName="tipoDocumento" styleClass="inputfield w-full"
                                    [options]="listaTipoDocumento" optionLabel="cdescri"
                                    optionValue="ccodigoHijo"
                                    [class.spinner]="loadingTipoDocumento" [disabled]="loadingTipoDocumento" #ddlTipoDocumento>
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="fecha">Fecha <span class="campo-obligatorio">(*)</span></label>
                                <div class="p-fluid">
                                    <p-calendar [showIcon]="true" 
                                                appendTo="body" 
                                                inputId="icon" 
                                                formControlName="fecha"
                                                inputId="idFecha" 
                                                dateFormat="dd/mm/yy"
                                                [maxDate]="fechaActual" 
                                                readonlyInput="true"
                                                inputId="dateformat">
                                    </p-calendar>
                                </div>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="numero">Número Referencial</label>
                                <input pInputText formControlName="numero" type="text" class="w-full" id="numero">
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-6">
                                <label for="nombreDocumento">Nombre del documento (.pdf)</label>
                                <app-upload (uploaded)="addUploadedFile( $event )" (onDelete)="deleteUploaded($event)" [disabled]="disableUpload()"
								[nroBandeja]="codBandeja" [nroAdd]="BtnAdicionar_Sustento" [nroDel]="BtnEliminar_Sustento"
								></app-upload>
	
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12">
                                <label for="concepto">Observaciones</label>
                                <textarea [rows]="8" formControlName="concepto" class="w-full" id="concepto"
                                    pInputTextarea></textarea>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="formgrid grid mt-6">
                <div class="col text-right">
                    <button pButton type="button" icon="pi pi-check" style="width: 9em;" label="Grabar"
                        class="p-button-buscar" (click)="grabar()">
                    </button>
                    <button pButton type="button" icon="pi pi-times" style="width: 9em; margin-left: 1em;"
                        label="Cancelar" class="p-button-anular" (click)="cancelar()">
                    </button>
                </div>
            </div>
        </div>
    </div>

</p-panel>