<div class="grid mt-2"  [formGroup]="copiarComprobantePago">
    <div class="col-12">

        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-4 p-dropdown-loading">
                <label for="zona">Zona Registral</label>
                <p-dropdown [filter]="true" 
                            filterBy="deZonaRegi" 
                            filterValue="deZonaRegi"
                            formControlName="zona"
                            styleClass="inputfield w-full"
                            [options]="listaZonaRegistral"
                            (onChange)="buscarOficinaRegistral($event.value, false)"
                            optionLabel="deZonaRegi"
                            optionValue="coZonaRegi"
                            [class.spinner]="loadingZonaRegistral" 
                            [disabled]="loadingZonaRegistral"
                            #ddlZona>
                </p-dropdown>
            </div>
        
            <div class="field col-12 sm:col-12 lg:col-4 p-dropdown-loading">
                <label for="oficina">Oficina Registral</label>
                <p-dropdown [filter]="true" 
                            filterBy="deOficRegi" 
                            filterValue="deOficRegi"
                            formControlName="oficina"
                            styleClass="inputfield w-full"
                            [options]="listaOficinaRegistral"
                            optionLabel="deOficRegi"
                            optionValue="coOficRegi"
                            (onChange)="buscarLocal($event.value, false)"
                            [class.spinner]="loadingOficinaRegistral" 
                            [disabled]="loadingOficinaRegistral"
                            #ddlOficinaRegistral>
                </p-dropdown>
            </div>
        
            <div class="field col-12 sm:col-12 lg:col-4 p-dropdown-loading">
                <label for="oficina">Local</label>
                <p-dropdown [filter]="true" 
                            filterBy="deLocaAten" 
                            filterValue="deLocaAten"
                            formControlName="local"
                            styleClass="inputfield w-full"
                            [options]="listaLocal"
                            optionLabel="deLocaAten"
                            optionValue="coLocaAten"
                            [class.spinner]="loadingLocal" 
                            [disabled]="loadingLocal"
                            #ddlLocal>
                </p-dropdown>
            </div>
        </div>

        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-12" id="borde">
                <label for="zona" style="font-weight: bold; font-size: medium;">Aviso!</label>
                <div class="">
                    <p style="font-size: medium;">
                        Esta funcionalidad permite copiar un Comprobantes de Pago con estado REGISTRADO 
                        y con la fecha actual  del sistema. Seleccione en que local se va a copiar el nuevo comprobante.
                    </p>
                </div>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Aceptar"
                        class="p-button-buscar" 
                        (click)="grabar()"
                        >
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()"
                        >
                </button>
            </div>
        </div>

    </div>
</div>