<p-panel header = '{{titulo}}'>
    <div class="grid">
        <div class="col-1"></div>
        <div [formGroup]="formMemorandum" class="col-12 sm:col-10">
            <div class="grid content-memorandum">
                <div class="col-12">
                    <div class="div-campo-obligatorio">
                        <span class="campo-obligatorio">(*)</span> <b>Campo obligatorio</b>
                    </div>
                    <p-fieldset legend="Datos Generales">
                        <div class="formgrid grid">
                            <div class="field col-12 xl:col-3 lg:col-6">
                                <label for="oficina">Zona Registral <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deZonaRegi" 
                                            filterValue="deZonaRegi"
                                            formControlName="zona"
                                            styleClass="inputfield w-full"
                                            [options]="listaZonaRegistral"
                                            optionLabel="deZonaRegi"
                                            optionValue="coZonaRegi"
                                            (onChange)="buscarOficinaRegistral()"
                                            #ddlZona>
                                </p-dropdown> 
                            </div>            
                            <div class="field col-12 xl:col-3 lg:col-6 p-dropdown-loading">
                                <label for="oficina">Oficina Registral <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deOficRegi" 
                                            filterValue="deOficRegi"
                                            formControlName="oficina"
                                            styleClass="inputfield w-full"
                                            [options]="listaOficinaRegistral"
                                            optionLabel="deOficRegi"
                                            optionValue="coOficRegi"
                                            (onChange)="buscarLocal()"
                                            [class.spinner]="loadingOficinaRegistral" 
                                            [disabled]="loadingOficinaRegistral"
                                            #ddlOficinaRegistral>
                                </p-dropdown>
                            </div>            
                            <div class="field col-12 xl:col-3 lg:col-6 p-dropdown-loading">
                                <label for="oficina">Local <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="deLocaAten" 
                                            filterValue="deLocaAten"
                                            formControlName="local"
                                            styleClass="inputfield w-full"
                                            [options]="listaLocal"
                                            optionLabel="deLocaAten"
                                            optionValue="coLocaAten"
                                            [class.spinner]="loadingLocal" 
                                            [disabled]="loadingLocal"
                                            #ddlLocal>
                                </p-dropdown>
                            </div>            
                            <div class="field col-12 xl:col-3 lg:col-6">
                                <label for="oficina">Tipo de Memorándum <span class="campo-obligatorio">(*)</span></label>
                                <p-dropdown [filter]="true" 
                                            filterBy="noTipoMemo" 
                                            filterValue="noTipoMemo"
                                            formControlName="tipoMemorandum"
                                            styleClass="inputfield w-full" 
                                            [options]="listaTipoMemorandum"                               
                                            optionLabel="noTipoMemo"
                                            optionValue="idTipoMemo"
                                            (onChange)="seleccionarTipoMemorandum()"
                                            #ddlTipoMemorandum>
                                </p-dropdown>
                            </div>                            
                        </div>
                        <div class="formgrid grid mt-2">   
                            <ng-container *ngIf="memorandumEditar !== null">
                                <div class="field col-12 xl:col-3 lg:col-6">
                                    <label for="numeroMemorandum">Número <span class="campo-obligatorio">(*)</span></label>                          
                                    <input pInputText type="text" class="w-full" formControlName="numeroMemorandum" maxlength="50" readonly>
                                </div>
                            </ng-container>                            
                            <div class="field col-12 xl:col-3 lg:col-6">
                                <label for="oficina">Nro. SISTRAN</label>
                                <input pInputText id="idNroSistran" type="text" class="w-full" formControlName="nroSistran" maxlength="50">
                            </div>                          
                            <div class="field col-12 xl:col-3 lg:col-6">
                                <label for="fecha">Fecha <span class="campo-obligatorio">(*)</span></label>
                                <div class="p-fluid">
                                    <p-calendar [showIcon]="true" appendTo="body" 
                                                inputId="icon"
                                                dateFormat="dd/mm/yy"
                                                [maxDate]="fechaMaxima"
                                                placeholder="Seleccione"
                                                formControlName="fechaMemorandum"
                                                inputId="idFechaMemorandum"
                                                readonlyInput="true">
                                    </p-calendar>
                                </div>
                            </div>
                            <ng-container *ngFor="let campoForm of camposMemorandum.controls; let i = index">
                                <form [formGroup]="campoForm"  autocomplete="off" class="field col-12 xl:col-3 lg:col-6">
                                    <div class="campo-form">
                                        <label for="oficina">{{campoForm.value.titulo}} <span class="campo-obligatorio">(*)</span></label>                                     
                                        <input
                                            pInputText
                                            type="text"
                                            class="w-full text-right"
                                            formControlName="valor"                                    
                                            inputmode="numeric"
                                            maxlength="30"
                                            pattern="^\d+(\.\d{1,2})?$"
                                            placeholder="0.00"
                                            digitOnly
                                            decimal="true"
                                            id={{campoForm.value.id}}
                                            (blur)="formatearCamposTipoMemorandum($event, i)"                                            
                                        />
                                    </div>
                                </form>                                
                            </ng-container>
                            <div class="field col-12 xl:col-3 lg:col-6">
                                <label for="oficina">Monto Total <span class="campo-obligatorio">(*)</span></label>                                                    
                                <input
                                    pInputText
                                    type="text"
                                    class="w-full text-right"
                                    formControlName="montoTotal"                                    
                                    inputmode="numeric"
                                    maxlength="30"
                                    pattern="^\d+(\.\d{1,2})?$"
                                    placeholder="0.00"
                                    digitOnly
                                    decimal="true"
                                    id="idMontoTotal"
                                    (blur)="formatearMontoTotal($event)"
                                    [readonly]="soloLecturaMontoTotal"
                                />
                            </div>                         
                            <div class="field col-12 xl:col-3 lg:col-6">
                                <label for="fecha">F. Desde <span class="campo-obligatorio">(*)</span></label>
                                <div class="p-fluid">
                                    <p-calendar [showIcon]="true" appendTo="body" 
                                                inputId="icon"
                                                formControlName="fechaDesde" 
                                                dateFormat="dd/mm/yy"                                                
                                                placeholder="Seleccione"
                                                inputId="idFechaDesde"
                                                readonlyInput="true"
                                                (onSelect)="cambioFechaInicio()">
                                    </p-calendar>
                                </div>
                            </div>
                            <div class="field col-12 xl:col-3 lg:col-6">
                                <label for="fecha">F. Hasta <span class="campo-obligatorio">(*)</span></label>
                                <div class="p-fluid">
                                    <p-calendar [showIcon]="true" appendTo="body" 
                                                inputId="icon"
                                                formControlName="fechaHasta"
                                                dateFormat="dd/mm/yy"                                               
                                                placeholder="Seleccione"
                                                inputId="idFechaHasta"
                                                readonlyInput="true"
                                                (onSelect)="cambioFechaFin()">
                                    </p-calendar>
                                </div>
                            </div>
                        </div>
                        <div class="formgrid grid mt-2">
                            <div class="field col-12 lg:col-6">
                                <label for="monto">Destinatario <span class="campo-obligatorio">(*)</span></label>
                                <input pInputText type="text" id="idDestinatario" formControlName="destinatario" class="w-full" maxlength="120">
                            </div>
                            <div class="field col-12 lg:col-6">
                                <label for="oficina">Cargo</label>
                                <input pInputText type="text" id="idCargo" formControlName="cargo" class="w-full" maxlength="120">
                            </div>
                        </div>
                        <div class="formgrid grid mt-2">
                            <div class="field col-12 lg:col-6">
                                <label for="monto">Asunto <span class="campo-obligatorio">(*)</span></label>
                                <input pInputText type="text" id="idAsunto" formControlName="asunto" class="w-full" maxlength="120">
                            </div>
                            <div class="field col-12 lg:col-6">
                                <label for="oficina">Referencia</label>
                                <input pInputText type="text" id="idReferencia" formControlName="referencia" class="w-full" maxlength="120">
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>
            <div class="grid fieldset-memorandum">
                <div class="col-12">
                    <p-fieldset legend="Cuentas Bancarias">
                        <div class="formgrid grid formgrid-banco-origen">
                            <div class="field field-bancos">
                                <div class="field-checkbox flex">
                                    <label class="font-bold cursor-pointer" for="">Origen &nbsp;&nbsp;&nbsp;</label>
                                </div>
                            </div>
                            <div class="field col-12 xl:col-3 lg:col-5">
                                <label for="zona">Banco</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="cdeInst" 
                                            filterValue="cdeInst"                                            
                                            styleClass="inputfield w-full"
                                            formControlName="bancoOrigen"
                                            [options]="listaBancos"
                                            optionLabel="cdeInst"
                                            optionValue="nidInstitucion"                                            
                                            (onChange)="seleccionarBancoOrigen()"
                                            #ddlBancoOrigen>
                                </p-dropdown>                       
                            </div>
                            <div class="field col-12 xl:col-3 lg:col-5 p-dropdown-loading">
                                <label for="oficina">Cuenta Bancaria</label>
                                <p-dropdown [filter]="true"
                                            filterBy="cuenta" 
                                            filterValue="cuenta"                                            
                                            formControlName="cuentaBancoOrigen"
                                            styleClass="inputfield w-full"
                                            [options]="listaCuentasOrigen"
                                            optionLabel="nuCuenBanc"
                                            optionValue="nuCuenBanc"
                                            [class.spinner]="loadingCuentaOrigen" 
                                            [disabled]="loadingCuentaOrigen"
                                            (onChange)="seleccionarCuentaBancariaOrigen()"
                                            #ddlCuentaBancoOrigen>
                                </p-dropdown>                         
                            </div>
                            <div class="field col-12 xl:col-5 lg:col-6">
                                <label for="oficina">Nombre de la cuenta</label>
                                <div class="">
                                    <input readonly  pInputText type="text" formControlName="nombreCuentaBancoOrigen" class="w-full">
                                </div>
                            </div>
                        </div>                        
                        <div class="formgrid grid">
                            <div class="field field-bancos">
                                <div class="field-checkbox flex">
                                    <label class="font-bold cursor-pointer" for="">Destino &nbsp;&nbsp;</label>
                                </div>
                            </div>
                            <div class="field col-12 xl:col-3 lg:col-5">
                                <label for="zona">Banco</label>
                                <p-dropdown [filter]="true" 
                                            filterBy="cdeInst" 
                                            filterValue="cdeInst"                                            
                                            styleClass="inputfield w-full"
                                            formControlName="bancoDestino"
                                            [options]="listaBancos"
                                            optionLabel="cdeInst"
                                            optionValue="nidInstitucion"
                                            (onChange)="seleccionarBancoDestino()"
                                            #ddlBancoDestino>
                                </p-dropdown>                           
                            </div>
                            <div class="field col-12 xl:col-3 lg:col-5 p-dropdown-loading">
                                <label for="oficina">Cuenta Bancaria</label>
                                <p-dropdown [filter]="true"
                                            filterBy="cuenta" 
                                            filterValue="cuenta"                                            
                                            formControlName="cuentaBancoDestino"
                                            styleClass="inputfield w-full"
                                            [options]="listaCuentasDestino"
                                            optionLabel="nuCuenBanc"
                                            optionValue="nuCuenBanc"
                                            [class.spinner]="loadingCuentaDestino" 
                                            [disabled]="loadingCuentaDestino"
                                            (onChange)="seleccionarCuentaBancariaDestino()"
                                            #ddlCuentaBancoDestino>
                                </p-dropdown>                        
                            </div>
                            <div class="field col-12 xl:col-5 lg:col-6">
                                <label for="oficina">Nombre de la cuenta</label>
                                <div class="">                                    
                                    <input readonly  pInputText type="text" formControlName="nombreCuentaBancoDestino" class="w-full">
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>
            <div class="formgrid grid mt-6">
                <div class="col buttons-memorandum">
                    <ng-container *ngIf="proceso === 'nuevo' || proceso === 'editar'; else isConsultar">
                        <button pButton type="button" 
                            icon="pi pi-check"
                            style="width: 9em;"
                            label="Grabar"
                            class="p-button-buscar"
                            (click)="grabarMemorandum()">
                        </button>
                        <button pButton type="button" 
                                icon="pi pi-times" 
                                style="width: 9em; margin-left: 1em;"
                                label="Cancelar"
                                class="p-button-anular" 
                                (click)="cancelar()">
                        </button>
                    </ng-container> 
                    <ng-template #isConsultar>
                        <button pButton type="button"
                            icon="pi pi-undo" 
                            style="width: 9em;"
                            label="Regresar"
                            class="p-button-secondary ml-3"
                            (click)="cancelar()">
                        </button>
                    </ng-template>                   
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</p-panel>