.content-memorandum {
    margin-top: 20px;
}
.div-campo-obligatorio {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.campo-form {
    gap: 8px;
    display: flex;
    flex-direction: column;
}

.field-bancos {
    margin-top: 20px;
}

.formgrid-banco-origen {
    margin-bottom: 0px;
}

.buttons-memorandum {
    display: flex;
    justify-content: end;
}


@media (max-width: 991.98px) {
    .field-bancos {
        margin-top: 0px;
    }
    .formgrid-banco-origen {
        margin-bottom: 15px;
    }
    .buttons-memorandum {      
        justify-content: center;
    }
}

@media (max-width: 575.98px) {
    .content-memorandum {
        margin-top: 0px;
    }
}