.estilos-concepto {
    display: -webkit-box;
    height: 100px;
    line-height: 26px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}