<p-panel header="Recibos de Ingreso">

    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="recibo" class="col-10" >
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnBuscar, codBandeja)" pButton type="button" 
                        (click)="validarBotonRecibo(BUSCAR)" label="Buscar"class="p-button-buscar">
                </button>
            </div>
			<div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="zona">Zona Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deZonaRegi" 
                                filterValue="deZonaRegi"
                                formControlName="zona"
                                styleClass="inputfield w-full"
                                [options]="$zonas | async"
                                optionLabel="deZonaRegi"
                                optionValue="coZonaRegi"
                                (onChange)="buscarOficina()">
                    </p-dropdown> 
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="oficina">Oficina Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deOficRegi" 
                                filterValue="deOficRegi"
                                formControlName="oficina"
                                styleClass="inputfield w-full"
                                [options]="$oficinas | async"
                                optionLabel="deOficRegi"
                                optionValue="coOficRegi"
                                (onChange)="buscarLocal()">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="local">Local</label>
					<p-dropdown [filter]="true" 
                                filterBy="deLocaAten" 
                                filterValue="deLocaAten"
                                formControlName="coLocaAten"
                                styleClass="inputfield w-full"
                                [options]="$local | async"
                                optionLabel="deLocaAten"
                                optionValue="coLocaAten">
                    </p-dropdown> 
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="tipoComp">Tipo de Recibo de Ingreso</label>
					<p-dropdown [filter]="true" 
                                filterBy="noTipo" 
                                filterValue="noTipo"
                                formControlName="tipoRecibo"
                                styleClass="inputfield w-full"
                                [options]="$tipoRecibo | async"
                                optionLabel="noTipo"
                                optionValue="idTipo">
                    </p-dropdown>
				</div>
			</div>

			<div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroComp">N° Recibo de Ingreso</label>
					<input pInputText formControlName="nroRecibo" type="text" class="w-full text-right" (keypress)="validarNumero($event)">
				</div>
                
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroSiaf">N° SIAF</label>
					<input pInputText formControlName="nroSIAF" type="text" class="w-full text-right" (keypress)="validarNumero($event)">
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="fecDes">Fecha Desde</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecDes" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    (onSelect)="cambioFechaInicio()">
                        </p-calendar>
                    </div>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="fecHas">Fecha Hasta</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecHas" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    (onSelect)="cambioFechaFin()">
                        </p-calendar>
                    </div>
				</div>
			</div>

            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroComp">Nombre</label>
					<input pInputText formControlName="nombre" type="text" class="w-full">
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroComp">Monto</label>
					<input pInputText formControlName="monto" type="text" class="w-full text-right"
                            (blur)="formatearNumero($event)" (keypress)="validarMonto($event)">
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroComp">N° Cta.Cte.</label>
					<input pInputText formControlName="nroCtaCte" type="text" class="w-full text-right"
                            (keypress)="validarNumeroCuenta($event)">
				</div>
                
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroComp">Concepto</label>
					<input pInputText formControlName="concepto" type="text" class="w-full" maxlength="100">
				</div>
            </div>

            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="estado">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdescri" 
                                filterValue="cdescri"
                                formControlName="estado"
                                styleClass="inputfield w-full"
                                [options]="$estadoRecibo | async"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo">
                    </p-dropdown> 
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroSiaf">Usuario de Creación</label>
					<input pInputText formControlName="noUsuaCrea" type="text" class="w-full" (keypress)="buscarEnter($event)">
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="fecDes">Fecha de Creación</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecCrea" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    [maxDate]="fechaMaxima"
                                    inputId="dateformat">
                        </p-calendar>
                    </div>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroSiaf">Usuario de Modificación</label>
					<input pInputText formControlName="noUsuaModi" type="text" class="w-full" (keypress)="buscarEnter($event)">
				</div>
            </div>

            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="fecDes">Fecha de Modificación</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecModi" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    [maxDate]="fechaMaxima"
                                    inputId="dateformat">
                        </p-calendar>
                    </div>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroSiaf">Usuario Autoriza Modificación</label>
					<input pInputText formControlName="noUsuaAuto" type="text" class="w-full" (keypress)="buscarEnter($event)">
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="fecDes">Fecha de Autorización</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fecAuto" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    [maxDate]="fechaMaxima"
                                    inputId="dateformat">
                        </p-calendar>
                    </div>
				</div>
            </div>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-12 lg:col-8 xl:col-6">
                        <button *ngIf="showButtonAct(BtnNuevo, codBandeja)" pButton pTooltip="Nuevo" tooltipPosition="top" 
                                icon="pi pi-file" (click)="validarBotonRecibo(NUEVO)" class="p-button-nuevo mr-3">
                        </button>
                        <button  *ngIf="showButtonAct(BtnEditar, codBandeja)" pButton pTooltip="Editar" tooltipPosition="top" 
                                icon="pi pi-pencil" (click)="validarBotonRecibo(EDITAR)" class="p-button-editar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnAnular, codBandeja)" pButton pTooltip="Anular" tooltipPosition="top" 
                                icon="pi pi-times" (click)="validarBotonRecibo(ANULAR)" class="p-button-anular mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnActivar, codBandeja)" pButton pTooltip="Activar" tooltipPosition="top" 
                                icon="pi pi-power-off" (click)="validarBotonRecibo(ACTIVAR)" class="p-button-activar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnConsultar, codBandeja)" pButton pTooltip="Consultar registro" tooltipPosition="top" 
                                icon="pi pi-info-circle" (click)="validarBotonRecibo(CONSULTAR)" class="p-button-consultar">
                        </button>
                    </div>

                    <div class="col-12 lg:col-4 xl:col-6 row-buttons-maintenance text-right">
                        <button *ngIf="showButtonAct(BtnAutorizar_Modificacion, codBandeja)" pButton pTooltip="Autorizar Modificación" tooltipPosition="top" 
                                icon="pi pi-pencil" (click)="validarBotonRecibo(AUTORIZAR_MODIFICACION)" class="p-button-autorizar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnVer_Documento, codBandeja)" pButton pTooltip="Ver Documento" tooltipPosition="top" 
                                icon="pi pi-eye" (click)="validarBotonRecibo(VER_DOCUMENTO)" class="p-button-documento mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnSustentos, codBandeja)" pButton pTooltip="Sustentos" tooltipPosition="top" 
                                icon="pi pi-folder-open" (click)="validarBotonRecibo(VER_SUSTENTO)" class="p-button-sustento mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnSolicitar_Firma, codBandeja)" pButton pTooltip="Solicitar Firma" tooltipPosition="top" 
                                icon="pi pi-user-edit" (click)="validarBotonRecibo(SOLICITAR_FIRMA)" class="p-button-firma mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnHistorial_Firmas, codBandeja)" pButton pTooltip="Ver historial firmas" tooltipPosition="top" 
                                icon="pi pi-book" (click)="validarBotonRecibo(VER_HISTORIAL)" class="p-button-historial mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnCopiar, codBandeja)" pButton pTooltip="Copiar" tooltipPosition="top" 
                                icon="pi pi-copy" (click)="validarBotonRecibo(COPIAR)" class="p-button-copiar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnReservar, codBandeja)" pButton pTooltip="Reservar" tooltipPosition="top" 
                                icon="pi pi-calendar" (click)="validarBotonRecibo(RESERVAR)" class="p-button-reservar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnNo_Utilizado, codBandeja)" pButton pTooltip="No Utilizado" tooltipPosition="top" 
                                icon="pi pi-ban" (click)="validarBotonRecibo(NO_UTILIZADO)" class="p-button-utilizado mr-3">
                        </button>
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [customSort]="true"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedValues"
                         (sortFunction)="customSort($event)"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]"
                         [value]="enviadosList">

                    <ng-template pTemplate="caption">
                        <div class="col text-right">
                            <button *ngIf="showButtonAct(BtnExportar, codBandeja)" type="button" pButton pRipple icon="pi pi-file-excel" 
                                    (click)="validarBotonRecibo(EXPORTAR_EXCEL)" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom">
                            </button>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="nuReciIngr">Nro Recibo Ingreso <p-sortIcon field="nuReciIngr"></p-sortIcon></th>
                            <th pSortableColumn="feReciIngr">Fecha <p-sortIcon field="feReciIngr"></p-sortIcon></th>
                            <th pSortableColumn="noBene">Nombre <p-sortIcon field="noBene"></p-sortIcon></th>    
                            <th pSortableColumn="imReciIngr">Monto <p-sortIcon field="imReciIngr"></p-sortIcon></th>    
                            <th pSortableColumn="nuSiaf">Nro. SIAF <p-sortIcon field="nuSiaf"></p-sortIcon></th>    
                            <th pSortableColumn="nuCuenBanc">Nro. Cta. Cte. <p-sortIcon field="nuCuenBanc"></p-sortIcon></th>    
                            <th pSortableColumn="deEsta">Estado <p-sortIcon field="deEsta"></p-sortIcon></th>    
                            <th pSortableColumn="noTipoReciIngr">Tipo Recibo Ingreso <p-sortIcon field="noTipoReciIngr"></p-sortIcon></th>
                            <th pSortableColumn="obConc">Concepto <p-sortIcon field="obConc"></p-sortIcon></th>    
                            <th pSortableColumn="noUsuaCrea">Usuario de Creación <p-sortIcon field="noUsuaCrea"></p-sortIcon></th>    
                            <th pSortableColumn="feCrea">Fecha de Creación <p-sortIcon field="feCrea"></p-sortIcon></th>    
                            <th pSortableColumn="noUsuaModi">Usuario de Modificación <p-sortIcon field="noUsuaModi"></p-sortIcon></th>    
                            <th pSortableColumn="feModi">Fecha de Modificación <p-sortIcon field="feModi"></p-sortIcon></th>    
                            <th pSortableColumn="noUsuaAuto">Autorizó Modificación <p-sortIcon field="noUsuaAuto"></p-sortIcon></th>    
                            <th pSortableColumn="feDocuAuto">Fecha Autorización <p-sortIcon field="feDocuAuto"></p-sortIcon></th>    
                            <th pSortableColumn="deZonaRegi">Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon></th>
                            <th pSortableColumn="deOficRegi">Oficina Registral <p-sortIcon field="deOficRegi"></p-sortIcon></th>
                            <th pSortableColumn="deLocaAten">Local <p-sortIcon field="deLocaAten"></p-sortIcon></th>
                            <th pSortableColumn="inSustRegi">Sustentos <p-sortIcon field="inSustRegi"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-comprobante>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="comprobante"></p-tableCheckbox>
                            </td>
                            <td>{{ comprobante.nuReciIngr }}</td>
                            <td>{{ comprobante.feReciIngr.substring(0,10).split('-').reverse().join('/') }}</td>
                            <td>{{ comprobante.noBene }}</td>
                            <td class="text-right">{{ formatearMontoImporte( comprobante.imReciIngr ) }}</td>
                            <td>{{ comprobante.nuSiaf }}</td>
                            <td>{{ comprobante.nuCuenBanc }}</td>
                            <td>{{ comprobante.deEsta }}</td>
                            <td>{{ comprobante.noTipoReciIngr }}</td>
                            <td class="estilos-concepto">{{ comprobante.obConc }}</td>
                            <td>{{ comprobante.noUsuaCrea }}</td>
                            <td>{{ comprobante.feCrea | date:"dd/MM/yy HH:mm:ss" }}</td>
                            <td>{{ comprobante.noUsuaModi }}</td>
                            <td>{{ comprobante.feModi | date:"dd/MM/yy HH:mm:ss" }}</td>
                            <td>{{ comprobante.noUsuaAuto }}</td>
                            <td>{{ comprobante.feDocuAuto | date:"dd/MM/yy HH:mm:ss" }}</td>
                            <td>{{ comprobante.deZonaRegi }}</td>
                            <td>{{ comprobante.deOficRegi }}</td>
                            <td>{{ comprobante.deLocaAten }}</td>
                            <td class="text-center">
                                <p-checkbox [value]="comprobante" [(ngModel)]="selectSust" [inputId]="comprobante.inSustRegi" [disabled]="true"></p-checkbox>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>

<style>
    .swal2-container {
        z-index: 50000 !important;
    }
</style>