<div class="grid mt-4">
    <div [formGroup]="cuenta" class="col-12">
        <div class="formgrid grid">
            <div class="field col-12 md:col-4">
                <label for="oficina">Banco</label>
                <p-dropdown [readonly]="consultar"
                            [filter]="true"
                            filterBy="cdeInst" 
                            filterValue="cdeInst"
                            formControlName="banco"
                            styleClass="inputfield w-full"
                            [options]="listaBancos"
                            optionLabel="cdeInst"
                            optionValue="nidInstitucion">
                </p-dropdown>
            </div>

            <div class="field col-12 md:col-4">
                <label for="oficina">Nombre de la Cuenta</label>
                <input [readonly]="consultar" pInputText type="text" formControlName="desCuenta" class="w-full">
            </div>

            <div class="field col-12 md:col-4">
                <label for="oficina">Nombre Corto</label>
                <input [readonly]="consultar" pInputText type="text" formControlName="desCorto" class="w-full">
            </div>
        </div>

        <div class="formgrid grid mt-2">
            <div class="field col-12 md:col-4">
                <label for="numero">Número de Cuenta</label>
                <input [readonly]="consultar" pInputText type="text" formControlName="nroCuenta" class="w-full" id="txtNumCuenta">
            </div>

            <div class="field col-12 md:col-4">
                <label for="numero">Código de Cuenta Interbancaria (CCI)</label>
                <input [readonly]="consultar" pInputText type="text" formControlName="cci" class="w-full">
            </div>

            <div class="field col-12 md:col-4">
                <label for="oficina">Prefijo Carta Orden</label>
                <input [readonly]="consultar" pInputText type="text" formControlName="prefijo" class="w-full" (keypress)="validarNumero($event)">
            </div>
        </div>
    </div>
</div>

<div [formGroup]="cuenta" class="grid mt-4">
    <div class="col-6">
        <p-fieldset legend="Chequera">
            <div class="formgrid grid">
                <div class="field col-12 md:col-6">
                    <label for="numero">Número Inicial</label>
                    <input [readonly]="consultar" pInputText type="number" formControlName="nroIni" class="w-full">
                </div>

                <div class="field col-12 md:col-6">
                    <label for="numero">Número Final</label>
                    <input [readonly]="consultar" pInputText type="number" formControlName="nroFin" class="w-full">
                </div>
            </div>
        </p-fieldset>
    </div>
</div>

<div class="formgrid grid mt-4">
    <div class="col text-right">
        <button pButton type="button" *ngIf="!consultar" 
                icon="pi pi-check"
                style="width: 9em;"
                label="Grabar"
                class="p-button-buscar" 
                (click)="saveOrUpdate()">
        </button>
        <button pButton type="button" *ngIf="!consultar"
                icon="pi pi-times" 
                style="width: 9em;"
                label="Cancelar"
                class="p-button-anular ml-3"
                (click)="cancelar()">
        </button>
        <button pButton type="button" *ngIf="consultar"
                icon="pi pi-undo" 
                style="width: 9em;"
                label="Regresar"
                class="p-button-secondary ml-3"
                (click)="cancelar()">
        </button>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>