<form class="div-conciliar-por-monto-niubiz" [formGroup]="form" autocomplete="off">
    <div class="div-conciliar-por-monto-niubiz__item" *ngIf="showButtonAct(btnNIUBIZ, bandeja)">
        <label>Item</label>                                
        <input 
            pInputText
            id="inputItem"
            type="text"
            class="text-right"
            inputmode="numeric"
            maxlength="10"
            formControlName="nuFila"                                                    
            (keypress)="funciones.IsNumberKey($event)"
        />
    </div>
    <button
        *ngIf="showButtonAct(btnNIUBIZ, bandeja)" 
        pButton 
        pRipple 
        icon="pi pi-check" 
        type="button" 
        label="Editar" 
        class="p-button-outlined p-button-secondary"
        (click)="conciliarPorMonto()">
    </button>
    
</form>