<div class="grid mt-2" [formGroup]="generarCheques">
    <div class="col-12">

        <div class="field col-12 flex">
            <div class="field col md:col-9 mt-3 pl-0 pr-0">
                <div class="text-center sm:text-right md:text-left">
                    <div class="p-fluid flex-initial flex w-full mr-3">
                        <label style="font-size: medium;">Ingrese la cantidad de cheques que desea generar:</label>
                    </div>
                </div>
            </div>
            <div class="field col md:col-2 mt-1 pl-4 pr-0">
                <div class="text-center sm:text-right md:text-left">
                    <div class="p-fluid flex-initial flex align-items-center justify-content-center w-full">
                        <input
                            pInputText
                            type="text" 
                            class="inputfield w-full"
                            id="idCantidad"
                            (keypress)="validarNumero($event)"
                            formControlName="cantidad"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Aceptar"
                        class="p-button-buscar" 
                        (click)="grabar()"
                        >
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()"
                        >
                </button>
            </div>
        </div>

    </div>
</div>