<app-upload (uploaded)="addUploadedFile( $event )"></app-upload>

<div class="mt-4">
    <button pButton label="Grabar Adjunto" (click)="postAdjunto()"></button>
</div>
<div class="mt-4">
    <button pButton label="Enviar Firma" (click)="sendFirma()"></button>
</div>