<div class="grid mt-4">
    <div [formGroup]="reprocesar" class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="oficina">Zona Registral</label>
                <p-dropdown [filter]="true" 
                            filterBy="deZonaRegi" 
                            filterValue="deZonaRegi"
                            formControlName="zona"
                            styleClass="inputfield w-full"
                            [options]="$zonasFinal"
                            optionLabel="deZonaRegi"
                            optionValue="coZonaRegi"
                            (onChange)="onChangeZona( $event )"
                            placeholder="Seleccionar">
                </p-dropdown>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="oficina">Oficina Registral</label>
                <p-dropdown [filter]="true" 
                            filterBy="deOficRegi" 
                            filterValue="deOficRegi"
                            formControlName="oficina"
                            styleClass="inputfield w-full"
                            [options]="$oficinasFinal"
                            optionLabel="deOficRegi"
                            optionValue="coOficRegi"
                            (onChange)="onChangeOficina( $event )">
                </p-dropdown>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="local">Local</label>
                <p-dropdown [filter]="true" 
                            filterBy="deLocaAten" 
                            filterValue="deLocaAten"
                            formControlName="local"
                            styleClass="inputfield w-full"
                            [options]="$localesFinal"
                            optionLabel="deLocaAten"
                            optionValue="coLocaAten"
                            (onChange)="onChangeLocal( $event )">
                </p-dropdown>
            </div>
            <div class="field col-12 sm:col-12 lg:col-4">
                <label for="fecDes">Fecha</label>
                <div class="p-fluid">
                    <p-calendar [showIcon]="true" appendTo="body"
                                formControlName="fecha" 
                                inputId="icon"
                                dateFormat="dd/mm/yy"
                                inputId="dateformat">
                    </p-calendar>
                </div>
            </div>
        </div>
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 md:col-3">
                <label for="fecDes">Operador</label>
                <div class="p-fluid">
                    <label for="fecDes">NIUBIZ</label>
                </div>
            </div>
            <div class="field col-12 md:col-3">
                <label for="fecDes">Nombre del archivo Excel (.xlsx)</label>
                <div class='loadExcelInput'>
                    <div class="custom-file">
                        <div class="col-sm-6 text-center">
                            <app-excelsheet #upload (onDelete)="deleteUploadedNIUBIZ()" (uploaded)="addUploadedFileNIUBIZ($event)"
                            (nameFile)="nameFileNIUBIZ($event)"
                            >
                            </app-excelsheet>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 md:col-3">
                <div class="p-fluid">
                    <label for="fecDes">DINERS</label>
                </div>
            </div>
            <div class="field col-12 md:col-3">
                <div class='loadExcelInput'>
                    <div class="custom-file">
                        <div class="col-sm-6 text-center">
                            <app-excelsheet #upload (onDelete)="deleteUploadedDINERS()" (uploaded)="addUploadedFileDINERS($event)"
                            (nameFile)="nameFileDINERS($event)"
                            >
                            </app-excelsheet>   
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 md:col-3">
                <div class="p-fluid">
                    <label for="fecDes">AMEX</label>
                </div>
            </div>
            <div class="field col-12 md:col-3">
                <div class='loadExcelInput'>
                    <div class="custom-file">
                        <div class="col-sm-6 text-center">
                            <app-excelsheet #upload (onDelete)="deleteUploadedAMEX()" (uploaded)="addUploadedFileAMEX($event)"
                            (nameFile)="nameFileAMEX($event)"
                            >
                            </app-excelsheet>   
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 11em;"
                        label="Re-Procesar"
                        [loading]="isLoadingProcesar"
                        class="p-button-buscar" 
                        (click)="procesar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        [loading]="isLoadingCancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<!-- <p-confirmDialog acceptLabel="Aceptar" rejectLabel="Cancelar" header="Advertencia" icon="pi pi-exclamation-triangle"></p-confirmDialog> -->