<div class="grid mt-4">
    <div [formGroup]="usuario" class="col-12">

        <div class="formgrid grid">
            <div class="field col col-12 md:col-3">
                <label for="">Documento Identidad</label>
                <p-dropdown [filter]="true" 
                            filterBy="cdescri" 
                            filterValue="cdescri"
                            formControlName="tipoDocu"
                            [options]="$tipoDocumentos | async"
                            styleClass="inputfield w-full"
                            optionLabel="cdescri"
                            optionValue="ccodigoHijo"
                            (onChange)="selectDocumento($event)">
                </p-dropdown>
            </div>

            <div class="field col col-12 md:col-3">
                <label for="">Nro. Doc. Identidad</label>
                <input formControlName="nroDocu" pInputText type="text" [maxlength]="maxLength" class="w-full">
            </div>

            <div class="text-center sm:text-right md:text-left mb-3 ml-2 mr-2 mt-5">
                <button pButton type="button" icon="pi pi-search" pTooltip="Buscar empleado" [disabled]="getEmpleadoDisable()"
                        tooltipPosition="top" class="p-button-secondary flex-initial flex align-items-center justify-content-center">
                </button>
            </div>

            <div class="text-center sm:text-right md:text-left mb-3 ml-2 mr-2 mt-5">
                <button pButton type="button" icon="pi pi-plus" pTooltip="Agregar empleado" tooltipPosition="top" id="btnNuevo"
                        [disabled]="getEmpleadoDisable()" class="p-button-success flex-initial flex align-items-center justify-content-center">
                </button>
            </div>

            <div class="field col col-12 md:col-2">
                <label for="">Código de Usuario</label>
                <input formControlName="coUsua" pInputText type="text" class="w-full">
            </div>

            <div class="field col-12 xl:col-2 lg:col-4 md:col-6">
                <label for="">Usuario de Red</label>
                <input formControlName="coUsuaDomi" pInputText type="text" class="w-full">
            </div>

            <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5">
                <button pButton type="button" icon="pi pi-user" pTooltip="Validar Usuario de Red" tooltipPosition="top" *ngIf="!validarUsuario"
                        [loading]="loadingUser" (click)="buscarUsuarioAD()" class="p-button-primary flex-initial flex align-items-center justify-content-center">
                </button>
            </div>
        </div>

        <div class="formgrid grid mt-4">
            <div class="field col col-12 md:col-3">
                <label for="">Nombres</label>
                <input readonly pInputText type="text" formControlName="nomUsua" class="w-full">
            </div>

            <div class="field col col-12 md:col-3">
                <label for="">Paterno</label>
                <input readonly pInputText type="text" formControlName="apePate" class="w-full">
            </div>

            <div class="field col col-12 md:col-3">
                <label for="">Materno</label>
                <input readonly pInputText type="text" formControlName="apeMate" class="w-full">
            </div>

            <div class="field col col-12 md:col-3">
                <label for="">Fecha de alta</label>
                <div class="p-fluid">
                    <p-calendar [showIcon]="true" 
                                appendTo="body" 
                                inputId="icon"
                                formControlName="fecAlta"
                                inputId="dateformat">
                    </p-calendar>
                </div>
            </div>
        </div>

        <div class="formgrid grid mt-4">
            <div class="field col col-12 md:col-3">
                <label for="">Fecha de baja</label>
                <div class="p-fluid">
                    <p-calendar [showIcon]="true" 
                                appendTo="body" 
                                inputId="icon"
                                formControlName="fecBaja"
                                inputId="dateformat">
                    </p-calendar>
                </div>
            </div>

            <div class="field col col-12 md:col-6">
                <label for="">Correo Institucional</label>
                <input pInputText type="text" formControlName="email" class="w-full">
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" *ngIf="!consultar"
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Grabar"
                        [loading]="isLoading"
                        [disabled]="btnGrabar"
                        class="p-button-buscar" 
                        (click)="updateUsuario()">
                </button>
                <button pButton type="button" *ngIf="!consultar"
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
                <button pButton type="button" *ngIf="consultar"
                        icon="pi pi-undo"
                        style="width: 9em; margin-left: 1em;"
                        label="Regresar"
                        class="p-button-secondary" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>