<p-panel header="Consolidación Bancaria Recaudación APP, QR y SID - {{ titulo }}">
    <div class="grid mt-2">
        <div class="col-1"></div>
        <div [formGroup]="formBancariaAppQrSid" class="col-10">
            <p-fieldset legend="{{ titulo }}">
                <div class="formgrid grid">
                    <div class="field div-readOnly col-12 md:col-6 xl:col-3">
                        <label for="oficina">Zona Registral</label>
                        <ng-container *ngIf="reprocesarBancariaAppQrSid === null">
                            <p-dropdown 
                            appendTo="body"
                            [filter]="true" 
                            filterBy="deZonaRegi" 
                            filterValue="deZonaRegi"
                            formControlName="zona"
                            styleClass="inputfield w-full"
                            [options]="listaZonaRegistral"                                
                            optionLabel="deZonaRegi"
                            optionValue="coZonaRegi"                                                
                            (onChange)="buscarOficinaRegistral()"
                            #ddlZona>
                        </p-dropdown>
                        </ng-container>
                        <ng-container *ngIf="reprocesarBancariaAppQrSid">
                            <label class="label-data">{{ reprocesarBancariaAppQrSid.deZonaRegi }}</label>                            
                        </ng-container>                        
                    </div>
                    <div class="field div-readOnly col-12 md:col-6 xl:col-3 p-dropdown-loading">
                        <label for="oficina">Oficina Registral</label>
                        <ng-container *ngIf="reprocesarBancariaAppQrSid === null">
                            <p-dropdown 
                                appendTo="body"
                                [filter]="true" 
                                filterBy="deOficRegi" 
                                filterValue="deOficRegi"
                                formControlName="oficina"
                                styleClass="inputfield w-full"
                                [options]="listaOficinaRegistral"
                                optionLabel="deOficRegi"
                                optionValue="coOficRegi"                            
                                (onChange)="buscarLocal()"
                                [class.spinner]="loadingOficinaRegistral" 
                                [disabled]="loadingOficinaRegistral"
                                #ddlOficinaRegistral>
                            </p-dropdown>
                        </ng-container>
                        <ng-container *ngIf="reprocesarBancariaAppQrSid">
                            <label class="label-data">{{ reprocesarBancariaAppQrSid.deOficRegi }}</label>                            
                        </ng-container>                        
                    </div>
                    <div class="field div-readOnly col-12 md:col-6 xl:col-3 p-dropdown-loading">
                        <label for="local">Local</label>
                        <ng-container *ngIf="reprocesarBancariaAppQrSid === null">
                            <p-dropdown 
                                appendTo="body"
                                [filter]="true" 
                                filterBy="deLocaAten" 
                                filterValue="deLocaAten"
                                formControlName="local"
                                styleClass="inputfield w-full"
                                [options]="listaLocal"
                                optionLabel="deLocaAten"                             
                                optionValue="coLocaAten"
                                [class.spinner]="loadingLocal" 
                                [disabled]="loadingLocal"
                                #ddlLocal>
                            </p-dropdown>
                        </ng-container>
                        <ng-container *ngIf="reprocesarBancariaAppQrSid">
                            <label class="label-data">{{ reprocesarBancariaAppQrSid.deLocaAten }}</label>                            
                        </ng-container>
                    </div>
                    <div class="field div-readOnly col-12 md:col-6 xl:col-3">
                        <label for="fecha">Fecha</label>
                        <ng-container *ngIf="reprocesarBancariaAppQrSid === null">
                            <div class="p-fluid">
                                <p-calendar 
                                    [showIcon]="true" appendTo="body"
                                    formControlName="fecha"                           
                                    dateFormat="dd/mm/yy"
                                    [maxDate]="fechaMaxima"
                                    inputId="dateformat"                             
                                    inputId="idFecha"
                                    readonlyInput="true"
                                >
                                </p-calendar>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="reprocesarBancariaAppQrSid">                        
                            <label class="label-data">{{ reprocesarBancariaAppQrSid.feCncl | date:'dd/MM/yyyy' }}</label>                           
                        </ng-container>                       
                    </div>
					<div class="field div-readOnly col-12 md:col-6 xl:col-3 p-dropdown-loading">
                        <label for="local">Tipo Conciliación</label>
                        <ng-container *ngIf="reprocesarBancariaAppQrSid === null">
						<p-dropdown 
								appendTo="body"
								[filter]="false" 
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaTipoConciliacion"
                                styleClass="inputfield w-full"
                                formControlName="tipoConciliacion"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                [class.spinner]="loadingLocal"
                                [disabled]="loadingLocal"
                                #ddlLocal>
						</p-dropdown>
                        </ng-container>
                        <ng-container *ngIf="reprocesarBancariaAppQrSid">
                            <label class="label-data">{{ tipoConciliacion }}</label>                            
                        </ng-container>
                    </div>
                </div>        
                <div class="row-file-excel">
                    <div class="row-file-excel__left">Nombre del Estado Bancario (.xlsx)</div>
                </div>
                <div class="row-file-excel">
                    <div class="row-file-excel__left">
                        <div class="row-file-excel__left-name-file">
                            <span>{{nameBancario}}</span>
                        </div>
                        <button-excel-sheet 
                            [servicioDePago]="SERVICIO_BANCARIA" 
                            (uploaded)="obtenerServicioSeleccionado($event)" 
                            (eventDataFileExcel)="obtenerDataFileExcel($event)"
                        ></button-excel-sheet>
                    </div>
                </div>
                
            </p-fieldset>            
            <div class="formgrid grid mt-4">
                <div class="col buttons-recaudacion-me">
                    <ng-container *ngIf="!reprocesarBancariaAppQrSid">
                        <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Procesar"
                        class="p-button-buscar"
                        (click)="procesar()">
                    </button>
                    </ng-container>
                    <ng-container *ngIf="reprocesarBancariaAppQrSid">
                        <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 10em;"
                        label="Reprocesar"
                        class="p-button-buscar"
                        (click)="reprocesar()">
                    </button>
                    </ng-container>                   
                    <button 
                        pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</p-panel>