<div [formGroup]="firma" class="grid mt-4">
    <div class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="nro_constancia">Nro Constancia</label>
                <div class="">
                    <input pInputText formControlName="nroConst" type="text" class="w-full">
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="fecha">Fecha</label>
                <div class="">
                    <input pInputText formControlName="fecha" type="text" class="w-full">
                </div>
            </div>
        </div>

        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="nro_operacion">Número de Operación</label>
                <div class="">
                    <input pInputText formControlName="nroOpera" type="text" class="w-full">
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="monto">Monto</label>
                <div class="">
                    <input pInputText formControlName="monto" type="text" class="w-full text-right">
                </div>
            </div>
        </div>

        <div class="formgrid grid py-2">
            <div class="field col-12 md:col-7">
                <label for="constancia">Constancia de Abono</label>
                <div>
						<button pButton type="button" 
								icon="pi pi-eye"
								style="width: 15em;"
								label="Ver Documento"
								class="p-button-buscar" (click)="verDocumento()" >
						</button>
                </div>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        [loading]="isLoading"
                        label="Grabar"
                        class="p-button-buscar" (click)="grabar()" 
						[disabled]="!docVisto">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" (click)="cancelar()"  >
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>