.body {
    width: calc(100% - 5rem);
    height: auto;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 100px;
    transition: all .5s ease;
    background: #f4f7fa;
}

.body-trimmed {
    width: calc(100% - 20rem);
    margin-left: 20rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}