<app-header></app-header>
<app-sidenav (onToggleSideNav)="onToggleSideNav( $event )"></app-sidenav>
<div class="body" [ngClass]="getBodyClass()">
    <div class="card-container overflow-hidden">
        <div class="flex15">
            <div class="m-2 px-5 py-3">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
