<p-panel header="Consolidación Bancaria Recaudación APP, QR y SID">
    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="formBancariaAppQrSid" class="col-10">            
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnBuscar, codBandeja)" pButton type="button" 
                        (click)="buscarRecaudacion(false)" label="Buscar"class="p-button-buscar mr-3">
                </button>
            </div>
			<div class="formgrid grid">
                <div class="field col-12 md:col-6 xl:col-3">
					<label for="oficina">Zona Registral</label>
                    <p-dropdown [filter]="true" 
                                filterBy="deZonaRegi" 
                                filterValue="deZonaRegi"
                                formControlName="zona"
                                styleClass="inputfield w-full"
                                [options]="listaZonaRegistral"                                
                                optionLabel="deZonaRegi"
                                optionValue="coZonaRegi"                                                
                                (onChange)="buscarOficinaRegistral()">
                    </p-dropdown>
				</div>
                <div class="field col-12 md:col-6 xl:col-3 p-dropdown-loading">
					<label for="oficina">Oficina Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deOficRegi" 
                                filterValue="deOficRegi"
                                formControlName="oficina"
                                styleClass="inputfield w-full"
                                [options]="listaOficinaRegistral"
                                optionLabel="deOficRegi"
                                optionValue="coOficRegi"                            
                                (onChange)="buscarLocal()"
                                [class.spinner]="loadingOficinaRegistral" 
                                [disabled]="loadingOficinaRegistral">
                    </p-dropdown>
				</div>
                <div class="field col-12 md:col-6 xl:col-3 p-dropdown-loading">
					<label for="local">Local</label>
					<p-dropdown [filter]="true" 
                                filterBy="deLocaAten" 
                                filterValue="deLocaAten"
                                formControlName="local"
                                styleClass="inputfield w-full"
                                [options]="listaLocal"
                                optionLabel="deLocaAten"                             
                                optionValue="coLocaAten"
                                [class.spinner]="loadingLocal" 
                                [disabled]="loadingLocal">
                    </p-dropdown>
				</div>
                <div class="field col-12 md:col-6 xl:col-3">
					<label for="oficina">Tipo de Conciliación</label>
					<p-dropdown [filter]="false" 
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaTipoConciliacion"
                                styleClass="inputfield w-full"
                                formControlName="tipoConciliacion"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo">
                    </p-dropdown>
				</div>
            </div>
            <div class="formgrid grid"> 
                <div class="field col-12 md:col-6 xl:col-3">
					<label for="oficina">Operador</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaOperador"
                                styleClass="inputfield w-full"
                                formControlName="operador"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo">
                    </p-dropdown>
				</div>
                <div class="field col-12 md:col-6 xl:col-3">
					<label for="fecDes">Desde</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fechaDesde" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaDesde"
                                    readonlyInput="true"
                                    (onSelect)="cambioFechaInicio()">
                        </p-calendar>
                    </div>
				</div>
                <div class="field col-12 md:col-6 xl:col-3">
                    <label for="fecHas">Hasta</label>
                    <div class="p-fluid">
                        <p-calendar [showIcon]="true" appendTo="body"
                                    formControlName="fechaHasta" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    [maxDate]="fechaMaxima"
                                    inputId="idFechaHasta"
                                    readonlyInput="true"
                                    (onSelect)="cambioFechaFin()">
                        </p-calendar>
                    </div>
				</div>
                <div class="field col-12 md:col-6 xl:col-3">
					<label for="oficina">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdescri"
                                filterValue="cdescri"
                                [options]="listaEstado"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo">
                    </p-dropdown>
				</div>
			</div>
            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-12 lg:col-8 xl:col-6">
                        <button pButton pTooltip="Nuevo" tooltipPosition="top" icon="pi pi-file" 
                                *ngIf="showButtonAct(BtnNuevo, codBandeja)" (click)="nuevo()" class="p-button-nuevo mr-3"> 
                        </button> 
                        <button pButton pTooltip="Editar" tooltipPosition="top" icon="pi pi-pencil" 
                                *ngIf="showButtonAct(BtnEditar, codBandeja)" (click)="editar()" class="p-button-editar mr-3">
                        </button>
                        <button pButton pTooltip="Anular" tooltipPosition="top" icon="pi pi-times" 
                                *ngIf="showButtonAct(BtnAnular, codBandeja)" (click)="anular()" class="p-button-anular mr-3">
                        </button>
                        <button pButton pTooltip="Activar" tooltipPosition="top" icon="pi pi-power-off" 
                                *ngIf="showButtonAct(BtnActivar, codBandeja)" (click)="activar()" class="p-button-activar mr-3">
                        </button>
                        <button pButton pTooltip="Consultar registro" tooltipPosition="top" icon="pi pi-info-circle" 
                                *ngIf="showButtonAct(BtnConsultar, codBandeja)" (click)="consultarRegistro()" class="p-button-consultar">
                        </button>
                    </div>

                    <div class="col-12 lg:col-8 xl:col-6 row-buttons-maintenance">
                        <button pButton pTooltip="Abrir Conciliación" tooltipPosition="top" icon="pi pi-folder-open" 
                                *ngIf="showButtonAct(BtnAbrir_Conciliacion, codBandeja)" (click)="abrirConciliacion()" class="p-button-abrir mr-3">
                        </button>
                        <button pButton pTooltip="Cerrar Conciliación" tooltipPosition="top" icon="pi pi-folder" 
                                *ngIf="showButtonAct(BtnCerrar_Conciliacion, codBandeja)" (click)="cerrarConciliacion()" class="p-button-cerrar mr-3">
                        </button>
                        <button pButton pTooltip="Re-Procesar" tooltipPosition="top" icon="pi pi-sync" 
                                *ngIf="showButtonAct(BtnReProcesar, codBandeja)" (click)="reProcesar()" class="p-button-reprocesar">
                        </button>
                    </div>
                </div>
            </div>
		</div>
        <div  class="col-1"></div>
        <div  class="col-1"></div>
        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack"
                         [value]="listaBancaria"
                         (sortFunction)="customSort($event)"
                         [customSort]="true"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedValuesBancaria"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]"
                         [loading]="loadingBancaria">

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="deZonaRegi"><div>Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon></div></th>
                            <th pSortableColumn="deOficRegi"><div>Oficina Registral <p-sortIcon field="deOficRegi"></p-sortIcon></div></th>
                            <th pSortableColumn="deLocaAten"><div>Local <p-sortIcon field="deLocaAten"></p-sortIcon></div></th>
                            <th pSortableColumn="noOperPos"><div>Operador <p-sortIcon field="noOperPos"></p-sortIcon></div></th>
                            <th pSortableColumn="feCncl"><div>Fecha <p-sortIcon field="feCncl"></p-sortIcon></div></th>    
                            <th pSortableColumn="imCncl"><div>Importe <p-sortIcon field="imCncl"></p-sortIcon></div></th>                           
                            <th pSortableColumn="feCrea"><div>Fecha de Proceso <p-sortIcon field="feCrea"></p-sortIcon></div></th>
                            <th pSortableColumn="coUsuaCrea"><div>Usuario de Proceso <p-sortIcon field="coUsuaCrea"></p-sortIcon></div></th>   
                            <th pSortableColumn="deEsta"><div>Estado <p-sortIcon field="deEsta"></p-sortIcon></div></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-recaudacion>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="recaudacion"></p-tableCheckbox>
                            </td>
                            <td>{{ recaudacion.deZonaRegi }}</td>
                            <td>{{ recaudacion.deOficRegi }}</td>
                            <td>{{ recaudacion.deLocaAten }}</td>
                            <td>{{ recaudacion.noOperPos }}</td>
                            <td>{{ recaudacion.feCncl | date:'dd/MM/yyyy' }}</td>
                            <td class="text-right">{{ formatearMontoImporte(recaudacion.imCncl) }}</td>                            
                            <td>{{ recaudacion.feCrea | date:'dd/MM/yyyy hh:mm aa' }}</td>
                            <td>{{ recaudacion.noUsuaCrea }}</td>
                            <td>{{ recaudacion.deEsta }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</p-panel>