<p-panel header="Configurar Documentos - Nuevo">
    
    <div class="grid">
        <div class="col-1"></div>
        <div class="col-10" [formGroup]="nuevo">

            <div class="grid mt-4">
                <div class="col-12">
                    <div class="div-campo-obligatorio mb-2">
                        <span class="campo-obligatorio">(*)</span> <b>Campo obligatorio</b>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col-12 sm:col-12 lg:col-4">
                            <label for="zona">Tipo de Documento <span class="campo-obligatorio">(*)</span></label>
                            <p-dropdown [filter]="true" 
                                        filterBy="deTipoDocu" 
                                        filterValue="deTipoDocu"
                                        [options]="listaTipoDocumento"
                                        styleClass="inputfield w-full"
                                        formControlName="tipoDocu"
                                        optionLabel="deTipoDocu"
                                        optionValue="coTipoDocu">
                            </p-dropdown>
                            <small id="username2-help" class="p-error block"
                                        *ngIf="campoEsValido('tipoDocu')">
                                    Tipo de documento errado.
                            </small>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-8">
                            <label for="oficina">Descripción <span class="campo-obligatorio">(*)</span></label>
                            <div class="">
                                <input formControlName="nomTipo" pInputText type="text" class="w-full">
                                <small id="username2-help" class="p-error block"
                                        *ngIf="campoEsValido('nomTipo')">
                                    La descripción es un campo obligatorio.
                                </small>
                            </div>
                        </div>
                    </div>
            
                    <div class="formgrid grid">
                        <div class="field col-12 sm:col-12 lg:col-4 p-dropdown-loading">
                            <label for="zona">Banco <span class="campo-obligatorio">(*)</span></label>
                            <p-dropdown [filter]="true" 
                                        filterBy="cdeInst" 
                                        filterValue="cdeInst"
                                        [options]="listaBancos"
                                        styleClass="inputfield w-full"
                                        formControlName="banco"
                                        optionLabel="cdeInst"
                                        optionValue="nidInstitucion"
                                        [class.spinner]="loadingBancos"
                                        (onChange)="buscarCuentas( $event )">
                            </p-dropdown>
                            <small id="username2-help" class="p-error block"
                                        *ngIf="campoEsValido('banco')">
                                    El banco es un campo obligatorio.
                            </small>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                            <label for="oficina">Cuenta Bancaria <span class="campo-obligatorio">(*)</span></label>
                            <p-dropdown [filter]="true" 
                                        filterBy="nuCuenBanc" 
                                        filterValue="nuCuenBanc"
                                        [options]="listaCuentas"
                                        styleClass="inputfield w-full"
                                        formControlName="nroCuent"
                                        optionLabel="nuCuenBanc"
                                        optionValue="nuCuenBanc"
                                        [class.spinner]="loadingCuentas"
                                        (onChange)="onChangeDescription( $event )">
                            </p-dropdown>
                            <small id="username2-help" class="p-error block"
                                        *ngIf="campoEsValido('nroCuent')">
                                    La cuenta bancaria es un campo obligatorio.
                            </small>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-5 mt-2">
                            <label for="oficina"></label>
                            <div class="">
                                <input readonly pInputText formControlName="cuenta" type="text" class="w-full">
                            </div>
                        </div>
                    </div>
            
                    <div class="formgrid grid">
                        <div class="field col-12 sm:col-12 lg:col-12">
                            <label for="oficina">Concepto</label>
                            <div class="">
                                <textarea [rows]="4" formControlName="concepto" class="w-full" pInputTextarea></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-6" *ngIf="mostrarCheckboxs">
                        <p-fieldset legend="Campos a mostrar al registrar un Comprobante de Pago">
                            <div class="formgrid grid">
                                <div class="field col-12 md:col-6">
                                    <div class="field-checkbox flex">
                                        <p-checkbox formControlName="nroDocu" [binary]="true"
                                                    ngClass="flex-initial flex align-items-center justify-content-center">
                                        </p-checkbox>
                                        <label class="font-bold cursor-pointer" for="">Tipo / Nro. Documento</label>
                                    </div>
                                    
                                    <div style="height: 40px;" class="field-checkbox flex">
                                        <p-checkbox formControlName="ruc" [binary]="true"
                                                    ngClass="flex-initial flex align-items-center justify-content-center">
                                        </p-checkbox>
                                        <label class="font-bold cursor-pointer" for="">RUC / Razón Social</label>
                                    </div>
                                </div>
                
                                <div class="field col-12 md:col-6">
                                    <div class="field-checkbox flex">
                                        <p-checkbox formControlName="ope" [binary]="true"
                                                    ngClass="flex-initial flex align-items-center justify-content-center">
                                        </p-checkbox>
                                        <label class="font-bold cursor-pointer" for="">OPE</label>
                                    </div>
                                    
                                    <div style="height: 40px;" class="field-checkbox flex">
                                        <p-checkbox formControlName="rxh" [binary]="true"
                                                    ngClass="flex-initial flex align-items-center justify-content-center">
                                        </p-checkbox>
                                        <label class="font-bold cursor-pointer" for="">Recibo por Honorarios</label>
                                    </div>
                                </div>
                            </div>
                        </p-fieldset>
                    </div> -->
            
                    <div class="grid mt-2">
                        <div class="col-12">
                            <p-fieldset legend="Detalle Presupuestal">
                                <div class="text-center sm:text-right md:text-left mb-3 ml-2 flex-end">
                                    <button [disabled]="detallePresupuestalArray?.disabled" (click)="addcuentaPresupuestal()"
                                            pButton type="button" icon="pi pi-plus"
                                            class="p-button-success flex-initial flex align-items-center justify-content-center"></button>
                                </div>
                                <div class="formgrid grid" *ngFor="let fg of cuentasPresupuestales; let i = index" [formGroup]="fg">
                                    <div class="field col col-12 md:col-3 p-dropdown-loading">
                                        <label for="">Clasificador</label>
                                        <p-dropdown [filter]="true" 
                                                    (onChange)="onChangePresupuestales($event, i)"
                                                    filterBy="coClsf" 
                                                    filterValue="coClsf"
                                                    [options]="listaClasificador"
                                                    styleClass="inputfield w-full"
                                                    formControlName="clasificador"
                                                    optionLabel="coClsf"
                                                    optionValue="coClsf"
                                                    [class.spinner]="loadingClasificador">
                                        </p-dropdown>
                                    </div>
            
                                    <div class="field col col-12 md:col-8">
                                        <label for="">Descripción del Clasificador</label>
                                        <input pInputText type="text" formControlName="detClasificador" value="" class="w-full" readonly>
                                    </div>
                                    
                                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5" *ngIf="!consultar">
                                        <button [disabled]="detallePresupuestalArray?.disabled" *ngIf="i==0" (click)="deletecuentaPresupuestal()"
                                                pButton type="button" icon="pi pi-times"
                                                class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                                        <button *ngIf="i!=0" (click)="deletecuentaPresupuestal(i)" pButton type="button"
                                                icon="pi pi-times"
                                                class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
            
                    <div class="grid mt-2">
                        <div class="col-12">
                            <p-fieldset legend="Detalle Patrimonial">
                                <div class="text-center sm:text-right md:text-left mb-3 ml-2 flex-end">
                                    <button [disabled]="detallePatrimonialArray?.disabled" (click)="addcuentaPatrimonial()"
                                            pButton type="button" icon="pi pi-plus"
                                            class="p-button-success flex-initial flex align-items-center justify-content-center"></button>
                                </div>
                                <div class="formgrid grid" *ngFor="let fg of cuentasPatrimoniales; let i = index" [formGroup]="fg">
                                    <div class="field col col-12 md:col-3 p-dropdown-loading">
                                        <label for="">Cuenta</label>
                                        <p-dropdown [filter]="true"
                                                    (onChange)="onChangePatrimoniales($event, i)"
                                                    filterBy="coCuenCont" 
                                                    filterValue="coCuenCont"
                                                    [options]="listaContables"
                                                    styleClass="inputfield w-full"
                                                    formControlName="cuenta"
                                                    optionLabel="coCuenCont"
                                                    optionValue="coCuenCont"
                                                    [class.spinner]="loadingContables">
                                        </p-dropdown>
                                    </div>
            
                                    <div class="field col col-12 md:col-5">
                                        <label for="">Descripción de la Cuenta</label>
                                        <input pInputText type="text" formControlName="descripcion" class="w-full" readonly>
                                    </div>
            
                                    <div class="field col col-12 md:col-3">
                                        <label for="">Caja</label>
                                        <p-dropdown [filter]="true" 
                                                    filterBy="deCaja" 
                                                    filterValue="deCaja"
                                                    [options]="listaCajas"
                                                    styleClass="inputfield w-full"
                                                    formControlName="caja"
                                                    optionLabel="deCaja"
                                                    optionValue="coCaja">
                                        </p-dropdown>
                                    </div>
                                    
                                    <div class="text-center sm:text-right md:text-left mb-3 ml-2 mt-5" *ngIf="!consultar">
                                        <button [disabled]="detallePatrimonialArray?.disabled" *ngIf="i==0" (click)="deletecuentaPatrimonial()"
                                                pButton type="button" icon="pi pi-times"
                                                class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                                        <button *ngIf="i!=0" (click)="deletecuentaPatrimonial(i)" pButton type="button"
                                                icon="pi pi-times"
                                                class="p-button-danger flex-initial flex align-items-center justify-content-center"></button>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
            
                    <div class="formgrid grid mt-6">
                        <div class="col text-right">
                            <button pButton type="button" 
                                    icon="pi pi-check"
                                    style="width: 9em;"
                                    label="Grabar"
                                    [loading]="isLoading"
                                    class="p-button-buscar" 
                                    (click)="grabar()">
                            </button>
                            <button pButton type="button" 
                                    icon="pi pi-times" 
                                    style="width: 9em; margin-left: 1em;"
                                    label="Cancelar"
                                    class="p-button-anular" 
                                    (click)="cancelar()">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-panel>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
        class="p-button-buscar p-button-sm" (click)="cd.accept()">
    </button>
    <button type="button" pButton icon="pi pi-times" label="Cancelar" 
    class="p-button-anular p-button-sm" (click)="cd.reject()">
</button>
</ng-template>
</p-confirmDialog>