.layout-menu-dim .menu-wrapper {
    background-color: #3C4962;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  }
  .layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu > li > div .layout-menuitem-text {
    color: #CDD2DB;
  }
  .layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu > li a {
    color: #E5E8EC;
  }
  .layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu > li a i {
    color: #E5E8EC;
  }
  .layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu > li a:hover {
    background-color: #495771;
  }
  .layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu > li.active-menuitem > a {
    color: #ffffff;
  }
  .layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu > li > ul li a {
    color: #E5E8EC;
  }
  .layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu > li > ul li a i {
    color: #E5E8EC;
  }
  .layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu > li > ul li a:hover {
    background-color: #59667D;
  }
  .layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu > li > ul li.active-menuitem > a {
    background-color: #59667D;
    color: #ffffff;
  }
  .layout-menu-dim .menu-wrapper .layout-menu-container .layout-menu > li > ul > li.layout-root-menuitem.active-menuitem {
    background-color: #495771;
  }
  @media (min-width: 993px) {
    .layout-menu-dim.layout-horizontal .menu-wrapper .layout-menu-container .layout-menu > li > ul {
      background-color: #42506b;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
    }
    .layout-menu-dim.layout-horizontal .menu-wrapper .layout-menu-container .layout-menu > li > ul li > a {
      color: #E5E8EC;
    }
    .layout-menu-dim.layout-horizontal .menu-wrapper .layout-menu-container .layout-menu > li > ul li > a:hover {
      background-color: #59667D;
    }
    .layout-menu-dim.layout-horizontal .menu-wrapper .layout-menu-container .layout-menu > li > ul li.active-menuitem {
      background-color: #42506b;
    }
    .layout-menu-dim.layout-horizontal .menu-wrapper .layout-menu-container .layout-menu > li > ul li.active-menuitem > a {
      color: #ffffff;
    }
  }
  

  @media (min-width: 992px) {
    .layout-overlay .menu-wrapper {
      -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transform: translate3d(-241px, 0px, 0px);
    }
    .layout-overlay.layout-overlay-active .menu-wrapper {
      transform: translate3d(0px, 0px, 0px);
    }
    .layout-overlay .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button {
      display: -ms-flexbox;
      display: flex;
    }
  
    .layout-static .menu-wrapper {
      transform: translate3d(-241px, 0px, 0px);
    }
    .layout-static .layout-main {
      -moz-transition: margin-left 0.2s;
      -o-transition: margin-left 0.2s;
      -webkit-transition: margin-left 0.2s;
      transition: margin-left 0.2s;
    }
    .layout-static.layout-static-active .menu-wrapper {
      transform: translate3d(0px, 0px, 0px);
    }
    .layout-static.layout-static-active .layout-main {
      margin-left: 240px;
    }
    .layout-static .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button {
      display: -ms-flexbox;
      display: flex;
    }
  }



@media (max-width: 992px) {
    .layout-rightpanel {
      top: 104px;
      width: 254px;
      transform: translate3d(254px, 0px, 0px);
      height: calc(100% - 104px);
    }
  }
  .menu-wrapper {
    height: calc(100% - 56px);
    width: 240px;
    position: fixed;
    left: 0;
    top: 56px;
    z-index: 998;
    transform: none;
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    transition: transform 0.2s;
  }
  .menu-wrapper .layout-menu-container {
    overflow: auto;
    height: 100%;
  }
  .menu-wrapper .layout-menu-container .layout-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-bottom: 36px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li {
    padding: 0px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li.active-menuitem > a i.layout-submenu-toggler {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
  .menu-wrapper .layout-menu-container .layout-menu li.layout-root-menuitem > a {
    display: none;
  }
  .menu-wrapper .layout-menu-container .layout-menu li.layout-root-menuitem > div {
    padding-left: 12px;
    margin-bottom: 6px;
    margin-top: 24px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li.layout-root-menuitem > div > .layout-menuitem-text {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .menu-wrapper .layout-menu-container .layout-menu li .layout-menu-tooltip {
    display: none;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > a {
    margin: 0px;
    padding: 7px 20px 6px 8px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0;
    cursor: pointer;
    user-select: none;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > a .layout-menuitem-text {
    margin: 0 11px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > a.rotated-icon .layout-menuitem-icon {
    transform: rotate(90deg);
  }
  .menu-wrapper .layout-menu-container .layout-menu li > a i {
    font-size: 14px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > a i.layout-submenu-toggler {
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    margin-left: auto;
    font-size: 14px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-left: 19px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul li ul {
    padding: 0 0 4px;
    overflow: hidden;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul li ul li a {
    border-radius: 0;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li {
    padding: 0;
    margin-top: 8px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li.layout-root-menuitem > a {
    display: -ms-flexbox;
    display: flex;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li.active-menuitem.layout-root-menuitem > a {
    display: -ms-flexbox;
    display: flex;
    border-bottom-left-radius: 0;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li.active-menuitem.layout-root-menuitem > a.active-menuitem-routerlink {
    border-bottom-left-radius: 10px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li > div {
    display: none;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li a {
    padding-left: 20px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li a {
    padding-left: 30px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li ul li a {
    padding-left: 40px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li ul li ul li a {
    padding-left: 50px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li ul li ul li ul li a {
    padding-left: 60px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li ul li ul li ul li ul li a {
    padding-left: 70px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li ul li ul li ul li ul li ul li a {
    padding-left: 80px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li ul li ul li ul li ul li ul li ul li a {
    padding-left: 90px;
  }
  .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li ul li ul li ul li ul li ul li ul li ul li a {
    padding-left: 100px;
  }
  
  @media (max-width: 991px) {
    .layout-wrapper .menu-wrapper {
      //top: 104px;
      //height: calc(100% - 104px);
      -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
       transform: translate3d(-260px, 0px, 0px); 
    }
    .layout-wrapper.layout-mobile-active {
      overflow: hidden;
      height: 100vh;
    }
    .layout-wrapper.layout-mobile-active .menu-wrapper {
      transform: translate3d(0px, 0px, 0px);
    }
    .layout-wrapper.layout-mobile-active .layout-mask {
      display: block;
    }
  }