.layout-topbar-light .layout-topbar {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    -moz-transition: width 0.2s;
    -o-transition: width 0.2s;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    height: 56px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-left {
    height: 100%;
    width: 240px;
    padding: 11px 14px 13px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-left .layout-topbar-logo > img {
    height: 90px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right {
    height: 100%;
    flex-grow: 1;
    padding: 10px 32px 10px 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-right: solid 1px transparent;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 999;
    width: 36px;
    height: 36px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button > i {
    font-size: 18px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    flex-grow: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > a {
    padding: 10px 10px 7px;
    margin: 0 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > a > .topbar-icon i {
    font-size: 18px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > a > .topbar-icon .p-badge {
    height: 14px;
    width: 14px;
    min-width: 14px;
    font-size: 10px;
    line-height: 14px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > a.layout-rightpanel-button i {
    -moz-transition: transform 0.2s;
    -o-transition: transform 0.2s;
    -webkit-transition: transform 0.2s;
    transition: transform 0.2s;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul {
    display: none;
    position: absolute;
    top: 46px;
    right: 0px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    min-width: 260px;
    animation-duration: 0.2s;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul .layout-submenu-header {
    padding: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul .layout-submenu-header h6 {
    font-weight: 600;
    margin: 0;
    margin-left: 4px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul .angle-icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
    flex-grow: 1;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li {
    padding: 7px 12px;
    margin-bottom: 6px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li > a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li > a h6 {
    margin: 0;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li > a h6 > span {
    font-size: 14px;
    font-weight: 600;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li > a > div > span {
    font-size: 12px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li > a > div > span > span {
    font-weight: 600;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li > a > img {
    width: 28px;
    height: 28px;
    margin-right: 6px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li > a > i {
    width: 28px;
    height: 28px;
    margin-right: 6px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li > a > .p-inputswitch {
    margin-right: 6px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.search-item {
    margin: 0 12px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.search-item > a {
    display: none;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.search-item > .search-input-wrapper {
    position: relative;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.search-item > .search-input-wrapper input {
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: none;
    width: 200px;
    padding: 8px 8px 8px 30px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.search-item ul > .search-input-wrapper input {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 100%;
    border: 0 none;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.search-item ul > .search-input-wrapper i {
    font-weight: bold;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > a {
    display: -ms-flexbox;
    display: flex;
    margin: 0 6px;
    padding: 10px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > a > img {
    width: 32px;
    height: 32px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > a .profile-info {
    margin-left: 7px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > a .profile-info h6 {
    font-weight: 600;
    margin: 0;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > a .profile-info span {
    display: block;
    font-size: 12px;
    font-weight: normal;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > ul > hr {
    margin: 2px 8px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > ul .layout-submenu-header {
    padding: 12px 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > ul .layout-submenu-header img {
    width: 36px;
    height: 36px;
    margin-right: 6px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > ul .layout-submenu-header .profile-info {
    margin-left: 7px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > ul .layout-submenu-header .profile-info h6 {
    font-weight: 600;
    margin: 0;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > ul .layout-submenu-header .profile-info span {
    display: block;
    font-size: 11px;
    font-weight: normal;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > ul > li > a > i {
    font-size: 16px;
    margin-right: 10px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.active-topmenuitem > ul {
    display: block;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.notifications > ul > li:nth-child(2) > a > i, .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.settings > ul > li:nth-child(2) > a > i {
    background-color: rgba(47, 142, 229, 0.2);
    color: #2f8ee5;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.notifications > ul > li:nth-child(3) > a > i, .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.settings > ul > li:nth-child(3) > a > i {
    background-color: rgba(2, 172, 172, 0.2);
    color: #02acac;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.notifications > ul > li:nth-child(4) > a > i, .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.settings > ul > li:nth-child(4) > a > i {
    background-color: rgba(241, 99, 131, 0.2);
    color: #f16383;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.notifications > ul > li:nth-child(5) > a > i, .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.settings > ul > li:nth-child(5) > a > i {
    background-color: rgba(47, 142, 229, 0.2);
    color: #2f8ee5;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-rightpanel-button {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index: 999;
    width: 36px;
    height: 36px;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-rightpanel-button > i {
    font-size: 18px;
  }
  @media (max-width: 992px) {
    .layout-topbar-light .layout-topbar {
      height: 56px;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper {
      -ms-flex-align: start;
      align-items: flex-start;
      flex-direction: column;
      position: relative;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-left {
      width: 100%;
      height: 56px;
      margin-left: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right {
      height: 48px;
      width: 100%;
      padding: 0;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button {
      position: absolute;
      top: 10px;
      left: 16px;
      margin: 0;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions {
      width: 100%;
      -ms-flex-pack: start;
      justify-content: flex-start;
      padding: 0 16px;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > .topbar-item {
      margin: 0;
      width: 100%;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > .topbar-item.search-item {
      margin: 0;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > .topbar-item.search-item > .search-input-wrapper {
      display: none;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > .topbar-item.search-item > a {
      display: flex;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > .topbar-item > a {
      margin: 0;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > .topbar-item > ul {
      top: 56px;
      width: 90%;
      left: 5%;
      position: fixed;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > .topbar-item.user-profile {
      position: absolute;
      top: 1px;
      right: 8px;
      height: auto;
      width: auto;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > .topbar-item.user-profile a {
      margin: 0;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > .topbar-item.user-profile a .profile-info {
      display: none;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-rightpanel-button {
      margin-right: 16px;
    }
  }
  .layout-topbar-light .layout-topbar {
    background-color: #FDFEFF;
    box-shadow: 0 24px 64px -2px rgba(0, 0, 0, 0.02), 0 6px 16px -2px rgba(0, 0, 0, 0.06), 0 2px 6px -2px rgba(0, 0, 0, 0.08);
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button {
    color: #515C66;
    background-color: #E8F1F8;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button:hover {
    background-color: rgba(232, 241, 248, 0.7);
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > a > .topbar-icon {
    color: #515C66;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > a:hover {
    background-color: rgba(232, 241, 248, 0.7);
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.search-item .search-input-wrapper input {
    background-color: #E8F1F8;
    color: #515C66;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.search-item .search-input-wrapper input::placeholder {
    color: rgba(81, 92, 102, 0.7);
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.search-item .search-input-wrapper i {
    color: #515C66;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > a {
    color: #515C66;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > a > span {
    color: rgba(81, 92, 102, 0.7);
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > a:hover {
    background-color: transparent;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > ul hr {
    border-color: #E8F1F8;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > ul .layout-submenu-header {
    background-image: linear-gradient(180deg, #2873D3 10%, #2c84d8 100%);
    background-image: linear-gradient(180deg, var(--primary-dark-color, #2873D3) 10%, var(--primary-color, #2c84d8) 100%);
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > ul .layout-submenu-header h6 {
    color: #ffffff;
    color: var(--primary-color-text, #ffffff);
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > ul .layout-submenu-header span {
    color: #ffffff;
    color: var(--primary-color-text, #ffffff);
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li.user-profile > ul > li a i {
    color: #515C66;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul {
    box-shadow: 0 2px 8px 0 rgba(25, 26, 28, 0.12);
    background-color: #FDFEFF;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul .layout-submenu-header {
    background-color: #FDFEFF;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul .layout-submenu-header h6 {
    color: #515C66;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul .layout-submenu-header:hover {
    background-color: #FDFEFF;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li > a h6 {
    color: #515C66;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li > a > div > span {
    color: rgba(81, 92, 102, 0.6);
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li .menu-text p {
    color: #515C66;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li .menu-text span {
    color: rgba(81, 92, 102, 0.6);
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-topbar-actions > li > ul > li:hover {
    background-color: rgba(232, 241, 248, 0.7);
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-rightpanel-button {
    color: #515C66;
    background-color: #E8F1F8;
  }
  .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right .layout-rightpanel-button:hover {
    background-color: rgba(232, 241, 248, 0.7);
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
  }
  @media (max-width: 992px) {
    .layout-topbar-light .layout-topbar {
      box-shadow: none;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-left {
      border-bottom: 1px solid #E8F1F8;
    }
    .layout-topbar-light .layout-topbar .layout-topbar-wrapper .layout-topbar-right {
      border-bottom: 1px solid #E8F1F8;
    }
  }
  @-webkit-keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0);
    }
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translate3d(0, -20px, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  .fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }
  

  // layout

  @media (min-width: 992px) {
    .layout-overlay .menu-wrapper {
      -webkit-transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
      transform: translate3d(-241px, 0px, 0px);
    }
    .layout-overlay.layout-overlay-active .menu-wrapper {
      transform: translate3d(0px, 0px, 0px);
    }
    .layout-overlay .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button {
      display: -ms-flexbox;
      display: flex;
    }
  
    .layout-static .menu-wrapper {
      transform: translate3d(-241px, 0px, 0px);
    }
    .layout-static .layout-main {
      -moz-transition: margin-left 0.2s;
      -o-transition: margin-left 0.2s;
      -webkit-transition: margin-left 0.2s;
      transition: margin-left 0.2s;
    }
    .layout-static.layout-static-active .menu-wrapper {
      transform: translate3d(0px, 0px, 0px);
    }
    .layout-static.layout-static-active .layout-main {
      margin-left: 240px;
    }
    .layout-static .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button {
      display: -ms-flexbox;
      display: flex;
    }
  }


  .layout-wrapper .layout-main {
    padding-top: 56px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 100vh;
  }
  .layout-wrapper .layout-main .layout-content {
    padding: 32px;
    padding-top: 12px;
    flex: 1 1 0;
  }