.div-conciliar-por-monto {
    display: flex;
    flex-direction: row; 
    align-items: end;
    gap: 15px;
    margin-top: 10px;
    &__item {
        display: flex;
        flex-direction: column;
        input {               
            width: 65px;
        }
    } 
    &__options {
        display: flex;
        flex-direction: column;
        gap: 5px;
    } 
}

.p-field-radiobutton {
    label {
        margin-left: 5px;
    }
}

.p-button-outlined {
    width: auto;
    border: 1px solid #99A3A4 !important;
}