<form class="div-conciliar-por-monto" [formGroup]="form" autocomplete="off">    
    <div class="div-conciliar-por-monto__item">
        <label>Item</label>                                
        <input 
            pInputText
            id="inputItem"
            type="text"
            class="text-right"
            inputmode="numeric"
            maxlength="10"
            formControlName="item"                                                    
            (keypress)="funciones.IsNumberKey($event)"
        />
    </div>                         
    <button 
        *ngIf="showButtonAct(btnConciliar, bandeja)"
        pButton 
        pRipple 
        icon="pi pi-check" 
        type="button" 
        label="Conciliar por monto" 
        class="p-button-outlined p-button-secondary"
        (click)="conciliarPorMonto()">
    </button>
    <div class="div-conciliar-por-monto__options">
        <div class="p-field-radiobutton">
            <p-radioButton name="opcionOperacion" value={{igualMonto}} formControlName="opcionOperacion" inputId="idIgualMonto"></p-radioButton>
            <label for="igualMonto">Listar operaciones SCUNAC no conciliadas con igual monto</label>
        </div>
        <div class="p-field-radiobutton">
            <p-radioButton name="opcionOperacion" value={{menorIgualMonto}} formControlName="opcionOperacion" inputId="idMenorIgualMonto"></p-radioButton>
            <label for="menorIgualMonto">Listar operaciones SCUNAC no conciliadas con menor o igual monto</label>
        </div>
    </div>
</form>
