<div class="grid">
    <div class="col-12">
        <form [formGroup]="formCheque" autocomplete="off">
            <div class="div-campo-obligatorio">
                <span class="campo-obligatorio">(*)</span> <b>Campo obligatorio</b>
            </div>            
            <p-fieldset legend="Cheque">
                <div class="formgrid grid">
                    <div class="field col-12 sm:col-12 lg:col-12 xl:col-5">
                        <label for="zona">Banco <span class="campo-obligatorio">(*)</span></label>
                        <input readonly id="idBanco" pInputText formControlName="nombreBanco" type="text" class="w-full">
                    </div>
                    <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-2">
                        <label for="oficina">Nro. de Cheque</label>
                        <input readonly pInputText formControlName="numeroCheque" type="text" class="w-full">
                    </div>
                    <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-3">
                        <label for="fecha">Fecha de Emisión <span class="campo-obligatorio">(*)</span></label>
                        <div class="p-fluid">
                            <p-calendar [showIcon]="true" appendTo="body" 
                                        inputId="icon"
                                        dateFormat="dd/mm/yy"
                                        [maxDate]="fechaActual"
                                        placeholder="Seleccione"  
                                        formControlName="fechaEmision"                                      
                                        inputId="idFechaEmision"
                                        readonlyInput="true">
                            </p-calendar>
                        </div>
                    </div>
                    <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-2">
                        <label for="oficina">Monto <span class="campo-obligatorio">(*)</span></label>
                        <input
                            pInputText
                            type="text"
                            class="w-full text-right"
                            formControlName="monto"                                    
                            inputmode="numeric"
                            maxlength="30"
                            placeholder="0.00"
                            digitOnly
                            decimal="true"
                            id="idMonto"
                            (blur)="formatearMonto($event)"                           
                        />
                    </div>
                    <!-- ^\d+(\.\d{1,2})?$ | pattern="^(-?\d*)((\.(\d{0,2})?)?)$" -->
                             
                    <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-3">
                        <label for="zona">Tipo Doc. Identidad <span class="campo-obligatorio">(*)</span></label>
                        <p-dropdown                                                          
                            styleClass="inputfield w-full" 
                            formControlName="tipoDocumento"  
                            placeholder="Seleccione"
                            [showClear]="true"                                 
                            optionLabel="cdescri"
                            optionValue="ccodigoHijo"
                            [options]="listaTipoDocumentos"
                            (onChange)="seleccionarTipoDocumento()"
                            #ddlTipoDocumento>
                        </p-dropdown>
                    </div>
                    <!-- <input pInputText formControlName="numeroDocumento" type="text" class="w-full"> -->
                    <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-3">
                        <label for="oficina">Nro. Doc. Identidad</label>                        
                        <span class="p-input-icon-right nro-doc-identidad">
                            <i *ngIf="this.tipoDocumentoSeleccionado === this.tipoDocumentoIdentidad.DNI" 
                            class="pi pi-search icon-search" (click)="buscarEntidad($event)" pTooltip="Buscar" tooltipPosition="top"></i>
                            <input type="text" (keyup)="keyupNroDoc($event)" id="idNroDocIdentidad" pInputText formControlName="numeroDocumento" [maxlength]="longitudTextoNroDocIdentidad" inputmode="numeric" pattern="[0-9]*" digitOnly class="w-full"/>
                        </span>
                    </div>  
                    <ng-container *ngIf="!this.tipoDocumentoSeleccionado">
                        <div class="field col-0 xl:col-6">
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.tipoDocumentoSeleccionado && !(this.tipoDocumentoSeleccionado === this.tipoDocumentoIdentidad.RUC)">
                        <div class="field col-12 sm:col-12 lg:col-8 xl:col-6">
                            <label for="oficina">Nombres y Apellidos <span class="campo-obligatorio">(*)</span></label>
                            <input pInputText id="idNombres" formControlName="nombres" type="text" class="w-full" (keypress)="funciones.IsTextKey($event)" >
                        </div>
                    </ng-container>
                    <ng-container *ngIf="this.tipoDocumentoSeleccionado === this.tipoDocumentoIdentidad.RUC">
                        <div class="field col-12 sm:col-12 lg:col-8 xl:col-6">
                            <label for="oficina">Razón Social <span class="campo-obligatorio">(*)</span></label>
                            <input pInputText id="idRazonSocial" formControlName="razonSocial" type="text" maxlength="100" class="w-full">
                        </div>                        
                    </ng-container>                    
                
                    <div class="field col-12 sm:col-12 md:col-6 lg:col-4 xl:col-3">
                        <label for="oficina">Nro. Referencia Cheque</label>                     
                        <input type="text" pInputText formControlName="numeroReferenciaCheque" maxlength="30" inputmode="numeric" pattern="[0-9]*" digitOnly class="w-full"/>
                    </div>  
                </div>
            </p-fieldset>
            <div class="formgrid grid mt-5">
                <div class="col buttons-cheques">
                    <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Grabar"
                        [loading]="isLoading"
                        class="p-button-buscar"
                        (click)="grabarCheque()">
                    </button>
                    <button pButton type="button" 
                            icon="pi pi-times" 
                            style="width: 9em; margin-left: 1em;"
                            label="Cancelar"
                            class="p-button-anular" 
                            (click)="cancelar()">
                    </button>                  
                </div>
            </div>
        </form>           
    </div>
</div>
<p-toast></p-toast>
