.p-dialog-header {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.p-dialog-content {
    overflow-y: hidden; 
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.div-campo-obligatorio {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.buttons-cheques {
    display: flex;
    justify-content: end;
}

.nro-doc-identidad {
    width: 100%;
}

.icon-search {
    color: #3B82F6 !important;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 575.98px) {
    .p-dialog-header {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    
    .p-dialog-content {   
        padding-left: 30px !important;
        padding-right: 30px !important;
    }    
}

@media (max-width: 767.98px) {
    .buttons-cheques {      
        justify-content: center;
    }
}

@media (max-width: 991.98px) {
    .p-dialog-content {
        overflow-y: scroll;
    }
}

