::ng-deep.swal2-container {
    z-index: 50000000000;
}

.p-monto {
  text-align: right;
}

.div-subir-documentos {
  display: flex;
  flex-direction: row; 
  align-items: end;
  gap: 15px;
  margin-top: 5px;
  &__item {
      display: flex;
      flex-direction: column;
      input {               
          width: 65px;
      }
  } 
  &__options {
      display: flex;
      flex-direction: column;
      gap: 5px;
  } 
}

.div-text {
  margin-bottom: 10rem;
}

