<div  [formGroup]="sustento" class="grid mt-4">
    <div class="col-12">
        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="nro_constancia">Nro. Recibo</label>
                <div class="">
                    <input pInputText readonly formControlName="numRecibo" type="text" class="w-full">
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="fecha">Fecha</label>
                <div class="">
                    <input pInputText readonly formControlName="fecha" type="text" class="w-full">
                </div>
            </div>
        </div>

        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="nro_operacion">Monto</label>
                <div class="">
                    <input pInputText readonly formControlName="monto" type="text" class="w-full p-monto">
                </div>
            </div>
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="monto">Número SIAF</label>
                <div class="">
                    <input pInputText readonly formControlName="numSiaf" type="text" class="w-full">
                </div>
            </div>
        </div>

        <div class="formgrid grid py-2">
            <div class="field col-12 md:col-10">
                <label for="constancia">Sustentos</label>
                <div>
                    <app-upload (uploaded)="addUploadedFile( $event )" (onDelete)="deleteUploaded($event)" 
                                [nroBandeja]="bandeja" [nroAdd]="add" [nroDel]="delete" [disabled]="isDisabled"
                                [disabledDelete]="isDisabled" [multiple]="true">
                    </app-upload>
                </div>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col-6" *ngIf="showButtonAct(docRecibido, bandeja)">
                <label>Nro. Documento Recibido</label>
                <form class="div-subir-documentos" [formGroup]="sustento" autocomplete="off">
                    <div class="div-subir-documentos__item col-2">
                        <input pInputText 
                                type="text"
                                formControlName="idDocuEnvi" 
                                maxlength="10" 
                                (keypress)="funciones.IsNumberKey($event)"/>
                    </div>
                    <button pButton
                            icon="pi pi-upload"
                            type="button"
                            label="Subir"
                            [loading]="isLoadingImg"
                            [disabled]="disabledSubir"
                            class="p-button-primary ml-4"
                            (click)="obtenerIdImagenes()">
                    </button>
                </form>
            </div>
            <div class="col-6 text-right mt-5">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Grabar"
                        [loading]="isLoading"
                        [disabled]="isDisabled"
                        class="p-button-buscar"
                        (click)="grabar()" 
                        > 
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()" 
                        >
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>