<div class="grid mt-4">
    <div [formGroup]="historial" class="col-12">

        <div class="formgrid grid lg:mb-1 md:mb-4 py-1">
            <div class="field col-12 sm:col-12 lg:col-3">
                <label for="zona">Nro. Comprobante</label>
                <div class="">
                    <input readonly formControlName="nroComp" pInputText type="text" class="w-full">
                </div>
            </div>
        
            <div class="field col-12 sm:col-12 lg:col-3">
                <label for="oficina">Fecha</label>
                <div class="">
                    <input readonly formControlName="fecha" pInputText type="text" class="w-full">
                </div>
            </div>

            <div class="field col-12 sm:col-12 lg:col-3">
                <label for="oficina">Monto</label>
                <div class="">
                    <input readonly formControlName="monto" pInputText type="text" class="w-full">
                </div>
            </div>
        
            <div class="field col-12 sm:col-12 lg:col-3">
                <label for="oficina">Número SIAF</label>
                <div class="">
                    <input readonly formControlName="nroSiaf" pInputText type="text" class="w-full">
                </div>
            </div>
        </div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-12">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="enviadosList"
                         [customSort]="true"
                         (sortFunction)="customSort($event)"
                         [paginator]="true" [rows]="5" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}">

                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="noPerf">Perfil <p-sortIcon field="noPerf"></p-sortIcon></th>
                            <th pSortableColumn="noUsua">Nombres y Apellidos <p-sortIcon field="noUsua"></p-sortIcon></th>
                            <th pSortableColumn="feCrea">Fecha / Hora <p-sortIcon field="feCrea"></p-sortIcon></th>
                            <th pSortableColumn="deEsta">Estado <p-sortIcon field="deEsta"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-comprobante>
                        <tr>
                            <td>{{ comprobante.noPerf }}</td>
                            <td>{{ comprobante.noUsua }}</td>
                            <td>{{ formatearFecha( comprobante.feCrea ) }}</td>
                            <td>{{ comprobante.deEsta }}</td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        style="width: 9em;"
                        label="Regresar"
                        class="p-button-secondary" 
                        (click)="regresar()">
                </button>
            </div>
        </div>
    </div>
</div>