.body {
    width: calc(100% - 5rem);
    height: auto;
    margin-left: 5rem;
    z-index: 0;
    position: relative;
    top: 100px;
    transition: all .5s ease;
    background: #f4f7fa;
}

.body-trimmed {
    width: calc(100% - 20rem);
    margin-left: 20rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.container {
    display: grid;
}

.card {
    width: 400px;
    margin: 20px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 2px 10px #b3bac8;
    cursor: pointer;

    .card-link {
        display: flex;
        align-items: center;
        height: 3rem;
        color: #000;
        overflow: hidden;
        text-decoration: none;
        transition: all .3s ease;

        .card-link-icon {
            font-size: 35px;
            width: 2rem;
            min-width: 2rem;
            margin: 0 0.5rem 0.6rem;
            text-align: center;
        }

        .card-link-text {
            margin-left: 2rem;
            font-size: 1.4rem;
            font-family: Montserrat;
            font-weight: bolder;
        }
    }
}

.card:hover {
    box-shadow: 5px 5px 20px #898d95;
    transform: translateY(-3%);
}