<div class="body" [ngClass]="getBodyClass()">
    <div class="card-container overflow-hidden">
        <div class="flex15">
            <div class="m-2 px-5 py-3">
                <div class="container" *ngFor="let perfil of perfilList">
                    <div class="card" *ngIf="showUserRol( perfil.coPerf! )">
                        <a class="card-link" (click)="showPerfilMenu( perfil.coPerf! )">
                            <mat-icon class="card-link-icon">settings</mat-icon>
                            <span class="card-link-text">{{ perfil.noPerf }}</span>
                        </a>
                    </div>
                </div>
                <!-- <div class="container">
                    <div class="card">
                        <a class="card-link">
                            <mat-icon class="card-link-icon"></mat-icon>
                            <span class="card-link-text">Coordinador de Tesorería</span>
                        </a>
                    </div>
                    <div class="card">
                        <a class="card-link">
                            <mat-icon class="card-link-icon"></mat-icon>
                            <span class="card-link-text">Cajero</span>
                        </a>
                    </div>
                    <div class="card">
                        <a class="card-link">
                            <mat-icon class="card-link-icon"></mat-icon>
                            <span class="card-link-text">Responsable de Caja</span>
                        </a>
                    </div>
                </div>
                <div class="container">
                    <div class="card">
                        <a class="card-link">
                            <mat-icon class="card-link-icon"></mat-icon>
                            <span class="card-link-text">Responsable de Cuenta</span>
                        </a>
                    </div>
                    <div class="card">
                        <a class="card-link">
                            <mat-icon class="card-link-icon"></mat-icon>
                            <span class="card-link-text">Encargado de Archivo</span>
                        </a>
                    </div>
                    <div class="card">
                        <a class="card-link">
                            <mat-icon class="card-link-icon"></mat-icon>
                            <span class="card-link-text">Contador</span>
                        </a>
                    </div>
                </div>
                <div class="container">
                    <div class="card">
                        <a class="card-link">
                            <mat-icon class="card-link-icon"></mat-icon>
                            <span class="card-link-text">Operador de Egresos</span>
                        </a>
                    </div>
                    <div class="card">
                        <a class="card-link">
                            <mat-icon class="card-link-icon"></mat-icon>
                            <span class="card-link-text">Operador de Ingresos</span>
                        </a>
                    </div>
                    <div class="card">
                        <a class="card-link">
                            <mat-icon class="card-link-icon"></mat-icon>
                            <span class="card-link-text">Tesorero</span>
                        </a>
                    </div>
                </div>
                <div class="container">
                    <div class="card">
                        <a class="card-link">
                            <mat-icon class="card-link-icon">settings</mat-icon>
                            <span class="card-link-text">Administrador</span>
                        </a>
                    </div>
                </div> -->
                <!-- <router-outlet></router-outlet> -->
            </div>
        </div>
    </div>
</div>