<p-panel header="Documentos varios solicitar firma - Consultar">

    <div [formGroup]="editarDocumentosVarios" class="grid">
        <div class="col-1"></div>
        <div class="col-10">

            <div class="grid mt-4">
                <div class="col-12">
                    <p-fieldset legend="Datos Generales">
                        <div class="formgrid grid">
                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Zona Registral</label>
                                <p-dropdown [filter]="true" filterBy="deZonaRegi" filterValue="deZonaRegi"
                                    formControlName="zona" styleClass="inputfield w-full" [options]="listaZonaRegistral"
                                    optionLabel="deZonaRegi" optionValue="coZonaRegi" [class.spinner]="loadingDocumentosVariosData"
                                    [disabled]="true">
                                </p-dropdown>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Oficina Registral</label>
                                <p-dropdown [filter]="true" filterBy="deOficRegi" filterValue="deOficRegi"
                                    formControlName="oficina" styleClass="inputfield w-full"
                                    [options]="listaOficinaRegistral" optionLabel="deOficRegi" optionValue="coOficRegi"
                                    [class.spinner]="loadingDocumentosVariosData" [disabled]="true">
                                </p-dropdown>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Local</label>
                                <p-dropdown [filter]="true" filterBy="deLocaAten" filterValue="deLocaAten"
                                    formControlName="local" styleClass="inputfield w-full" [options]="listaLocal"
                                    optionLabel="deLocaAten" optionValue="coLocaAten"
                                    [class.spinner]="loadingDocumentosVariosData" [disabled]="true">
                                </p-dropdown>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
                                <label for="oficina">Tipo Documento</label>
                                <p-dropdown [filter]="true" filterBy="cdescri" filterValue="cdescri"
                                    formControlName="tipoDocumento" styleClass="inputfield w-full"
                                    [options]="listaTipoDocumento" optionLabel="cdescri"
                                    optionValue="ccodigoHijo" [class.spinner]="loadingDocumentosVariosData" [disabled]="true">
                                </p-dropdown>
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="fecha">Fecha</label>
                                <div class="p-fluid">
                                    <p-calendar [showIcon]="true" appendTo="body" inputId="icon" formControlName="fecha"
                                        [maxDate]="fechaActual" inputId="idFecha" inputId="dateformat" [disabled]="true">
                                    </p-calendar>
                                </div>
                            </div>

                            <div class="field col-12 xl:col-3 md:col-6">
                                <label for="numero">Nro.Referencia</label>
                                <input pInputText formControlName="numero" type="text" class="w-full" id="numero" disabled="true">
                            </div>
                        </div>

                        <div class="formgrid grid">
                            <div class="field col-6">
                                <label for="nombreDocumento">Nombre del documento (.pdf)</label>
                                <input pInputText formControlName="nombreDocumento" type="text" class="w-full" disabled="true">
                            </div>
                        </div>

                        <div class="formgrid grid mt-2">
                            <div class="field col-12">
                                <label for="concepto">Observaciones</label>
                                <textarea [rows]="4" formControlName="concepto" class="w-full" id="concepto"
                                    pInputTextarea disabled="true"></textarea>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>

            <div class="formgrid grid mt-6">
                <div class="col text-right">
                    <button pButton type="button" icon="pi pi-undo" style="width: 9em; margin-left: 1em;"
                        label="Regresar" class="p-button-secondary ml-3" (click)="cancelar()">
                    </button>
                </div>
            </div>
        </div>
    </div>

</p-panel>