<p-panel header="Clasificadores">

    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="form" class="col-10">
            <div class="row-button-search">
                <button  pButton type="button" *ngIf="showButtonAct(BtnBuscar, codBandeja)" 
                        (click)="buscarClasificador()" label="Buscar"class="p-button-buscar">
                </button>
            </div>
			<div class="formgrid grid">
                <div class="field col-12 xl:col-4 md:col-6">
					<label for="oficina">Clasificador</label>
					<input pInputText formControlName="clasificador" type="text" class="w-full">
				</div>

                <div class="field col-12 xl:col-4 md:col-6">
					<label for="oficina">Descripción</label>
					<input pInputText formControlName="descripcion" type="text" class="w-full">
				</div>

                <div class="field col-12 xl:col-4 md:col-6">
					<label for="oficina">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="deEstado" 
                                filterValue="deEstado"
                                [options]="$estado"
                                styleClass="inputfield w-full"
                                formControlName="estado"
                                optionLabel="deEstado"
                                optionValue="coEstado">
                    </p-dropdown>
				</div>
			</div>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col">
                        <button *ngIf="showButtonAct(BtnNuevo, codBandeja)" pButton pTooltip="Nuevo" tooltipPosition="top"
                                 icon="pi pi-file" (click)="nuevoClasificador()" class="p-button-nuevo mr-3"> 
                        </button>
                        <button *ngIf="showButtonAct(BtnEditar, codBandeja)" pButton pTooltip="Editar" tooltipPosition="top" 
                                 icon="pi pi-pencil" (click)="editOrView( 'edit' )" class="p-button-editar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnAnular, codBandeja)" pButton pTooltip="Anular" tooltipPosition="top" 
                                 icon="pi pi-times" (click)="anular()" [loading]="loadingAnu" class="p-button-anular mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnActivar, codBandeja)" pButton pTooltip="Activar" tooltipPosition="top" 
                                 icon="pi pi-power-off" (click)="activar()" [loading]="loadingAct" class="p-button-activar mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnConsultar, codBandeja)" pButton pTooltip="Consultar registro" tooltipPosition="top" 
                                 icon="pi pi-info-circle" (click)="editOrView( 'view' )" class="p-button-consultar">
                        </button>
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack" 
                         [value]="enviadosList"
                         [customSort]="true"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedClasificador"
                         (sortFunction)="customSort($event)"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]">

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="coClsf">Clasificador <p-sortIcon field="coClsf"></p-sortIcon></th>
                            <th pSortableColumn="deClsf">Descripción <p-sortIcon field="deClsf"></p-sortIcon></th>
                            <th pSortableColumn="inRegi">Estado <p-sortIcon field="inRegi"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-clasificador>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="clasificador"></p-tableCheckbox>
                            </td>
                            <td>{{ clasificador.coClsf }}</td>
                            <td>{{ clasificador.deClsf }}</td>
                            <td>{{ clasificador.inRegi }}</td>
                        </tr>
                    </ng-template>
   
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>