@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "./sweet-alert.scss";

@font-face {
  font-family: Montserrat;
  src: url('assets/fonts/Montserrat-Regular.ttf') format('truetype')
}

.Montserrat {
  font-family: Montserrat;
}


html,
body {
  height: 100%;
  font-family: Montserrat;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #F6F6F6 !important;
}

@import "./assets/topbar.scss";
@import './assets/sidebar.scss';

html {
  height: 100%;
  font-size: 14px;
}

body {
  font-size: 14px;
  color: #515C66;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  height: 100%;
}

body.main-body {
  background: linear-gradient(99deg, #F6F9FE 0%, #E8F1F8 100%);
}

body a {
  color: #2c84d8;
  text-decoration: none;
}

body a:hover {
  color: #4291dc;
}

.login-page {
  &.boxshadow {
    box-shadow: none;
  }
}

input:read-only {
  background-color: #f2f2f2;
}

.panel-apelaciones {
  .p-component:disabled {
    opacity: 100%
  }
}

.cd-upload-progress {
  .p-progressbar {
    height: 0.2rem;
    background-color: white;

    .p-progressbar-value {
      background-color: rgb(154, 54, 248);
    }
  }
}

.cd-tab {
  margin: -1.25rem;
  padding: 1.25rem;
}

/** Display block */
[hidden] {
  display: none !important;
}

.p-dialog-content {
  overflow-y: scroll !important;
}

.p-card {
  background: #EAF1EA;
}

.p-card .p-card-title {
  font-size: 14px !important;
  text-decoration: underline;
}

.p-button-buscar {
  background: #71C300 !important;
  border: 1px solid #71C300 !important;
  border-radius: 16px !important;
}

.p-button-nuevo {
  background: #293934 !important;
  border: 1px solid #293934 !important;
  border-radius: 16px !important;
}

.p-button-editar {
  background: #00A6A6 !important;
  border: 1px solid #00A6A6 !important;
  border-radius: 12px !important;
}

.p-button-activar {
  background: #F9B000 !important;
  border: 1px solid #F9B000 !important;
  border-radius: 12px !important;
}

.p-button-anular {
  background: #E6331C !important;
  border: 1px solid #E6331C !important;
  border-radius: 12px !important;
}

.p-button-outlined{
 width: 210px;
 margin: 0%;
}

.row-button-search {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}


.p-datatable .p-datatable-thead>tr>th {

  background: #293934 !important;
  color: #fff;
  font-weight: normal;
}

.p-datatable .p-datatable-thead>tr> th:hover {
  color: #F7F17B !important;
}


  .p-sortable-column >tr>th:hover{
  color: #F7F17B !important;
  cursor: pointer;
  }

  .p-datatable .p-sortable-column.p-highlight {
    background: #EFF6FF;
    color: #F7F17B;
  }

  .p-datatable .p-sortable-column-icon{
    color: #F7F17B ;
  }

.panelBandeja {
 
  min-height: 700px;
  
}

.p-breadcrumb {
  background-color: transparent;
  border: 0;
  padding: 0;
  padding-bottom: 1rem;
  padding-top: .5rem;
}

.p-menubar {
  font-family: Montserrat;
  font-weight: bold;
}

.p-button-documento {
  background: #05a510 !important;
  border: 1px solid #05a510 !important;
  border-radius: 12px !important;
}

.p-button-sustento {
  background: #e61ee6 !important;
  border: 1px solid #e61ee6 !important;
  border-radius: 12px !important;
}

.p-button-firma {
  background: #bf0d0d !important;
  border: 1px solid #bf0d0d !important;
  border-radius: 12px !important;
}

.p-button-historial {
  background: #2758ed !important;
  border: 1px solid #2758ed !important;
  border-radius: 12px !important;
}

.p-button-copiar {
  background: #e78e1b !important;
  border: 1px solid #e78e1b !important;
  border-radius: 12px !important;
}

.p-button-reservar {
  background: #282493 !important;
  border: 1px solid #282493 !important;
  border-radius: 12px !important;
}

.p-button-utilizado {
  background: #9d069d !important;
  border: 1px solid #9d069d !important;
  border-radius: 12px !important;
}

.p-button-cheques {
  background: #4ddc22 !important;
  border: 1px solid #4ddc22 !important;
  border-radius: 12px !important;
}

.p-button-ver-cheques {
  background: #0ac6e3 !important;
  border: 1px solid #0ac6e3 !important;
  border-radius: 12px !important;
}

.p-button-correo-usuario {
  background: #ff8d0c !important;
  border: 1px solid #ff8d0c !important;
  border-radius: 12px !important;
}

.p-button-anexos {
  background: #0b8dff !important;
  border: 1px solid #0b8dff !important;
  border-radius: 12px !important;
}

.p-button-imprimir {
  background: #baaa12 !important;
  border: 1px solid #baaa12 !important;
  border-radius: 12px !important;
}

.p-button-consultar {
  background: #0800ff !important;
  border: 1px solid #0800ff !important;
  border-radius: 12px !important;
}

.p-button-abrir {
  background: #1cca28 !important;
  border: 1px solid #1cca28 !important;
  border-radius: 12px !important;
}

.p-button-cerrar {
  background: #ff8800 !important;
  border: 1px solid #ff8800 !important;
  border-radius: 12px !important;
}

.p-button-reprocesar {
  background: #c927ed !important;
  border: 1px solid #c927ed !important;
  border-radius: 12px !important;
}

.p-button-autorizar {
  background: #89339c !important;
  border: 1px solid #89339c !important;
  border-radius: 12px !important;
}

.p-input-text-right {
  text-align: right;
}

.p-toast-message {
  margin-top: 100px;
}

.row-buttons-maintenance {
  display: flex;
  justify-content: right;
}
 
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

input:read-only {
  background-color: #FFFFFF;
}

@media (max-width: 768.98px) {
  .body {
    margin-left: 5rem !important;
  }
}

@media (max-width: 500px) {
  .px-5 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

@media (min-width: 769px) { 
  .body {
    margin-left: 20rem;
  }
}

.card-container {
  min-width: 360px;
}

@keyframes spinner {
  to {
      transform: rotate(360deg);
  }
}
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 48%;
  width: 20px;
  height: 20px;
  margin-top: 10px; 
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #1956A4;
  animation: spinner .8s linear infinite;
}

.p-dropdown-loading {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.div-campo-obligatorio {
  display: flex;
  justify-content: end;
  gap: 5px;
}

.campo-obligatorio {
  font-weight: bold;
  color: #C0392B;
}

.p-datatable .p-datatable-thead > tr > th > div {
  display: flex; 
  flex-direction: row; 
  justify-content: center; 
  align-items: center;      
}

.div-readonly {
  display: flex;
  flex-direction: column;
}

.label-data {
  border: 1px solid #ced4da;
  border-radius: 6px;
  height: 40px;
  padding: 10px;    
}

.mt-0 {
  margin-top: 0px !important;;
}

.mt-10 {
  margin-top: 10px !important;;
}

.mt-15 {
  margin-top: 15px !important;;
}

.mt-20 {
  margin-top: 20px !important;;
}

.mt-25 {
  margin-top: 25px !important;;
}

.mt-30 {
  margin-top: 30px !important;;
}

.mt-35 {
  margin-top: 35px !important;;
}

.mt-40 {
  margin-top: 40px !important;;
}

.mb-0 {
  margin-bottom: 0px !important;;
}

.mb-10 {
  margin-bottom: 10px !important;;
}

.mb-15 {
  margin-bottom: 15px !important;;
}

.mb-20 {
  margin-bottom: 20px !important;;
}

.mb-25 {
  margin-bottom: 25px !important;;
}

.mb-30 {
  margin-bottom: 30px !important;;
}

.mb-35 {
  margin-bottom: 35px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}
