//-------- PERSONALIZAR EL ALERT - SWEETALERT ---------
@font-face {
    font-family: Montserrat-Black;
    src: url('assets/fonts/Montserrat-Black.ttf') format('ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('assets/fonts/Montserrat-Medium.ttf') format('ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('assets/fonts/Montserrat-Bold.ttf') format('ttf');
}


.sweet_popup-class {
    border-radius: 30px !important;
}

.sweet_popup-class_2 {
    height: 592px !important;
    width: 566px !important;
    border-radius: 20px !important;
}

.sweet_popup-class_3 {
    border-radius: 20px !important;
    width: 25em !important;
}

.sweet_confirmnButton {
    font-family: Montserrat-Medium Bold !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    background: #237EF2 !important;
    color: #FAFAFA !important;
    box-shadow: 0px 6px 0px #1956A4!important;
    border: none !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    width: 120px !important;
    height: 40px !important;
    margin-right: 20px !important;
}

.sweet_confirmnButton:hover {
    background: #1956A4 !important;
    color: #FAFAFA !important;
    box-shadow: 0px 6px 0px #1956A4 !important;    
}

.sweet_cancelButton {
    font-family: Montserrat-Medium Bold !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    background: #FAFAFA !important;
    color: #237EF2 !important;
    box-shadow: 0px 6px 0px #EAE9E6!important;
    border: none !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    width: 120px !important;
    height: 40px !important;
}

.sweet_cancelButton:hover {
    background: #EAE9E6 !important;
    color: #237EF2 !important;
    box-shadow: 0px 6px 0px #EAE9E6 !important;    
}

.sweet_closeButton {
    width: 0.9em !important;
    height: 0.9em !important;
    font-size: 1.2em !important;
    border-radius: 50% !important;
    background: #E5E7E9 !important;
    color: #fff !important;
    padding-bottom: 2px !important;
}

.sweet_closeButton_2 {
    width: 0.9em !important;
    height: 0.9em !important;
    font-size: 2.5em !important;
    color: #000 !important;
    padding-bottom: 2px !important;
}

.sweet_confirmnButton_2 {
    font-family: Montserrat-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: center;
    background: #237EF2 !important;
    color: #FAFAFA !important;
    box-shadow: 0px 6px 0px #1956A4 !important;
    border: none !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    width: 140px !important;
    height: 46px !important;
}
.sweet_confirmnButton_2:hover {
    background: #1956A4 !important;
    color: #FAFAFA !important;
    box-shadow: 0px 6px 0px #1956A4 !important;    
}

.sweet_cancelButton_2 {
    font-family: Montserrat-Medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: center;
    background: #FAFAFA !important;
    color: #237EF2 !important;
    box-shadow: 0px 6px 0px #EAE9E6 !important;
    border: none !important;
    border-radius: 6px !important;
    cursor: pointer !important;
    width: 140px !important;
    height: 46px !important;
    margin-right: 20px !important;
}

.sweet_cancelButton_2:hover {
    background: #EAE9E6 !important;
    color: #237EF2 !important;
    box-shadow: 0px 6px 0px #EAE9E6 !important;    
}

.sweet_title {
    font-family: Montserrat-Bold !important;
    font-size: 28px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 29px !important;
    color: #2F3B55 !important;
}

.sweet_title_2 {
    font-family: Montserrat-Bold !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 29px !important;
    color: #2F3B55 !important;
}

.sweet_image_2 {
    margin: 5em auto 0em !important;
}

.swal2-popup .swal2-actions {
    padding: 30px;
}

.sweet_htmlContainer_2 {
    margin-top: -15px !important;
    font-family: Montserrat-Black !important;
    // font-size: 16px !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 21px !important;
    color: #111828 !important;
}

.sweet_htmlContainer_3 {
    margin-top: 0px !important;
    font-family: Montserrat-Black !important;
    font-size: 18px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: 21px !important;
    color: #111828 !important;
}

.sweet_actions {
    padding: 0px !important;
}

.sweet_actions_2 {
    padding: 20px !important;
}

.sweet_actions_3 {
    padding-top: 0px !important;
    padding-bottom: 25px !important;
}

.sweet_loader {
    width: 2.5em !important;
    height: 2.5em !important;
    border-width: 0.35em !important;
    border-color: #237ef2 transparent #237ef2 transparent !important;
}

@media (max-width: 398px) {
    .sweet_confirmnButton {
        margin-right: 0px !important;
    }
}