<p-panel header="Consolidación de la Recaudación Medios Electrónicos - {{ titulo }}">
    <div class="grid mt-0">
        <div class="col-1"></div>
        <div class="col-10">
            <p-fieldset legend="{{ titulo }}">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Zona Registral</label>
                        <label class="label-data">{{ (recaudacionMediosElectronicos) ? recaudacionMediosElectronicos.deZonaRegi : '' }}</label>                
                    </div>
                     <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="oficina">Oficina Registral</label>    
                        <label class="label-data">{{ (recaudacionMediosElectronicos) ? recaudacionMediosElectronicos.deOficRegi : '' }}</label>            
                    </div>            
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="local">Local</label>
                        <label class="label-data">{{ (recaudacionMediosElectronicos) ? recaudacionMediosElectronicos.deLocaAten : '' }}</label> 
                    </div> 
                    <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                        <label for="fecha">Fecha</label>
                        <label class="label-data">{{ fecha }}</label>
                    </div>
                </div>
                <ng-container *ngIf="mostrarBloque">
                    <div class="formgrid grid">
                        <div class="field col-12 md:col-6 xl:col-3 div-readonly">
                            <label for="oficina">Operador</label>
                            <label class="label-data">{{ servicioOperador }}</label>                
                        </div>
                        <div class="field col-12 md:col-6 xl:col-6 div-readonly">
                            <label for="oficina">Nombre de archivo excel</label>
                            <label class="label-data" *ngIf="idGuidExcel == ' '">{{ nombreArchivoExcel }}</label>                
                            <label class="label-data" *ngIf="idGuidExcel != ' '">
                                <a target="_blank" href="{{ visorEndpoint(idGuidExcel) }}">
                                    {{ nombreArchivoExcel }}
                                </a>
                            </label>                
                        </div>
                    </div>
                </ng-container> 
            </p-fieldset>            
            <div class="formgrid grid mt-20">
                <div class="field col-12">
                    <p-tabView (onChange)="handleChange($event)">
                        <p-tabPanel header="NIUBIZ">
                            <div class="list-files-recaudacion-me">
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFileNiubiz(0)"
                                        *ngIf="showButtonAct(BtnDescargar_Conciliados, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar no conciliados</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFileNiubiz(1)"
                                        *ngIf="showButtonAct(BtnDescargar_No_Conciliados, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar conciliados</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFileNiubiz(2)"
                                        *ngIf="showButtonAct(BtnDescargar_Anulaciones, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar anulaciones</span>                              
                                 </div>
                                 <div class="list-files-recaudacion-me__file" (click)="downloadFileNiubiz(3)"
                                        *ngIf="showButtonAct(BtnDescargar_Contracargos, codBandeja)">
                                     <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                     <span>Descargar contracargos</span>                              
                                 </div>
                                 <ng-container *ngIf="esConsultarRegistro === false">
                                    <app-div-conciliar-por-monto 
                                        [bandeja]="codBandeja"
                                        [btnConciliar]="BtnConciliar_Por_Monto"
                                        [servicioDePago]="servicioOperador" 
                                        (eventDataConciliarMonto)="obtenerDataConciliarMonto($event)"
                                        [onReset]="onResetDivConciliar"                           
                                    ></app-div-conciliar-por-monto> 
                                 </ng-container>                                                          
                            </div>
                         </p-tabPanel>
                         <p-tabPanel header="DINERS">
                            <div class="list-files-recaudacion-me">
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileDiners(0)"
                                        *ngIf="showButtonAct(BtnDescargar_No_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar no conciliados</span>                              
                                </div>
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileDiners(1)"
                                        *ngIf="showButtonAct(BtnDescargar_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar conciliados</span>                              
                                </div>
                                <!-- <ng-container *ngIf="esConsultarRegistro === false">
                                    <app-div-conciliar-por-monto
                                        [servicioDePago]="servicioOperador" 
                                        (eventDataConciliarMonto)="obtenerDataConciliarMonto($event)"
                                        [onReset]="onResetDivConciliar"  
                                    ></app-div-conciliar-por-monto>
                                </ng-container> -->
                            </div>                        
                        </p-tabPanel>
                        <p-tabPanel header="AMEX">
                            <div class="list-files-recaudacion-me">
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileAmex(0)"
                                        *ngIf="showButtonAct(BtnDescargar_No_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar no conciliados</span>                              
                                </div>
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileAmex(1)"
                                        *ngIf="showButtonAct(BtnDescargar_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar conciliados</span>                              
                                </div>
                                <!-- <ng-container *ngIf="esConsultarRegistro === false">
                                    <app-div-conciliar-por-monto
                                        [servicioDePago]="servicioOperador" 
                                        (eventDataConciliarMonto)="obtenerDataConciliarMonto($event)" 
                                        [onReset]="onResetDivConciliar" 
                                    ></app-div-conciliar-por-monto>
                                </ng-container> -->
                            </div>                        
                        </p-tabPanel>
                        <p-tabPanel header="Recaudación SCUNAC">
                            <div class="list-files-recaudacion-me">
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileScunac(0)"
                                        *ngIf="showButtonAct(BtnDescargar_No_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar no conciliados</span>                              
                                </div>
                                <div class="list-files-recaudacion-me__file" (click)="downloadFileScunac(1)"
                                        *ngIf="showButtonAct(BtnDescargar_Conciliados, codBandeja)">
                                    <img src="assets/img/iconos/icon_file_xls.svg" alt=""/>  
                                    <span>Descargar conciliados</span>                              
                                </div>
                            </div>                        
                        </p-tabPanel>
                        <p-tabPanel header="Varios/Efectivo/Anulaciones">
                            <ng-container *ngIf="esConsultarRegistro === false">
                                <div class="grid mt-0 mb-15">
                                    <div class="col-12">
                                        <button *ngIf="showButtonAct(BtnIngresos_Nuevo, codBandeja)" pButton pTooltip="Nuevo" tooltipPosition="top" 
                                                icon="pi pi-file" (click)="nuevoVarios()" class="p-button-nuevo mr-3">
                                        </button>
                                        <button *ngIf="showButtonAct(BtnIngresos_Editar, codBandeja)" pButton pTooltip="Editar" tooltipPosition="top" 
                                                icon="pi pi-pencil" (click)="editarVarios()" class="p-button-editar mr-3">
                                        </button>                               
                                    </div>                           
                                </div> 
                            </ng-container>                             
                            <p-table responsiveLayout="stack"
                                [value]="listaVariosEfectivoAnulaciones"
                                (sortFunction)="customSort($event)"
                                [customSort]="true"
                                [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]" 
                                [loading]="loadingVariosEfectivoAnulaciones"               
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <ng-container *ngIf="esConsultarRegistro === false">
                                            <th>Sel</th>
                                        </ng-container>
                                        <th pSortableColumn=""><div>Tipo <p-sortIcon field=""></p-sortIcon></div></th>
                                        <th pSortableColumn="deMovi"><div>Descripción <p-sortIcon field="deMovi"></p-sortIcon></div></th>
                                        <th pSortableColumn="imReca"><div>Recaudación <p-sortIcon field="imReca"></p-sortIcon></div></th>
                                        <th pSortableColumn="imComi"><div>Comisión <p-sortIcon field="imComi"></p-sortIcon></div></th>    
                                        <th pSortableColumn="imIgv"><div>I.G.V <p-sortIcon field="imIgv"></p-sortIcon></div></th>    
                                        <th pSortableColumn="imAlquEqui"><div>Alq. Mant. Equipos <p-sortIcon field="imAlquEqui"></p-sortIcon></div></th>
                                        <th pSortableColumn="imDeudAnte"><div>Deuda día anterior <p-sortIcon field="imDeudAnte"></p-sortIcon></div></th>                         
                                        <th pSortableColumn="imDeudSigu"><div>Deuda sgte. día <p-sortIcon field="imDeudSigu"></p-sortIcon></div></th> 
                                        <th pSortableColumn="imTotal"><div>Total <p-sortIcon field="imTotal"></p-sortIcon></div></th> 
                                        <th pSortableColumn="deEsta"><div>Estado <p-sortIcon field="deEsta"></p-sortIcon></div></th> 
                                        <th pSortableColumn="deZonaRegi"><div>Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon></div></th> 
                                        <th pSortableColumn="deOficRegi"><div>Oficina Registral <p-sortIcon field="deOficRegi"></p-sortIcon></div></th> 
                                        <th pSortableColumn="deLocaAten"><div>Local de Atención <p-sortIcon field="deLocaAten"></p-sortIcon></div></th> 
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-registro>
                                    <tr>
                                        <ng-container *ngIf="esConsultarRegistro === false">
                                            <td><p-checkbox [value]="registro" [(ngModel)]="selectedValuesVarios"></p-checkbox></td>
                                        </ng-container>                                        
                                        <td>{{ registro.deMovi }}</td>
                                        <td>{{ registro.obMovi }}</td>
                                        <td class="text-right">{{ registro.imReca.toFixed(2) }}</td>
                                        <td class="text-right">{{ registro.imComi.toFixed(2) }}</td>
                                        <td class="text-right">{{ registro.imIgv.toFixed(2) }}</td>
                                        <td class="text-right">{{ registro.imAlquEqui.toFixed(2) }}</td>
                                        <td class="text-right">{{ registro.imDeudAnte.toFixed(2) }}</td>    
                                        <td class="text-right">{{ registro.imDeudSigu.toFixed(2) }}</td>
                                        <td class="text-right">{{ registro.imTotal.toFixed(2)  }}</td>   
                                        <td>{{ registro.deEsta | uppercase }}</td>                
                                        <td>{{ registro.deZonaRegi }}</td>                
                                        <td>{{ registro.deOficRegi }}</td>                
                                        <td>{{ registro.deLocaAten }}</td>                
                                    </tr>
                                </ng-template>
                            </p-table>                           
                        </p-tabPanel>
                        <p-tabPanel header="Observaciones">
                            <ng-container *ngIf="esConsultarRegistro === false">
                                <div class="grid mt-0 mb-15">
                                    <div class="col-12">
                                        <button *ngIf="showButtonAct(BtnIngresos_Nuevo, codBandeja)" pButton pTooltip="Nuevo" tooltipPosition="top" 
                                                icon="pi pi-file" (click)="nuevaObservacion()" class="p-button-nuevo mr-3">
                                        </button>
                                        <button *ngIf="showButtonAct(BtnIngresos_Editar, codBandeja)" pButton pTooltip="Editar" tooltipPosition="top" 
                                                icon="pi pi-pencil" (click)="editarObservacion()" class="p-button-editar mr-3">
                                        </button>                               
                                    </div>                           
                                </div> 
                            </ng-container>                            
                            <p-table responsiveLayout="stack"
                                [value]="listaObservaciones"
                                (sortFunction)="customSort($event)"
                                [customSort]="true"
                                [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]"
                                [loading]="loadingObservaciones"                
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <ng-container *ngIf="esConsultarRegistro === false">
                                            <th>Sel</th>
                                        </ng-container>                                        
                                        <th pSortableColumn=""><div>Observación <p-sortIcon field=""></p-sortIcon></div></th>                                    
                                        <th pSortableColumn="deEsta"><div>Estado <p-sortIcon field="deEsta"></p-sortIcon></div></th> 
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-registro>
                                    <tr>
                                        <ng-container *ngIf="esConsultarRegistro === false">
                                            <td><p-checkbox [value]="registro" [(ngModel)]="selectedValuesObservaciones"></p-checkbox></td>
                                        </ng-container>                                        
                                        <td>{{ registro.obMovi }}</td>                                   
                                        <td>{{ registro.deEsta | uppercase }}</td>                
                                    </tr>
                                </ng-template>
                            </p-table>                                
                        </p-tabPanel> 
                    </p-tabView>
                    <div class="formgrid grid mt-5">
                        <div class="col buttons-recaudacion-me">                            
                            <button pButton type="button" 
                                    icon="pi pi-times" 
                                    style="width: 9em; margin-left: 1em;"
                                    label="Cancelar"
                                    class="p-button-anular" 
                                    (click)="cancelar()">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>