<p-panel header="Tipo Carta Orden - Nuevo">

    <div class="grid">
        <div class="col-1"></div>
        <div class="col-10" [formGroup]="nuevo">

            <div class="grid mt-4">
                <div class="col-12">
                    <div class="div-campo-obligatorio mb-2">
                        <span class="campo-obligatorio">(*)</span> <b>Campo obligatorio</b>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col-12 sm:col-12 lg:col-8">
                            <label for="oficina">Nombre del Documento <span class="campo-obligatorio">(*)</span></label>
                            <div class="">
                                <input formControlName="nomDocu" pInputText type="text" class="w-full" #deDocumento>
                                <small id="username2-help" class="p-error block"
                                        *ngIf="campoEsValido('nomDocu')">
                                    El nombre del documento es un campo obligatorio.
                                </small>
                            </div>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col-12 sm:col-12 lg:col-8">
                            <label for="oficina">Descripción <span class="campo-obligatorio">(*)</span></label>
                            <div class="">
                                <input formControlName="descripcion" pInputText type="text" class="w-full" #deTipo>
                                <small id="username2-help" class="p-error block"
                                        *ngIf="campoEsValido('descripcion')">
                                    La descripción es un campo obligatorio.
                                </small>
                            </div>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-4 p-dropdown-loading">
                            <label for="zona">Grupo</label>
                            <p-dropdown [filter]="true" 
                                        filterBy="cdescri"
                                        filterValue="cdescri"
                                        [options]="listaGrupos"
                                        formControlName="grupo"
                                        styleClass="inputfield w-full"
                                        optionLabel="cdescri"
                                        optionValue="ccodigoHijo"
                                        [class.spinner]="loadingGrupos">
                            </p-dropdown>
                        </div>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col-12 sm:col-12 lg:col-6">
                            <label for="oficina">Nombre del Año</label>
                            <div class="">
                                <input formControlName="anio" pInputText type="text" class="w-full">
                            </div>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-6">
                            <label for="zona">Nombre del Decenio</label>
                            <div class="">
                                <input formControlName="decenio" pInputText type="text" class="w-full">
                            </div>
                        </div>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col-12 sm:col-12 lg:col-8">
                            <label for="oficina">Título</label>
                            <div class="">
                                <input formControlName="titulo" pInputText type="text" class="w-full">
                            </div>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-4">
                            <label for="zona">Siglas Oficina Administrativa</label>
                            <div class="">
                                <input formControlName="sigAdm" pInputText type="text" class="w-full">
                            </div>
                        </div>
                    </div>
            
                    <div class="formgrid grid">
                        <div class="field col-12 sm:col-12 lg:col-4">
                            <label for="oficina">Destinatario</label>
                            <div class="">
                                <input formControlName="destinatario" pInputText type="text" class="w-full">
                            </div>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-4">
                            <label for="oficina">Cargo</label>
                            <div class="">
                                <input formControlName="cargo" pInputText type="text" class="w-full">
                            </div>
                        </div>
                    </div>
            
                    <div class="formgrid grid">
                        <div class="col-12">
                            <p-fieldset legend="Cuentas Bancarias">
                                <div class="formgrid grid">
                                    <div class="field mt-6">
                                        <div class="field-checkbox flex">
                                            <label class="font-bold cursor-pointer" for="">Cargo &nbsp;&nbsp;&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                                        <label for="zona">Banco</label>
                                        <p-dropdown [filter]="true" 
                                                    filterBy="cdeInst" 
                                                    filterValue="cdeInst"
                                                    [options]="$bancos | async"
                                                    styleClass="inputfield w-full"
                                                    formControlName="bancCarg"
                                                    optionLabel="cdeInst"
                                                    optionValue="nidInstitucion"
                                                    [class.spinner]="loadingBancos"
                                                    (onChange)="onChangeCuenta1( $event )">
                                        </p-dropdown>
                                    </div>
                                    <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                                        <label for="oficina">Cuenta Bancaria</label>
                                        <p-dropdown [filter]="true"
                                                    filterBy="nuCuenBanc" 
                                                    filterValue="nuCuenBanc"
                                                    [options]="$cuentas1 | async"
                                                    styleClass="inputfield w-full"
                                                    formControlName="nroCuenCarg"
                                                    optionLabel="nuCuenBanc"
                                                    optionValue="nuCuenBanc"
                                                    [class.spinner]="loadingCuenta1"
                                                    (onChange)="onChangeDescription1( $event )">
                                        </p-dropdown>
                                    </div>
                                    <div class="field col-12 sm:col-12 lg:col-5">
                                        <label for="oficina">Nombre de la cuenta</label>
                                        <div class="">
                                            <input readonly formControlName="cuenta1" pInputText type="text" class="w-full">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="formgrid grid">
                                    <div class="field mt-6">
                                        <div class="field-checkbox flex">
                                            <label class="font-bold cursor-pointer" for="">Abono &nbsp;&nbsp;</label>
                                        </div>
                                    </div>
                                    <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                                        <label for="zona">Banco</label>
                                        <p-dropdown [filter]="true" 
                                                    filterBy="cdeInst" 
                                                    filterValue="cdeInst"
                                                    [options]="$bancos | async"
                                                    styleClass="inputfield w-full"
                                                    formControlName="bancAbon"
                                                    optionLabel="cdeInst"
                                                    optionValue="nidInstitucion"
                                                    [class.spinner]="loadingBancos"
                                                    (onChange)="onChangeCuenta2( $event )">
                                        </p-dropdown>
                                    </div>
                                    <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                                        <label for="oficina">Cuenta Bancaria</label>
                                        <p-dropdown [filter]="true" 
                                                    filterBy="nuCuenBanc" 
                                                    filterValue="nuCuenBanc"
                                                    [options]="$cuentas2 | async"
                                                    styleClass="inputfield w-full"
                                                    formControlName="nroCuenAbon"
                                                    optionLabel="nuCuenBanc"
                                                    optionValue="nuCuenBanc"
                                                    [class.spinner]="loadingCuenta2"
                                                    (onChange)="onChangeDescription2( $event )">
                                        </p-dropdown>
                                    </div>
                                    <div class="field col-12 sm:col-12 lg:col-5">
                                        <label for="oficina">Nombre de la cuenta</label>
                                        <div class="">
                                            <input readonly formControlName="cuenta2" pInputText type="text" class="w-full">
                                        </div>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>

                    <div class="formgrid grid lg:mb-1 md:mb-4 py-4">
                        <div class="col-8">
                            <div class="field col-12 sm:col-12 lg:col-12">
                                <label for="oficina">Inicio</label>
                                <div class="">
                                    <div class="">
                                        <p-editor formControlName="inicio" [style]="{'height':'120px'}" (onSelectionChange)="selectionChangeInicio($event)" 
                                                    (onInit)="initEditorInicio($event)">
                                            <ng-template pTemplate="header">
                                                <span class="ql-formats">
                                                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                                                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                                                    <button type="button" class="ql-underline" aria-label="Underline"></button>
                                                </span>
                                            </ng-template>
                                        </p-editor>
                                    </div>
                                </div>
                            </div>
                            <div class="field col-12 sm:col-12 lg:col-12">
                                <label for="oficina">Concepto</label>
                                <div class="">
                                    <p-editor formControlName="concepto" [style]="{'height':'120px'}" (onSelectionChange)="selectionChangeConcepto($event)"
                                                (onInit)="initEditorConcepto($event)">
                                        <ng-template pTemplate="header">
                                            <span class="ql-formats">
                                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                            </span>
                                        </ng-template>
                                    </p-editor>
                                </div>
                            </div>
                            <div class="field col-12 sm:col-12 lg:col-12">
                                <label for="oficina">Final</label>
                                <div class="">
                                    <p-editor formControlName="final" [style]="{'height':'120px'}" (onSelectionChange)="selectionChangeFinal($event)"
                                                (onInit)="initEditorFinal($event)">
                                        <ng-template pTemplate="header">
                                            <span class="ql-formats">
                                                <button type="button" class="ql-bold" aria-label="Bold"></button>
                                                <button type="button" class="ql-italic" aria-label="Italic"></button>
                                                <button type="button" class="ql-underline" aria-label="Underline"></button>
                                            </span>
                                        </ng-template>
                                    </p-editor>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="field col-12 sm:col-12 lg:col-12">
                                <label for="">Variables</label>
                                <p-listbox [options]="listaVariables" optionLabel="deCamp" [(ngModel)]="insertarVariable"
                                            [ngModelOptions]="{standalone: true}"></p-listbox>
                            </div>
                        </div>
                    </div>
            
                    <div class="formgrid grid mt-2">
                        <div class="col text-right">
                            <button pButton type="button" 
                                    icon="pi pi-check"
                                    style="width: 9em;"
                                    label="Grabar"
                                    [loading]="isLoading"
                                    class="p-button-buscar"
                                    (click)="grabar()">
                            </button>
                            <button pButton type="button" 
                                    icon="pi pi-times" 
                                    style="width: 9em; margin-left: 1em;"
                                    label="Cancelar"
                                    class="p-button-anular" 
                                    (click)="cancelar()">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1"></div>
    </div>
</p-panel>