<p-panel header="Cheques">

    <div class="grid mt-4">
        <div  class="col-1"></div>
		<div [formGroup]="cheques" class="col-10">
            <div class="row-button-search">
                <button *ngIf="showButtonAct(BtnBuscar, codBandeja)" pButton type="button" 
                        (click)="buscarCheque()" label="Buscar"class="p-button-buscar"></button>
            </div>
			<div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="zona">Zona Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deZonaRegi"
                                filterValue="deZonaRegi"
                                formControlName="zona"
                                styleClass="inputfield w-full"
                                [options]="listaZonaRegistral"
                                optionLabel="deZonaRegi"
                                optionValue="coZonaRegi"
                                (onChange)="buscarOficinaRegistral()"
                                [class.spinner]="loadingZonaRegistral">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="oficina">Oficina Registral</label>
					<p-dropdown [filter]="true" 
                                filterBy="deOficRegi" 
                                filterValue="deOficRegi"
                                formControlName="oficina"
                                styleClass="inputfield w-full"
                                [options]="listaOficinaRegistral"
                                optionLabel="deOficRegi"
                                optionValue="coOficRegi"
                                (onChange)="buscarLocal()"
                                [class.spinner]="loadingOficinaRegistral">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="local">Local</label>
					<p-dropdown [filter]="true" 
                                filterBy="deLocaAten" 
                                filterValue="deLocaAten"
                                formControlName="local"
                                styleClass="inputfield w-full"
                                [options]="listaLocal"
                                optionLabel="deLocaAten"
                                optionValue="coLocaAten"
                                [class.spinner]="loadingLocal">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="tipoComp">Estado</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdescri" 
                                filterValue="cdescri"
                                formControlName="estado"
                                styleClass="inputfield w-full"
                                [options]="listaEstadoCheque"
                                optionLabel="cdescri"
                                optionValue="ccodigoHijo"
                                [class.spinner]="loadingEstado">
                    </p-dropdown>
				</div>
			</div>

			<div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="local">Banco</label>
					<p-dropdown [filter]="true" 
                                filterBy="cdeInst" 
                                filterValue="cdeInst"
                                formControlName="banco"
                                styleClass="inputfield w-full"
                                [options]="listaBancos"
                                optionLabel="cdeInst"
                                optionValue="nidInstitucion"
                                (onChange)="buscarCuentas($event)"
                                [class.spinner]="loadingBancos">
                    </p-dropdown>
				</div>

                <div class="field col-12 xl:col-3 md:col-6 p-dropdown-loading">
					<label for="tipoComp">Cuenta Bancaria</label>
					<p-dropdown [filter]="true" 
                                filterBy="nuCuenBanc" 
                                filterValue="nuCuenBanc"
                                formControlName="ctaBanc"
                                styleClass="inputfield w-full"
                                [options]="listaCuentas"
                                optionLabel="nuCuenBanc"
                                optionValue="nuCuenBanc"
                                [class.spinner]="listaCuentas">
                    </p-dropdown>
				</div>
                

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroComp">Nro. Comprobante</label>
					<input pInputText formControlName="nroComp" type="text" class="w-full">
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
					<label for="nroSiaf">Nro Cheque</label>
					<input pInputText formControlName="nroCheq" type="text" class="w-full">
				</div>
			</div>

            <div class="formgrid grid">
                <div class="field col-12 xl:col-3 md:col-6">
					<label for="fecDes">Fecha Desde</label>
                    <div class="p-fluid">
                        <p-calendar appendTo="body"
                                    [showIcon]="true"
                                    formControlName="fecDes" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    (onSelect)="cambioFechaInicio()">
                        </p-calendar>
                    </div>
				</div>

                <div class="field col-12 xl:col-3 md:col-6">
                    <label for="fecHas">Fecha Hasta</label>
                    <div class="p-fluid">
                        <p-calendar appendTo="body"
                                    [showIcon]="true"
                                    formControlName="fecHas" 
                                    inputId="icon"
                                    dateFormat="dd/mm/yy"
                                    inputId="dateformat"
                                    (onSelect)="cambioFechaFin()">
                        </p-calendar>
                    </div>
				</div>
            </div>

            <div class="col-12">
                <div class="grid mt-3">
                    <div class="col-4"></div>
                    <div class="col-8 text-right">
                        <button *ngIf="showButtonAct(BtnImprimir, codBandeja)" pButton pTooltip="Imprimir" tooltipPosition="top"
                                icon="pi pi-print" (click)="solicitarImpresion()" class="p-button-imprimir mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnSolicitar_Anulacion, codBandeja)" pButton pTooltip="Solicitar Anulación" tooltipPosition="top" 
                                icon="pi pi-times" (click)="solicitarAnular()" class="p-button-anular mr-3">
                        </button>
                        <button *ngIf="showButtonAct(BtnDevolver, codBandeja)" pButton pTooltip="Devolver" tooltipPosition="top" 
                                icon="pi pi-undo" (click)="solicitarDevolucion()" class="p-button-anexos">
                        </button>
                    </div>
                </div>
            </div>
		</div>

        <div  class="col-1"></div>
        <div  class="col-1"></div>

        <div class="col-10">
            <div class="card">
                <p-table responsiveLayout="stack"
                         [value]="chequesList?.lstCheques" 
                         (sortFunction)="customSort($event)"
                         [selectionPageOnly]="true"
                         [(selection)]="selectedCheques"
                         [loading]="loadingCheques"
                         [customSort]="true" [scrollDirection]="'horizontal'"
                         [paginator]="true" [rows]="20" [showCurrentPageReport]="true" responsiveLayout="scroll"
                         currentPageReportTemplate="{{ currentPage }}" [rowsPerPageOptions]="[20,40,60]">

                    <ng-template pTemplate="caption">
                        <div class="col text-right">
                            <button *ngIf="showButtonAct(BtnExcel, codBandeja)" type="button" pButton pRipple icon="pi pi-file-excel" 
                                    (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom">
                            </button>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th pSortableColumn="deZonaRegi">Zona Registral <p-sortIcon field="deZonaRegi"></p-sortIcon></th>
                            <th pSortableColumn="deOficRegi">Oficina Registral <p-sortIcon field="deOficRegi"></p-sortIcon></th>
                            <th pSortableColumn="deLocaAten">Local <p-sortIcon field="deLocaAten"></p-sortIcon></th>
                            <th pSortableColumn="nuCompPago">Nro Comprobante <p-sortIcon field="nuCompPago"></p-sortIcon></th>
                            <th pSortableColumn="nuCuenBanc">Cuenta Bancaria <p-sortIcon field="nuCuenBanc"></p-sortIcon></th>
                            <th pSortableColumn="nuCheq">Número Cheque <p-sortIcon field="nuCheq"></p-sortIcon></th>
                            <th pSortableColumn="feCheq">Fecha Emisión <p-sortIcon field="feCheq"></p-sortIcon></th>    
                            <th pSortableColumn="imCheq">Monto <p-sortIcon field="imCheq"></p-sortIcon></th>    
                            <th pSortableColumn="noBene">Nombre de la Persona <p-sortIcon field="noBene"></p-sortIcon></th>    
                            <th pSortableColumn="deEsta">Estado <p-sortIcon field="deEsta"></p-sortIcon></th>    
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-cheque>
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="cheque"></p-tableCheckbox>
                            </td>
                            <td>{{ cheque.deZonaRegi }}</td>
                            <td>{{ cheque.deOficRegi }}</td>
                            <td>{{ cheque.deLocaAten }}</td>
                            <td>{{ cheque.nuCompPago }}</td>
                            <td>{{ cheque.nuCuenBanc }}</td>
                            <td>{{ cheque.nuCheq }}</td>
                            <td>{{ cheque.feCheq | date: 'dd/MM/yy' }}</td>
                            <td class="text-right">{{ formatearMontoImporte( cheque.imCheq ) }}</td>
                            <td>{{ cheque.noBene }}</td>
                            <td>{{ cheque.deEsta }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div  class="col-1"></div>
    </div>

</p-panel>
<p-toast styleClass="p-toast-message"></p-toast>