<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()" *ngIf="!collapsed">
            <img src="assets/img/login/vectores/vct_perfil.png" alt="demo" class="logo-session">
        </button>
        <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </div>
    <div class="user-session" @fadeInOut *ngIf="collapsed">
        <h2>ZONA IX - LIMA</h2>
        <img src="assets/img/login/vectores/vct_perfil.png" alt="demo" class="profile-image">
        <h3 id="bienvenido">BIENVENIDO(A)</h3>
        <h3>{{ nombre_completo | uppercase }}</h3>
    </div>
    <div class="scrollwrap scrollwrap_delayed">
        <ul class="sidenav-nav" *ngIf="viewMenu">
            <li class="sidenav-nav-item" *ngFor="let data of menuItems">
                <a class="sidenav-nav-link" (click)="handleClick( data )"
                    *ngIf="showMenu( data )" [ngClass]="getActiveClass( data )">
                    <mat-icon *ngIf="!data.expanded && !collapsed" (click)="toggleCollapse()" class="sidenav-link-icon"
                                pTooltip="{{ data.label }}">
                        {{ data.icon }}
                    </mat-icon>
                    <mat-icon *ngIf="!data.expanded && collapsed" (click)="toggleCollapse()" class="sidenav-link-icon">
                        {{ data.icon }}
                    </mat-icon>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        {{ data.label }}
                    </span>
                    <mat-icon *ngIf="data.items && collapsed" class="menu-collapse-icon">
                        {{ ( !data.expanded ) ? '' : 'close' }}
                    </mat-icon>
                </a>
                <a class="sidenav-nav-link" *ngIf="!data.items || (data.items && data.items.length === 0)" 
                    [routerLink]="[data.routerLink]" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}"
                    (click)="shrinkItems( data )">
                    <mat-icon class="sidenav-link-icon">{{ data.icon }}</mat-icon>
                    <span class="sidenav-link-text--option" @fadeInOut *ngIf="collapsed">
                        {{ data.label }}
                    </span>
                </a>
                <div *ngIf="collapsed && data.items && data.items.length > 0">
                    <app-sublevel-menu
                        [data]="data"
                        [collapsed]="collapsed"
                        [multiple]="multiple"
                        [expanded]="data.expanded"
                        [menuSub]="menuPadr"
                        [menuOpci]="menuOpci">
                    </app-sublevel-menu>
                </div>
            </li>
        </ul>
        <div class="user-session" *ngIf="collapsed">
            <button pButton type="button" label="SALIR" icon="pi pi-sign-out" iconPos="right"
                    (click)="logout()" class="p-button-warning p-button-logout">
            </button>
        </div>
    </div>

</div>