.sidenav {
  background: #fbefdb;
  transition: all .5s ease;
  position: fixed;
  z-index: 1;
  top: 100px;
  width: 5rem;
  height: 100vh;
  box-shadow: 0.3rem 0.3rem 1.25rem 0 #8690a3;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;

    .logo {
      background: #fbefdb;
      text-align: center;
      min-width: 3rem;
      padding: 0.313rem;
      cursor: pointer;
      border: none;

      .logo-session {
        width: 3rem;
      }
    }

    .btn-close {
      margin-left: auto;
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background-color: transparent;
      border: none;

      .close-icon {
          color: #000;
          font-size: 24px;
      }
    }
  }

  .user-session {
    margin-top: 20px;
    padding: 0%;
    text-align: center;

    .profile-image {
        margin: 10px;
        width:100px;
    }

    h2, h3 {
        font-family: Montserrat;
        color: black;
        margin-bottom: 0%;
    }

    h2, #bienvenido {
        font-weight: bold;
    }
  }
}

.sidenav-collapsed {
  width: 20rem; //16.5625rem
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #000;
      text-decoration: none;
      transition: all .3s ease;

      .sidenav-link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
      }

      .sidenav-link-text {
        margin-left: 1rem;
        font-size: 1.3rem;
        font-family: Montserrat;
        font-weight: bolder;
      }

      .sidenav-link-text--option {
        margin-left: 1rem;
        font-size: 1.1rem;
        font-family: Montserrat;
        font-weight: bolder;
      }
    }

    .sidenav-nav-link:hover {
      color: orange;
    }
  }
}

.active {
  .sidenav-link-text {
    color: orange;
  }
}

.active-sublevel {
  color: #f3f3f3 !important;
  // opacity: 1 o !important;
}

.menu-collapse-icon {
  font-size: 25px;
  width: 2rem;
  min-width: 2rem;
  margin: auto 0.5rem auto auto;
  text-align: center;
  color: orange;
}

.sublevel-nav {
  list-style: none;
  padding-inline-start: 15px;

  .sublevel-nav-item {
    .sublevel-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #f3f3f3;
      background-color: #293934;
      text-decoration: none;
      transition: all .3s ease;

      .sublevel-link-text {
        margin-left: 0.8rem;
        font-size: 1rem;
        font-family: Montserrat;
      }
    }

    .sublevel-nav-link--inside {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #293934;
      background-color: orange;
      text-decoration: none;
      border-top: 1px solid white;
      transition: all .3s ease;

      .sublevel-link-text {
        margin-left: 0.8rem;
        font-size: 1rem;
        font-family: Montserrat;
      }
    }

    .sublevel-nav-link:hover {
      background-color: black;
    }

    .sublevel-nav-link--inside:hover {
      color: #f3f3f3;
    }
  }
}

.p-button-logout {
  font-family: Montserrat;
  width: 8em;
  height: 2em;
  border-radius: 16px !important;
  margin-top: 20px;
}

//scrollbar and visibility on hover and focus
.scrollwrap {
  overflow-y: auto;
  visibility: visible;
  height: 50vh;
}

.sidenav-nav,
.scrollwrap:hover,
.scrollwrap:focus {
  visibility: visible;
}

.scrollwrap_delayed {
  transition: visibility 0.5s 0.2s;
}

.scrollwrap_delayed:hover {
  transition: visibility 0.2s 0.2s;
}

//works on chrome, edge and safari
.scrollwrap::-webkit-scrollbar {
  width: 10px;
}

.scrollwrap::-webkit-scrollbar-track {
  background: transparent;
}

.scrollwrap::-webkit-scrollbar-thumb {
  background-color: #575552;
  border-radius: 20px;
}

// works on firefox
.scrollwrap {
  scrollbar-width: thin;
  scrollbar-color: #686155 transparent;
}
  