<div class="grid mt-2">
    <div class="col-12">
        <app-datos-comprobante [datos]="sustento" [comprobante]="comprobante"></app-datos-comprobante>

        <div class="formgrid grid mt-2">
            <div class="field col-12 md:col-10">
                <label for="documentos">Sustentos</label>
                <app-upload (uploaded)="addUploadedFile( $event )" (onDelete)="deleteUploaded($event)" [multiple]="true"
                            (onReorder)="reordenarSustentos($event)" [nroBandeja]="bandeja" [nroAdd]="add" 
                            [nroDel]="delete" [disabled]="isDisabled" [disabledDelete]="isDisabled" [reordenar]="true">
                </app-upload>
            </div>
        </div>

        <div class="formgrid grid mt-2">
            <div class="field col-12 md:col-10">
                <label for="documentos">Sustento Comprobante de Pago SIAF</label>
                <app-siaf (uploadedSiaf)="addUploadedFileSIAF( $event )" (onDeleteSiaf)="deleteUploadedSIAF($event)"
                          [nroBandeja]="bandeja" [nroAdd]="addSiaf" [nroDel]="deleteSiaf" [disabled]="disabledSiaf"
                          [disabledDelete]="isDisabled">
                </app-siaf>
            </div>
        </div>

        <div class="formgrid grid mt-2">
            <div class="field col-12 md:col-10">
                <label for="documentos">Sustento Constancia de Pago</label>
                <app-constancia (uploadedConst)="addUploadedFileConstancia( $event )" (onDeleteConst)="deleteUploadedConstancia($event)"
                          [nroBandeja]="bandeja" [nroAdd]="addCP" [nroDel]="deleteCP" [disabled]="disabledConst">
                </app-constancia>
            </div>
        </div>

        <div class="formgrid grid mt-2">
            <div class="field col-12 md:col-10">
                <label for="documentos">Subir Otros Sustentos</label>
                <app-otros (uploadedOtros)="addUploadedFileOtros( $event )" (onDeleteOtros)="deleteUploadedOtros($event)"
                          [nroBandeja]="bandeja" [nroAdd]="addOtro" [nroDel]="deleteOtro" [disabled]="false">
                </app-otros>
            </div>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        [loading]="isLoading"
                        [disabled]="disableGrabar()"
                        label="Grabar"
                        class="p-button-buscar"
                        (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>
