<div class="grid mt-4">
    <div [formGroup]="form" class="col-12">
        <div class="formgrid grid">
            <div class="field col col-12 md:col-4">
                <label for="">Usuario</label>
                <input formControlName="coUsua" pInputText type="text" class="w-full">
            </div>

            <div class="field col col-12 md:col-4">
                <label for="">Nombres y Apellidos</label>
                <input formControlName="nomUsua" pInputText type="text" class="w-full">
            </div>
        </div>

        <div class="mt-4">
            <p-fieldset legend="Locales de Atención">
                <div class="formgrid grid">
                    <div class="field col-12 xl:col-4 lg:col-4 md:col-6">
                        <label for="oficina">Zona Registral</label>
                        <p-dropdown [filter]="true" 
                                    filterBy="deZonaRegi"
                                    filterValue="deZonaRegi"
                                    [options]="$zonas | async"
                                    styleClass="inputfield w-full"
                                    formControlName="zonas"
                                    optionLabel="deZonaRegi"
                                    optionValue="coZonaRegi"
                                    (onChange)="buscarOficinaPorZona($event)">
                        </p-dropdown>
                    </div>
                    <div class="field col-12 xl:col-4 lg:col-4 md:col-6">
                        <label for="oficina">Oficina Registral</label>
                        <p-dropdown [filter]="true" 
                                    filterBy="deOficRegi"
                                    filterValue="deOficRegi"
                                    [options]="$oficinas | async"
                                    styleClass="inputfield w-full"
                                    formControlName="oficinas"
                                    optionLabel="deOficRegi"
                                    optionValue="coOficRegi"
                                    (onChange)="bandejaLocalesPorOficina($event)">
                        </p-dropdown>
                    </div>
                </div>

                <div  class="col-1"></div>
                <div  class="col-1"></div>

                <div class="col-12">
                    <div class="card">
                        <p-table responsiveLayout="stack" 
                                [value]="listLocal"
                                [customSort]="true"
                                (sortFunction)="customSort($event)"
                                [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
                                currentPageReportTemplate="{{ currentPage }}">

                            <ng-template pTemplate="header">
                                <tr>
                                    <th pSortableColumn="deLocaAten">Local de Atención <p-sortIcon field="deLocaAten"></p-sortIcon></th>
                                    <th>Local Por Defecto </th>
                                    <th>Sel</th>    
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-local>
                                <tr>
                                    <td>{{ local.deLocaAten }}</td>
                                    <td>
                                        <p-checkbox [value]="local" [(ngModel)]="localDefault" [ngModelOptions]="{standalone: true}"
                                                    (onChange)="selectLocalDefault( $event )">
                                        </p-checkbox>
                                    </td>
                                    <td>
                                        <p-checkbox [value]="local" [(ngModel)]="localSelected" [ngModelOptions]="{standalone: true}"
                                                    (onChange)="deselectLocalDefault( local )">
                                        </p-checkbox>
                                    </td>
                                </tr>
                            </ng-template>
        
                        </p-table>
                    </div>
                </div>
            </p-fieldset>
        </div>

        <div class="formgrid grid mt-6">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        [loading]="isLoading"
                        label="Grabar"
                        class="p-button-buscar" 
                        (click)="grabarLocales()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>