<div class="grid mt-0">
    <div [formGroup]="formObservaciones" class="col-12">
        <div class="row-varios">
            <div class="row-varios-left">
                <label class="label-titulo">Observacion</label>
            </div>
            <div class="row-varios-right">
                <input pInputText type="text" id="idObservacion" formControlName="observacion" class="w-full" maxlength="200">
            </div>
        </div>
        <ng-container *ngIf="registroEditar">
            <div class="row-varios mb-40">
                <div class="row-varios-left">
                    <label class="label-titulo">Estado</label>
                </div>
                <div class="row-varios-right">
                    <div class="row-varios-right-cbo">
                        <p-dropdown                        
                            formControlName="estado"
                            styleClass="inputfield w-full"
                            [options]="listaEstados"
                            optionLabel="deEstado"
                            optionValue="coEstado"                       
                            #ddlEstado>
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </ng-container>        
        <p-divider></p-divider>
        <div class="formgrid grid mt-5">
            <div class="col buttons-observaciones">
                <button 
                    pButton type="button" 
                    icon="pi pi-check"
                    style="width: 9em;"
                    label="Grabar"
                    class="p-button-buscar"
                    (click)="grabar()"
                >
                </button>
                <button 
                    pButton type="button" 
                    icon="pi pi-times" 
                    style="width: 9em; margin-left: 1em;"
                    label="Cancelar"
                    class="p-button-anular" 
                    (click)="cancelar()"
                >
                </button>
            </div>
        </div> 
    </div>
</div>
