.row-varios {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    &-left {
        width: 25%;
    }
    &-right {
        width: 75%;
        &-cbo {
            width: 40%;
        }        
    }
}

.buttons-observaciones {
    display: flex;
    justify-content: end;
}