<div class="grid mt-4">
    <div [formGroup]="nuevo" class="col-12">
        <div class="div-campo-obligatorio mb-2">
            <span class="campo-obligatorio">(*)</span> <b>Campo obligatorio</b>
        </div>
        <div class="formgrid grid">
            <div class="field col-12 sm:col-12 lg:col-8">
                <label for="oficina">Descripción <span class="campo-obligatorio">(*)</span></label>
                <div class="">
                    <input formControlName="descripcion" pInputText type="text" class="w-full">
                    <small id="username2-help" class="p-error block"
                            *ngIf="campoEsValido('descripcion')">
                        La descripción es un campo obligatorio.
                    </small>
                </div>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="oficina">Para <span class="campo-obligatorio">(*)</span></label>
                <div class="">
                    <input formControlName="para" pInputText type="text" class="w-full">
                    <small id="username2-help" class="p-error block"
                            *ngIf="campoEsValido('para')">
                        El destinatario es un campo obligatorio.
                    </small>
                </div>
            </div>

            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="oficina">Cargo</label>
                <div class="">
                    <input formControlName="cargo" pInputText type="text" class="w-full">
                </div>
            </div>
        </div>

        <div class="formgrid grid lg:mb-1 md:mb-4">
            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="oficina">Asunto</label>
                <div class="">
                    <input formControlName="asunto" pInputText type="text" class="w-full">
                </div>
            </div>

            <div class="field col-12 sm:col-12 lg:col-6">
                <label for="oficina">Referencia</label>
                <div class="">
                    <input formControlName="referencia" pInputText type="text" class="w-full">
                </div>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="col-12">
                <p-fieldset legend="Cuentas Bancarias">
                    <div class="formgrid grid">
                        <div class="field mt-6">
                            <div class="field-checkbox flex">
                                <label class="font-bold cursor-pointer" for="">Origen&nbsp;&nbsp;</label>
                            </div>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                            <label for="zona">Banco</label>
                            <p-dropdown appendTo="body"
                                        [filter]="true" 
                                        filterBy="cdeInst" 
                                        filterValue="cdeInst"
                                        [options]="$bancos | async"
                                        styleClass="inputfield w-full"
                                        formControlName="banco1"
                                        optionLabel="cdeInst"
                                        optionValue="nidInstitucion"
                                        [class.spinner]="loadingBancos"
                                        (onChange)="onChangeCuenta1( $event )">
                            </p-dropdown>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                            <label for="oficina">Cuenta Bancaria</label>
                            <p-dropdown [filter]="true" 
                                        filterBy="nuCuenBanc" 
                                        filterValue="nuCuenBanc"
                                        [options]="$cuenta1 | async"
                                        styleClass="inputfield w-full"
                                        formControlName="nroCuenta1"
                                        optionLabel="nuCuenBanc"
                                        optionValue="nuCuenBanc"
                                        [class.spinner]="loadingCuenta1"
                                        (onChange)="onChangeDescription1( $event )">
                            </p-dropdown>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-5">
                            <label for="oficina">Nombre de la cuenta</label>
                            <div class="">
                                <input readonly formControlName="cuenta1" pInputText type="text" class="w-full">
                            </div>
                        </div>
                    </div>
                    
                    <div class="formgrid grid">
                        <div class="field mt-6">
                            <div class="field-checkbox flex">
                                <label class="font-bold cursor-pointer" for="">Destino&nbsp;</label>
                            </div>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                            <label for="zona">Banco</label>
                            <p-dropdown appendTo="body"
                                        [filter]="true" 
                                        filterBy="cdeInst" 
                                        filterValue="cdeInst"
                                        [options]="$bancos | async"
                                        styleClass="inputfield w-full"
                                        formControlName="banco2"
                                        optionLabel="cdeInst"
                                        optionValue="nidInstitucion"
                                        [class.spinner]="loadingBancos"
                                        (onChange)="onChangeCuenta2( $event )">
                            </p-dropdown>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-3 p-dropdown-loading">
                            <label for="oficina">Cuenta Bancaria</label>
                            <p-dropdown [filter]="true" 
                                        filterBy="nuCuenBanc" 
                                        filterValue="nuCuenBanc"
                                        [options]="$cuenta2 | async"
                                        styleClass="inputfield w-full"
                                        formControlName="nroCuenta2"
                                        optionLabel="nuCuenBanc"
                                        optionValue="nuCuenBanc"
                                        [class.spinner]="loadingCuenta2"
                                        (onChange)="onChangeDescription2( $event )">
                            </p-dropdown>
                        </div>
                        <div class="field col-12 sm:col-12 lg:col-5">
                            <label for="oficina">Nombre de la cuenta</label>
                            <div class="">
                                <input readonly formControlName="cuenta2" pInputText type="text" class="w-full">
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>

        <div class="formgrid grid mt-4">
            <div class="col text-right">
                <button pButton type="button" 
                        icon="pi pi-check"
                        style="width: 9em;"
                        label="Grabar"
                        [loading]="isLoading"
                        class="p-button-buscar" 
                        (click)="grabar()">
                </button>
                <button pButton type="button" 
                        icon="pi pi-times" 
                        style="width: 9em; margin-left: 1em;"
                        label="Cancelar"
                        class="p-button-anular" 
                        (click)="cancelar()">
                </button>
            </div>
        </div>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog #cd header="Advertencia" icon="pi pi-exclamation-triangle">
    <ng-template pTemplate="footer">
        <button type="button" pButton icon="pi pi-check" label="Aceptar" 
                class="p-button-buscar p-button-sm" (click)="cd.accept()">
        </button>
        <button type="button" pButton icon="pi pi-times" label="Cancelar" 
                class="p-button-anular p-button-sm" (click)="cd.reject()">
        </button>
    </ng-template>
</p-confirmDialog>